<template>
  <section>
    <div class="content">
      <section class="breadcrumb line-top">
        <a @click="$router.push({ name: 'Accueil' })">Accueil</a
        ><span> Modifier astuces Culiniare </span>
      </section>
    </div>

    <div class="sub-content">
      <div class="besoin--title w-100">
        <h1 class="text-center text-uppercase section-title noline">
          Modifier une Astuce Culinare
        </h1>
        <!-- <img src="../../../../svg/044-breakfast-monochome.png" alt="besoin--img"> -->
      </div>

      <form @submit.prevent="updateCookingTrick">
        <div class="details__inputs">
          <div class="input--group">
            <label for="description">Modifier un titre <span>*</span></label>
            <input type="" v-model="form.title" name="description" />
          </div>
          <small
            class="text-error"
            v-if="
              this.errors &&
              typeof this.errors != 'undefined' &&
              this.errors.title
            "
          >
            {{ this.errors.title }}
          </small>

          <div class="input--group">
            <label for="file">Image</label>

            <div class="image_cover">
              <img
                v-if="previewImage != null && previewImage != ''"
                :src="previewImage"
                :alt="form.url"
                height="200"
                width="200"
              />

              <img
                :src="form.url"
                :alt="form.url"
                height="200"
                width="200"
                v-else
              />
            </div>

            <input type="file" accept="image/jpeg" @change="uploadImage" />
            <small
              class="text-error"
              v-if="
                this.errors &&
                typeof this.errors != 'undefined' &&
                this.errors.url
              "
            >
              {{ this.errors.url }}
            </small>
          </div>

          <div class="editor_container">
            <label for="content" class="mb-2"
              >Modifier astuce <span>*</span></label
            >

            <small
              class="text-error"
              v-if="
                this.errors &&
                typeof this.errors != 'undefined' &&
                this.errors.body
              "
            >
              {{ this.errors.body }}
            </small>

            <Editor
              name="content"
              label="Description"
              id="content"
              @change="getHTML"
              ref="toastuiEditor"
            />

            <!--
               <small class="text-error"
                    v-if="this.errors && typeof (this.errors) != 'undefined' && this.errors.body && this.form.body == ''">
                    {{ this.errors.body }}
                </small> 
            -->
          </div>

          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn--primary w-60 d-flex justify-content-center"
              style="font-size: 18px"
            >
              Modifier la Astuce Culinaire
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
import "@toast-ui/editor/dist/toastui-editor.css";
import { Editor } from "@toast-ui/vue-editor";

export default {
  data() {
    return {
      form: {
        title: null,
        body: null,
        url: null,
      },
      previewImage: null,
      errors: null,
      slug : null
    };
  },
  methods: {
    uploadImage(e) {
      const image = e.target.files[0];

      this.form.url = image;

      console.log(this.form.url);

      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = (e) => {
        this.previewImage = e.target.result;
        console.log(this.previewImage);
      };
    },
    getHTML() {
      let html = this.$refs.toastuiEditor.invoke("getHTML");
      this.form.body = html;
    },
    checkUser() {
      if (!User.loggIn()) {
        this.$toast.info("Veuillez vous connectez s'il vous plait");
        this.$router.push({ name: "Login" });
      }
    },
    getCookingTrick() {

      let cookingTrick = async () => {
        await axios
          .get(`show-cooking_trick/${this.slug}`)
          .then((res) => {
            console.log("Edit CookingTrick >>>>");
            // console.log({
            //   code : res.data.status_code,
            //   status_local: res.status
            // })

            if(res.data.status_code == 302 && res.status == 200){
                this.form.body = res.data.data.body;
                this.form.title = res.data.data.title;
                this.form.url = res.data.data.url;
                this.$refs.toastuiEditor.invoke("setHTML", this.form.body);
            }else{
              this.$toast.info('Une erreur est survenue')
            }

          })
          .catch((error) => {
            console.log("Edit Show CookingTrick >>>>");
            console.log(error.response);
          });
      };

      cookingTrick();
    },
    updateCookingTrick() {
      this.$loading(true)

      axios
        .post(`api/update-cooking_trick/${this.slug}`, this.form, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((res) => {
          console.log(res);

          if (res.status == 200 && res.data.status_code == 422) {
            console.log("has errorrrr");
            console.log(res.data.errors);
            this.errors = res.data.errors;
          } else if (res.status == 401) {
            this.$toast.error("Votre session a expirée");
            User.logout();
          }

          if (res.status == 200 && res.data.status_code == 200) {
            this.$toast.success("Modification Bien éffectué ✅");
            this.$router.push({ name: "CookingTricks" });
          }
        })
        .catch((error) => {
          console.log(">>>> Error CookingTrick >>>>>");
          console.log(error.response);

          if (error.response.status == 401) {
            this.$toast.error("Votre session a expirée");
            User.logout();
          }
        })
        .finally(()=> {
          this.$loading(false)
        });
    },
  },
  components: {
    Editor,
  },
  created() {
      (this.slug = this.$route.params.slug)
      this.checkUser()
      this.getCookingTrick()
  },
};
</script>

<style scoped>
.form_wrapper {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.btn--primary {
  background-color: #d21d3a;
  padding: 1rem;
  border-radius: 12px;
}

.btn--primary:hover {
  background-color: #fff;
  border: 1px solid #ffb800;
}

.commande--header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.besoin--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eff4f8;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.besoin--title h1 {
  color: #7f7f7f;
}

.besoin {
  width: 60%;
  margin: 0 auto;
}

.besoin--body {
  padding: 2rem;
  background-color: #eff4f8;
  border-radius: 3%;
}

.besoin--body .group--form {
  margin-top: 2rem;
}

.besoin--body .group--form label {
  font-weight: bold;
}

.besoin--body .group--form input:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
}

.besoin--body .group--form textarea {
  /* padding: 1.5rem; */
  width: 100%;
  /* background-color: #eff4f8; */
  /* border: none; */
  height: 2rem;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
  /* border: 1px solid #eff4f8; */
  border-radius: 10px;
}

textarea {
  min-height: 70px !important;
  /* border: 1px solid #FFB800 !important; */
}

textarea:hover {
  border: 1px solid #ffb800 !important;
}

.besoin--body .group--form textarea:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
  outline: none !important;
  border: 1px solid #ffb800;
}

@media only screen and (max-width: 62em) {
  .besoin {
    width: 75%;
  }
}

@media only screen and (max-width: 48em) {
  .besoin {
    width: 85%;
  }
}

@media only screen and (max-width: 36em) {
  .besoin {
    width: 95%;
  }
}

@media only screen and (max-width: 48em) {
  .besoin--title h1 {
    font-size: 1.8rem;
  }
}

.besoin--title img {
  height: 10rem;
}

@media only screen and (max-width: 48em) {
  .besoin--title img {
    height: 7rem;
  }
}

.besoin--body {
  background-color: #fff;
  padding: 4rem;
}

.besoin--body .group--form {
  margin-top: 2rem;
}

.besoin--body .group--form label {
  font-weight: bold;
}

.besoin--body .group--form input {
  padding: 1.5rem;
  width: 100%;
  background-color: #eff4f8;
  border: none;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #eff4f8;
  border-radius: 10px;
}

.besoin--body .group--form input:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
}

.input--connexions input,
select,
textarea {
  /* height: 40px !important; */
  font-size: 18px;
}

.input--connexions select option {
  height: 40px !important;
  font-size: 18px;
}

/* ******************************** */
.input--group label {
  margin-bottom: 0.2rem !important;
}

.input--group label span {
  color: red;
}

.input--group input,
select {
  padding: 7px;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.input--group input:focus,
select:focus {
  border: 1px solid #ffb800;
}

.details__inputs {
  margin-bottom: 40px;
  padding: 0 4rem;
}

.details__inputs h2 {
  margin-bottom: 13px;
}

.input--group input,
select {
  font-size: 1.4rem !important;
}

.vue-country-select .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.1em !important;
  position: relative;
  cursor: pointer;
}

.numero {
  display: flex;
  justify-content: start;
}

.p_temps {
  font-size: 1.5rem;
}

.multi_sel >>> .multiselect__tags {
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  /*box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);*/
  padding: 1rem 0.5rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 7px;
}

.multi_sel >>> .sel_tags {
  padding: 1rem;
  /* border: 2px solid #dbd8dc;
     border-radius: 0.5rem;*/
  transition: all 0.3s ease-in-out;
  /*box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
      color: #0045a3;*/
  padding: 1rem 0.5rem;
  font-weight: bold;
  width: 100%;
}

.image__recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.uploading-image {
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 200px !important;
  max-height: 200px !important;
}

.btn_primary {
  padding: 1rem 2rem;
  background-color: #0045a3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.editor_container {
  margin-bottom: 10px;
}

.text-error {
  color: red;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.content {
  padding: 0px 60px 0px 60px !important;
}

.image_cover {
  display: flex;
  justify-content: start;
  border-radius: 5rem;
  align-items: center;
  margin: 10px 0px;
}

.image_cover img {
  border-radius: 12px;
  object-fit: cover;
}
</style>
