<template>
    <tr>
        <td> <img :src="cooking_tricks_data.image" height="50" width="50"> </td>
        <td>{{ cooking_tricks_data.title }}</td>
        <td v-html="cooking_tricks_data.body"></td>
        <td>
            <a @click="$router.push({ name: 'RecipeDetails', params: { id: recipe_data.id } })">
                <i class="fa fa-eye">
                </i>
            </a>
            <a href="#" class='' @click="$router.push({ name: 'RecipeDetails', params: { id: recipe_data.id } })">
                <i class="fa fa-edit"></i>
            </a>
            <a href="#" class=''>
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
</template>

<script>
export default {
    props: ['cooking_tricks_data']
}
</script>

<style lang="scss" scoped>

</style>