<template>
    <tr>
        <td>
            <img :src="recipe_data.imageUrl" width="50" height="50" alt="reicpe-image">
        </td>

        <th scope="row">
            <div class="type--EA">
                <p>{{ recipe_data.recipeType.name }}</p>
            </div>
        </th>

        <td>{{ recipe_data.name }}</td>
        <td>{{ recipe_data.description | strLimit(50) }}</td>
        <td>{{ recipe_data.likes.length }}</td>

        <th scope="row">
            <div class="statut--R">
                <p>{{ recipe_data.status }}</p>
            </div>
        </th>
        <td>
            <a @click="$router.push({ name: 'RecipeDetails', params: { id: recipe_data.id } })">
                <i class="fa fa-eye">
                </i>
            </a>

            <a href="#" class='' @click="$router.push({ name: 'RecipeDetails', params: { id: recipe_data.id } })">
                <i class="fa fa-edit"></i>
            </a>

            <a href="#" class=''>
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
</template>

<script>
export default {
    props: ['recipe_data']

}
</script>

<style>

</style>