<template>
    <div class="row">
        <div class="saved_recipe_item">
            <img :src="recipe_book_maker_data.imageUrl" class="recipe_img" @error="replaceByDefault">
            <div class="recipe_name">
                {{ recipe_book_maker_data.name }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['recipe_book_maker_data'],
    methods: {
        replaceByDefault(e) {
            e.target.src = 'https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg'
        }
    }
}
</script>

<style scoped>
    .recipe_img{
        
    }

</style>