<template>
  <div>
    <div class="item">
      <div class="item_image">
        <img
          :src="
            typeof order_data.image_url == undefined ||
            order_data.image_url != null
              ? `/${order_data.image_url}`
              : `/${order_data.imageUrl}`
          "
          height="90"
          width="90"
          @error="replaceByDefault"
        />
      </div>

      <div class="cart_item_info">
        <p>{{ order_data.name }}</p>
        <p>{{ order_data.prix }} F</p>
      </div>

      <div class="quantity__manage">
        <!-- <div class="increment"> -->
        <button class="btn_plus_" @click="decrementQuantity">-</button>
        <!-- </div> -->

        <div class="quantity">{{ quantity }}</div>

        <button class="btn_plus_" @click="incrementQuantity">+</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["order_data", "total"],
  data() {
    return {
      quantity: 1,
      prix: null,
      orderItem: null,
      realPrice: this.order_data.prix,
    };
  },
  methods: {
    incrementQuantity() {
      if (this.quantity >= 1) {
        this.quantity += 1;
        // eslint-disable-next-line vue/no-mutating-props
        this.order_data.prix =
          parseInt(this.realPrice) * parseInt(this.quantity);
        this.EventBus.$emit("update_order_total", this.order_data);
      }
    },
    decrementQuantity() {
      if (this.quantity > 1) {
        this.quantity -= 1;
        // eslint-disable-next-line vue/no-mutating-props
        this.order_data.prix = parseInt(this.prix) * parseInt(this.quantity);
        this.EventBus.$emit("update_order_total", this.order_data);
      }
    },
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
  created() {
    const price = this.order_data.prix;
    this.prix = price;
    this.orderItem = this.order_data;
  },
};
</script>

<style lang="css" scoped>
.cart_item_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item {
  margin-bottom: 5px;
}
</style>
