<template>
  <div>
    <div
      class="store__page__cart"
      v-if="orderCardIsHide == true && orderingDish.length >= 1"
    >
      <div class="store__cart__title">
        <h1>
          Votre Commande
          <a @click="hideOrderCard">
            <i class="fa fa-times close_btn"></i>
          </a>
        </h1>
      </div>

      <div v-if="orderingDish != null && orderingDish.length >= 1">
        <div class="cart_items">
          <OrderCardItem
            v-for="dish in orderingDish"
            :order_data="dish"
            :total="total"
            :key="dish.id"
          />
        </div>

        <div class="container" v-if="showDeliveryAddress">
          <div class="input--group_order_card mt-2">
            <label for="adresse"> Adresse de livraison </label>
            <input
              id="adresse"
              type="text"
              :class="hasAddressError ? 'error_address' : 'adresse_livraison'"
              v-model="deliveryAddressName"
            />
          </div>
        </div>

        <div class="calulate__cart">
          <h6>
            <!-- Total : <span> {{ total }} FCFA</span> -->
          </h6>
        </div>

        <div class="d-flex justify-content-around cart__finalize mx-2">
          <button class="cta sm order_btn w-80" @click="orderWithOutPayment"  v-show="!isDisplay">
            <!-- Commander -->
            Payer à la livraison
          </button>
          <button class="order_card_hide ml-2" @click="orderDish"  v-show="!isDisplay">
            Payer en ligne
          </button>
        </div>

        <div class="d-flex justify-content-around cart__finalize mx-2">
          <Loading :isDisplay="isDisplay"></Loading>
        </div>
      </div>

      <div v-else>
        <div class="street_food">
          <img
            src="@/assets/svg/foot-street.svg"
            alt="foot-street"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OrderCardItem from "./OrderCardItem.vue";
import AppStorage from "../../../../utils/AppStorage";
import Loading from "../../../tools/Loading.vue";

export default {
  props: ["restaurant_data"],
  components: { OrderCardItem, Loading },
  data() {
    return {
      total: null,
      orderCardIsHide: true,
      orderingDish: [],
      deliveryData: false,
      deliveryAddressName: "",
      showDeliveryAddress: true,
      hasAddressError: false,
      isDisplay: false,
    };
  },
  methods: {
    showAlert() {
      this.$swal("Bientôt Disponible");
    },
    orderDish() {
      this.checkUser();

      const orderDish = async () => {
        this.isDisplay = true;

        await this.$axios
          .post("/api/make-orders", {
            orderItems: this.orderingDish,
            params: {
              restaurant: this.restaurant_data,
              currencyCode: "",
              currencyName: "",
              amount: "",
              isPaid: false,
              deliveryAddressName: this.deliveryAddressName,
            },
          })
          .then((res) => {
            console.log("success");
            console.log(res);

            if (res.status == 200 && res.data.status_code == 200) {
              let montant = res.data.data.amount;
              let reference = res.data.data.reference;
              let user_firstname = res.data.data.user.firstname;
              let user_lastname = res.data.data.user.lastname;
              let user_email = res.data.data.user.email;
              let phoneNumber = res.data.data.user.phoneNumber;
              let raison = "Rechargement";

              console.log({
                montant: res.data.data.amount,
                reference: res.data.data.reference,
                user_firstname: res.data.data.user.firstname,
                user_lastname: res.data.data.user.lastname,
                user_phone: res.data.data.user.phone,
                phoneNumber: res.data.data.user.phoneNumber,
                user_email: res.data.data.user.email,
                raison: `Commande de Plat`,
              });

              // console.log({lien:`https://pay.apaym.com/paiementabidjannet/m=${montant}/i=225/t=${phoneNumber}/n=${user_firstname}/p=${user_lastname}/e=${user_email}/r=${raison}/k=${reference}/l=1`});
              // return false;

              if (
                typeof montant != "undefined" &&
                montant != null &&
                reference != null &&
                typeof reference != "undefined"
              ) {
                window.location = `https://pay.apaym.com/paiementabidjannet/m=${montant}/i=225/t=${phoneNumber}/n=${user_firstname}/p=${user_lastname}/e=${user_email}/r=${raison}/k=${reference}/l=1`;
              }

              /*   this.$toast.success("Votre Commande a été pris en compte"); */
              this.EventBus.$emit("make_order");
            }
          })
          .catch((error) => {
            console.log("error");
            console.log(error.response);

            if (
              error?.response?.data?.code == 401 ||
              error?.response?.status == 401
            ) {
              this.$router.push({ name: "Login" });
            }
          })
          .finally(() => {
            this.isDisplay = false;
          });
      };
      orderDish();
      // this.hasAddressError = true
      // alert(this.hasAddressError)
      // this.$toast.error('Ajouter une adresse de livraison')
    },
    orderWithOutPayment() {
      this.checkUser();

      if (this.deliveryAddressName == "") {
        this.hasAddressError = true;
        this.$toast.error("Ajouter une adresse de livraison");
        return false;
      }

      const orderDishWithOutPayment = async () => {
        
        this.isDisplay = true;

        await this.$axios
          .post("/api/make-orders", {
            orderItems: this.orderingDish,
            params: {
              restaurant: this.restaurant_data,
              currencyCode: "",
              currencyName: "",
              amount: "",
              isPaid: false,
              deliveryAddressName: this.deliveryAddressName,
            },
          })
          .then((res) => {
            if (res.status == 200 && res.data.status_code == 200) {
              console.log(res);
              this.$toast.success("Commande prise en compte");
              this.EventBus.$emit("make_order");

              AppStorage.setCurrentDash("order_state");
              this.$router.push({ name: "Dashboard" });
            } else {
              this.$toast.error("Une erreur est survenue");
            }
          })
          .catch((error) => {
            console.log("error");
            console.log(error.response);

            if (
              error?.response?.data?.code == 401 ||
              error?.response?.status == 401
            ) {
              this.$router.push({ name: "Login" });
            }
          }).finally(()=>{
            this.isDisplay = false;
          });
      };

      orderDishWithOutPayment();
    },
    hideOrderCard() {
      this.orderCardIsHide = !this.orderCardIsHide;
    },
    checkUser() {
      if (!this.User.loggIn()) {
        this.EventBus.$emit("login_page");
      }
    },
  },
  created() {
    this.EventBus.$on("ordering_dish", (data) => {
      this.orderingDish.push(data);
      let total = 0;
      let orderItems = [...new Set(this.orderingDish)];
      this.orderingDish = orderItems;

      this.orderingDish.forEach((order) => {
        total = parseInt(total) + parseInt(order.prix);
        this.total = total;
      });

      this.orderCardIsHide = true;
    });

    this.EventBus.$on("update_order_total", (order_data) => {
      console.log(order_data);

      this.orderingDish.push();

      this.orderingDish.forEach((order) => {
        let total = parseInt(total) + parseInt(order.prix);
        this.total = total;
        console.log(total)
      });
    });

    this.EventBus.$on("make_order", () => {
      this.orderingDish = [];
    });
  },
};
</script>

<style>
.calulate__cart {
  display: flex;
  justify-content: center;
  margin: 5% 5%;
}

.btn_plus_ {
  padding: 0.3rem;
  border-radius: 50%;
  border-color: rgb(170, 179, 202);
}

.cart_items {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.cart__finalize {
  display: flex;
  margin: 20px 0px;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.store__page__cart {
  width: 30%;
  position: absolute;
  left: 100%;
  top: 360px;
  /*top: 50%;*/
  transform: translate(-50%, -50%);
  height: auto;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 15px 2px #d0d0d0;
}

.store__cart__title {
  font-size: 15px !important;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store__cart__title h1 {
}

.quantity__manage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.item_image img {
  border-radius: 10px;
}

.order_card_hide {
  font-family: "PNBold", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  color: #d21d3a;
  display: inline-block;
  padding: 8px 36px 8px 36px;
  border: 2px solid #d21d3a;
  border-radius: 50px;
  text-align: center;
  -webkit-transition: 0.1s;
}

p {
  font-size: 15px;
}

@media screen and (max-width: 640px) {
  .store__page__cart {
    z-index: 222;
    width: 138%;
    position: absolute;
    left: 50%;
    top: 352px;
    /* top: 50%; */
    transform: translate(-50%, -50%);
    height: auto;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
  }

  .order_card_hide {
    display: block;
  }
}

.close_btn {
  color: #d21d3a;
}

.close_btn:hover {
  color: black;
}

.input--group_order_card label {
  margin-bottom: 0.5rem !important;
}

.input--group_order_card label span {
  color: red;
}

.input--group_order_card input,
select {
  padding: 7px;
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.error_address {
  border: solid 1px #d21d3a !important;
}

.input--group_order_card input:focus {
  border: 1px solid #ffb800 !important;
  outline: none;
  outline-offset: 3px;
}
</style>
