<template>
    <div>
        <div class="content">
            <section class="breadcrumb line-top">
                <a @click="$router.push({ name: 'Accueil' })">Accueil</a><span>Cours de Cuisine </span>
            </section>
        </div>
    
        <section class="sub-content">
            <div id="blog-single">
                <div class="container">
                    <!-- <div class="heading"> -->
                        <h2 class="section_titre">{{ cookingCourse.name }}</h2>
                    <!-- </div> -->
                    <div class="row" data-aos="fade-up" data-aos-duration="700">
                        <div class="col-sm-12 col-lg-12 box">
                            <img :src="cookingCourse.imageUrl" :alt="cookingCourse.imageUrl" class="img-thumbnail image">
                            <p v-html="cookingCourse.description"></p>
                            <!-- <p>{{ cookingCourse.imageUrl ? cookingCourse.image :  "-------" }}</p> -->
                            <!-- 
                                <div class="qutation">
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed <br />do eiusmod tempor incididunt
                                        ut labore et dolore magna <br />aliqua. sed do eiusmod tempor incididunt ut labore et
                                        dolore<br /> magna aliqua..</h4>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                    andLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                    type and
                                </p>
                            -->
                        </div>
                    </div>
                    <div class="social-buttons" data-aos="fade-up" data-aos-duration="700">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                id:null,
                cookingCourse : null
            }
        },
        methods : {
            getCookingCourse(){
                axios.get(`show-course/1`).then( res => {
                    console.log(">>>>>>>>>> Success")
                    console.log(res)
                        this.cookingCourse = res.data.data
                }).catch(error => {
                    this.$toast.error("OOps une erreur est survenue")
                    console.log(">>>>>>>>>> Error")
                    console.log(error.response)
                })
            },
        },
        created(){
            this.id = this.$route.params.id

            console.log(this.id)
            this.getCookingCourse()
        }
    }
</script>

<style scoped>
    /*==============================================
                    Blog-single Page
    ===============================================*/
        #blog-single {
            width: 100%;
            height: auto;
            padding-bottom: 100px;
            padding-top: 50px;
            border-bottom: 1px solid #b2b2b2;
        }
    
        #blog-single hr {
            position: relative;
            border-color: #c8e2b3;
            padding-bottom: 50px;
        }
    
        #blog-single h1 {
            font-size: 44px;
            font-weight: 300;
            padding-bottom: 50px;
            position: relative;
        }
    
        #blog_single .qutation {
            width: 100%;
            text-align: center;
            padding: 50px 170px 50px;
            margin: 40px 0;
            border: 1px solid #c8c8c8;
        }
    
        #blog-single .heading h2 {
            color: #363636;
            font-size: 37px;
            line-height: 49px;
            padding-right: 300px;
            
        }
    
        #blog-single .section4 .card-deck {
            margin-left: -30px;
            margin-right: -30px;
        }
    
        #blog-single .section4 h2 {
            font: 36px sans-serif;
            margin-top: 30px;
            margin-bottom: 80px;
            font-weight: 600;
            color: #2e2c39;
            text-align: center;
            text-transform: uppercase;
        }
    
        #blog-single .section4 h2.background {
            position: relative;
            z-index: 1;
        }
    
        #blog-single .section4 h2.background:before {
            border-top: 2px solid #dfdfdf;
            content: "";
            margin: 0 auto;
            /* this centers the line to the full width specified */
            position: absolute;
            /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }
    
        #blog-single .section4 h2.background span {
            /* to hide the lines from behind the text, you have to set the background color the same as the container */
            background: #fff;
            padding: 0 15px;
        }
    
        #blog-single .box p {
            margin: 0;
            color: #636363;
            font-size: 17px;
            line-height: 30px;
            text-align: justify;
            word-spacing: -1px;
            margin-top: -7px;
            padding-bottom: 40px;
            font-weight: 400;
        }
    
        .social-buttons .inner-text span:first-child {
            color: black;
            font-weight: 600;
        }
    
        .social-buttons .inner-text span:last-child {
            color: #737373;
            font-weight: 500;
            border-bottom: 1px solid gray;
        }
    
        #blog-single h4 {
            font-size: 24px;
            text-align: left;
            color: #545454;
            line-height: 47px;
        }
    
        #blog-single .inner-text a {
            color: #737373;
            font-weight: 400;
        }
    
        #blog-single .inner-text a:hover,
        #blog-single .inner-text a:focus {
            text-decoration: none;
            border-bottom: 1px solid #fc4733;
            color: #fc4733;
        }
    
        #blog-single .qutation {
            width: 100%;
            border: 1px solid #b5b5b5;
            text-align: center;
            padding: 73px 160px;
            margin-bottom: 50px;
        }
    
        .social-buttons {
            border: 1px solid #c2c2c2;
            margin-top: 60px;
            margin-bottom: 120px;
        }
    
        .social-buttons h3 {
            color: #737373;
            font-size: 17px;
            font-weight: 300;
            text-align: right;
            margin-right: 20px;
            padding: 47px 20px;
        }
    
        #blog_single .heading {
            font-size: 45px;
            padding-top: 60px;
        }
    
        #blog_single .heading h2 {
            font-size: 33px;
        }
    
        /*-- social buttons --*/
        .mbm_social {
            margin: 30px 0;
            padding: 0;
            font-size: 0;
            float: left;
            background: #fff;
            margin: 43px 30px;
            text-align: center;
        }
    
        .mbm_social li {
            display: inline-block;
            margin: 0 16px 0 0;
        }
    
        .mbm_social a {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            color: #fff;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 0 px;
            width: 116px;
            height: 31px;
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
            -webkit-transition: all .15s ease;
            transition: all .15s ease;
            z-index: 2;
            text-transform: uppercase;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 5px;
        }
    
        .mbm_social a:hover {
            color: #fff;
        }
    
        .mbm_social a:hover .tooltip {
            display: block;
            visibility: visible;
            opacity: 1;
            -webkit-transform: translate(0, -33px);
            transform: translate(0, -33px);
        }
    
        .mbm_social a:active {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
        }
    
        .mbm_social .tooltip {
            opacity: 0;
            position: absolute;
            top: 2px;
            left: 50%;
            z-index: 1;
            -webkit-transition: all .15s ease;
            transition: all .15s ease;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    
        .mbm_social .tooltip span {
            font-size: 10px;
            font-weight: bold;
            left: -50%;
            line-height: 1;
            padding: 6px 8px 5px;
            position: relative;
            text-transform: uppercase;
            z-index: 1;
        }
    
        .mbm_social .tooltip span:after {
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            border: 8px solid transparent;
        }
    
        .mbm_social .social-twitter {
            background: #00abdc;
            border-radius: 5px;
            background: -webkit-linear-gradient(#00abdc, #00abdc);
            background: linear-gradient(#00abdc, #00abdc);
            border-bottom: 1px solid #00abdc;
        }
    
        .mbm_social .social-twitter:hover {
            color: #fff;
            text-shadow: 0px 1px 0px #00abdc;
        }
    
        .mbm_social .social-twitter span {
            background: #00abdc;
            background: -webkit-linear-gradient(#00abdc, #00abdc);
            background: linear-gradient(#00abdc, #00abdc);
            color: #fff;
        }
    
        .mbm_social .social-twitter span:after {
            border-top-color: #00abdc;
        }
    
        .mbm_social .social-facebook {
            background: #325c94;
            border-radius: 5px;
            background: -webkit-linear-gradient(#4562a0, #385693);
            background: linear-gradient(#4562a0, #385693);
            border-bottom: 1px solid #2f487c;
        }
    
        .mbm_social .social-facebook:hover {
            color: #fff;
            text-shadow: 0px 1px 0px #2f487c;
        }
    
        .mbm_social .social-facebook span {
            background: #3b5a9b;
            background: -webkit-linear-gradient(#5873aa, #3b5a9b);
            background: linear-gradient(#5873aa, #3b5a9b);
            color: #fff;
        }
    
        .mbm_social .social-facebook span:after {
            border-top-color: #325c94;
        }
    
        .mbm_social .social-google-plus {
            background: #cb2027;
            background: -webkit-linear-gradient(#cb2027, #cb2027);
            background: linear-gradient(#cb2027, #cb2027);
            border-bottom: 1px solid #cb2027;
        }
    
        .mbm_social .social-google-plus:hover {
            color: #fff;
            text-shadow: 0px 1px 0px #ea4335;
        }
    
        .mbm_social .social-google-plus span {
            background: #cb2027;
            background: -webkit-linear-gradient(#cb2027, #cb2027);
            background: linear-gradient(#cb2027, #cb2027);
            color: #fff;
        }
    
        .mbm_social .social-google-plus span:after {
            border-top-color: #cb2027;
        }
    
        .mbm_social i {
            position: relative;
            top: 1px;
            font-size: 14px;
        }
    
        .mbm_social small {
            font-size: 14px;
            margin: 0 0 0 16px;
            color:red;
        }
    
        /*== contact form ==*/
        #blog-single .img-thumbnail {
            border-radius: 0;
            padding: 0;
            border: none;
        }
    
        #blog-single .image {
            float: left;
            width: 557px;
            height: 480px;
            object-fit: cover;
            shape-margin: 20px;
            margin-right: 40px;
            margin-bottom: 25px;
        }
    
        .mbm_social {
            background-color: transparent;
        }
    
        #blog-single .more-bog .inner-content {
            padding-right: 50px;
        }
    
        #blog-single .more-bog h5 a {
            color: #49a003;
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 5px;
        }
    
        #blog-single .more-bog .btn-primary {
            font-size: 40px;
            font-weight: 300;
            padding: 5px 20px;
            margin-bottom: 60px;
            background-color: #e2e2e2;
            border: 0;
            border-radius: 0;
        }
    
        #blog-single .more-bog h6 {
            color: #8e8e8e;
            line-height: 23px;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
        }
    
        #blog-single .more-bog .img-thumbnail {
            object-fit: cover;
            padding: 0;
            border: none;
            border-radius: 0;
        }
    
        #blog-single .post {
            padding-top: 40px;
            padding-bottom: 60px;
        }
    
        #blog-single .post h3 {
            padding-bottom: 40px;
            font-size: 41px;
            color: #363636;
        }
    
        #blog-single .post strong {
            display: block;
            font-size: 23px;
            font-weight: 500;
            color: #662d91;
        }
    
        #blog-single .post strong span {
            color: #959595;
            font-size: 14px;
            font-weight: 500;
        }
    
        #blog-single .post .col1 p {
            color: #959595;
            font-weight: 500;
            font-size: 17px;
            line-height: 35px;
        }
    
        #blog-single .post .col1 {
            border: 1px solid #d0d0d0;
            padding: 50px 40px;
        }
    
        #blog-single .comment-box form .row {
            margin-left: -15px;
            margin-right: -15px;
        }
    
        #blog-single .comment-box form .col2 {
            padding: 0;
        }
    
        #blog-single .comment-box {
            padding-top: 40px;
        }
    
        #blog-single .post .btn-primary {
            font-size: 40px;
            font-weight: 300;
            padding: 5px 20px;
            margin-bottom: 60px;
            background-color: #e2e2e2;
            border: 0;
            border-radius: 0;
        }
    
        #blog-single .comment-box .btn-primary {
            font-size: 40px;
            font-weight: 300;
            padding: 5px 20px;
            margin-bottom: 50px;
            background-color: #e2e2e2;
            border: 0;
            border-radius: 0;
        }
    
        #blog-single .comment-box form textarea {
            border-radius: 0;
            margin-bottom: 25px;
        }
    
        #blog-single .comment-box form .btn-primary {
            border: 2px solid #fff;
            text-transform: uppercase;
            padding: 15px 70px;
            border-radius: 0;
            font-weight: 600;
            font-size: 16px;
            background-color: #49a003;
        }
    
        #blog-single .comment-box form .btn-primary:hover {
            color: #49a003;
            background-color: transparent;
            border: 2px solid #49a003;
        }
    
        #blog-single .comment-box ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #cacaca;
            font-weight: 400;
            font-size: 13px;
            font-style: normal;
            text-transform: capitalize;
        }
    
        #blog-single .comment-box ::-moz-placeholder {
            /* Firefox 19+ */
            color: #cacaca;
            font-weight: 400;
            font-size: 13px;
            font-style: normal;
            text-transform: capitalize;
        }
    
        #blog-single .comment-box form input {
            height: 60px;
            border-radius: 0;
            margin-bottom: 25px;
        }
    
        #blog-single .comment-box :-ms-input-placeholder {
            /* IE 10+ */
            color: #cacaca;
            font-weight: 400;
            font-size: 12px;
            font-style: normal;
            text-transform: capitalize;
        }
    
        #blog_single .comment-box :-moz-placeholder {
            /* Firefox 18- */
            color: #cacaca;
            font-weight: 400;
            font-size: 12px;
            font-style: normal;
            text-transform: capitalize;
        }
    
        #blog_single .comment-box ::placeholder {
            color: #cacaca;
            font-weight: 400;
            font-size: 12px;
            font-style: normal;
        }
    
        #blog-single .comment-box form textarea {
            padding: 20px 20px;
        }
    
        .modal-backdrop.show {
            opacity: .7;
        }
</style>