<template>
      <div>
        <div class="grd-item mb-2">
          <a
              href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
              target="_blank"
              class="pub-label"
              >PUBLICITÉ
              <i class="fas fa-info-circle"></i
              >
              </a>
          <dfp-slot path="/2760456/Abidjan_net_news_articles_ATF_top_970x90"
              :size="[[1000,200]]" id="div-gpt-ad-3238677-1"/>
        </div>

        <banner>
          <template #title>
            <h2>Apprendre à Cuisiner avec nos Illustres Chefs</h2>
          </template>

          <template #description> </template>

          <template #image>
            <a class="img-landing-banner" href="#!">
              <!-- <img class="img-fluid" src="_themes/assets/img/gallery/crispy-sandwiches.png" alt="hero-header" /> -->
            </a>
          </template>

          <template #search_bar> 
              <CourseSearchBar/>
          </template>
        </banner>

        <div class="content">
          <section class="breadcrumb line-top">
            <a href="https://www.abidjan.net/">Accueil</a>
            <span >Cuisine</span>
            <span>Cours de Cuisine</span>
          </section>


        </div>
        
        <CourseList :courses_data="courses" v-if="courses != null" />

        <div v-else class="no_resto">
          <p class="fs-1 text-center mt-3">Pas de cours disponibles</p>
        </div> 

        <FloatingButtonCourse />

        <div class="grd-item mt-3">
          <a
            href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
            target="_blank"
            class="pub-label"
            >PUBLICITÉ
            <i class="fas fa-info-circle"></i
          >
          </a>
        
          <div>
          <!-- [728,90],[468,60],[320,50]] -->
          <dfp-slot path="/2760456/Abidjan_net_news_articles_BTF_Bottom_970x90"
            :size="[[970,90]]" id="div-gpt-ad-3238677-3"/>
        </div>
        </div>
      </div>
</template>

<script>
import CourseList from "./CourseList.vue";
import Banner from "../accueil/_partials/Banner.vue";
import FloatingButtonCourse from "./_partials/FloatingButtonCourse.vue";
import CourseSearchBar from "./_partials/CourseSearchBar.vue"
import DfpSlot from "../../tools/DfpSlot.vue";

export default {
  metaInfo: {
    title: "Cours de Cuisine",
    titleTemplate: "%s | Cuisine.abidjan.net",
    htmlAttrs: {
      lang: "fr-FR",
    },
    meta: [
      { charset: "utf-8" },
      {
        name: "Astuce Culinaire",
        content: "Cuisine, Recettes, Retaurants, Restaurants",
      },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
    ],
  },
  components: { CourseList, Banner, FloatingButtonCourse , CourseSearchBar, DfpSlot},
  data() {
    return {
      courses: null,
      // course_search_course : null
    };
  },
  methods: {
    getCourses() {
      const getCours = async () => {
        await axios
          .get("get-courses")
          .then((res) => {
            console.log("Course");
            if (res.status == 200 || res.data.status == 201) {
              this.courses = res.data.data;
            }
          })
          .catch((err) => {
            console.log("Error Code");
            console.log(err.response);
          });
      };

      getCours();
    },
  },
  created() {
    this.getCourses()
   /*  EventBus.$on("search_cooking_course_auto", (data) => {
      this.course_search_course = data;
    }); */

  },
};
</script>

<style scoped></style>
