<template>
  <section>
    <div class="content">
      <section class="breadcrumb line-top">
        <a @click="$router.push({ name: 'Accueil' })">Accueil</a>
        <span @click="$router.push({ name: 'CookingCourse' })">Cours </span>
        <span> Cours de Cuisine </span>
      </section>
    </div>

    <div class="sub-content">
      <div class="besoin--title w-100">
        <h1 class="text-center text-uppercase section-title noline">
          Ajouter Cours de Cuisine
        </h1>
        <!-- <img src="../../../../svg/044-breakfast-monochome.png" alt="besoin--img">  -->
      </div>

      <div>
        <form @submit.prevent="submitCookingCourse">
          <div class="details__inputs">
            <div class="input_row">
              <div class="input--group">
                <label for="title"> Titre <span>*</span></label>
                <input type="text" v-model="form.name" name="title" />

                <small
                  class="text-error"
                  v-if="
                    this.errors &&
                    typeof this.errors != 'undefined' &&
                    this.errors.name
                  "
                >
                  {{ this.errors.name }}
                </small>
              </div>

              <div class="input--group">
                <label for="language"> Langue <span>*</span></label>
                <input type="text" v-model="form.language" name="language" />
                
                <small
                  class="text-error"
                  v-if="
                    this.errors &&
                    typeof this.errors != 'undefined' &&
                    this.errors.language
                  "
                >
                  {{ this.errors.language }}
                </small>
              </div>

              <div class="input--group">
                <label for="instructor"> Instructeur <span>*</span></label>
                <input
                  type="text"
                  v-model="form.instructor"
                  name="instructor"
                />

                
                <small
                  class="text-error"
                  v-if="
                    this.errors &&
                    typeof this.errors != 'undefined' &&
                    this.errors.instructor
                  "
                >
                  {{ this.errors.instructor }}
                </small>

              </div>

              <div class="input--group">
                <label for="description"> Type de course </label>
                <multiselect
                  class="multi_sel"
                  v-model="form.course_type_id"
                  :options="course_types.map((rt) => rt.id)"
                  placeholder="Type De Cours"
                  :show-labels="true"
                  selectLabel="Entrez pour choisir"
                  deselectLabel="Entrez pour retirer"
                  trackBy="id"
                  label="name"
                  :value="form.course_type_id"
                  :searchable="true"
                  :custom-label="
                    (opt) => course_types.find((rt) => rt.id == opt).title
                  "
                >
                </multiselect>

                <small
                class="text-error"
                v-if="
                  this.errors &&
                  typeof this.errors != 'undefined' &&
                  this.errors.courseType  
                "
              >
                {{ this.errors.courseType  }}
              </small>
              
              </div>

              <div class="input--group">
                <label for="price"> Prix </label>
                <input type="" v-model="form.price" name="price" />

                <small
                  class="text-error"
                  v-if="
                    this.errors &&
                    typeof this.errors != 'undefined' &&
                    this.errors.price
                  "
                >
                  {{ this.errors.price }}
                </small>
              </div>

              <div class="input--group">
                <label for="price"> Lieu </label>
                <input type="" v-model="form.place" name="place" />
              </div>

              <small
                class="text-error"
                v-if="
                  this.errors &&
                  typeof this.errors != 'undefined' &&
                  this.errors.slogan
                "
              >
                {{ this.errors.slogan }}
              </small>

              <div class="input--group">
                <label for="overview">Aperçu du cours</label>
                <small>(Youtube)</small>
                <input
                  type="text"
                  v-model="form.video_url"
                  name="video"
                  placeholder="https://www.youtube.com/watch?v=Spf0BAD_vyI"
                />
              </div>

              <!-- 
                  <small class="text-error"
                    v-if="this.errors && typeof (this.errors) != 'undefined' && this.errors.title">
                    {{ this.errors.title }}
                  </small>
                -->

              <div class="input--group">
                <label for="file">Ajouter Image </label>

                <div
                  class="resto_img"
                  v-if="
                    form.imageUrl != null && typeof form.imageUrl != 'undefined'
                      ? true
                      : false
                  "
                >
                  <img
                    v-if="previewImage != null"
                    :src="previewImage"
                    alt="previewImage"
                  />
                  <!-- <img v-else :src="form.imageUrl" alt="" srcset="" /> -->
                </div>

                <input type="file" accept="image/jpeg" @change="uploadImage" />

                <small
                  class="text-error"
                  v-if="
                    this.errors &&
                    typeof this.errors != 'undefined' &&
                    this.errors.imageUrl
                  "
                >
                  {{ this.errors.imageUrl }}
                </small>
              </div>
            </div>

            <div class="input--group">
              <label for="description"> Description <span>*</span></label>
              <textarea
                type="text"
                v-model="form.description"
                name="description"
              >
              </textarea>
              
              <small
              class="text-error"
              v-if="
                this.errors &&
                typeof this.errors != 'undefined' &&
                this.errors.description
              "
            >
              {{ this.errors.description }}
            </small>

            </div>

            <div class="d-flex justify-content-center">
              <button
                type="submit"
                class="cta w-60 d-flex py-3 justify-content-center"
                style="font-size: 18px"
              >
                Publier Cours
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import AppStorage from "../../../utils/AppStorage";
import { Multiselect } from "vue-multiselect";

export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      form: {
        name: "",
        slogan: "",
        description: "",
        has_multiple_step: "",
        video_url: "",
        imageUrl: "",
        place: "",
        price: "",
        instructor: AppStorage.getFullName() ?? "",
        language: "Français",
        course_type_id: "",
      },
      course_types: null,
      errors: null,
      previewImage: null,
    };
  },
  methods: {
    submitCookingCourse() {
      console.log(">>>>>>>>>> Front Course");
      console.log(this.form);
      this.$loading(true);
      axios
        .post("api/add-course", this.form, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((res) => {
          console.log(res);
          if (res.data.status_code == 201 && res.status == 200) {
            this.$toast.success("Super ! Bien éffectué");
            this.$router.push({ name: "CookingCourse" });
          } else if (res.data.status_code == 422) {
            console.log(">>>>>>>> Error >>>>>>>>");
            this.errors = res.data.errors;
            this.$toast.error("Veuillez renseignez tous les champs requis");
          }
        })
        .catch((err) => {
          console.log("ERROR");
          console.log(err.response);
          console.log(err.response.data.status_code);
          if (err.response.status == 401) {
            this.$toast.info("Veuillez vous connectez s'il vous plaît");

            AppStorage.clearSoft();
            User.logout();
          } else if (err.response.data.status_code == 422) {
            console.log(">>>>>>>> Error >>>>>>>>");
            this.errors = err.response.data.errors;
            this.$toast.error("Veuillez renseignez tous les champs requis");
          } else {
            this.$toast.error("Oops une erreur est survenue");
          }
        })
        .finally(() => {
          this.$loading(false);
        });
    },
    uploadImage(e) {
      const image = e.target.files[0];

      this.form.imageUrl = image;
      console.log(this.form.imageUrl);
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = (e) => {
        this.previewImage = e.target.result;
        console.log(this.previewImage);
      };
    },
    getCourseType() {
      const courseType = async () => {
        this.$loading(true);

        axios
          .get("get-course-types")
          .then((res) => {
            console.log(res);
            this.course_types = res.data.data;
          })
          .catch((error) => {
            console.log("Error COURS TYPE >>>>>>>>>");
            console.log(error.response);
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      courseType();
    },
    checkUser() {
      if (!User.loggIn()) {
        this.$toast.info("Veuillez vous connectez s'il vous plait");
        let routePath = this.$route.fullPath;
        AppStorage.setPreviewRoutePath(routePath);
        AppStorage.setCurrentDash("subscription_cooker");

        this.$router.push({ name: "Login" });
        AppStorage.clearSoft();
      }
    },
    checkCooker() {
      axios
        .get("api/get-user_datas")
        .then((res) => {
          console.log("user data");
          if (res.status == 200) {
            if (res.data.data.is_cooker != true) {
              this.$toast.info("Vous devez avoir Compte Cuisiner");
              this.$router.push({ name: "Dashboard" });
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    }
  },
  created() {
    this.getCourseType(), this.checkUser(), this.checkCooker();
  },
};
</script>

<style scoped>
small {
  font-size: 14px;
  color: #7f7f7f;
}
.besoin--img {
  height: 7rem !important;
}

.select_actions {
  margin-bottom: 20px !important;
}

.dropzone_container {
  margin: 1rem auto;
}
.text-error {
  color: red;
  margin-top: 5px;
  margin-bottom: 25px !important;
  margin-left: 5px;
  font-size: 12px;
}

.form_wrapper {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.btn--primary {
  background-color: #d21d3a;
  padding: 1rem;
  border-radius: 12px;
}

.btn--primary:hover {
  background-color: #fff;
  border: 1px solid #ffb800;
}

.besoin {
  width: 60%;
  margin: 0 auto;
}

.besoin--body {
  padding: 2rem;
  background-color: #eff4f8;
  border-radius: 3%;
}

.besoin--body .group--form {
  margin-top: 2rem;
}

.besoin--body .group--form label {
  font-weight: bold;
}

.besoin--body .group--form input:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
}

/*
textarea {
  min-height: 70px !important;
}
border: 1px solid #FFB800 !important; 
*/

.dedicace {
}

.besoin--body .group--form textarea:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
  outline: none !important;
  border: 1px solid #ffb800;
}

@media only screen and (max-width: 62em) {
  .besoin {
    width: 75%;
  }
}

@media only screen and (max-width: 48em) {
  .besoin {
    width: 85%;
  }
}

@media only screen and (max-width: 36em) {
  .besoin {
    width: 95%;
  }
}

@media only screen and (max-width: 48em) {
  .besoin--title h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 48em) {
  .besoin--title img {
    height: 7rem;
  }
}

.besoin--body {
  background-color: #fff;
  padding: 4rem;
}

.besoin--body .group--form {
  margin-top: 2rem;
}

.besoin--body .group--form label {
  font-weight: bold;
}

.besoin--body .group--form input {
  padding: 1.5rem;
  width: 100%;
  background-color: #eff4f8;
  border: none;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #eff4f8;
  border-radius: 10px;
}

.besoin--body .group--form input:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
}

.input--connexions input,
select,
textarea {
  /* height: 40px !important; */
}

.input--connexions select option {
  height: 40px !important;
}

/* ******************************** */
.input--group label {
  margin-bottom: 0.5rem !important;
}

.input--group label span {
  color: red;
}

.input--group input,
select {
  padding: 7px;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.input--group input:focus,
select:focus {
  border: 1px solid #ffb800;
}

.details__inputs {
  margin-bottom: 40px;
  padding: 0 4rem;
}

.details__inputs h2 {
  margin-bottom: 13px;
}

.vue-country-select .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.1em !important;
  position: relative;
  cursor: pointer;
}

.numero {
  display: flex;
  justify-content: start;
}

.p_temps {
  font-size: 1.5rem;
}

.multi_sel >>> .multiselect__tags {
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  /*box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);*/
  padding: 0.7rem 0.5rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 7px;
  background: #fff;
}

.multi_sel >>> .sel_tags {
  padding: 1rem;
  border: 2px solid #dbd8dc;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  color: #0045a3;
  padding: 1rem 0.5rem;
  font-weight: bold;
  width: 100%;
}

.image__recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.uploading-image {
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 200px !important;
  max-height: 200px !important;
}

.btn_primary {
  padding: 1rem 2rem;
  background-color: #d21d3a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  padding: 0px 60px 0px 60px !important;
}

.besoin--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eff4f8;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.besoin--title h1 {
  color: #7f7f7f;
}

textarea {
  border-radius: 10px;
  resize: vertical !important;
  width: 100%;
  height: 150px;
  min-height: 10px !important;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  padding: 20px 10px;
}

/* .multi_sel>>>.multiselect__option {
  background-color: #fff !important;
   color: #FEE234 !important; 
}
.multi_sel>>>.multiselect__option:focus {
  background-color: #FEE234 !important;
  /* color: #FEE234 !important; 
}

.multi_sel>>>.multiselect__option:hover {
  background-color: #FEE234 !important;
}  

.multi_sel>>>.multiselect__tag {
  background-color: #FEE234 !important;
  
}

.multi_sel >>> .multiselect__option:focus{
    background-color: rgb(218, 19, 19);
}

.multi_sel >>> .multiselect__option:hover{
    background-color: rgb(218, 19, 19);
}

.multi_sel >>> .multiselect__tag{
    background-color: rgb(218, 19, 19);
}
*/

.input_row {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

textarea {
  height: 120px !important;
}
</style>
