.divider {
  text-align: center;
  padding: 1rem 0;
  /* margin: 1rem 30%; */
  /* box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25); */
}

.section_titre {
  font-size: 30px;
  color: #000;
  color: #d21d3a;
  color: #101010;
  font-weight: 700;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 11;
}

.btn--primary {
  background-color: #d21d3a;
  padding: 1rem;
  border-radius: 12px;
}

.btn--primary:hover {
  background-color: #fff;
  border: 1px solid #ffb800;
}

input[type="number"] {
  padding: 7px;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.input_number {
  padding: 5px;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.dropzone_container {
  margin: 2rem auto;
}

.anim {
  -webkit-animation: bottom 0.8s var(--delay) both;
  animation: bottom 0.8s var(--delay) both;
}

@media only screen and (max-width: 48em) {
  .besoin--title h1 {
    font-size: 1.8rem;
  }
}

.besoin--title img {
  height: 10rem;
}

@media only screen and (max-width: 48em) {
  .besoin--title img {
    height: 7rem;
  }
}

@media only screen and (max-width: 48em) {
  .besoin--title h1 {
    font-size: 1.8rem;
  }
}

.besoin--title img {
  height: 10rem;
}

@media only screen and (max-width: 48em) {
  .besoin--title img {
    height: 7rem;
  }
}

.active_link {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  /* text-transform: uppercase !important; */
  color: #fee234 !important;
  border-bottom: solid 3px #fee234;
  /* background-color: #FEE234  !important; */
}

/* .navigation--content .menu .list--item__link{
    color: #FEE234 !important;
} */

.multi_sel >>> .multiselect__option:focus {
  background-color: #fee234 !important;
  /* color: #FEE234 !important; */
}

.multi_sel >>> .multiselect__option:hover {
  background-color: #fee234 !important;
}

.multi_sel >>> .multiselect__tag {
  background-color: #fee234 !important;
}

.content {
  padding: 0px 60px 0px 60px !important;
}

.btn--primary,
.btn--site {
  border-radius: 12px !important;
}

.video {
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
}

/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* insert styles here */
}

/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
  /* insert styles here */
}

/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
  /* insert styles here */
}

/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
  /* insert styles here */
}

/* (640x960) iPhone 4 & 4S */
@media screen and (min-device-width: 640px) and (max-device-width: 960px) {
  /* insert styles here */
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  /* insert styles here */
}

/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
  /* insert styles here */
}

/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* insert styles here */
}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* insert styles here */
}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* insert styles here */
}

/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
  /* insert styles here */
}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1366px) {
  /* insert styles here */
}

/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {
  /* insert styles here */
}

/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
  /* insert styles here */
}

/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1680px) {
  /* insert styles here */
}

/* (1920x1080) Full HD Display */
@media screen and (max-width: 1920px) {
  /* insert styles here */
}

/* (1600x900) HD+ Display */
@media screen and (max-width: 1600px) {
  /* insert styles here */

  /*👉body{
        background-color: red !important;
    }👈*/
}

/*👉input{
    box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
    border-radius: 0.5rem !important;
    transition: all 0.3s ease-in-out !important;
    padding: 0.7rem 0.5rem !important;
}👈*/

/* (1280x720) Galaxy Note 2, WXGA */
@media screen and (max-width: 765px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none !important;
  }
  /* insert styles here */
  body {
    font-size: 12px !important;
    /* background-color: green !important; */
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none !important;
  }

  .hover-top-shadow {
    display: none !important;
  }

  .position-relative {
    display: none !important;
    position: relative !important;
  }

  .btn--primary {
    font-size: 10px !important;
  }

  .section-searchPJ .section-searchPJ-in .searchPJContent .searchFormFrst {
    width: 80% !important;
  }

  /*👉.section-searchPJ .section-searchPJ-in .searchPJContent .searchFormContent .searchPJ-Btn {
        background-color: green !important;
        width: 15% !important;
    }👈*/

  .section-searchPJ
    .section-searchPJ-in
    .searchPJContent
    .searchFormContent
    #submit {
    width: 15% !important;
  }

  .section-searchPJ {
    height: 35rem !important;
  }

  #banner_cover {
    height: 35rem !important;
  }

  .videos {
    /* padding: 5rem !important; */
    display: block !important;
  }

  .recipe,
  .video {
    margin-bottom: 10px !important;
  }

  #pub {
    display: none;
  }

  .section_titre {
    font-family: 20% !important;
  }
  /*Recipe*/
  .recipe-name {
    font-size: 12.5px;
  }

  .section_titre {
    font-size: 30px !important;
    color: #000 !important;
    color: #d21d3a !important;
    color: #101010 !important;
    font-weight: 700 !important;
    padding-bottom: 20px !important;
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 11 !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 1220px) {
  .sub-content {
    padding: 0 5%;
  }

  .rate {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .recipe-name {
    font-size: 12px !important;
  }

  .recipe-by,
  small {
    font-size: 10px !important;
  }

  .svg-inline--fa {
    height: 0.6em;
  }

  .stars[data-v-5cdd3b2e] {
    margin-left: 17.5px;
    /* padding: 12px 20px 0 0; */
    color: gray;
    /* height: 100%; */
  }
}

.image_cover img {
  border-radius: 12px;
  height: 250px;
  width: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
  object-fit: cover;
}

a {
  cursor: pointer;
}

.vlt-wrapper {
  /* max-width: var(--vlt-max-width); */
  width: 100% !important;
  display: inline-block !important;
  background-color: #000 !important;
  position: relative !important;
}

.input_row {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }

  .section-searchPJ .section-searchPJ-in .searchPJContent .searchFormContent {
    display: flex !important;
    padding: 15px 15px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }

  .hover-top-shadow {
    display: none;
  }

  .position-relative .btn-slider {
    display: none !important;
  }
}

@media (min-width: 600px) and (max-width: 920px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }

  .section-ad-right {
    /* display: flex; */
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: 500px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }

  .hover-top-shadow {
    display: none;
  }

  .position-relative .btn-slider {
    display: none !important;
  }

  .section-ad-right {
    /* display: flex; */
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: 414px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }

  .overflow-hidden {
    overflow: hidden !important;
    margin-top: 2rem;
  }

  .details__inputs {
    margin-bottom: 40px;
    padding: 0px 0rem;
  }

  @media screen and (max-width: 500px) {
    .section-ad-right {
      /* display: flex; */
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0px 0px 0px 0px;
    }

    .details__inputs {
      margin-bottom: 40px;
      padding: 0px 0rem;
    }

    .besoin--title h1 {
      font-size: 1rem;
    }
  }
}

.breadcrumb span {
  cursor: pointer !important;
}

.section-ads-center {
  display: block;
  width: 100%;
  margin: 30px 0 50px 0;
  text-align: center;
}

@media screen and (width >= 300px) and (width <= 500px) {
  .parent-restaurants,
  .parent-astuces,
  .parent-cours,
  .parent-evenements-culinaire,
  .parent-compte {
    display: none;
  }

  .accueil {
    display: none;
  }

  .active__link {
    font-size: 1.2rem !important;
    font-weight: 800 !important;
    /* text-transform: uppercase !important; */
    color: #fee234 !important;
    border-bottom: none !important;
    padding: 5px;
    margin: 2px 10px;
  }

  .dropdown {
    display: inline-block !important;
    position: relative !important;
    margin-left: -100px;
    margin-right: 50px;
  }

  .container {
    width: 100% !important;
    padding-right: 1rem !important;
    padding-left: 0px;
    /* margin-right: auto; */
    /* margin-left: auto;  }*/
  }
}

@media screen and (width >= 480px) and (width <= 800px) {
  .navigation--content {
    /*background-color : red;*/
  }

  .parent-restaurants,
  .parent-astuces,
  .parent-cours,
  .parent-evenements-culinaire,
  .parent-compte {
    display: none;
  }

  .accueil {
    display: none;
  }

  .active__link {
    font-size: 1.2rem !important;
    font-weight: 800 !important;
    /* text-transform: uppercase !important; */
    color: #fee234 !important;
    border-bottom: none !important;
    padding: 5px;
    margin: 2px 10px;
  }
}

@media screen and (width >= 800px) {
  .navigation--content {
    /*background-color : gray; */
  }
  .navigation--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .accueil,
  .restaurants,
  .astuces {
    display: none;
  }

  .parent-cours,
  .parent-evenements-culinaire,
  .parent-compte {
    display: none;
  }

  .active__link {
    font-size: 1.2rem !important;
    font-weight: 800 !important;
    /* text-transform: uppercase !important; */
    color: #fee234 !important;
    border-bottom: none !important;
    padding: 5px;
    margin: 2px 10px;
  }
}

@media screen and (width >= 1080px) {
  .navigation--content {
    /*background-color : yellow;*/
  }

  .accueil,
  .restaurants,
  .astuces {
    display: block;
  }

  .parent-cours,
  .parent-evenements-culinaire,
  .parent-compte,
  .parent-astuces,
  .parent-restaurants {
    display: block;
  }

  .dropdown {
    display: none !important;
  }

  .active__link {
    font-size: 1.2rem !important;
    font-weight: 800 !important;
    /* text-transform: uppercase !important; */
    color: #fee234 !important;
    border-bottom: 6px solid #d21d3a !important;
    padding: 5px;
    margin: 2px 10px;
  }
}

form textarea {
  border: 1px solid #d21d3a;
  border-radius: -10px;
  padding: 30px;
  width: 100%;
  margin-bottom: 30px;
  min-height: 87px !important;
}

/*  */
/* .note-box .note-stars a .starPJ-on { */
/* font-weight: lighter !important; */
/* color: #FFB800 !important; */
/* font-size: 19px !important; */
/* display: inline-block !important; */
/* vertical-align: middle !important; */
/* } */

.vlt-wrapper {
  /* max-width: var(--vlt-max-width); */
  width: 100% !important;
  display: inline-block !important;
  background-color: #000 !important;
  position: relative !important;
}
