<template>
  <div>
    <nav-bar></nav-bar>
        <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>
// import navBar from '../components/partials/Navbar'
import appFooter from "../components/partials/AppFooter";
import login from "../components/Login";
import FloatingButton from "../components/FoatingButton";

export default {
  name: "App",
  components: {
    // navBar,
    appFooter,
    login,
    FloatingButton,
  },
  methods: {
    toTop: function () {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    },
  },
  created() {
    this.getUser();
  },
};
</script>

<style>
.active {
  /* font-size: 2rem !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    color: #FEE234 !important; */
  /* background-color: #FEE234  !important; */
}
</style>