<template>
  <div>
    <NavBar />
    <vue-page-transition name="fade">
      <router-view> </router-view>
    </vue-page-transition>
  </div>
</template>

<script>
import NavBar from "../components/partials/NavBar.vue";
import FloatingButton from "../components/FoatingButton.vue";

export default {
  name: "AppHome",
  components: {
    NavBar,
    FloatingButton,
  },
  data() {
    return {
      user: null,
    };
  },
  methods: {
    
  },
  created() {
    var channel = this.$pusher.subscribe("dashboard");
    console.log('out channel')

    channel.bind("user.log", ({ log }) => {
      console.log("channel >>>>>")
      console.log(`User ${log.user.name} has ${log.action} at ${log.time}`);
    });
  }
};
</script>

<style></style>
