<template>
  <div class="container">
    <dfp-slot
          path="/2760456/Abidjan_net_news_articles_ATF_top_970x90"
          :size="[
            [1000, 200],
            [970, 90],
            [728, 90],
            [468, 60],
            [320, 50],
          ]"
          id="div-gpt-ad-3238677-1"
        /> 
  </div>
</template>

<script>
import DfpSlot from '../tools/DfpSlot.vue';
export default {
  components: {
    DfpSlot
  },
};
</script>

<style lang="css" scoped></style>
