<template>
    <footer>

        <div class="mobile">

            <div class="in">

                <a href="">

                    <!-- <img src="../img/footer-mobile.png" /> -->
                    <p><em>Abidjan Mobile</em>Découvrez nos applications mobile pour iPhone ou Android et nos services
                        SMS
                    </p>

                </a>

                <a href="" class="cta sm">En savoir plus</a>

            </div>

        </div>

        <div class="social">

            <div class="in">

                <div class="left">

                    <span>Abonnez-vous à la newsletter d'Abidjan.net !</span>
                    <a href="" class="cta sm">Souscrire gratuitement</a>

                </div>

                <div class="right">

                    <div class="in">

                        <span>Suivez-nous !</span>

                        <a href="" class="social-icon facebook-prm"></a>
                        <a href="" class="social-icon twitter-prm"></a>
                        <a href="" class="social-icon rss-prm"></a>
                        <a href="" class="social-icon youtube-prm"></a>

                    </div>

                </div>

            </div>

        </div>

        <div class="network">

            <h4 class="section-title sub invert marginbottom">sur le réseau afrique</h4>

            <div class="grid3-3-2-1">

                <a href="" class="grd-item ebloc-mini invert">

                    <!-- <picture><img src="../img/tmp/placeholder_16x10.png" /></picture> -->
                    <div class="txt">
                        <span class="infos">Ministères - 15/10/2018</span>
                        <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la
                            Presse</span>
                    </div>

                </a>

                <a href="" class="grd-item ebloc-mini invert">

                    <!-- <picture><img src="../img/tmp/placeholder_16x10.png" /></picture> -->
                    <div class="txt">
                        <span class="infos">Ministères - 15/10/2018</span>
                        <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la
                            Presse</span>
                    </div>

                </a>

                <a href="" class="grd-item ebloc-mini invert">

                    <!-- <picture><img src="../img/tmp/placeholder_16x10.png" /></picture> -->
                    <div class="txt">
                        <span class="infos">Ministères - 15/10/2018</span>
                        <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la
                            Presse</span>
                    </div>

                </a>

                <a href="" class="grd-item ebloc-mini invert">

                    <!-- <picture><img src="../img/tmp/placeholder_16x10.png" /></picture> -->
                    <div class="txt">
                        <span class="infos">Ministères - 15/10/2018</span>
                        <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la
                            Presse</span>
                    </div>

                </a>

                <a href="" class="grd-item ebloc-mini invert">

                    <!-- <picture><img src="../img/tmp/placeholder_16x10.png" /></picture> -->
                    <div class="txt">
                        <span class="infos">Ministères - 15/10/2018</span>
                        <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la
                            Presse</span>
                    </div>

                </a>

                <a href="" class="grd-item ebloc-mini invert">

                    <!-- <picture><img src="../img/tmp/placeholder_16x10.png" /></picture> -->
                    <div class="txt">
                        <span class="infos">Ministères - 15/10/2018</span>
                        <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la
                            Presse</span>
                    </div>

                </a>

            </div>

        </div>


        <div class="contact">

            <div class="in">

                <div class="left">

                    <span>Comment faire de la Publicité sur Abidjan.net ?</span>
                    <a href="" class="cta sm invert">Contactez-nous</a>

                </div>

                <div class="right">

                    <div class="in">

                        <!-- <a href=""><img src="../img/weblogy-w.png" /></a> -->
                        <span>Copyright © 1998-2018 Weblogy Group Ltd. Tous droits réservés</span>

                    </div>

                </div>

            </div>

        </div>

    </footer>
</template>

<script>
    export default {

    }
</script>

<style scoped>

</style>
