<template>
  <div class="sub-content" style="margin-top: 120px !important">
    <!-- top nav -->
    <!-- navbar -->
    <span class="cover"></span>

    <div class="navigation">
      <div>
        <div class="navigation--content">
          <div class="menu">
            <ul class="list">
              <router-link
                v-for="item in items"
                :key="item.title"
                :to="item.to"
                class="router_link"
              >
                <li
                  class="list--item"
                  :class="`parent-${item.slug}`"
                  v-if="item.show"
                >
                  <a class="list--item__link"> {{ item.title }} </a>
                </li>
              </router-link>

              <label class="dropdown_btn">
                <div class="dd-button">
                  <span class="plus_btn">Plus</span>
                </div>
                <input type="checkbox" class="dd-input" id="test" />
                <ul class="dd-menu">
                  <router-link
                    v-for="item in items"
                    :key="item.title"
                    :to="item.to"
                  >
                    <li :class="item.slug" v-if="item.show">
                      <a href="#">{{ item.title }}</a>
                    </li>
                  </router-link>
                </ul>
              </label>
            </ul>
          </div>
          <a
            class="list--item__link"
            @click="$router.push({ name: 'PostRecipe' })"
            v-show="!($route.name == 'PostRecipe')"
          >
            <button class="cta recipe_btn">Publier Recette</button>
            <!-- <button class="btn--site">Publier Recette</button> -->
          </a>

          <!-- 
                      <div class="box-user" v-show="logged">
                          <div class="userIcon">
                              <img src="" alt="user" @error="replaceByDefault">
  
                          </div>
                          <span>{{ fullName | strLimit(15)}} </span>
                          <i class="fas fa-caret-down"></i>
  
                          
                          <div class="sub-menu">
                              <ul>
                                  <router-link to="/tableau-de-bord">
                                      <li>
                                          <a>Compte</a>
                                      </li>
                                  </router-link>
  
                                  <router-link to="/logout">
                                      <li>
                                          <a>Se déconnecter</a>
                                      </li>
                                  </router-link>
                              </ul>
                          </div>
                      </div> -->
          <!-- 
                <a class="list--item__link" @click="$router.push('logout')">
                    <button class="btn--site">
                        <i class="fa fa-logout"></i>
                    </button>
                </a> 
            -->

          <div class="iconeMenu">
            <img src="svg/menu.svg" alt="menu" @error="replaceByDefault" />
          </div>
        </div>

        <!-- 
            <div class="navbar-responsive">
                <div class="menu">
                  <ul class="list_responsive">
                    <router-link
                      v-for="item in items"
                      :key="item.title"
                      :to="item.to"
                      class="router_link"
                    >
                      <li class="list--item" v-if="item.show">
                        <a class="list--item__link"> {{ item.title }} </a>
                      </li>
                    </router-link>
                  </ul>
                </div>
            </div> 
          -->
      </div>
    </div>
    <!-- fin navbar -->
  </div>
</template>

<script>
import AppStorage from "../../utils/AppStorage.js";

export default {
  data() {
    return {
      items: [
        {
          title: "Cuisine",
          to: "/accueil",
          show: true,
          class: "active__link",
          slug: "accueil",
        },
        {
          title: "Restaurants",
          to: "/restaurants",
          show: true,
          class: "",
          slug: "restaurants",
        },
        {
          title: "Astuces",
          to: "/astuces-culinaire",
          show: true,
          class: "",
          slug: "astuces",
        },
        {
          title: "Cours",
          to: "/cours-de-cuisines",
          show: true,
          class: "",
          slug: "cours",
        },
        {
          title: "Événements",
          to: "/evenements-culinaire",
          show: true,
          class: "",
          slug: "evenements-culinaire",
        },
        {
          title: "Compte",
          to: "/tableau-de-bord",
          show: User.loggIn(),
          class: "",
          slug: "compte",
        },
        // { title: "Déconnexion", to: "/logout", show: User.loggIn(), class: "" },
        // {
        //   title: "Se Connecter",
        //   to: "/se-connecter",
        //   show: !User.loggIn(),
        //   class: "",
        // },
        /* { title: "Déconnexion", to: '/logout', show: User.loggIn() }  */
        // { title: "Photos", to: '/photos', show: true },
        // { title: "Albums", to: '/albums', show: true },
        // { title: "Tableau de Bord", to: '/tableau-de-bord', show: User.loggIn() },
        // { title: "Compte", to: '/tableau-de-bord', show: User.loggIn() },
        // { title: "S'inscrire", to: '/s-inscrire', show: !User.loggIn() },
      ],
      logged: User.loggIn(),
      // fullName: AppStorage.getFullName(),
    };
  },
  created() {
    EventBus.$on("logout", () => {
      // this.$loading(true)
      AppStorage.deleteAllCookies();
      User.logout();
      this.$toast.info("Déconnexion éffectué. Super ! ✔️");
      // this.$loading(false)
    });

    EventBus.$on("login", () => {
      // let previewRouteName = AppStorage.getPreviewPageName();
      let previewRoutePath = AppStorage?.getPreviewRoutePath();

      console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Path");
      console.log(previewRoutePath);
      console.log(typeof previewRoutePath);

      this.logged = true;

      this.items = [
        { title: "Cuisine", to: "/accueil", show: true, class: "" },
        { title: "Restaurants", to: "/restaurants", show: true, class: "" },
        {
          title: "Astuces",
          to: "/astuces-culinaire",
          show: User.loggIn(),
          class: "",
        },
        { title: "Cours", to: "/cours-de-cuisines", show: true, class: "" },
        {
          title: "Événements",
          to: "/evenements-culinaire",
          show: true,
          class: "",
        },
        {
          title: "Compte",
          to: "/tableau-de-bord",
          show: true,
          class: "",
        },
        /*  {
                title: "Se Connecter",
                to: "/se-connecter",
                show: !User.loggIn(),
                class: "",
              }, */
        /*  {
                title: "Déconnexion",
                to: "/logout",
                show: User.loggIn(),
                class: "",
              }, */
        /* {
              title: "S'inscrire",
              to: "/s-inscrire",
              show: !User.loggIn(),
              class: "",
            }, 
            */
        // { title: "Photos", to: '/photos', show: true },
        // { title: "Albums", to: '/albums', show: true },
        // { title : "Mes Recettes", to: '/recettes', show : User.loggIn() },
      ];

      this.$loading(true);

      if (
        previewRoutePath == null ||
        typeof previewRoutePath == undefined ||
        previewRoutePath == ""
      ) {
        this.$router.push({ path: "/tableau-de-bord" });
      } else {
        this.$router.push(previewRoutePath);
      }

      this.$loading(false);

      window.location.reload();
    });

    EventBus.$on("upateUserProfil", (fname) => {
      this.fullName = fname;
    });

    EventBus.$on("login_page", () => {
      // this.$toast.info("Veuillez vous connectez s'il vous plait");
      // let routePath = this.$route.fullPath;
      // AppStorage.setPreviewRoutePath(routePath);
      // AppStorage.setOrderingDish(this.orderingDish);
      AppStorage.clearSoft();
      // this.$router.push({ name: "Login" });
    });
  },
  methods: {
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
};
</script>

<style scoped>
.plus_btn {
  font-weight: 800;
}
.active__link {
  font-size: 1.2rem !important;
  font-weight: 800 !important;
  /* text-transform: uppercase !important; */
  color: #fee234 !important;
  border-bottom: 6px solid #d21d3a;
  padding: 5px;
  margin: 2px;
}
.dd-menu .active__link {
  font-size: 1.2rem !important;
  font-weight: 800 !important;
  /* text-transform: uppercase !important; */
  color: #fee234 !important;
  border-bottom: none !important;
  padding: 0px;
  margin: 0px;
}

.btn--site {
  padding: 1rem 2rem;
  text-align: center;
  border: 2px solid #dbd8dc;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  color: #d21d3a;
  font-weight: bold;
}

.btn--site:hover {
  border: 2px solid #ffb800;
  color: #ffb800;
}

.router_link {
  margin-right: 15px;
  margin-left: 15px;
  color: yellow;
}

.cta {
  background-color: #fff;
  padding: 1rem 2rem;
}
.cta:hover {
  background-color: #d21d3a;
  padding: 1rem 2rem;
}

.topNav {
  background-color: #0045a3;
  padding: 1rem 0;
}

.topNav--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topNav--content .reseau {
  display: flex;
  align-items: center;
}

.topNav--content .reseau a {
  display: inline-block;
}

.topNav--content .reseau a .fa {
  color: #fff;
}

.topNav--content .reseau a:not(:last-child) {
  margin-right: 2rem;
}

.topNav--content .box-log a {
  color: #fff;
}

@media only screen and (max-width: 36em) {
  .topNav--content .box-log a {
    font-size: 1.3rem;
  }
}

.topNav--content .box-log .bar {
  position: relative;
  padding: 0 1rem;
  display: inline-block;
}

.topNav--content .box-log .bar::after {
  content: "";
  height: 20px;
  width: 3px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -70%);
  border-radius: 0.3rem;
}

@media only screen and (max-width: 36em) {
  .topNav--content .box-log .bar::after {
    width: 2px;
  }
}

@media only screen and (max-width: 48em) {
  .cover {
    background-color: rgba(228, 251, 255, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 997;
    transition: all 0.3s;
  }
}

.cover-active {
  right: 0;
}

.navigation {
  background-color: #fff;
  padding: 1.5rem 0;
  margin-left: -11px;
  /* box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08); */
}

.navigation--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation--content .logo {
  color: #0f0f0f;
  font-weight: 800;
  font-size: 2.5rem;
}

.navigation--content .menu-active {
  right: 0;
}

.navigation--content .menu .list {
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin-bottom: 0;
}

.navigation--content .menu .list--item {
  position: relative;
}

.navigation--content .menu .list--item:not(:last-child) {
  margin-right: 3rem;
}

.navigation--content .menu .list--item__link {
  color: #d21d3a;
  color: #0f0f0f;
  transition: all 0.3s;
  display: flex;
  font-weight: 800;
  align-items: center;
}

.list_item_link_active {
  color: #b9b9b9;
  color: #ffb800;
}

.navigation--content .menu .list--item__link .fa {
  margin-left: 1rem;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.navigation--content .menu .list--item__link:hover {
  color: #ffb800;
}

.navigation--content .menu .list--item__link.active {
  color: #ffb800;
}

.navigation--content .iconeMenu {
  height: 3rem;
  width: 3rem;
  display: none;
  z-index: 999;
}

.menu {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 48em) {
  .menu {
    display: block;
  }
}

.box-user {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  position: relative;
}

.box-user .userIcon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.box-user .userIcon img {
  height: 100%;
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}

.box-user span {
  padding: 0 1rem;
}

.box-user .sub-menu {
  min-height: 5rem;
  width: 15rem;
  background-color: #d21d3a;
  border-radius: 4px;
  position: absolute;
  top: 8rem;
  z-index: 111111111111111;
  padding: 1rem;
  box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.22);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.box-user .sub-menu ul {
  display: block;
  padding-left: 0;
}

.box-user .sub-menu ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.box-user .sub-menu ul li:hover .arrow {
  transform: scale(0.8);
}

.box-user .sub-menu ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.box-user .sub-menu ul li a {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.box-user .sub-menu ul li {
  color: #d21d3a;
}

.box-user .sub-menu ul li:hover {
  color: #d21d3a;
}

.box-user:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  top: 3.8rem;
}

/* SECOND MENU DROPDOWN */
.dropdown_btn {
  display: inline-block !important;
  position: relative !important;
}

.dd-button {
  display: inline-block !important;
  /* border: 1px solid gray !important; */
  border-radius: 4px !important;
  padding: 10px 30px 10px 20px !important;
  background-color: #ffffff !important;
  cursor: pointer !important;
  white-space: nowrap !important;
}

.dd-button:after {
  content: "";
  position: absolute !important;
  top: 50% !important;
  right: 15px !important;
  transform: translateY(-50%) !important;
  width: 0 !important;
  height: 0 !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-top: 5px solid black !important;
}

.dd-button:hover {
  background-color: #eeeeee !important;
}

.dd-input {
  display: none !important;
}

.dd-menu {
  position: absolute !important;
  top: 100% !important;
  /* border: 1px solid #ccc !important; */
  border-radius: 4px !important;
  padding: 0 !important;
  margin: 2px 0 0 !important;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1) !important;
  background-color: #ffffff !important;
  list-style-type: none !important;
  z-index: 6;
}

.dd-input + .dd-menu {
  display: none !important;
}

.dd-input:checked + .dd-menu {
  display: block !important;
}

.dd-menu li {
  padding: 10px 20px !important;
  cursor: pointer !important;
  white-space: nowrap !important;
  color: #fff !important;
}

.dd-menu li:hover {
  background-color: #fff !important;
  color: #101010 !important;
}

.dd-menu li a {
  display: block !important;
  margin: -10px -20px !important;
  padding: 10px 20px !important;
}

.dd-menu li.divider {
  padding: 0 !important;
  border-bottom: 1px solid #cccccc !important;
}
.current-dropdown-button {
  border-bottom: 6px solid #d21d3a !important;
}
/*END SECOND MENU DROPDOWN */

/*@media screen and (width >= 300px) and (width <= 500px)
@media (min-width: 600px) and (max-width: 768px)*/
@media screen and (min-width: 300px) and (max-width: 500px) {
  .position-relative .btn-slider {
    display: none !important;
  }
  .parent-restaurants,
  .parent-astuces,
  .parent-cours,
  .parent-evenements-culinaire,
  .parent-compte {
    display: none;
  }

  .accueil {
    display: none;
  }

  .active__link {
    font-size: 1.2rem !important;
    font-weight: 800 !important;
    /* text-transform: uppercase !important; */
    color: #fee234 !important;
    border-bottom: none !important;
    padding: 5px;
    margin: 2px 10px;
  }

  .dropdown_btn {
    display: inline-block !important;
    position: relative !important;
    margin-left: -100px;
    margin-right: 50px;
  }

  .container {
    width: 100% !important;
    padding-right: 1rem !important;
    padding-left: 0px;
    /* margin-right: auto; */
    /* margin-left: auto;  }*/
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
}

/*@media screen and (width >= 480px) and (width <= 800px)*/
@media screen and (min-width: 480px) and (max-width: 800px) {
  .position-relative .btn-slider {
    display: none !important;
  }

  .navigation--content {
    /*background-color : red;*/
  }

  .parent-restaurants,
  .parent-astuces,
  .parent-cours,
  .parent-evenements-culinaire,
  .parent-compte {
    display: none;
  }

  .accueil {
    display: none;
  }

  .active__link {
    font-size: 1.2rem !important;
    font-weight: 800 !important;
    /* text-transform: uppercase !important; */
    color: #fee234 !important;
    border-bottom: none !important;
    padding: 5px;
    margin: 2px 10px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
}

/*@media screen and (width >= 800px)*/
@media (min-width: 600px) {
  .position-relative .btn-slider {
    display: none !important;
  }

  .navigation--content {
    /*background-color : gray; */
  }
  .navigation--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .accueil,
  .restaurants,
  .astuces {
    display: none;
  }

  .parent-cours,
  .parent-evenements-culinaire,
  .parent-compte {
    display: none;
  }

  .active__link {
    font-size: 1.2rem !important;
    font-weight: 800 !important;
    /* text-transform: uppercase !important; */
    color: #fee234 !important;
    border-bottom: none !important;
    padding: 5px;
    margin: 2px 10px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
}

/*@media screen and (width >= 1080px)*/
@media (min-width: 1080px) {
  .navigation--content {
    /*background-color : yellow;*/
  }

  .accueil,
  .restaurants,
  .astuces {
    display: block;
  }

  .parent-cours,
  .parent-evenements-culinaire,
  .parent-compte,
  .parent-astuces,
  .parent-restaurants {
    display: block;
  }

  .dropdown_btn {
    display: none !important;
  }

  .active__link {
    font-size: 1.2rem !important;
    font-weight: 800 !important;
    /* text-transform: uppercase !important; */
    color: #fee234 !important;
    border-bottom: 6px solid #d21d3a !important;
    padding: 5px;
    margin: 2px 10px;
  }
}
</style>
