<template>
  <div class="control-overflow">
    <ul class="pager" v-if="pagination_data?.pages_count >= 2">
      <li
        @click="getElements(pagination_data.current_page - 1)"
        :class="{ disabled: pagination_data.current_page == 1 }"
      >
        <span> « </span>
      </li>
      <li
        class="active"
        v-for="(item, key) in pagination_data.pages_count"
        :class="{ 'my-active': pagination_data.current_page == key + 1 }"
        :key="key"
      >
        <div
          v-if="
            pagination_data.current_page >=
              pagination_data.pages_count - takeElements &&
            pagination_data.pages_count > 1
          "
        >
          <!-- if  -->
          <span
            @click="getElements(key + 1)"
            v-if="
              key + 1 > pagination_data.pages_count - takeElements ||
              key + 1 <= takeElements
            "
          >
            {{ key + 1 }}
          </span>

          <span v-if="key + 1 == takeElements">
            <!-- if  -->
            ...
          </span>
        </div>

        <div
          v-else-if="
            takeElements != pagination_data.current_page &&
            pagination_data.current_page < takeElements &&
            pagination_data.pages_count > 1
          "
        >
          <!-- else-if -->
          <span
            @click="getElements(key + 1)"
            v-if="
              key + 1 >= pagination_data.pages_count - takeElements ||
              (key + 1 <= pagination_data.pages_count && key + 1 <= takeElements)
            "
          >
            {{ key + 1 }}
          </span>

          <span v-if="key + 1 == takeElements">
            <!-- else if -->
            ...
          </span>
        </div>

        <div v-else>
          <!-- else -->
          <span
            @click="getElements(key + 1)"
            v-if="
              (
                key + 1 <= pagination_data.current_page + takeElements 
                &&
                key + 1 >= pagination_data.current_page
              ) 
              ||
              (
                key + 1 >= pagination_data.pages_count - takeElements 
                &&
                key + 1 >= pagination_data.current_page
              ) 
              ||
              (
                key + 1 >= pagination_data.current_page 
                &&
                key >= pagination_data.pages_count - takeElements
              )
            "
          >
            {{ key + 1 }}
          </span>
          
          <span v-if="(key+1) == takeElements + 4">
            ...
          </span>

        </div>
      </li>

      <li
        @click="getElements(pagination_data.current_page + 1)"
        :class="{
          disabled: pagination_data.current_page == pagination_data.pages_count,
        }"
      >
        <span> » </span>
      </li>
    </ul>
  </div>
  <!-- 
    <div class="Zebra_Pagination">
      <ul class="pagination">
          <li class="page-item disabled"><a href="javascript:void(0)" class="page-link" rel="prev">«</a></li>
          <li class="page-item active"><a href="/pages-jaunes/rechercher/la" class="page-link">001</a></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=2" class="page-link">002</a></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=3" class="page-link">003</a></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=4" class="page-link">004</a></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=5" class="page-link">005</a></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=6" class="page-link">006</a></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=7" class="page-link">007</a></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=8" class="page-link">008</a></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=9" class="page-link">009</a></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=10" class="page-link">010</a></li>
          <li class="page-item"><span class="page-link">…</span></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=139" class="page-link">139</a></li>
          <li class="page-item"><a href="/pages-jaunes/rechercher/la?page=2" class="page-link" rel="next">»</a>
          </li>
      </ul>
    </div> 
  -->
</template>

<script>
export default {
  props: ["pagination_data", "action_name"],
  data() {
    return {
      id: null,
      form: {
        page: 1,
        per_page: 6,
      },
      takeElements: 6,
    };
  },
  methods: {
    getPageCategory(page) {
      this.form.page = page;
      console.log(this.form);
      axios
        .post(`get-recipes-by-type/${this.id}`, this.form)
        .then((res) => {
          EventBus.$emit("get_recipes_list", res.data);
          console.log("Pagination Datas >>>>>>>>>");
        })
        .catch((error) => {
          console.log(">>>>>RecipeByType Error");
          console.log(error.response);
        });
    },
    getRecipes(page) {
      this.form.page = page;
      const recipes = async () => {
        // this.$loading(true)
        await axios
          .post("get-recipes", this.form)
          .then((res) => {
            console.log("Pagination Datas Accueil >>>>>>>>>");

            if(res.status == 200){
              EventBus.$emit("get_recipes_list",res.data);
            }

          })
          .catch((error) => {
            console.log(">>>>>>> Error Recipes >>>>>>");
            console.log(error.response);
            // this.$toast.info('Votre session a expiré')
            // User.logout()
          })
          .finally(() => {
            // this.$loading(false)
          });
      };
      recipes();
    },
    getResto(page) {
      this.form.page = page;
      this.form.per_page = 4;
      const restaurants = async () => {
        await axios
          .post("get-restaurants", this.form)
          .then((res) => {
            console.log("Pagination Resto Datas Accueil >>>>>>>>>");
            EventBus.$emit("get_restaurants_list", res.data);
          })
          .catch((error) => {
            console.log(">>>>>>> Error Recipes >>>>>>");
            console.log(error.response);
            // this.$toast.info('Votre session a expiré')
            // User.logout()
          })
          .finally(() => {
            // this.$loading(false)
          });
      };
      restaurants();
    },
    getElements(params) {
      console.log("{Paginator >->}");
      if (this.action_name == "get_recipe_list_action") {
        this.getRecipes(params);
      } else if (this.action_name == "get_recipe_category_action") {
        console.log("getPageCategory >->");
        this.getPageCategory(params);
      } else if (this.action_name == "get_restaurant_list_action") {
        console.log("getResto >->");
        this.getResto(params);
      }
    },
  },
  created() {
    this.id = this.$route.params.slug;
  },
};
</script>

<style scoped>
.pager_container {
  display: flex;
  justify-content: center;
}
.pager {
  display: flex;
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
  cursor: pointer;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  position: relative;
  display: block;
  display: inline-block;
  /* padding: 0.5rem 0.75rem; */
  margin-left: -1px;
  /* line-height: 1.25; */
  color: #101010;
  font-weight: 100;
  background-color: #fff;
  border: 1px solid #dee2e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
}



.pager li div > span {
  position: relative;
  display: block;
  display: inline-block;
  /* padding: 0.5rem 0.75rem; */
  margin-left: -1px;
  /* line-height: 1.25; */
  color: #101010;
  font-weight: 100;
  background-color: #fff;
  border: 1px solid #dee2e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
}

.pager li > a:focus,
.pager li > a:hover {
  text-decoration: none;
  background-color: #eee;
  cursor: pointer;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:focus,
.pager .disabled > a:hover,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
.my-active span {
  background-color: #d21d3a !important;
  color: white !important;
  border-color: #d21d3a !important;
}
.pager:after,
.pager:before {
  display: table;
  content: " ";
}
.pager:after {
  clear: both;
}
.control-overflow {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  max-width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
/* -------------------------------------------------------------------------- */
/*                              Zebra Pagination                              */
/* -------------------------------------------------------------------------- */
/**
p a {
border: 1px solid #000;
padding: 0 4px;
border-radius: 5px
}
p a:hover,
p a.active {
color: #000;
background: #ffeebc;
text-decoration: none
}
h2,
p {
text-align: center;
}
code {
padding: 2px 4px;
font-size: 90%;
color: #c7254e;
background-color: #f9f2f4;
border-radius: 4px
}
table.countries {
width: 400px;
border: 1px solid #AAA;
margin-bottom: 20px;
border-collapse: collapse;
margin: 50px auto
}
table.countries tr.even {
background: #EFEFEF
}
table.countries th {
background: #222;
color: #FFF;
font-weight: bold
}
table.countries td,
table.countries th {
padding: 4px
}
table.countries td:hover {
background: #FFFFCC
}
.pagination {
justify-content: center;
} **/
</style>
