<template>
    <div class="sub-content">
        <section id="testimonial">
            <h5 class="fw-bold lh-sm text-center text-lg-start lh-sm section_titre"> Restaurants </h5>
            
            <div class="row h-100" v-if="restaurants_data != null && restaurants_data != []">
                <RestaurantItem  v-for="item in restaurants_data" :restaurant_data="item"
                    :key="item.id" />
                <slot name="pagination">

                </slot>
            </div>

            <div  class="no_resto" v-else>
                <p class="fs-1 text-center">
                    Pas de restaurants disponible
                </p>
            </div>
            
        </section>
        <div class="divider">

        </div>
    </div>
</template>

<script>
import RestaurantItem from "./_partials/RestaurantItem.vue"

export default {
    props: ['restaurants_data', 'pagination_datas'],
    components: {
        RestaurantItem
    }
}
</script>

<style scoped>
.section_titre {
    /*margin-top: 5%;*/
    font-size: 30px;
    color: #000;
    color: #D21D3A;
    color: #101010;
    font-weight: 700;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
}
</style>