<template>
  <div>
    <div class="grd-item mb-2">
      <a
          href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
          target="_blank"
          class="pub-label"
          >PUBLICITÉ
          <i class="fas fa-info-circle"></i
        >
        </a>
      <dfp-slot path="/2760456/Abidjan_net_news_articles_ATF_top_970x90"
        :size="[[1000,200]]" id="div-gpt-ad-3238677-1"/>
    </div>

    <banner>
      <template #title>
        <h2>Vos Restaurants Préférés</h2>
      </template>

      <template #image>
        <a class="img-landing-banner" href="#!">
          <!-- <img class="img-fluid" src="_themes/assets/img/gallery/crispy-sandwiches.png" alt="hero-header" /> -->
        </a>
      </template>

      <template #search_bar>
        <RestaurantsSearchBar />
      </template>
    </banner>

    <div class="content">
      <section class="breadcrumb line-top">
        <a href="https://www.abidjan.net/">Accueil</a>
        <span @click="$router.push({ name: 'Login' })" > Cuisine </span>
        <span>Restaurants </span>
      </section>
    </div>

    <RestaurantsList
      v-if="restaurants_result != null"
      :restaurants_data="restaurants_result"
    />
    <RestaurantsList :restaurants_data="restaurants" v-else/>
    <!-- v-if="restaurants != null" -->

    <div class="grd-item mt-3">
			<a
				href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
				target="_blank"
				class="pub-label"
				>PUBLICITÉ
				<i class="fas fa-info-circle"></i
			>
			</a>
		
		  <div>
			<!-- [728,90],[468,60],[320,50]] -->
			<dfp-slot path="/2760456/Abidjan_net_news_articles_BTF_Bottom_970x90"
				:size="[[970,90]]" id="div-gpt-ad-3238677-3"/>
		</div>
	  </div>

    <FloatingButtonRVue>  </FloatingButtonRVue>
  </div>
</template>
<script>
import Banner from "../accueil/_partials/Banner.vue";
import RecipeList from "../accueil/_partials/RecipeList.vue";
import RestaurantsList from "../restaurant/RestaurantsList.vue";
import RestaurantsSearchBar from "../restaurant/_partials/RestaurantsSearchBar.vue";
import DfpSlot from "../../tools/DfpSlot.vue";
import FloatingButtonRVue from './_partials/FloatingButtonR.vue';

export default {
  metaInfo: {
    title: "Restaurants",
    titleTemplate: "%s | Cuisine.abidjan.net",
    htmlAttrs: {
      lang: "en-US",
    },
    meta: [
      { charset: "utf-8" },
      {
        name: "Nos retaurants disponible",
        content: "Cuisine, Recettes, Retaurants, ",
      },
    ],
  },
  components: { Banner, RecipeList, RestaurantsList, RestaurantsSearchBar, DfpSlot, FloatingButtonRVue },
  data() {
    return {  
      recipes: null,
      foundedItemsAuto: null,
      restaurants: null,
      restaurants_result: null,
      form: {
        page: 1,
        per_page: 8,
      },
    };
  },
  methods: {
    getRecipes() {
      const recipes = async () => {
        // this.$loading(true)
        await axios
          .post("get-recipes")
          .then((res) => {
            console.log(">>>>>>>Recipe");
            console.log(res);
            this.recipes = res.data.data;
          })
          .catch((error) => {
            // console.log(">>>>>>> Error Recipes >>>>>>")
            // console.log(error.response)
            // this.$toast.info('Votre session a expiré')
            // User.logout()
          })
          .finally(() => {
            // this.$loading(false)
          });
      };

      recipes();
    },
    getRestaurants() {
      const restaurants = async () => {
        this.$loading(true)

        await axios
          .post("get-restaurants", this.form)
          .then((res) => {
            console.log(">>>>>>>Restaurants Worked");
            console.log(res);
            this.restaurants = res.data.data;
          })
          .catch((error) => {
            console.log(">>>>>>> Error Restaurant >>>>>>");
            // console.log(error.response)
            // this.$toast.info('Votre session a expiré')
            // User.logout()
          })
          .finally(() => {
            this.$loading(false)
          });
      };

      restaurants();
    },
  },
  created() {
      this.getRecipes()
      this.getRestaurants()
      EventBus.$on("search_restaurant_auto", (data) => {
        this.restaurants_result = data;
      });
  },
};
</script>

<style scoped>
#home {
  padding: 0px 60px 0px 60px !important;
}

#home {
  /*max-height: 65vh;*/
  background-image: url("../../../../../public/images_banners/restaurant-interior.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  object-fit: cover;
}

.no_resto {
  margin-top: 50px;
}


</style>
