<template>
  <div>
    <!-- <RestaurantBanner
      :restaurant_data="restaurant"
      :dishes_data="restaurant?.dishes"
    >
    </RestaurantBanner> -->
    <div class="content">
      <div class="sub-content">
        <!-- breadcrumb -->
        <section class="breadcrumb line-top">
          <a href="https://www.abidjan.net">Accueil</a>
          <span @click="$router.push({ name: 'Accueil' })">Cuisine</span>
          <span
            @click="$router.push({ name: 'Restaurants' })"
            style="cursor: pointer"
            >Restaurants</span>
          <span> {{ restaurant?.name }}</span>
        </section>
        <!--End breadcrumb -->

        <div>
          <section class="section-ad-right">
            <div class="grd-item">
              <div class="grid2">
                <div class="grd-item">
                  <h4 class="in-section-title">Les coordonnées</h4>
                  <h5 class="txt-detail-title-gray">adresse</h5>
                  <span class="txt-detail">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ restaurant?.city }}
                  </span>

                  <h5 class="txt-detail-title-gray">Horaire</h5>
                  <span class="txt-detail">
                    <i class="fas fa-home"></i>
                    {{ restaurant?.scheduleStart }} -
                    {{ restaurant?.scheduleEnd }}
                  </span>

                  <h5 class="txt-detail-title-gray">Téléphone</h5>
                  <span class="txt-detail">
                    <a href="tel:05  05 58 51 51" class="list-box-btn phone"
                      ><svg
                        class="svg-inline--fa fa-phone fa-w-16"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fa"
                        data-icon="phone"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                        ></path></svg
                      ><!-- <i class="fa fa-phone" aria-hidden="true"></i> -->
                      {{ restaurant?.phone }}
                    </a>
                    <div class="displayBlock"></div>
                  </span>

                  <h5 class="txt-detail-title-gray">Réseaux sociaux</h5>
                  <div class="social-space">
                    <a href="" target="_blank"
                      ><svg
                        class="svg-inline--fa fa-facebook-f fa-w-10"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="facebook-f"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                        ></path></svg
                      ><!-- <i class="fab fa-facebook-f"></i> --></a
                    >
                  </div>
                </div>

                <div class="grd-item">
                  <h4 class="in-section-title">Résumé des avis</h4>
                  <div class="note-box">
                    <div class="note-give">
                      <strong>
                        {{
                          restaurant?.rateAverage != null &&
                          restaurant?.rateAverage != ""
                            ? restaurant?.rateAverage
                            : "-"
                        }}
                      </strong>
                      <span class="note-value">/5</span>
                    </div>
                    <!-- <div class="note-mention">
                      <a
                        href="#"
                        class="note-nb"
                        aria-haspopup="dialog"
                        aria-controls="dialog"
                        >Soyez le premier à donner votre avis</a
                      >
                    </div> -->

                    <div class="note-stars">
                      <a
                        href="#"
                        @click.prevent="rateRestaurant(1)"
                        aria-haspopup="dialog"
                        aria-controls="dialog"
                      >
                        <svg
                          class="svg-inline--fa fa-star fa-w-18"
                          :class="
                            restaurant?.rateAverage >= 1
                              ? 'starPJ-on'
                              : 'starPJ-off'
                          "
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="far"
                          data-icon="star"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                          data-fa-i2svg=""
                        >
                          <path
                            fill="currentColor"
                            d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"
                          ></path>
                        </svg>
                      </a>

                      <a
                        href="#"
                        @click.prevent="rateRestaurant(2)"
                        aria-haspopup="dialog"
                        aria-controls="dialog"
                      >
                        <svg
                          class="svg-inline--fa fa-star fa-w-18"
                          :class="
                            restaurant?.rateAverage >= 2
                              ? 'starPJ-on'
                              : 'starPJ-off'
                          "
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="far"
                          data-icon="star"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                          data-fa-i2svg=""
                        >
                          <path
                            fill="currentColor"
                            d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"
                          ></path>
                        </svg>
                      </a>

                      <a
                        href="#"
                        @click.prevent="rateRestaurant(3)"
                        aria-haspopup="dialog"
                        aria-controls="dialog"
                      >
                        <svg
                          class="svg-inline--fa fa-star fa-w-18"
                          :class="
                            restaurant?.rateAverage >= 3
                              ? 'starPJ-on'
                              : 'starPJ-off'
                          "
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="far"
                          data-icon="star"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                          data-fa-i2svg=""
                        >
                          <path
                            fill="currentColor"
                            d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"
                          ></path>
                        </svg>
                      </a>

                      <a
                        href="#"
                        @click.prevent="rateRestaurant(4)"
                        aria-haspopup="dialog"
                        aria-controls="dialog"
                      >
                        <svg
                          class="svg-inline--fa fa-star fa-w-18"
                          :class="
                            restaurant?.rateAverage >= 4
                              ? 'starPJ-on'
                              : 'starPJ-off'
                          "
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="far"
                          data-icon="star"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                          data-fa-i2svg=""
                        >
                          <path
                            fill="currentColor"
                            d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"
                          ></path>
                        </svg>
                      </a>

                      <a
                        href="#"
                        @click.prevent="rateRestaurant(5)"
                        aria-haspopup="dialog"
                        aria-controls="dialog"
                        ><svg
                          class="svg-inline--fa fa-star fa-w-18"
                          :class="
                            restaurant?.rateAverage >= 5
                              ? 'starPJ-on'
                              : 'starPJ-off'
                          "
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="far"
                          data-icon="star"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                          data-fa-i2svg=""
                        >
                          <path
                            fill="currentColor"
                            d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"
                          ></path></svg
                      ></a>
                    </div>

                    <div class="note-post js-document">
                      <a
                        href="#"
                        class="list-box-btn"
                        aria-haspopup="dialog"
                        aria-controls="dialog"
                        @click="commingSoon"
                        ><svg
                          class="svg-inline--fa fa-edit fa-w-18"
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="far"
                          data-icon="edit"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                          data-fa-i2svg=""
                          
                        >
                          <path
                            fill="currentColor"
                            d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"
                          ></path></svg
                        ><!-- <i class="far fa-edit"></i> -->
                        Donnez votre avis</a
                      >
                    </div>

                  </div>
                </div>
              </div>

              <div class="inner-section">
                <h4 class="in-section-title">Présentation</h4>
                <p></p>
                <p>
                  {{ restaurant?.description }}
                </p>
              </div>

              <div class="inner-section">
                <div class="d-flex justify-content-start p-3">
                  <CoolLightBox
                    :items="items"
                    :index="index"
                    @close="index = null"
                  >
                  </CoolLightBox>

                  <div class="images-wrapper">
                    <div
                      class="image"
                      v-for="(image, imageIndex) in items"
                      :key="imageIndex"
                      @click="index = imageIndex"
                      :style="{ backgroundImage: 'url(' + image.thumb + ')' }"
                    ></div>
                  </div>
                </div>
              </div>

              <!-------------------- DEBUT FILIALE ------------------------->
              <!-------------------- FINFILIALE ------------------------->

              <!---/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////FIN CONTENT	-->
            </div>
            <aside>
              <div class="in">
                <div class="bloc-pub">
                  <!-- SECTION BANNER HORIZ -->
                  <section class="section-ads-center">
                    <div class="grd-item">
                      <a
                        href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
                        target="_blank"
                        class="pub-label"
                      >
                        PUBLICITÉ
                        <i class="fas fa-info-circle"></i>
                      </a>

                      <div>
                        <dfp-slot-right
                          path="/2760456/Abidjan_net_news_articles_ATF_right_300x600"
                          :size="[[300, 600]]"
                          id="div-gpt-ad-3238677-2"
                        />
                      </div>
                      <!-- End AdSlot 2 -->
                    </div>
                  </section>
                </div>
              </div>
              <div class="clearBoth"></div>
            </aside>
          </section>
        </div>

        <!-- Specialités -->
        <div class="container"  v-if="this.restaurant?.dishes">
          <!--
            <h5 class="in-section-title mt-5">Nos Specialités</h5>
            <div id="features" class="text-center">
              <dish-list :dishes_data="dishes"></dish-list>
            </div> 
          -->
          <OrderCard
            v-if="dishes.length >= 1 && (orderingDish != null || orderingDish != []) "
            :dishes_added="orderingDish"
            :restaurant_data="restaurant"
          >
          </OrderCard>
        </div>

        <!-- Menu -->
        <div class="menu" v-if="dishes">
          <h5 class="in-section-title mt-5">Menu</h5>

          <p class="pb-3 info mb-2">
            <i class="fa fa-info"> </i> Cliquez sur l'image pour commander
          </p>

          <div class="tags_container">
            <div
              class="dish_type"
              @click="getDishFromFilter"
              :class="{ active_tag: activeItem == null }"
            >
              Tous
            </div>

            <div
              class="dish_type"
              v-for="(item, i) in dishTypes"
              :key="i"
              @click="getDishByType(item.id, restaurant.id, i)"
              :class="{ active_tag: i == activeItem }"
            >
              {{ item?.name }}
            </div>
          </div>

          <div class="dish__container">
            <div id="features" class="text-center">
              <dish-list :dishes_data="dishes" v-if="dishes.length >= 1"></dish-list>

              <div v-else>
                <p>
                   Aucun plats ajouté pour le moment.
                </p>
            </div>
            </div>
          </div>
        </div>

        <div
          class="chief"
          v-if="
            restaurant?.chefImageUrl != null &&
            restaurant?.chefImageUrl != '' &&
            typeof restaurant?.chefImageUrl != '' &&
            (restaurant.aboutOurChief != '' ||
              restaurant.chefDescription != '') &&
            restaurant?.owner?.checkSubscriptionTime == true
          "
        >
          <h5 class="in-section-title mt-5">A Propos de votre Chef</h5>
          <div class="chief_container">
            <div class="image_chief_container">
              <img
                :src="`/${restaurant.chefImageUrl}`"
                alt="image_chef"
                @error="replaceByDefault(e)"
              />
            </div>

            <div class="description_chief">
              {{ restaurant.aboutOurChief | strLimit(400) }}

              <div class="btn_contact cta" @click="showAlert">
                Contactez Notre Chef
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DishList from "./dish/DishList.vue";
import Banner from "../accueil/_partials/Banner.vue";
import RestaurantBanner from "./_partials/RestaurantBanner.vue";
import OrderCard from "./order/OrderCard.vue";
import AppStorage from "../../../utils/AppStorage";
import DfpSlotRight from "../../tools/DfpSlotRight.vue";

export default {
  components: {
    DishList,
    Banner,
    RestaurantBanner,
    OrderCard,
    DfpSlotRight,
  },
  metaInfo() {
    return {
      title: `Détails Restaurant - ${this?.restaurant?.name} - ${this?.restaurant?.description ?? "" } `,
      titleTemplate: "%s | Cuisine.abidjan.net",
      meta: [
        { charset: "utf-8" },
        {
          vmid: "description",
          name: "Détails Recette",
          content: "Cuisine, Recettes, Retaurants, Détails Recette",
        },
        {
          vmid: "description",
          name: "keywords",
          content:
            "recette, cuisine, cours de cuisines, restaurants, plats, commander, souscrire abonnements, ingrédients, coûts, abidjan.net,cuisine",
        },
        {
          vmid: "description",
          property: "fb:app_id",
          content: "975566289205894",
        },
        { vmid: "description", property: "fb:admins", content: "1545380076" },
        {
          vmid: "title",
          name: "twitter:title",
          content: `${this?.restaurant?.name}`,
        },
        { vmid: "card", name: "twitter:card", content: "summary_large_image" },
        { vmid: "site", name: "twitter:site", content: "@weblogy" },
        { vmid: "creator", name: "twitter:creator", content: "@weblogy" },
        {
          vmid: "url",
          name: "twitter:url",
          content: "https://www.abidjan.net",
        },
        {
          vmid: "description-recette",
          name: "twitter:description",
          content: `${this?.restaurant?.description}`,
        },
        {
          vmid: "image recette",
          name: "twitter:image",
          content: `${this?.restaurant?.imageUrl}`,
        },
        {
          vmid: "titre recette",
          property: "og:title",
          content: `${this?.restaurant?.name}`,
        },
        { vmid: "description", property: "og:type", content: "article" },
        {
          vmid: "description",
          property: "og:email",
          content: "info@weblogy.com",
        },
        {
          vmid: "description",
          property: "og:url",
          content: "https://www.abidjan.net",
        },
        {
          vmid: "description",
          property: "og:image",
          content: `${this?.restaurant?.imageUrl}`,
        },
      ]
    };
  },
  data() {
    return {
      items: [],
      id: null,
      slug: null,
      restaurant: null,
      dishes: null,
      breakfast: [],
      main_dish: [],
      dinners: [],
      desserts: [],
      index: null,
      dishTypes: null,
      dishFromFilter: null,
      activeItem: null,
      orderingDish: [],
      rate: null,
      form: {
        number_of_stars: null,
      },
    };
  },
  methods: {
    getRestaurant(checkBefore = 0) {
      const getResto = async () => {
        await axios
          .get(`/show-restaurant/${this.slug}`)
          .then((res) => {
            console.log("Restaurant Data");
            console.log(res.data);

            this.restaurant = res.data.data;
            this.id = this.restaurant.id;

            var restoImgs = this.restaurant.restaurantImages;

            if (checkBefore == 0) {
              if (typeof restoImgs != undefined && restoImgs.length >= 1) {
                restoImgs.forEach((image) => {

                  console.log("IMAGE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
                  console.log(image.url);

                  let imageItem = {
                    description: `image`,
                    thumb: image.url,
                    src: image.url,
                  };
                  
                  this.items.push(imageItem);
                });
              }
            }
            this.dishes =
              typeof this.restaurant != undefined && this.restaurant != null
                ? this.restaurant?.dishes
                : null;

            if (this.dishes != null && typeof this.dishes != undefined) {
              for (const dish of this.dishes) {
                if (dish.dishType.slug == "special") {
                  console.log("special");
                  this.main_dish.push(dish);
                } else if (dish.dishType.slug == "dejeuner-entree") {
                  console.log("dejeuner-entree");
                  this.breakfast.push(dish);
                } else if (dish.dishType.slug == "plat-principal") {
                  this.dinners.push(dish);
                } else if (dish.dishType.slug == "desserts") {
                  this.desserts.push(dish);
                }
              }
            }
          })
          .catch((error) => {
            console.log("Error Resto Détails >>>>");
            console.log(error.response);
          });
      };
      getResto();
    },
    getDishType() {
      const dishTyp = async () => {
        this.$loading(true);

        axios
          .get("/get-dish_types")
          .then((res) => {
            console.log("Dish Type >>>>>>>");
            console.log(res);
            this.dishTypes = res.data.data;
          })
          .catch((error) => {
            consple.log("Dish Error >>>>>>>");
            console.log(error.response);
          })
          .finally(this.$loading(false));
      };

      dishTyp();
    },
    getDishByType(dishTypeId, restoId, i) {

        console.log("active link" + i);
        this.activeItem = i;

        axios
        .get(`/get-dishes_by_type/${dishTypeId}/${restoId}`)
        .then((res) => {
          console.log("dishes_by_type >>>>>>>> " + dishTypeId);
          console.log(res);

          this.dishes = res.data.data;
        })
        .catch((error) => {
          console.log("error dishes_by_type");
          console.log(error.response);
        });

    },
    getDishFromFilter() {
      this.activeItem = null;
      this.getRestaurant(1);
    },
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
    rateRestaurant(note) {
      console.log("note");
      console.log(note);
      this.form.number_of_stars = note;

      axios
        .post(`/api/rate-restaurant/${this.id}`, this.form)
        .then((res) => {
          console.log("RATE >>>>>>");
          console.log(res);
          if (res.status == 200 && res.data.status_code == 200) {
            if (res.data.message == "ALREADY_RATE") {
              this.$toast.info("Vous avez déja noté");
            } else {
              this.$toast.info("Note ajouté");
              this.getRateData();
            }
          } else {
            this.$toast.info("Oops une erreur est survenue");
          }
        })
        .catch((error) => {
          console.log(error.response);
          console.log(error.response.status);

          if (error.response.status == 401) {
            this.$toast.error(`Veuillez vous connetez s'il vous plait`);
            let routePath = this.$route.fullPath;
            console.log("Current route fullPath " + routePath);
            AppStorage.setPreviewRoutePath(routePath);
            AppStorage.clearSoft();
            this.$router.push({ name: "Login" });
          }
        })
        .finally();
    },
    getRateData() {
      const rateData = async () => {
        await axios
          .get(`/get-rate-restaurant/average/${this.id}`)
          .then((res) => {
            this.rate = res.data.data.average;
            console.log("Rate Data =>");
            this.getRestaurant(1);
          })
          .catch((error) => {
            console.log("ERROR RATE DATA");
            console.log(error.response);
          });
      };

      rateData();
    },
    commingSoon() {
      this.$swal("Bientôt Disponible");
    },
    showAlert(){
      this.$swal("Bientôt disponible")
    }
  },
  created() {
    
    (this.slug = this.$route.params.slug)
    this.getDishType();

    EventBus.$on("make_order", () => {
      this.orderingDish = [];

      console.log("Empty orderingDish");
      console.log(this.orderingDish);

      this.getRestaurant(1);
    });

  },
  beforeMount(){
    this.getRestaurant();
  }
};
</script>

<style lang="css" scoped>
.active_tag {
  background-color: gray !important;
  color: white;
}
.chief {
  margin-top: 68px;
}
.chief_container {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 400px;
  width: 100%;
  background: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  line-height: 30px;
}

.image_chief_container {
  /*width: 30%;*/
  height: 100%;
  object-fit: cover;
}
.image_chief_container img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.description_chief {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  width: 70%;
}

.tags_container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.dish_type {
  border-radius: 12px;
  padding: 14px;
  background: #f2f2f2;
  cursor: pointer;
}

.images-wrapper .image {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 12px;
}

.images-wrapper {
  display: flex;
  justify-content: start;
  gap: 20px;
}

p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

ul,
ol {
  list-style: none;
}

ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Navigation */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#menu {
  padding: 20px;
  transition: all 0.8s;
}

#menu.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(231, 231, 231, 0);
}

#menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #eee;
  font-weight: 400;
  font-size: 15px;
  padding: 5px 0;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
  margin: 0 40px 0 40px;
}

#menu.navbar-default .navbar-nav > li > a:hover {
  color: #d43031;
}

.on {
  background-color: #262626 !important;
  padding: 0 !important;
  padding: 10px 0 !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d43031 !important;
  background-color: transparent;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d43031;
  border-color: #d43031;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #fff;
}

.section-title {
  margin-bottom: 70px;
}

.section-title .overlay {
  padding: 80px 0;
  background: rgba(0, 0, 0, 0.7);
}

.section-title p {
  font-size: 22px;
}

.section-title hr {
  margin: 0 auto;
  margin-bottom: 40px;
}

.btn-custom {
  text-transform: uppercase;
  color: #777;
  background-color: transparent;
  border: 2px solid #777;
  padding: 14px 20px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 0;
  margin-top: 20px;
  transition: all 0.3s;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #ddd;
  border: 2px solid #d43031;
  background-color: #d43031;
}

/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  /* background: url(../img/intro-bg.jpg) center center no-repeat; */
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .overlay {
}

.intro h1 {
  /* font-family: 'Rochester', cursive; */
  color: #fff;
  font-size: 6em;
  font-weight: 400;
  margin-top: 0;
}

.intro span {
  color: #a7c44c;
  font-weight: 600;
}

.intro p {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-top: 3rem;
}

#header .intro-text {
  padding-top: 2rem;
  padding-bottom: 50px;
  text-align: center;
}

/* Features Section */
#features {
  margin: 50px 0px;
}

#features .features-item {
  margin: 0 20px;
}

#features img {
  margin: 30px auto 20px;
  width: 100%;
}

#features .about-img:before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#features p {
  line-height: 24px;
  margin: 15px 0 30px;
}

/* About Section */
#about {
  padding: 0;
  background: #f6f6f6;
}

#about h2::after {
  bottom: 0;
  margin-left: 0;
  left: 0;
}

#about {
  padding: 80px 0;
  border-radius: 20px;
}

#about .about-img {
  /* background: #444 url(../img/gallery-bg.jpg) center center no-repeat; */
  background-size: cover;
  height: 570px;
}

#about p {
  line-height: 24px;
  margin: 15px 0 30px;
}

/* Menu Section */
#restaurant-menu {
  padding: 100px 0 60px 0;
}

#restaurant-menu img {
  width: 300px;
  box-shadow: 15px 0 #a7c44c;
}

#restaurant-menu h3 {
  padding: 10px 0;
  text-transform: uppercase;
}

#restaurant-menu .menu-section hr {
  margin: 0 auto;
}

#restaurant-menu .menu-section {
  margin: 0 20px 80px;
}

#restaurant-menu .menu-section-title {
  font-size: 22px;
  display: block;
  font-weight: 100;
  color: #444;
  margin: 20px 0;
  text-align: center;
}

#restaurant-menu .menu-item {
  margin: 45px 0;
  font-size: 18px;
}

#restaurant-menu .menu-item-name {
  font-weight: 400;
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
}

#restaurant-menu .menu-item-description {
  font-size: 15px;
  width: 85%;
}

#restaurant-menu .menu-item-price {
  float: right;
  font-weight: 400;
  color: #555;
  margin-top: -36px;
}

/* Gallery Section */
#gallery {
  padding: 0;
}

#gallery .gallery-item {
  margin: 0 -15px;
}

/* Team Section */
#team {
  padding: 120px 0;
}

#team h2::after {
  bottom: 0;
  margin-left: 0;
  left: 0;
}

#team img {
  max-width: 550px;
}

#team .team-img {
  display: inline-block;
  position: relative;
}

/* Contact Section */
#contact {
  padding: 100px 0;
  background: #333;
}

#contact .contact-item p {
  font-size: 15px;
  color: #777;
}

#contact .section-title {
  margin-top: 60px;
  margin-bottom: 40px;
}

#contact form {
  padding: 0;
}

#contact h3 {
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: #aaa;
  padding: 20px 0;
}

#contact h3::after {
  position: absolute;
  content: "";
  background: #d43031;
  height: 2px;
  width: 40px;
  bottom: 0;
  margin-left: -20px;
  left: 50%;
}

#contact .text-danger {
  color: #cc0033;
  text-align: left;
}

label {
  font-size: 12px;
  font-weight: 400;
  /* font-family: 'Open Sans', sans-serif; */
  float: left;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #ccc;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control:-moz-placeholder {
  color: #999;
}

.form-control::-moz-placeholder {
  color: #999;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

#contact .contact-item {
  margin: 20px 0 40px 0;
}

#contact .contact-item span {
  font-weight: 400;
  color: #aaa;
  text-transform: uppercase;
  margin-bottom: 6px;
  display: inline-block;
}

/* Footer Section*/
#footer {
  background: #262626;
  padding: 40px 0 20px 0;
}

#footer .social {
  margin-top: -5px;
  text-align: right;
}

#footer .social ul li {
  display: inline-block;
  margin: 0 15px;
}

#footer .social i.fa {
  font-size: 24px;
  padding: 4px;
  color: #888;
  transition: all 0.3s;
}

#footer .social i.fa:hover {
  color: #eee;
}

#footer p {
  font-size: 14px;
  color: #666;
}

#footer a {
  color: #999;
}

#footer a:hover {
  color: #eee;
}

.btn_contact {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 12px 0px;
  cursor: pointer;
}

/*.info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 25%;
  background-color: #47abe5;
  border-radius: 20px;
}*/

@media screen and (max-width: 720px) {
  .images-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recipe-card__cover {
    height: 34vh;
    width: 75vw;
    border-radius: 0;
    box-shadow: none;
  }
}

@media screen and (max-width: 640px) {
  .tags_container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }

  .description_chief {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    width: 70%;
    line-height: 1;
  }

  .bloc-pub {
    /* display: flex; */
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
  }

  .btn_contact {
    font-size: 10px;
    padding: 0px 16px;
  }
}
</style>
