<template>
    <div>
      <ul class="responsive-table">
        
        <li class="table-row" v-for="item in cooking_course_data">
          <div class="col col-1 d-flex align-items-center" data-label="Image">
            <img
              :src="item.imageUrl"
              height="80"
              width="80"
              alt="https://i.imgur.com/f0W33fk.png"
              style="border-radius: 12px"
            />
          </div>
          <div class="col col-2 d-flex align-items-center" data-label="Titre">
            {{ item.name }}
          </div>
          <div class="col col-2 d-flex align-items-center" data-label="Titre">
            {{ item.description | strLimit(70) }}
          </div>
         
        </li>
      </ul>
    </div>
  </template>
  
  <script>
import axios from 'axios';

  export default {
    data() {
      return {
        cookingCourse: null,
      };
    },
    props: ["cooking_course_data"],
    methods: {
      getFollowedCourse(){

        this.$loading(true)


        axios.get('get-followerd-course').then(res => {

        }).catch(error=> {
          
        }).finally(
          this.$loading(false)
        )
      }
    },
    created() {
      (this.cookingCourse = this.cooking_course_data),
        EventBus.$on("refresh_course_props", (data) => {
          alert("refresh_course_props");
          this.cooking_course_data = data;
        });
    },
  };
  </script>
  
  <style lang="css" scoped>
  .description {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
    font-size: 1.3rem;
    margin: 0;
    background: white;
  }
  
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #f8f8f8;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 20%;
  }
  .responsive-table .col-3 {
    flex-basis: 25%;
  }
  .responsive-table .col-4 {
    flex-basis: 25%;
  }
  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6c7a89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
  </style>
  