<template>
    <form novalidate="novalidate" method="get" action="pages-jaunes/rechercher">
      <div class="searchFormContent">
        <div class="searchFormFrst">
          <input
            type="text"
            name="search"
            v-model="keyword"
            @click="scrollToTop()"
            placeholder="Rechercher Cours de Cuisine..."
            data-min-length="1"
            list="searchs"
            required="required"
            class="inputSearch"
            v-debounce:2s="SearchCookingEventAuto"
            :debounce-events="['click', 'keyup']"
          />
          <div class="autocomplete_container">
            <div class="contenuFormulaireOverlay">
            </div>
          </div>
  
          <datalist id="searchs"></datalist>
        </div>
  
        <input
          type="submit"
          name="searchPJ"
          value=""
          id="submit"
          class="searchPJ-Btn"
          @click.prevent="SearchCookingEvent"
        />
  
        <div class="clearBoth"></div>
      </div>
    </form>
  </template>
  
  <script>
  export default {
    data() {
      return {
        foundedItems: null,
        foundedItemsAuto: null,
        keyword: "",
        allCookingEvent: null
      };
    },
    methods: {
      SearchCookingEvent() {
        const searchCookingEventByName = async () => {
          axios
            .get(`search-course-by-name/${this.keyword}`)
            .then((res) => {
  
              this.foundedItemsAuto = null;
              console.log(">>> SEARCH RESULT FOR CookingEvent >>>");
              this.foundedItems = res.data.data;
              console.log(this.foundedItems);
              EventBus.$emit("search_cooking_course_auto", this.foundedItems);
  
            })
            .catch((error) => {
              console.log("Error");
              console.log(error.response);
            });
        };
  
        if (this.keyword == "") {
          this.foundedItems = null;
          EventBus.$emit("search_cooking_course_auto", null);
        } else {
          searchCookingEventByName();
        }
      },
      SearchCookingEventAuto() {
        const searchCookingEventByName = async () => {
          axios
            .get(`search-course-by-name/${this.keyword}`)
            .then((res) => {
              console.log(">>> SEARCH RESULT FOR CookingEvent AUTO>>>");
              this.foundedItemsAuto = res.data.data.reverse();
              console.log(this.foundedItemsAuto);
  
              EventBus.$emit("search_cooking_course_auto", this.foundedItemsAuto);
  
            })
            .catch((error) => {
              console.log("Error FOR CookingEvent");
              console.log(error.response);
            });
        };
  
        if (this.keyword == "") {
          this.foundedItemsAuto = null;
          EventBus.$emit("search_cooking_course_auto", null);
        } else {
          searchCookingEventByName();
        }
      },
      getAllCookingEvents() {
        const allCookingEvent = async () => {
          await axios
            .get("/get-CookingEvents-count")
            .then((res) => {
              console.log("all CookingEvent >>>>>>>>");
              console.log(res);
  
              /*   if(res.data.data.status_code == 200 && res.status == 200){
                      this.allCookingEvent = res.data.data.length
                  } */
            })
            .catch((error) => {
              console.log("Error get All CookingEvent >>>>>>>>");
            });
        };
  
        allCookingEvent();
      },
      scrollToTop() {
        window.scrollTo(0, 250);
      },
      created() {
        this.getAllCookingEvents();
      },
      mounted() {
        this.getAllCookingEvents();
      },
    },
  };
  </script>
  
  <style lang="css" scoped>
  </style>
  