<template>
  <div>
    <div class="content">
      <section class="breadcrumb line-top">
        <a href="https://www.abidjan.net/">Accueil</a>
        <span @click="$router.push({ name: 'Accueil' })">Cuisine</span>
        <span> Cours </span>
        <span>
          {{ lesson?.title }}
        </span>
      </section>
    </div>

    <div class="sub-content">
      <section class="blog">
        <div>
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="mb-5">
                <h3 class="text-uppercase">
                  {{ lesson?.title }}
                </h3>

                <div
                  class="video_container"
                  v-if="
                    lesson?.video_url != null &&
                    lesson?.video_url != '' &&
                    lesson?.video_url != 'undefined'
                  "
                >
                  <LazyYoutube :src="lesson?.video_url" />
                </div>

                <img
                  class="img-fluid rounded w-100 mb-4 course_image"
                  :src="`/${lesson?.video_url}`"
                  alt="Image"
                  v-if="lesson.video_url != null && lesson.video_url == ''"
                />

                <p class="p_description" v-html="lesson?.content"></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: null,
      lesson: null,
    };
  },
  methods: {
    getLesson() {
      axios
        .get(`show-lesson/${this.$route.params.id}`)
        .then((res) => {
          if (res.status == 200) {
            this.lesson = res.data.data;
          }
        })
        .catch((error) => {
          console.log("Error Lesson");
          console.log(error);
        });
    },
  },
  created() {
    this.getLesson();
  },
};
</script>

<style lang="css" scoped>
.video_container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.images-wrapper .image {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 12px;
}

.images-wrapper .video {
  height: 100%;
}

.vlt-wrapper {
  max-width: 1200px;
  width: 100% !important;
  display: inline-block;
  background-color: #000;
  position: relative;
  height: 40% !important;
}

</style>
