<template>
  <!-- 
    <div>
        <div class="search_response_container">
            <div class="d-flex justify-content-start">
                <img :src="search_result_data.imageUrl"
                    height="60" width="60"  @error="replaceByDefault">

                <span class="recipes_searched">
                    <p class="recipe_name mb-1"> {{ search_result_data.name }} </p>
                    <small class="recipe_description">{{ search_result_data.description }}</small>
                </span>

            </div>
        </div>
    </div>
    -->

  <ol class="search-results">
    <li class="search-result">
      <img
        src="https://i.imgur.com/sJO7ysX.jpg"
        class="search-result--thumbnail"
      />

      <ul class="search-result--info">
        <li class="search-result--title">Solide Corporation</li>

        <li class="search-result--authors">by Sidk</li>

        <li class="search-result--published">
          <span>Published </span> 07/02/2023
        </li>
      </ul>
    </li>
    <li class="search-result">
      <img
        src="https://i.imgur.com/sJO7ysX.jpg"
        class="search-result--thumbnail"
      />

      <ul class="search-result--info">
        <li class="search-result--title">Solide Corporation</li>

        <li class="search-result--authors">by Sidk</li>

        <li class="search-result--published">
          <span>Published </span> 07/02/2023
        </li>
      </ul>
    </li>
    <li class="search-result">
      <img
        src="https://i.imgur.com/sJO7ysX.jpg"
        class="search-result--thumbnail"
      />

      <ul class="search-result--info">
        <li class="search-result--title">Solide Corporation</li>

        <li class="search-result--authors">by Sidk</li>

        <li class="search-result--published">
          <span>Published </span> 07/02/2023
        </li>
      </ul>
    </li>
  </ol>
</template>

<script>
export default {
  props: ["search_result_data"],
  methods: {
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
  updated() {
    this.replaceByDefault();
  },
};
</script>

<style scoped>

.recipes_searched {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-height: 100px;
  overflow: auto;
}

.search_response_container {
}

.recipe_name {
  margin-bottom: 0, 8rem !important;
}

.recipe_description {
  margin: 0, 5rem;
  font-size: 80%;
  text-transform: capitalize;
}

#book-search {
  display: flex;
  align-items: flex-end;
}

label span {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
}

input {
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid #f3edeb;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  box-shadow: 0 0.4rem 1rem -0.4rem #d4b1a5;
}

button {
  background: rebeccapurple;
  position: relative;
  color: white;
  border: none;
  padding: 0 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.6rem;
  line-height: 2.8;
  text-transform: uppercase;
  box-shadow: 0 0.4rem 1rem -0.4rem purple;
}

.search-results {
  z-index: 2000;
  padding-left: 0;
  margin-top: 0.5rem;
}

.search-result {
  z-index: 2000;
  background-color: white;
  position: relative;
  border: 2px solid #f3edeb;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 1rem 1rem -0.75rem #dfc8c0;
  display: flex;
  align-items: center;
}

.search-result--thumbnail {
  flex: none;
  width: 15%;
  width: 4rem;
  height: 5rem;
  align-self: flex-start;
}

.search-result--info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  list-style: none;
}

.search-result--title {
  font-size: 1rem;
  font-weight: bold;
  color: #65002a;
}

.search-result--authors {
  font-size: 0.9rem;
}

.search-result--published {
  font-size: 0.8rem;
}

#all-the-books {
  width: 100%;
}
</style>