<template>
  <!-- {{ popular_recipe }} -->
  <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
    <div class="card card-span h-100 rounded-3">
      <div class="position-relative">
        <img class="img-fluid rounded-3 h-100 " :src="popular_recipe.imageUrl" alt="..." />
        <div class="card-body ps-0">
          <h5 class="fw-bold text-1000 text-truncate mb-1">{{ popular_recipe.name }}</h5>
          <div>
            <!-- <span class="text-warning me-2"
                ><i class="fas fa-map-marker-alt"></i></span
              > -->
            <span class="text-primary">{{ popular_recipe.recipeType.name }}</span>
          </div>
          <span class="text-1000 fw-bold">{{
            popular_recipe.level != null && typeof (popular_recipe.level) != 'undefined' ?
              popular_recipe.name : ""
          }}</span>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2">
      <a class="cta sm" role="button"
        @click="$router.push({ name: 'RecipeDetails', params: { id: popular_recipe.id } })">
        Voir details
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: ["popular_recipe"],
};
</script>

<style scoped>
.position-relative img {
  height: 15rem !important;
  width: 100%;
}
</style>
