<template>
    <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
        <div class="card card-span h-100">
            <div class="position-relative">
                <img class="img-fluid rounded-3 w-100" :src="recipe_data.imageUrl" alt="..." />
                <div class="card-actions">
                    <div class="badge badge-foodwagon bg-primary p-4">
                        <div class="d-flex flex-between-center">
                            <div class="text-white fs-1"> {{ recipe_data.recipeType.name }} </div>
                        </div>
                        <!-- <div class="d-block text-white fs-1"> Plat - Facile<br />
                                <div class="fw-normal fs-1 mt-2">15 min.35 min.</div>
                            </div> -->

                    </div>
                </div>
            </div>
            <div class="card-body px-0">
                <h5 class="fw-bold text-1000 text-truncate">{{ recipe_data.name }}</h5>
                <span class="badge bg-soft-danger py-2 px-3"><span class="fs-1 text-danger">
                        {{ typeof(recipe_data.level) == 'undefined' || recipe_data.level == null ? "Autres" :
                        recipe_data.level.name }}
                        -
                        {{ recipe_data.cooking }}
                    </span></span>
            </div><a class="stretched-link"
                @click="$router.push({ name: 'RecipeDetails', params: { id: recipe_data.slug } })"></a>
        </div>
    </div>
</template>

<script>
export default {
    props: ['recipe_data']
}
</script>

<style scoped>
.position-relative img {
    height: 17rem;
}
</style>