<template>
  <div class="recipe-card"  @click="
  $router.push({ name: 'Category', params: { slug: recipe_type_data.slug } })
">
    <!-- @click="addDish" -->
    <div id="recipe-card__cover" class="recipe-card__cover">
      <div class="recipe-card__img">
        <img
          :src="
            typeof recipe_type_data?.image_url == undefined ||
            recipe_type_data?.image_url != null
              ? recipe_type_data?.image_url
              : recipe_type_data?.image_url
          "
          :alt="recipe_type_data?.image_url"
          loading="lazy"
          @error="replaceByDefault"
        />
      </div>
      <div class="recipe-card__cover-details">
        <!-- <div id="recipe-card__duration" class="recipe-card__duration">
          <p><span>{{ recipe_type_data?.name }}</span></p>
        </div> -->

        <!-- 
          <div id="recipe_add_button">
            <p><span></span></p>
          </div> 
        -->
        <div id="recipe-card__info" class="recipe-card__info">
          <div class="recipe-card__title">
            <h1>{{ recipe_type_data?.name }}</h1>

            <!-- <button type="submit" class="cta sm order_btn w-90 my-2 mx-auto" @click="addDish">
              Commander
            </button> -->

            <div class="recipe-card__description">
              <p>
                {{ recipe_type_data?.description | strLimit(100) }}
                <!-- hello -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["recipe_type_data"],
  methods: {
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
  updated() {
    this.replaceByDefault();
  },
};
</script>

<style scoped>
.recipe-card {
  border-radius: 15px;
  display: flex;
}

.recipe-card__cover {
  cursor: pointer;
  background: #eee;
  border-radius: 15px;
  position: relative;
  height: 13rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 30;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  /*box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);*/
}
.recipe-card__cover-details {
  z-index: 20;
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  border: solid 1px whitesmoke;
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
}
.recipe-card__img {
  display: flex;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.recipe-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  transition: transform 0.3s ease-in;
}
.recipe-card__cover--open {
  transform: translateX(-80%);
}
.recipe-card__cover:hover .recipe-card__img img {
  /*transform: scale(1.1);*/
}
.recipe-card__servings,
.recipe-card__duration {
  background: rgba(49, 52, 55, 0.4);
  width: auto;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin: 10px;
  text-align: center;
  font-size: 0.4em;
  /* transform: translatex(-120%); */
  transition: transform 0.3s ease-in;
  text-transform: uppercase;
}
.recipe-card__duration p {
  color: white;
}
.recipe-card__cover:hover .recipe-card__servings,
.recipe-card__cover:hover .recipe-card__duration {
  /*transform: translatex(0);*/
}
.recipe-card__servings--show,
.recipe-card__duration--show {
  transform: translatex(0);
}
.recipe-card__servings span,
.recipe-card__duration span {
  display: block;
  font-size: 2em;
}
.recipe-card__info {
  position: absolute;
  bottom: 21%;
  background: white;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 25%,
    rgba(0, 0, 0, 0.6) 100%
  );
  padding: 0 20px;
  transition: transform 0.3s ease-in;
  transform: translateY(45%);
  width: 100%;
}

.recipe-card__cover:hover .recipe-card__info {
  /*transform: translateY(0%);*/
}
.recipe-card__info--show {
  transform: translateY(0%);
}
.recipe-card__title {
  font-weight: 900;
  padding-bottom: 20%;
}

.recipe-card__title h1 {
  color: white;
  font-size: 1.7em;
}

.recipe-card__description {
  font-size: 1.1em;
  line-height: 1.3;
}
.recipe-card__description p {
  color: white;
}

.recipe-card__description {
  font-size: 1.1em;
  line-height: 1.3;
  color: white;
  margin-bottom: 12px;
}
.recipe-card__content-container {
  width: 300px;
  height: 450px;
  margin-top: 25px;
  background: #f5f5f5;
  position: absolute;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  overflow: hidden;
}
.recipe-card__content-container--open {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  transform: translateX(12%);
  width: 500px;
}
.recipe-card__actions ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
}
.recipe-card__actions li {
  display: flex;
  height: 60px;
  width: 100%;
  transition: background-color 0.2s ease;
  align-items: center;
  justify-content: center;
  position: relative;
}
.recipe-card__actions li:hover {
  background-color: #eee;
}
.recipe-card__actions a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease;
  font-weight: 900;
}
.recipe-card__actions a:hover {
  border-bottom: 2px solid #2c3e50;
}
.recipe-card__actions a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.recipe-card__actions a.active {
  border-bottom: 2px solid #34495e;
}
.recipe-card__content {
  display: none;
  padding: 10px 20px;
  height: 360px;
  overflow-y: scroll;
}
.recipe-card__content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.recipe-card__content ul span {
  font-weight: 900;
  background: #34495e;
  color: white;
  padding: 5px 3px;
}
.recipe-card__content li {
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 5px 3px;
  line-height: 1.4;
}
.recipe-card__content li:nth-child(even) {
  background: #eee;
}
.recipe-card__content--active {
  display: block;
}

.preparation-steps {
  counter-reset: section;
}

.preparation-steps li {
  margin-left: 10px;
  padding-left: 30px;
  position: relative;
  border-left: 3px solid rgba(52, 73, 94, 0.5);
}

.preparation-steps li::before {
  content: "1";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -21px;
  background: #34495e;
  color: white;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #f5f5f5;
  counter-increment: section;
  content: counter(section);
}


</style>
