 <!-- Navbar Area -->
<div class="delicious-main-menu">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="deliciousNav">

                <!-- Logo -->
                <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="blog-post.html">Blog Post</a></li>
                                    <li><a href="receipe-post.html">Receipe Post</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="elements.html">Elements</a></li>
                                    <li><a href="#">Dropdown</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="blog-post.html">Blog Post</a></li>
                                            <li><a href="receipe-post.html">Receipe Post</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                            <li><a href="#">Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="index.html">Home</a></li>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="blog-post.html">Blog Post</a></li>
                                                    <li><a href="receipe-post.html">Receipe Post</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="elements.html">Elements</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Mega Menu</a>
                                <div class="megamenu">
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Catagory</li>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="blog-post.html">Blog Post</a></li>
                                        <li><a href="receipe-post.html">Receipe Post</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Catagory</li>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="blog-post.html">Blog Post</a></li>
                                        <li><a href="receipe-post.html">Receipe Post</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Catagory</li>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="blog-post.html">Blog Post</a></li>
                                        <li><a href="receipe-post.html">Receipe Post</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                    </ul>
                                    <div class="single-mega cn-col-4">
                                        <div class="receipe-slider owl-carousel">
                                            <a href="#"><img src="img/bg-img/bg1.jpg" alt=""></a>
                                            <a href="#"><img src="img/bg-img/bg6.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="receipe-post.html">Receipies</a></li>
                            <li><a href="receipe-post.html">4 Vegans</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>

                        <!-- Newsletter Form -->
                        <div class="search-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>

                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>


    <style>
    
        /* :: 5.0 Header Area CSS */
.header-area {
  position: relative;
  z-index: 100;
  width: 100%; }
  .header-area .top-header-area {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddee9; }
    @media only screen and (max-width: 767px) {
      .header-area .top-header-area {
        height: 70px; } }
    .header-area .top-header-area .breaking-news {
      position: relative;
      z-index: 1; }
      .header-area .top-header-area .breaking-news .ticker {
        width: 100%;
        text-align: left;
        position: relative;
        overflow: hidden; }
        .header-area .top-header-area .breaking-news .ticker ul {
          width: 100%;
          position: relative;
          z-index: 1; }
          .header-area .top-header-area .breaking-news .ticker ul li {
            display: none;
            width: 100%; }
            .header-area .top-header-area .breaking-news .ticker ul li a {
              font-size: 14px;
              color: #b6b6b6;
              font-style: italic; }
              .header-area .top-header-area .breaking-news .ticker ul li a:hover, .header-area .top-header-area .breaking-news .ticker ul li a:focus {
                color: #40ba37; }
    .header-area .top-header-area .top-social-info a {
      display: inline-block;
      color: #b6b6b6;
      font-size: 13px;
      margin-right: 30px; }
      .header-area .top-header-area .top-social-info a:last-child {
        margin-right: 0; }
      .header-area .top-header-area .top-social-info a:hover, .header-area .top-header-area .top-social-info a:focus, .header-area .top-header-area .top-social-info a.active {
        color: #40ba37; }
  .header-area .delicious-main-menu {
    position: relative;
    width: 100%;
    z-index: 100;
    height: 145px; }
    @media only screen and (max-width: 767px) {
      .header-area .delicious-main-menu {
        height: 80px; } }
    .header-area .delicious-main-menu .classy-nav-container {
      background-color: transparent; }
    .header-area .delicious-main-menu .classy-navbar {
      height: 145px;
      padding: 0; }
      @media only screen and (max-width: 767px) {
        .header-area .delicious-main-menu .classy-navbar {
          height: 80px; } }
      .header-area .delicious-main-menu .classy-navbar .classynav ul li a {
        font-weight: 600; }
        .header-area .delicious-main-menu .classy-navbar .classynav ul li a:hover, .header-area .delicious-main-menu .classy-navbar .classynav ul li a:focus {
          font-weight: 600; }
      .header-area .delicious-main-menu .classy-navbar .classynav > ul > li > a {
        text-transform: uppercase;
        padding: 12px 18px 11px;
        background-color: transparent;
        border-bottom: 3px solid transparent;
        line-height: 1;
        color: #474747;
        font-weight: 600; }
        .header-area .delicious-main-menu .classy-navbar .classynav > ul > li > a:hover, .header-area .delicious-main-menu .classy-navbar .classynav > ul > li > a:focus {
          font-size: 14px;
          color: #ffffff;
          background-color: #40ba37;
          border-bottom: 3px solid #1c8314; }
          .header-area .delicious-main-menu .classy-navbar .classynav > ul > li > a:hover::after, .header-area .delicious-main-menu .classy-navbar .classynav > ul > li > a:focus::after {
            color: #ffffff; }
      .header-area .delicious-main-menu .classy-navbar .classynav > ul > li.active > a {
        color: #ffffff;
        background-color: #40ba37;
        border-bottom: 3px solid #1c8314; }
        .header-area .delicious-main-menu .classy-navbar .classynav > ul > li.active > a::after {
          color: #ffffff; }
    .header-area .delicious-main-menu .classynav .search-btn {
      color: #b6b6b6;
      margin-left: 150px;
      cursor: pointer;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
      .header-area .delicious-main-menu .classynav .search-btn i {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
      .header-area .delicious-main-menu .classynav .search-btn:hover i, .header-area .delicious-main-menu .classynav .search-btn:focus i {
        color: #40ba37; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-area .delicious-main-menu .classynav .search-btn {
          margin-left: 50px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .delicious-main-menu .classynav .search-btn {
          margin-left: 30px;
          margin-top: 30px; } }
      @media only screen and (max-width: 767px) {
        .header-area .delicious-main-menu .classynav .search-btn {
          margin-left: 30px;
          margin-top: 30px; } }
  @media only screen and (max-width: 767px) {
    .header-area .nav-brand img {
      max-width: 90px; } }
    </style>
</div>