<template>
  <div>
    <div class="content">
      <section class="breadcrumb line-top">
        <a href="https://www.abidjan.net">Accueil</a>
        <router-link to="/accueil"> Cuisine </router-link>
        <span>
          Astuce Culinaire
        </span>
      </section>
    </div>

    <section class="sub-content">
      <div id="blog-single">
        <div class="container">
          <!-- <div class="heading"> -->
          <h2 class="section_titre">{{ cookingTrick?.title }}</h2>
          <!-- </div> -->
          <div class="row" data-aos="fade-up" data-aos-duration="700">
            <div class="col-sm-12 col-lg-12 box">
              <img
                :src="`${cookingTrick?.url}`"
                :alt="cookingTrick?.url"
                class="img-thumbnail image"
              />
              <p v-html="cookingTrick?.body" class="body_description"></p>
              <!-- <p>{{ cookingTrick?.imageUrl ? cookingTrick?.image :  "-------" }}</p> -->
              <!-- 
                  <div class="qutation">
                      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed <br />do eiusmod tempor incididunt
                          ut labore et dolore magna <br />aliqua. sed do eiusmod tempor incididunt ut labore et
                          dolore<br /> magna aliqua..</h4>
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                      industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                      andLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and
                  </p>
              -->
            </div>
          </div>
          <div
            class="social-buttons"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div class="row">
              <div class="col-sm-7 col-md-6">
                <ul class="mbm_social">
                  <div data-v-008187cd="" class="single-post__social__item">
                    <ul data-v-008187cd="">
                      <share-it
                        :targets="['twitter', 'facebook', 'whatsapp', 'reddit']"
                        :url="`${currentUrl}${cookingTrick?.url}`"
                        :height="600"
                        :width="600"
                        :text="`${cookingTrick?.title}\n${escapeHtml(
                          cookingTrick?.body
                        )}`"
                      />
                    </ul>
                  </div>

                  <!--
                    <li>
                        <a class="social-facebook" href="#">
                            <i class="fab fa-facebook">
                            </i>
                            <div class="tooltip"><span>facebook</span></div>
                        </a>
                    </li>

                    <li>
                        <a class="social-twitter" href="#">
                            <i class="fab fa-twitter">
                            </i>
                            <div class="tooltip"><span>Twitter</span></div>
                        </a>
                    </li>
                    <li>
                        <a class="social-google-plus" href="#">
                            <i class="fa fa-pinterest" aria-hidden="true">
                            </i>
                            <div class="tooltip"><span>google+</span></div>
                        </a>
                    </li> 
                  -->
                </ul>
              </div>
              <div class="col-sm-5 col-md-6">
                <div class="inner-text">
                  <h3>
                    {{ cookingTrick?.createdAt | moment("from", "now") }}
                    Publier par
                    <span @click="getUserProf" style="cursor: pointer">
                      {{
                        cookingTrick?.name == " " || cookingTrick?.name == null
                          ? "Admin"
                          : cookingTrick?.name
                      }}
                    </span>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <!-- <section class="more-bog">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary" disabled>Similar Posts</button>
                            </div>
                        </div>
                        <div class="row" data-aos="fade-up" data-aos-delay="500">
                            <div class="col-lg-6 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-5 col-sm-12">
                                        <a href="blog_single.html" class="d-block mb-5 h-100">
                                            <img class="img-fluid img-thumbnail" src="images/blog-1.jpg" alt="blog-1">
                                        </a>
                                    </div>
                                    <div class="col-lg-7 col-sm-12 inner-content">
                                        <h5><a href="blog_single.html">Beautiful pamogranate cutted to taste for the Drink in
                                                cup</a></h5>
                                        <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                            has been the industry's standard dummy text ever since the 1500s, when an unknown
                                            printer took a galley of </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-5 col-sm-12">
                                        <a href="blog_single.html" class="d-block mb-5 h-100">
                                            <img class="img-fluid img-thumbnail" src="images/blog-2.jpg" alt="blog-2">
                                        </a>
                                    </div>
                                    <div class="col-lg-7 col-sm-12 inner-content">
                                        <h5><a href="blog_single.html">Beautiful pamogranate cutted to taste for the Drink in
                                                cup</a></h5>
                                        <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                            has been the industry's standard dummy text ever since the 1500s, when an unknown
                                            printer took a galley of </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary" disabled>Comments Posted (34)</button>
                            </div>
                        </div>
                        <div class="row" data-aos="fade-up" data-aos-duration="800">
                            <div class="col-sm-6">
                                <div class="col1">
                                    <p><strong>Andrew Suzzane <span> - 12.06.2016</span></strong>Wow...Wow.....i really like the way
                                        you write the to the articles about your photography, they are really awesome thanks a lot
                                        for sharing</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col1">
                                    <p><strong>Andrew Suzzane <span> - 12.06.2016</span></strong>Wow...Wow.....i really like the way
                                        you write the to the articles about your photography, they are really awesome thanks a lot
                                        for sharing</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
          <!-- <div class="comment-box">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary" disabled>Write a Comment</button>
                            </div>
                        </div>
                        <form>
                            <div class="row" data-aos="fade-up" data-aos-duration="800">
                                <div class="col-sm-6 col1">
                                    <input type="text" class="form-control" placeholder="Enter your name" required>
                                </div>
                                <div class="col-sm-6 col1">
                                    <input type="email" class="form-control" placeholder="Enter your email" required>
                                </div>
                                <div class="col-sm-12 col1">
                                    <textarea class="form-control" name="message" placeholder="Type your message" rows="8"
                                        required></textarea>
                                </div>
                                <div class="col-sm-12 col1">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: null,
      slug: null,
      cookingTrick: null,
      currentUrl: "https://abjcuisine.weblogy.net/",
    };
  },
  metaInfo() {
    return {
      title: `Détails - ${this?.cookingTrick?.title} - ${
        this?.cookingTrick?.description ?? ""
      } `,
      titleTemplate: "%s | Cuisine.abidjan.net",
      meta: [
        { charset: "utf-8" },
        {
          vmid: "description",
          name: "Détails Recette",
          content: "Cuisine, Recettes, Retaurants, Détails Recette",
        },
        {
          vmid: "description",
          name: "keywords",
          content:
            "recette, cuisine, cours de cuisines, restaurants, plats, commander, souscrire abonnements, ingrédients, coûts, abidjan.net,cuisine",
        },
        {
          vmid: "description",
          property: "fb:app_id",
          content: "975566289205894",
        },
        { vmid: "description", property: "fb:admins", content: "1545380076" },
        {
          vmid: "title",
          name: "twitter:title",
          content: `${this?.cookingTrick?.title}`,
        },
        { vmid: "card", name: "twitter:card", content: "summary_large_image" },
        { vmid: "site", name: "twitter:site", content: "@weblogy" },
        { vmid: "creator", name: "twitter:creator", content: "@weblogy" },
        {
          vmid: "url",
          name: "twitter:url",
          content: "https://www.abidjan.net",
        },
        {
          vmid: "description-recette",
          name: "twitter:description",
          content: `${this?.cookingTrick?.description}`,
        },
        {
          vmid: "image recette",
          name: "twitter:image",
          content: `${this?.cookingTrick?.url}`,
        },
        {
          vmid: "titre recette",
          property: "og:title",
          content: `${this?.cookingTrick?.title}`,
        },
        { vmid: "description", property: "og:type", content: "article" },
        {
          vmid: "description",
          property: "og:email",
          content: "info@weblogy.com",
        },
        {
          vmid: "description",
          property: "og:url",
          content: "https://www.abidjan.net",
        },
        {
          vmid: "description",
          property: "og:image",
          content: `${this?.cookingTrick?.url}`,
        },
      ],
    };
  },
  methods: {
    getCookingTrick() {
      let cookingTrick = async () => {
        await this.$axios
          .get(`show-cooking_trick/${this.slug}`)
          .then((res) => {
            console.log("Show CookingTrick >>>>");
            this.cookingTrick = res.data.data;
            console.log(this.cookingTrick);
          })
          .catch((error) => {
            console.log("Error Show CookingTrick >>>>");
            console.log(error.response);
          });
      };

      cookingTrick();
    },
    getUserProf() {
      this.$router.push({
        name: "UserProfil",
        params: { email: this.cookingTrick.email },
      });
    },
    escapeHtml(unsafe) {
      return unsafe
        .replace(/&/g, "&amp;")
        .replace(/</g, "&lt;")
        .replace(/>/g, "&gt;")
        .replace(/"/g, "&quot;")
        .replace(/'/g, "&#039;");
    },
  },
  created() {
    (this.slug = this.$route.params.slug), this.getCookingTrick();
  },
};
</script>

<style scoped>
/*==============================================
                        Blog-single Page
        ===============================================*/
.single-post__social__item {
  position: inherit !important;
}

#blog-single {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  padding-top: 50px;
  border-bottom: 1px solid #b2b2b2;
}

#blog-single hr {
  position: relative;
  border-color: #c8e2b3;
  padding-bottom: 50px;
}

#blog-single h1 {
  font-size: 44px;
  font-weight: 300;
  padding-bottom: 50px;
  position: relative;
}

#blog_single .qutation {
  width: 100%;
  text-align: center;
  padding: 50px 170px 50px;
  margin: 40px 0;
  border: 1px solid #c8c8c8;
}

#blog-single .heading h2 {
  color: #363636;
  font-size: 37px;
  line-height: 49px;
  padding-right: 300px;
}

#blog-single .section4 .card-deck {
  margin-left: -30px;
  margin-right: -30px;
}

#blog-single .section4 h2 {
  font: 36px sans-serif;
  margin-top: 30px;
  margin-bottom: 80px;
  font-weight: 600;
  color: #2e2c39;
  text-align: center;
  text-transform: uppercase;
}

#blog-single .section4 h2.background {
  position: relative;
  z-index: 1;
}

#blog-single .section4 h2.background:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

#blog-single .section4 h2.background span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #fff;
  padding: 0 15px;
}

#blog-single .box p {
  margin: 0;
  color: #636363;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  word-spacing: -1px;
  margin-top: -7px;
  padding-bottom: 40px;
  font-weight: 400;
}

.social-buttons .inner-text span:first-child {
  color: black;
  font-weight: 600;
}

.social-buttons .inner-text span:last-child {
  color: #737373;
  font-weight: 500;
  border-bottom: 1px solid gray;
}

#blog-single h4 {
  font-size: 24px;
  text-align: left;
  color: #545454;
  line-height: 47px;
}

#blog-single .inner-text a {
  color: #737373;
  font-weight: 400;
}

#blog-single .inner-text a:hover,
#blog-single .inner-text a:focus {
  text-decoration: none;
  border-bottom: 1px solid #fc4733;
  color: #fc4733;
}

#blog-single .qutation {
  width: 100%;
  border: 1px solid #b5b5b5;
  text-align: center;
  padding: 73px 160px;
  margin-bottom: 50px;
}

.social-buttons {
  border: 1px solid #c2c2c2;
  margin-top: 60px;
  margin-bottom: 120px;
}

.social-buttons h3 {
  color: #737373;
  font-size: 17px;
  font-weight: 300;
  text-align: right;
  margin-right: 20px;
  padding: 47px 20px;
}

#blog_single .heading {
  font-size: 45px;
  padding-top: 60px;
}

#blog_single .heading h2 {
  font-size: 33px;
}

/*-- social buttons --*/
.mbm_social {
  margin: 30px 0;
  padding: 0;
  font-size: 0;
  float: left;
  background: #fff;
  margin: 43px 30px;
  text-align: center;
}

.mbm_social li {
  display: inline-block;
  margin: 0 16px 0 0;
}

.mbm_social a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 px;
  width: 116px;
  height: 31px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  z-index: 2;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}

.mbm_social a:hover {
  color: #fff;
}

.mbm_social a:hover .tooltip {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, -33px);
  transform: translate(0, -33px);
}

.mbm_social a:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.mbm_social .tooltip {
  opacity: 0;
  position: absolute;
  top: 2px;
  left: 50%;
  z-index: 1;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.mbm_social .tooltip span {
  font-size: 10px;
  font-weight: bold;
  left: -50%;
  line-height: 1;
  padding: 6px 8px 5px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.mbm_social .tooltip span:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
}

.mbm_social .social-twitter {
  background: #00abdc;
  border-radius: 5px;
  background: -webkit-linear-gradient(#00abdc, #00abdc);
  background: linear-gradient(#00abdc, #00abdc);
  border-bottom: 1px solid #00abdc;
}

.mbm_social .social-twitter:hover {
  color: #fff;
  text-shadow: 0px 1px 0px #00abdc;
}

.mbm_social .social-twitter span {
  background: #00abdc;
  background: -webkit-linear-gradient(#00abdc, #00abdc);
  background: linear-gradient(#00abdc, #00abdc);
  color: #fff;
}

.mbm_social .social-twitter span:after {
  border-top-color: #00abdc;
}

.mbm_social .social-facebook {
  background: #325c94;
  border-radius: 5px;
  background: -webkit-linear-gradient(#4562a0, #385693);
  background: linear-gradient(#4562a0, #385693);
  border-bottom: 1px solid #2f487c;
}

.mbm_social .social-facebook:hover {
  color: #fff;
  text-shadow: 0px 1px 0px #2f487c;
}

.mbm_social .social-facebook span {
  background: #3b5a9b;
  background: -webkit-linear-gradient(#5873aa, #3b5a9b);
  background: linear-gradient(#5873aa, #3b5a9b);
  color: #fff;
}

.mbm_social .social-facebook span:after {
  border-top-color: #325c94;
}

.mbm_social .social-google-plus {
  background: #cb2027;
  background: -webkit-linear-gradient(#cb2027, #cb2027);
  background: linear-gradient(#cb2027, #cb2027);
  border-bottom: 1px solid #cb2027;
}

.mbm_social .social-google-plus:hover {
  color: #fff;
  text-shadow: 0px 1px 0px #ea4335;
}

.mbm_social .social-google-plus span {
  background: #cb2027;
  background: -webkit-linear-gradient(#cb2027, #cb2027);
  background: linear-gradient(#cb2027, #cb2027);
  color: #fff;
}

.mbm_social .social-google-plus span:after {
  border-top-color: #cb2027;
}

.mbm_social i {
  position: relative;
  top: 1px;
  font-size: 14px;
}

.mbm_social small {
  font-size: 14px;
  margin: 0 0 0 16px;
  color: red;
}

/*== contact form ==*/
#blog-single .img-thumbnail {
  border-radius: 0;
  padding: 0;
  border: none;
}

#blog-single .image {
  border-radius: 12px;
  float: left;
  width: 557px;
  height: 480px;
  object-fit: cover;
  shape-margin: 20px;
  margin-right: 40px;
  margin-bottom: 25px;
}

.mbm_social {
  background-color: transparent;
}

#blog-single .more-bog .inner-content {
  padding-right: 50px;
}

#blog-single .more-bog h5 a {
  color: #49a003;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}

#blog-single .more-bog .btn-primary {
  font-size: 40px;
  font-weight: 300;
  padding: 5px 20px;
  margin-bottom: 60px;
  background-color: #e2e2e2;
  border: 0;
  border-radius: 0;
}

#blog-single .more-bog h6 {
  color: #8e8e8e;
  line-height: 23px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

#blog-single .more-bog .img-thumbnail {
  object-fit: cover;
  padding: 0;
  border: none;
  border-radius: 0;
}

#blog-single .post {
  padding-top: 40px;
  padding-bottom: 60px;
}

#blog-single .post h3 {
  padding-bottom: 40px;
  font-size: 41px;
  color: #363636;
}

#blog-single .post strong {
  display: block;
  font-size: 23px;
  font-weight: 500;
  color: #662d91;
}

#blog-single .post strong span {
  color: #959595;
  font-size: 14px;
  font-weight: 500;
}

#blog-single .post .col1 p {
  color: #959595;
  font-weight: 500;
  font-size: 17px;
  line-height: 35px;
}

#blog-single .post .col1 {
  border: 1px solid #d0d0d0;
  padding: 50px 40px;
}

#blog-single .comment-box form .row {
  margin-left: -15px;
  margin-right: -15px;
}

#blog-single .comment-box form .col2 {
  padding: 0;
}

#blog-single .comment-box {
  padding-top: 40px;
}

#blog-single .post .btn-primary {
  font-size: 40px;
  font-weight: 300;
  padding: 5px 20px;
  margin-bottom: 60px;
  background-color: #e2e2e2;
  border: 0;
  border-radius: 0;
}

#blog-single .comment-box .btn-primary {
  font-size: 40px;
  font-weight: 300;
  padding: 5px 20px;
  margin-bottom: 50px;
  background-color: #e2e2e2;
  border: 0;
  border-radius: 0;
}

#blog-single .comment-box form textarea {
  border-radius: 0;
  margin-bottom: 25px;
}

#blog-single .comment-box form .btn-primary {
  border: 2px solid #fff;
  text-transform: uppercase;
  padding: 15px 70px;
  border-radius: 0;
  font-weight: 600;
  font-size: 16px;
  background-color: #49a003;
}

#blog-single .comment-box form .btn-primary:hover {
  color: #49a003;
  background-color: transparent;
  border: 2px solid #49a003;
}

#blog-single .comment-box ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cacaca;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  text-transform: capitalize;
}

#blog-single .comment-box ::-moz-placeholder {
  /* Firefox 19+ */
  color: #cacaca;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  text-transform: capitalize;
}

#blog-single .comment-box form input {
  height: 60px;
  border-radius: 0;
  margin-bottom: 25px;
}

#blog-single .comment-box :-ms-input-placeholder {
  /* IE 10+ */
  color: #cacaca;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  text-transform: capitalize;
}

#blog_single .comment-box :-moz-placeholder {
  /* Firefox 18- */
  color: #cacaca;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  text-transform: capitalize;
}

#blog_single .comment-box ::placeholder {
  color: #cacaca;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
}

#blog-single .comment-box form textarea {
  padding: 20px 20px;
}

.modal-backdrop.show {
  opacity: 0.7;
}

.body_description {
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.body_description p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 26px !important;
}
</style>
