<template>
    <!-- Blog section Ended-->
    <div class="sub-content">
        <section id="blog">
            <div class="gradient"></div>
            <div class="besoin--title pt-3">
                <h1 class="text-center text-uppercasee section-title noline my-3">Astuces Culinaire</h1>                
            </div>
            <hr />
            <!-- Page Content -->
            <div class="container">
                <!-- <div class="heading" data-aos="fade-up" data-aos-delay="300">
                    <h2 class="text-uppercase">Apprendre plus 🧑🏼‍🍳</h2>
                    <h5>Un ensemble d'astuces </h5>
                </div> -->
                <div class="row flex-center">
                    <CookingTrickItem v-for="item in cookingsTricks" :cooking_trick_data="item" :key="item.id" />
                </div>

            </div>
            <!-- /.container -->
        </section>
    </div>
    <!-- Blog section Ended-->
</template>

<script>
import CookingTrickItem from "../cookingTricks/_partials/CookingTrickItem.vue"
export default {
    components: { CookingTrickItem },
    data() {
        return {
            cookingsTricks: []
        }
    },
    methods: {
        getCookingTricks() {
            const cookingsTricks = async () => {
                await axios.get('get-cooking_tricks')
                    .then((res) => {
                        console.log('>>>>>>>>>Get Cooking Trick Worked')
                        console.log(res.data)

                        if (res.status == 200) {
                            this.cookingsTricks = res.data.data?.slice().reverse()
                        } else {
                            console.log("Error Cook !")
                        }
                    })
                    .catch((error) => {
                        console.log('>>>>>>>>>Error Cooking Trick')
                        console.log(error.response)
                    })
                    .finally()
            }
            cookingsTricks()
        }
    },
    created() {
        this.getCookingTricks()
    }
}
</script>

<style scoped>
.blog {
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 80px;
    /* background-image: url("../images/banner.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


.blog .heading {
    text-align: left;
    position: relative;
    padding-bottom: 70px;
}

.blog .heading h2 {
    /* padding: 0;
    font-size: 66px;
    font-weight: 300;
    line-height: 45px;
    color: #fff;
    letter-spacing: -5px;
    background-color: #000;
    padding: 10px;
    display: inline-block; */
}

.besoin--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eff4f8;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 3rem;
    padding: 0 4rem;
}

.besoin--title h1 {
    /* color: #06447e; */
}

@media only screen and (max-width: 48em) {
    .besoin--title h1 {
        font-size: 1.8rem;
    }
}

.besoin--title img {
    height: 10rem;
}

@media only screen and (max-width: 48em) {
    .besoin--title img {
        height: 7rem;
    }
}

.blog .heading h3 {
    padding: 0;
    letter-spacing: 1px;
    color: #fff;
    background-color: #000;
    padding: 10px;
    display: inline-block;
}

.blog .inner-content {
    padding-right: 50px;
}

.blog h5 a {
    color: #FFB800;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}

.blog h6 {
    /* color: #000; */
    /* font-size: 15px; */
    /* line-height: 23px; */
    /* font-weight: 400; */
    line-height: 50px;
}

.blog .img-thumbnail {
    object-fit: cover;
    padding: 0;
    border: none;
    border-radius: 0;
}

.Subscribe {
    width: 100%;
    height: auto;
    color: #fff;
    padding: 60px;
    background: #FFB800;
}

.Subscribe form {
    float: right;
}

.Subscribe .heading h3 {
    /* font-size: 50px;
    font-weight: 300;
    letter-spacing: -3px;
    padding-bottom: 0px; */
}

.Subscribe .heading h6 {
    /* font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px; */
}

.Subscribe .Subscribe {
    padding: 55px 0;
}

.Subscribe .form-control {
    margin-bottom: 19px;
    /* font-size: 14px; */
    border-radius: 0;
    font-style: italic;
    padding: 10px 10px;
}

.Subscribe .input-group {
    padding: 7px 0;
}

.Subscribe .btn-info {
    width: 210px;
    height: 72px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    background: #000;
    /* font-size: 22px; */
    border-radius: 0;
    /* font-weight: 400; */
    border: 2px solid transparent;
}

.Subscribe .btn-info:hover {
    color: #fff;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.35);
}

.Subscribe input {
    /* font-size: 12px; */
    width: 322px;
    height: 72px;
    padding: 0 18px;
    border: none;
}


#blog .bt ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    text-align: left;
}

#blog .bt ul li {
    background: #252525;
    display: inline-flex;
    text-align: center;
    margin-right: 4px;
}

#blog .bt ul li a {
    width: 50px;
    height: 50px;
    color: white;
    margin: 0 auto;
    /* font-size: 18px; */
    padding: 10px 0;
    text-decoration: none;
    /* font-family: 'Hammersmith One', sans-serif; */
}

#blog a {
    text-decoration: none;
}

#blog .bt .active {
    background-color: #FFB800;
    color: white;
}

#blog .bt a:hover {
    background-color: #FFB800;
    color: white;
}

#blog .bt {
    padding-top: 80px;
}
</style>