<template>
  <div class="parent-column">
    <div class="particpation_request_container" v-if="showAsking">
      <div
        class="participation_request_item"
        v-for="item in courseParticipants"
        :key="item.id"
      >
        <!-- {{ item }} -->
        <div class="image">
          <img
            src="https://i.imgur.com/f0W33fk.png"
            height="80"
            width="80"
            alt="https://i.imgur.com/f0W33fk.png"
            style="border-radius: 12px"
          />
        </div>

        <div class="fullname">
          <div>
            <p class="my-2">
              {{ item.participants["0"].nom }}
              {{ item.participants["0"].prenoms }}
            </p>
          </div>
        </div>

        <div class="action_request" v-if="item.isAcceped == false">
          <button
            class="btn--custom accept"
            @click="acceptUser(courseId, item.participants['0']?.id)"
          >
            Accepter
          </button>
          <button
            class="btn--custom reject"
            @click="rejectUser(courseId, item.participants['0']?.id)"
          >
            Refuser
          </button>
        </div>

        <div class="action_request" v-else>
          <button
            class="btn--custom reject"
            @click="deleteUser(courseId, item.participants['0']?.id)"
          >
            Supprimer
          </button>
        </div>
      </div>
    </div>

    <ul class="responsive-table" v-if="!showAsking">
      <li class="table-header">
        <div class="col col-1">Image</div>
        <div class="col col-2">Titre</div>
        <div class="col col-2">Participant</div>
        <div class="col col-3">Action</div>
      </li>

      <li class="table-row" v-for="item in cooking_course_data" :key="item.id">
        <div class="col col-1 d-flex align-items-center" data-label="Image">
          <img
            :src="item.imageUrl"
            height="80"
            width="80"
            alt="https://i.imgur.com/f0W33fk.png"
            style="border-radius: 12px"
          />
        </div>

        <div class="col col-2 d-flex align-items-center" data-label="Titre">
          {{ item.name }}
        </div>

        <div class="col col-2 d-flex align-items-center" data-label="Titre">
          <button
            class="btn btn-secondary h-40"
            @click="showParticipant(item.id)"
          >
            Demandes
          </button>
        </div>

        <div
          class="col col-4 d-flex align-items-center justify-content-between"
          data-label="Date de Creation"
        >
          <!-- <pre>
            {{ 
              item.slug
             }}
          </pre> -->

          <a
            @click="
              $router.push({
                name: 'CookingCourseDetails',
                params: { slug: item.slug },
              })
            "
            target="_blank"
          >
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>

          
          <a
            @click="
              $router.push({
                name: 'EditCookingCourse',
                params: { slug: item.slug },
              })
            "
            target="_blank"
          >
              <!-- {{ item.slug }} -->

            <i class="fa fa-edit" aria-hidden="true"></i>
          </a>

          <a @click="deleteCookingCourse(item.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() { 
    return {
      cookingCourse: null,
      showAsking: false,
      courseParticipants: null,
      courseId: null
    };
  },
  props: ["cooking_course_data"],
  methods: {
    deleteCookingCourse(id) {
      this.$axios
        .delete(`api/delete-course/${id}`)
        .then((res) => {
          if (res.status == 200 && res.data.status_code == 204) {
            this.EventBus.$emit("reload_course_list");
            this.$toast.error("Suppression éffectuée");
          }
        })
        .catch((error) => {
          // console.log(">>>>> Error delete");
          console.log(error.response);
        });
    },
    getParticipants(id) {
      let participantId = id;

      console.log(`out ${participantId}`);

      const participants = async () => {
        console.log(`in ${participantId}`);

        await this.$axios
          .get(`course-participants/${id}`)
          .then((res) => {
            console.log("Participant Success");
            console.log(id);
            this.courseId = id;
            this.courseParticipants = res.data.data.courseParticipants;
          })
          .catch((error) => {
            console.log("Participant Error");
            console.log(error);
          });
      };

      participants();
    },
    showParticipant(id) {
      this.EventBus.$emit("show_particpation_request");
      this.getParticipants(id);
      this.showAsking = true;
    },
    acceptUser(id, userId) {
        this.$axios
        .get(`api/confirm-participation/${id}/${userId}`)
        .then((res) => {
          this.courseParticipants = res.data.data.courseParticipants;
          this.$toast.success("Demande accepté");
        })
        .catch((error) => {
          this.$toast("Une erreur est survenue");
          console.log(error)
        });
    },
    rejectUser(id, userId) {
      this.$axios
        .get(`api/reject-participation/${id}/${userId}`)
        .then((res) => {
          this.courseParticipants = res.data.data.courseParticipants;
          this.$toast("Demande accepté");
        })
        .catch((error) => {
          console.log(error);
          this.$toast("Une erreur est survenue");
        });
    },
    deleteUser(id, userId) {
      this.$axios
        .get(`api/delete-user-to-participants/${id}/${userId}`)
        .then((res) => {
          this.courseParticipants = res.data.data.courseParticipants;
          this.$toast.error("Retirer de la liste des participants")
        })
        .catch((error) => {
          console.log(error)
        });
    }
  },
  created() {
    this.cookingCourse = this.cooking_course_data;

    this.EventBus.$on("refresh_course_props", (data) => {
      // this.cooking_course_data = data;
      console.log(data)
    });

    this.EventBus.$on("hide_particpation_request", () => {
      this.showAsking = false;
    });
  }
};
</script>

<style lang="css" scoped>
.description {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  font-size: 1.3rem;
  margin: 0;
  background: white;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #f8f8f8;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 20%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

.participation_request_item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
  /*background-color: #f8f8f8;*/
  border-radius: 12px;
  padding: 1.2rem 1rem;
}

.particpation_request_container {
  width: 100%;
}

.action_request {
}

.btn--custom {
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  color: #f8f8f8;
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
}

.accept {
  background-color: #d21d3a;
}

.accept:hover {
  background-color: #f8f8f8;
  color: #d21d3a;
  border: #fdf9f9;
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
}

.reject {
  background-color: gray;
}
.reject:hover {
  color: gray;
  background-color: #f8f8f8;
  border: #f8f8f8;
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
}

.parent-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dash {
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.btn-secondary {
  background-color: gray !important;
  border: gray;
}

.btn-secondary:hover {
  background-color: rgb(199, 197, 197) !important;
  border: gray;
}
</style>
