<template>
  <div>
    <section class="selected_item_container">     
        <RestaurantOrdersTable :restaurant_orders="resto_orders"></RestaurantOrdersTable>
    </section>
  </div>
</template>

<script>
import RestaurantOrdersTable from "./RestaurantOrdersTable.vue"
export default {
    props : ['resto_orders'],
    components : {
        RestaurantOrdersTable
    }
};
</script>

<style lang="scss" scoped></style>
