/* .btn-hover:hover,
.btn-hover:focus {
  color: #495057 !important;
  border-radius: 4px;
} */

.btn-hover:hover {
	/* color: rgb(25, 25, 26) !important; */
	/* color: #495057 !important; */
	color: #495057 !important;
	/* border-radius: 15px; */
	border-radius: 4px;
}

.grey-text-icon {
	color: #ced4da !important;
}


/* .btn-hover:hover, .btn-hover:focus{
      color:#ddd !important;
      background-color: rgb(58, 58, 59);
      border-radius: 15px;
  }
  
  .grey-text-icon {
      color: rgb(58, 58, 59) !important;
  } */

.newElement {
	background-color: aqua !important;
}

.grey-icon-input {
	color: #ced4da !important;
}

.badge-lg-primary {
	height: 44px;
	width: 44px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #e9ecef;
}

.badge-xof-primary {
	height: max-content;
	width: max-content;
	border-radius: 8px;
	padding: 5px;
	font-size: 18px;
	background-color: #e8ecef;
	color: #261b64;
}

.align-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


/* Visa Card - Display Datas */

.card-visa {
	width: 100%;
	height: inherit;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.card-bottom {
	position: relative;
	text-align: center;
	display: inline-block;
	justify-content: center;
	align-items: center;
	top: 100%;
}

.card__part {
	/* box-shadow: 1px 1px #aaa3a3; */
	top: 0;
	position: relative;
	z-index: 1000;
	left: 0;
	display: flex;
	width: 370px;
	height: inherit;
	align-items: center;
	justify-content: center;
	/* background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000);  */
	/*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
	/* background-repeat: no-repeat;
          background-position: center;
          background-size: cover; */
	border-radius: 23px;
	/* -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
	/* -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden; */
}

.card__front {
	padding: 35px;
	/* -webkit-transform: rotateY(0);
      -moz-transform: rotateY(0); */
}

.card__back {
	padding: 18px 0;
	/* -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg); */
}

.card__black-line {
	margin-top: 5px;
	height: 38px;
	background-color: #303030;
}

.card__logo {
	height: 16px;
	font-size: 11px;
	/* position: absolute;
          display: flex; */
	/* width: 100%; */
	/* left: 50%; */
	/* width: 50%; */
	/* float: right; */
}

.card__front-logo-visa {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	top: 80%;
	right: 0;
	padding-right: 10px;
}

.card__front-logo {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	/* width: 100%; */
	width: max-content;
	/* left: 22%; */
	top: 18px;
	/* right: inherit; */
	right: 0%;
	padding-right: 10px;
	/* 
    position: absolute;
    display: flex;
    width: 100%;
    top: 10px;
    right: 18px; 
    left: 100%; 
    float: right; */
}

.card__front-square {
	position: absolute;
	display: flex;
	justify-content: flex-start;
	/* width: 100%; */
	/* left: 22%; */
	top: 18px;
	left: inherit;
	padding-left: 10px;
}

.card__square {
	border-radius: 5px;
	height: 30px;
}

.card_number {
	display: block;
	width: 100%;
	word-spacing: 4px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 25%;
}

.card__space-45 {
	width: 45%;
	float: left;
}

.card__space-25 {
	width: 25%;
	float: left;
}

.card__label {
	font-size: 7px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 1px;
}

.card__info {
	margin-bottom: 0;
	margin-top: 5px;
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card__back-content {
	padding: 15px 15px 0;
}

.card__secret--last {
	color: #303030;
	text-align: right;
	margin: 0;
	font-size: 14px;
}

.card__secret {
	padding: 5px 12px;
	background-color: #fff;
	position: relative;
}

.card__secret:before {
	content: "";
	position: absolute;
	top: -3px;
	left: -3px;
	height: calc(100% + 6px);
	width: calc(100% - 42px);
	border-radius: 4px;
	background: repeating-linear-gradient( 45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.card__back-square {
	position: absolute;
	bottom: 15px;
	left: 15px;
}


/* .card-visa:hover .card__front {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
    
  }
    
  .card-visa:hover .card__back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
  } */

.modal-body {
	padding: 0 !important;
}

.col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: none;
	/* border-right: 2px solid #e9e9e9; */
	background: #f4f4f4;
	position: relative;
	box-shadow: inset -4px 0 6px rgb(0 0 0 / 2%);
	/* padding-bottom: 10px; */
	/* padding-top: 70px; */
	padding-top: 155px;
	width: 160px;
	/*132px;*/
	text-align: left;
}

.card-header,
.card-cup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 0 1.8rem; */
	min-height: 4.2rem;
	/* width: 100%; */
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	/* color: #495057; */
	/* font-weight: 600;
      background-color: transparent;
      border: 1.3px solid #261b64; */
	/* width: 100%; */
	font-weight: 600;
}

.nav-tabs .nav-link.active:focus {
	outline: none !important;
	border: none !important;
}

.col {
	background: white;
}

.display-for-small-only {
	display: none !important;
}

.modalOrangeMoney {
	height: 70vh;
	width: 100%;
}

.modalCalculator {
	height: auto;
	width: 100%;
}

.modalBiciciMoney {
	height: 40vh;
	width: 100%;
}

.biciciForm {
	width: 100%;
	height: 54vh;
	position: relative;
}

.sharingBloc {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* top: -110px; */
	/* background: #ffffff; */
	/* left: 32%; */
	width: 100%;
	z-index: 0;
	flex-direction: column;
}

.colorCertificate {
	color: #157bd5;
}

.partageText {
	display: block;
}

#openCalculator___BV_modal_content_ {
	background: transparent;
	box-shadow: none;
}


/* Calculator */

/*
.output {
    text-align: right;
    background-color: #1e1e1e;
    width: min(450px, 70%);
    margin: 10px auto;
    color: #fff;
    padding: 8px;
}
  
.outputCalc {
    background-color: transparent;
    padding-right: 50px;
    font-size: 80px;
    overflow-x: scroll;
}
  
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    width: min(450px, 70%);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    gap: 5px;
}
  
.buttonCalculator {
    background-color: rgb(92, 92, 98) ;
    padding: 6px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 4px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.buttonCalculator .operator:hover {
    background-color: rgb(238, 167, 75);
    color: #fff;
}
  
.buttonCalculator:hover {
    background-color: #9f9fa1;
    color: #fff;
}
  
.operator {
    background-color: rgb(239, 163, 60);
    color: #fff;
}
  
.btnFont{
    font-size: 2.5em;
}
*/

.displayCalculatorBtn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(255, 255, 255);
	/* width: min(450px, 70%); */
	margin: 0 auto;
	/* margin-bottom: -43px !important; */
	padding: 20px;
}

.calculator {
	display: grid;
	grid-template-rows: repeat(1, minmax(30px, auto));
	/* grid-template-columns: repeat(4, 60px); */
	grid-gap: 12px;
	padding: 10px;
	font-weight: 300;
	font-size: 33px;
	background-color: #1b1e21;
	justify-content: center;
	padding-bottom: 30px !important;
	/* border-radius: 10px; */
	/* box-shadow: 0px 3px 80px -30px rgb(13 81 134); */
}

.btnCalculator,
.zero {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #ffffff;
	background-color: rgb(92, 92, 98);
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.btnCalculator:hover,
.zero:hover {
	background-color: #9f9fa1;
	color: #fff;
}

.btnCalculator:focus,
.zero:focus {
	background-color: #9f9fa1;
	color: #fff;
}

.display,
.answer {
	grid-column: 1 / 5;
	display: flex;
	align-items: center;
	text-overflow: clip;
}

.display {
	color: #ffffff;
	border-bottom: 1px solid #e1e1e1;
	/* margin-bottom: 15px; */
	font-size: 23px;
	overflow-x: scroll;
	width: 350px;
	white-space: nowrap;
}

.answer {
	font-weight: 500;
	color: #ffffff;
	font-size: 45px;
	width: 350px;
	/* height: 65px; */
	overflow: overlay;
}

.zero {
	grid-column: 1 / 3;
	width: 100%;
	border-radius: 60px;
}

.operator {
	background-color: rgb(239, 163, 60);
	color: #ffffff;
}

.operator:hover {
	background-color: #ffffff;
	color: rgb(239, 163, 60);
}

.greyBtn {
	background-color: #a5a5a5 !important;
	color: #1e1e1e !important;
}

.qrcode-border {
	border: 6px solid black;
	background-clip: padding-box;
	border-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI1IiB3aWR0aD0iMjUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMTBIM1YzaDdWMEgwWk0xNSAwdjNoN3Y3aDNWMFpNMCAxNVYyNUgxMFYyMkgzdi03em0yMiAwdjdoLTd2M0gyNVYxNVoiLz48L3N2Zz4=) 10 repeat;
	border-image-outset: 0;
	border-image-width: 2;
	width: 115px;
	margin: 0 auto;
}


/* input[type='radio']:after {
    width: 17px;
    height: 18px;
    border-radius: 15px; 
    top: -1px;
    left: -1px;
    position: relative;
    background-color: rgb(238, 238, 238);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(238, 238, 238);
}

input[type='radio']:checked:after {
    width: 17px;
    height: 18px;
    border-radius: 15px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #261b64;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
} */


/* Calculator */


/* @media (max-width: 280px) {
      .partageText {
          display: none;
      }
  } */


/* @media ( max-width: 280px ){
      .outputCalc {
          padding-right: 10px;
      }
  } */

.sharing-text-pos {
	padding-top: 0px;
	margin-top: -18px;
}

.custom-text {
	/* background: #b0d5fa; */
	background: #343a40;
    font-size: 20px;
    padding: 4px;
    /* color: #000000; */
	color: #ffffff;
}

.collected-transactions{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

@media (max-width: 575px) {

	.sharing-text-pos {
		padding-top: 20px;
		margin-top: 0px;
	}

	.company-logo {
		/* height: 50px;
        width: auto;
        display: inherit; */
		height: auto;
		/* width: 100px; */
		/* display: inline-grid; */
	}
	.sharingBloc {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		margin-top: 0 !important;
		left: 0 !important;
		flex-direction: column;
	}
	.nav-tabs .nav-link.disabled {
		display: none;
	}
	.display-for-small-only {
		display: flex !important;
	}
	.display-for-large-only {
		display: none !important;
	}
	.line-tabs:not(.borderless) {
		border-bottom: none !important;
	}
	.modal-dialog-centered {
		margin: 0 !important;
	}
	.modalOrangeMoney {
		height: 100vh;
	}
	.modalCalculator {
		height: 100vh;
	}
	.modalBiciciMoney {
		height: 100vh;
	}
	.modal {
		max-width: 100%;
		margin: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100vh;
		display: flex;
		position: fixed;
		z-index: 100000;
		background: #ffffff;
	}
	.modal-content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		outline: 0;
		box-shadow: none;
	}
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-item.show .nav-link {
		font-weight: 600;
		/* color: #212529; */
		color: #ffffff;
		background: #212529;
		border-radius: 5px;
		/* border-left: 1px solid rgb(255, 159, 0); */
	}
	.nav-tabs .nav-link.active img {
		filter: grayscale(100%) invert(1);
	}
	.nav-tabs .nav-link.active:focus {
		outline: none !important;
	}
	.nav-tabs .nav-item {
		border: none;
	}
	.card-header .nav-tabs {
		/* height: 7.2rem; */
		display: flex;
		flex-direction: row;
		align-items: center !important;
		justify-content: left;
		padding: 8px;
		margin-top: 15px !important;
		background: #f4f4f4;
	}
	.card-header {
		border-bottom: none;
	}
	.nav-tabs .nav-link {
		color: #212729;
		margin-bottom: 5px;
		font-size: 18px;
		font-weight: 800;
	}
	.biciciForm {
		height: 100vh;
	}
	/* Calculator */
	.calculator {
		font-weight: 300;
		font-size: 23px;
		grid-gap: 12px;
		padding: 5px;
		/* border-radius: 10px; */
		/* box-shadow: 0px 3px 80px -30px rgb(13 81 134); */
	}
	.btnCalculator,
	.zero {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
	.displayCalculatorBtn {
		width: auto;
	}
	.zero {
		width: 100%;
		border-radius: 60px;
	}
	/* .displayCalculatorBtn{
          width: auto;
      }
  
      .output {
          width: auto;
          margin: 0 auto;
      }
  
      .outputCalc {
          padding-right: max(32px);
          font-size: 45px;
      }
  
      .buttons {
          width: auto;
      }
  
      .buttonCalculator {
          width: 52px;
          height: 52px;
      }
  
      .btnFont{
          font-size: 1.8em;
      }*/
	#openCalculator.modal {
		background-color: transparent;
	}
	.display,
	.answer {
		width: 270px;
	}
	/* Calculator */
}

.displayerror__details {
	background: #f5f5f5;
	border-radius: 6px;
	color: #011b33;
	margin: 0 0 10px;
	padding: 20px 0 20px;
	width: 100%;
	font-size: 1.4rem;
}

.displayerror__details .error-information {
	color: #db110d;
	text-align: center;
	/* margin-top: 20px; */
	padding: 0 25px;
	font-size: 12px;
}

.displayerror__details .paiement-failed {
	font-weight: 600;
	color: #011b33;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: -0.1px;
}

.checkout__stage {
	/* margin: 30px 0 20px; */
	/* min-height: 250px; */
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.payment-form {
	width: 100%;
}

.visa-qr-container,
.visa-qr-container__header {
	text-align: center;
}

.card-header .nav-tabs {
	min-height: 4.2rem;
	align-items: flex-end;
	margin-bottom: -5px;
	margin-top: 5px;
}

.line-tabs .nav-link:hover,
.line-tabs .nav-link.active {
	color: #ffffff;
	border-color: transparent !important;
	/* background: #261b64; */
	background-color: #000000;
	border-radius: 0 !important;
}

.line-tabs .nav-link:hover img {
	/* width: 13px; */
	filter: grayscale(100%) invert(1);
}

.line-tabs .nav-link.active img {
	/* width: 13px; */
	filter: grayscale(100%) invert(1);
}

.line-tabs .nav-link {
	/* padding: 0.9rem 1.5rem; */
	border: 0;
	/* border-bottom: 1px solid #261b64; */
	color: #000000;
	transition: all 0.25s;
	/* border-top: 1px solid #261b64; */
	width: 100%;
	padding: 18px;
	font-weight: 600;
	/* background-color: #261b64; */
}

.line-tabs:not(.borderless) .nav-item {
	margin-bottom: -1px;
	width: 100%;
	font-size: 13px;
}

.card-header,
.card-cup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 !important;
	min-height: 4.2rem;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 1s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
	transition: opacity;
	opacity: 0;
}

.card-body {
	flex: 1 1 auto;
	padding: 0;
	/* height: 600px; */
	top: 30px;
	position: relative;
}

.btn {
	line-height: 2.4;
	border-radius: 0.5rem;
	text-overflow: ellipsis;
}

.search-top-bar .input-search-icon,
.search-top-bar .input-search-close {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 30.3% !important;
	color: #71808f;
	font-size: 20px;
	border: 0;
	background-color: inherit;
	padding: 0;
	outline: 0;
	cursor: pointer;
	transform: none !important;
	border-radius: 50%;
	left: 87%;
}

.search-top-bar .search-input {
	display: block;
	height: 80%;
	width: 100%;
	padding: 15px !important;
	color: #444;
	background-color: #fff;
	/* border: 1px solid; */
	outline: 0;
	box-shadow: none;
	border-radius: 30px;
	box-shadow: inset 0 0 0 1px #dee3ea;
}

.btn-whatsapp.btn-link {
	color: #128C7E;
	background-color: transparent;
}

.btn-telegram.btn-link {
	color: #229ED9;
	background-color: transparent;
}

.btn-site.btn-link {
	color: #1e1e1e;
	background-color: transparent;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 580px;
		margin: 1.75rem auto;
		/* top: 5%; */
		top: 80px;
	}
}

.semi-circle {
	width: 238px;
	height: 115px;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	border: 20px solid #f6a305;
	border-top: 0;
	margin: 0 auto;
	top: 25px;
	position: relative;
}

.multiselect__tags {
	min-height: 40px;
	display: block;
	padding: 8px 28px 0 8px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	background: #ffffff;
	font-size: 14px;
	white-space: nowrap;
}

/* .multiselect--disabled .multiselect__current, .multiselect--disabled .multiselect__select {
    background: #ededed;
    z-index: 20;
} */

.none-outline:focus{
	outline: none !important;
}

.b-sidebar.b-sidebar-right {
	left: auto;
	right: 0;
	width: 100%;
}

.b-sidebar.b-sidebar-right > .b-sidebar-header .close {
	margin-right: auto;
	font-size: 25px;
}

.pfm-payForm__divider {
    align-items: center;
}
.flex-justify--space-between {
    justify-content: space-between;
}
.flex {
    display: flex;
}

.pfm-payForm__divider .divider-dashed {
    border-top: 1px dashed #c1c1c1;
    flex: 1 1;
}

.pfm-payForm__divider p {
    margin: 0 20px;
    color: #909090;
    font-size: 12px;
}

.pfm-payForm__divider {
	margin: 30px 0px -10px; padding: 15px 7px 0px 7px;
}

p {
    margin: 0 0 1.2rem;
}

.pfm__copy {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 5px 7px 5px 15px; */
	padding: 5px 4px 5px 0px;
    position: static;
    width: 100%;
    height: 45px;
    border: 2px solid;
    box-shadow: 0 0 15px rgb(40 80 86 / 35%);
    border-radius: 6px;
}

.pfm__copy-link-preview {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    flex: 1 1;
}

.pfm__copy-button {
    min-height: unset;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 6px;
}

.button--cta {
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
}
.button {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    min-height: 33px;
    border-radius: 5px;
    outline: none;
    background: #fafafa;
    color: #57584e;
}

@media (max-width: 480px) {
	.pfm__copy-link-preview {
		width: 220px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-left: 5px;
	}
}

.btn-pay-by-someone {
	/* color: #212529 !important;  */
	color: #ffffff !important;
	background-color: #241d60; /* #f5f5f5; */ 
	border-color: #241d60 ;/*#f5f5f5; */ 
	font-weight: 800;
}

.cancel-payment {
	left: 92% !important; 
	top: 15px !important; 
	position: relative !important; 
	/* background: #000000 !important;  */
	background: #241d60 !important;
	color: #ffffff !important;
}