body {
    margin: 0px;
}
* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
}
body {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.apaympro-container {
    font-size: 16px;
}
.apaympro-container .apaympro-color-bar {
    height: 4px;
    width: 100%;
    z-index: 200;
    position: fixed;
    top: 0px;
    background: linear-gradient( to right, rgb(253, 172, 0) 0%, rgb(253, 172, 0) 100% );
}

.apaympro-container .apaympro-test-bar {
    position: relative;
    width: 100%;
    background: rgb(240, 80, 80);
    padding: 8px 15px;
    z-index: 100;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.animated {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}
.fadeIn {
    animation-name: fadeIn;
}
.apaympro-container .apaympro-wrapper {
    width: 420px;
    max-width: 100%;
    margin: 0px auto;
    position: relative;
}
.apaympro-container .apaympro-page {
    width: 100%;
}
.apaympro-container .apaympro-page .apaympro-header {
    display: inline-block;
    width: 100%;
    /* margin: 30px 0px; */
    /* margin-top: 30px; */
    margin-top: 0px;
    text-align: center;
}
.apaympro-container .apaympro-page .apaympro-header .company-logo {
    /* height: 50px;
    width: auto;
    display: inherit; */
    /* height: 50px; */
    width: 80px;
    display: inline-grid;
}
img {
    border: 0px;
}
img {
    vertical-align: middle;
}
.apaympro-container .apaympro-page .apaympro-header .company-logo img {
    /* max-height: 100%; */
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px; */
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h3, h3 {
    font-size: 24px;
}
.apaympro-container .apaympro-page .apaympro-header .page-name {
    font-size: 18px;
    font-weight: normal;
    margin: 20px auto 0px;
    /* width: 80%; */
    line-height: 1.3;
}
p {
    margin: 0px 0px 10px;
}
.apaympro-container .apaympro-page .apaympro-header .company-name {
    color: rgb(119, 119, 119);
    margin: 5px auto 0px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.apaympro-container .apaympro-page .apaympro-header .plan-info, .apaympro-container .apaympro-page .apaympro-header .page-description {
    margin: 15px 0px 0px;
    padding: 0px 15px;
}
.apaympro-container .apaympro-page .apaympro-header .page-description {
    font-size: 13px;
}
.apaympro-container .apaympro-page .body {
    display: inline-block;
    width: 100%;
}
.apaympro-container .apaympro-page .payment-form {
    padding: 25px;
   /* border: 1px solid rgb(234, 234, 234);
    */
    border-radius: 10px;
    background: rgb(251, 251, 251);
    /* background: rgb(245, 245, 245); */
    box-shadow: 0px 30px 40px -20px hsl(229deg 6% 66%);
}
.apaympro-container .error-message {
    font-size: 13px;
    border-radius: 2px;
    display: none;
    margin-bottom: 20px;
    text-align: center;
    clear: both;
    color: rgb(242, 0, 0);
}
.apaympro-container .error-message span {
    margin-left: 5px;
}
.element-pair {
    clear: both;
}
.element-pair-container {
    display: flex;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-right: -5px;
}
.element-wrap {
    margin-bottom: 10px;
    position: relative;
}
.element-pair .element-wrap {
    margin: 0px;
}
.element-pair-container > .element-wrap {
    flex: 1 1 auto;
    /* padding: 0px 5px; */
    padding: 0px 3px;
}
.element-label {
    font-size: 14px;
   /*font-weight: bold;
   */
    line-height: 2.5em;
}
.element-label span {
    font-weight: 800;
    color: #000000;
}
button, input, select {
    margin: 0px;
    font: inherit;
    color: inherit;
}
input {
    line-height: normal;
}
button, input, select {
    font-size: inherit;
    line-height: inherit;
}
.element-is-select, .element-is-input {
    display: block;
   /* height: 35px;
    */
    font-size: 15px;
   /* width: 100%;
    */
    line-height: 35px;
   /* padding: 0px 10px;
    */
   /* border: 1px solid rgb(204, 204, 204);
    */
    border-radius: 5px;
    outline: none;
    /* border: 1px solid #e8e8e8; */
    border: 1px solid #cccccc;
    height: 40px;
    background-color: white;
   /* padding: 2px 20px;
    */
    padding: 2px 5px;
    color: #000;
    width: 100%;
}
.element-is-select:active, .element-is-input:active, .element-is-select:focus, .element-is-input:focus {
    border-color: rgb(38, 27, 100);
}
.element-wrap-for-select {
    position: relative;
}
.element-wrap-for-select::after {
    position: absolute;
    content: "";
    bottom: 15px;
    right: 15px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 4px 0px;
    border-color: rgb(144, 144, 144) transparent;
    z-index: 2;
}
button, select {
    text-transform: none;
}
.apaympro-container select {
    appearance: none;
}
.element-is-select:disabled, .element-is-input:disabled {
    /* color: rgb(119, 119, 119); */
    /* background: rgb(238, 238, 238); */
    /* border: rgb(238, 238, 238); */
    /* border: rgb(238, 238, 238); */
    /* background: none; */
    pointer-events: none;
    /* background-color: #e9e9e9; */
    background-color: rgb(238, 238, 238);
}
.element-is-select {
    appearance: none;
    cursor: pointer;
    background: white;
}
.element-wrap-for-submit {
    margin: 30px 0px 5px;
    text-align: center;
}
button {
    overflow: visible;
}
.button {
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px 1px 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 33px;
    outline: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
    text-decoration: none;
}
.button-is-blue {
    color: white;
    background-color: rgb(38, 27, 100);
    border-color: rgb(38, 27, 100);
    box-shadow: none;
    border-radius: 30px;
    line-height: 35px;
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
}
.fineprint {
    font-size: 13px;
    color: rgb(113, 113, 113);
    float: left;
    text-align: center;
    margin: 15px auto 0px;
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.text-center {
    text-align: center;
}
.hidden {
    display: none !important;
}
.payment-success, .payment-pending {
    padding: 40px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 4px;
   /* background: rgb(251, 251, 251);
    */
    background: rgb(255, 255, 255);
    text-align: center;
}
.payment-success img, .payment-pending img, .subscription-cancelled img {
    max-width: 180px;
    /* max-width: 150px; */
}
.payment-success h3, .payment-pending h3, .subscription-cancelled h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.01em;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.h5, h5 {
    font-size: 14px;
}
.payment-success h5, .payment-pending h5, .subscription-cancelled h5 {
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.3;
}
.apaympro-container .apaympro-footer {
    width: 420px;
    max-width: 100%;
    font-size: 14px;
    /* text-transform: uppercase; */
    margin: 0 auto;
    text-align: center;
    /* opacity: 0.7; */
    clear: both;
}
a {
    background-color: transparent;
}
a:active, a:hover {
    outline: 0px;
}
a {
    color: rgb(38, 27, 100);
    text-decoration: none;
}
/* a:focus, a:hover {
    color: rgb(38, 27, 100);
    text-decoration: underline;
}
*/
a:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.apaympro-container .apaympro-footer a {
    text-decoration: none;
}

/* .apaympro-container .apaympro-footer img {
    width: 420px;
} */

@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media (max-width: 640px) {
    .apaympro-container .apaympro-wrapper {
        margin: 0px auto;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media (max-width: 640px) {
    .apaympro-container .apaympro-page {
        border-radius: 0px;
        padding: 0px;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    img {
        break-inside: avoid;
   }
}
@media print {
    img {
        max-width: 100% !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    h2, h3, p {
        orphans: 3;
        widows: 3;
   }
}
@media print {
    h2, h3 {
        break-after: avoid;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    h2, h3, p {
        orphans: 3;
        widows: 3;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media (max-width: 640px) {
    .apaympro-container .apaympro-page .body {
        padding: 0px;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media (max-width: 767px) {
    .apaympro-container .apaympro-page .payment-form {
        border-radius: 0px;
        border-width: 1px 0px;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    select {
        background: rgb(255, 255, 255) !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    img {
        break-inside: avoid;
   }
}
@media print {
    img {
        max-width: 100% !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    h2, h3, p {
        orphans: 3;
        widows: 3;
   }
}
@media print {
    h2, h3 {
        break-after: avoid;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    img {
        break-inside: avoid;
   }
}
@media print {
    img {
        max-width: 100% !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    h2, h3, p {
        orphans: 3;
        widows: 3;
   }
}
@media print {
    h2, h3 {
        break-after: avoid;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    a, a:visited {
        text-decoration: underline;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    img {
        break-inside: avoid;
   }
}
@media print {
    img {
        max-width: 100% !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
@media print {
    *, ::after, ::before {
        color: rgb(0, 0, 0) !important;
        text-shadow: none !important;
        background: 0px 0px !important;
        box-shadow: none !important;
   }
}
.element-helper {
    font-size: 13px;
    color: #777;
    margin-top: 5px;
}
.summary {
    border-top: solid 1px #e6e6e6;
    margin-top: 20px;
    padding: 20px 0 0;
}
.summary p {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.button-is-wide {
    width: 100%;
}
