<template>
    <div>
        <section>
            <div class="container">
                <div class="account">
                    <div class="row" id="main_content">
                        <div class="col-md-12 col-lg-3  account--left ">
                            <!-- <h3 class="mt-5">Mon compte</h3> -->

                            <ul class="mb-0 side-account">
                                <a href="">
                                    <li class="menu--active"><i class="fas fa-user"></i> &nbsp;
                                        Détails profil
                                    </li>
                                </a>

                                <a href="">
                                    <li class=""><i class="fas fa-bars"></i> &nbsp;Mes
                                        Mes Recettes
                                    </li>
                                </a>

                            </ul>
                        </div>
                        
                        <div class="col-md-12 col-lg-9  account--right">    
                            <form >
                                
                                <div class="details__inputs">
                                    <h3>Information compte utilisateur</h3>
                        
                                    <div class="input--group">
                                        <label for="">Email <span>*</span></label>
                                        <input name="email" value="" id="" placeholder="votre email..">
                                        <span class="d-flex justify-content-center text-danger m-2"></span>
                                    </div>

                                    <div class="form-member-item">
                                        <label>Mot de passe Actuel*</label>
                                        <input type="password" name="password" placeholder="Mot de passe" required="" v-model="form.password">
                                    </div>
                                    
                                    <div class="input--group">
                                        <label for="">Mot de passe <span>*</span></label>
                                        <input type="password" name="password_n" placeholder="*************">
                                    </div>
                                    <div class="input--group">
                                        <label for="">Confirmer mot de passe<span>*</span></label>
                                        <input type="password" name="password_c" placeholder="*************">
                                    </div>
                                </div>
                                
                                <div class="details__inputs">
                                    <h3>Informations personnelles</h3>
                        
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                            <div class="input--group">
                                                <label for="">Prenoms <span>*</span></label>
                                                <input name="first_name" value="" id="" placeholder="votre prenom..">
                                                    <span class="d-flex justify-content-center text-danger m-2"></span>
                                            </div>
                                        </div>
                        
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                            <div class="input--group">
                                                <label for="">Nom <span>*</span></label>
                                                <input name="last_name" value="" id="" placeholder="votre nom..">
                                                <span class="d-flex justify-content-center text-danger m-2"></span>
                                            </div>
                                        </div>
                        
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                            <div class="input--group">
                                                <label for="">Société</label>
                                                <input name="company_name" value="" id=""
                                                    placeholder="votre compagnie..">
                                                <span class="d-flex justify-content-center text-danger m-2"></span>
                                            </div>
                                        </div>
                        
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                            <div class="input--group">
                                                <label for="">Numero d'identification fiscale </label>
                                                <input name="fiscal_identity" value="" id=""
                                                    placeholder="votre identification fiscale..">
                                                
                                            </div>
                                        </div>
                        
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                            <div class="input--group">
                                                <label for="">Téléphone portable</label>
                                                <input name="phone" value="" id="" placeholder="votre téléphone..">
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>
                                
                                
                                <button type="submit" class="btn btn--orange p-2 w-100 mt-2" style="font-size:18px;">Modifier profil</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
.input--connexions input,
select,
textarea {
    height: 40px !important;
    font-size: 18px;
}

.input--connexions select option {
    height: 40px !important;
    font-size: 18px;
}

/* ******************************** */
.input--group label {
    margin-bottom: .2rem !important;
}

.input--group label span {
    color: red;
}

.input--group input,
select {
    padding: 7px;
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: all .3s ease-in-out;
}

.input--group input:focus,
select:focus {
    border: 1px solid #06447E;
}

.details__inputs {
    margin-bottom: 40px;
}

.details__inputs h2 {
    margin-bottom: 10px;
}

.input--group input,
select {
    font-size: 1.4rem !important;
}

.fac--border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #06447E;
}

.fac--border p {
    font-size: 1.4rem;
}

.fac--border label {
    font-size: 1.4rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 48em) {
    .fac--border {
        display: block;
    }
}

.account--right {
    padding: 0 2rem 2rem 2rem;
    max-height: 80vh;
    overflow: auto;
}

@media only screen and (max-width: 36em) {
    .account--right {
        padding: 2rem !important;
    }
}

.account--right h1 {
    margin-bottom: 2rem;
}
</style>