<template>
  <div>
    <div class="content">
      <section class="breadcrumb line-top">
        <a href="https://www.abidjan.net/">Accueil</a>
        <span @click="$router.push({name:'Accueil'})">Cuisine</span>
        <span>Profil</span>
        <span>
          {{ user?.nom }}  {{ user?.prenoms }}
        </span>
      </section>
    </div>
    <div class="sub-content">
      <div class="avatar_container mt-5">
        <div class="avatar">
          <img
            src="https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg"
            alt="avatar"
          />
        </div>
      </div>
      <div class="user_desc mb-2">Bienvenue sur la page de {{ user?.nom }}  {{ user?.prenoms }}</div>
      
  
      <div class="recipe_container mt-3">
        <div>
          <h5 class="section_titre_user_recipe">Recettes Publiées</h5>
          <div class="recipe_list">
            <section class="grd-item">
              <recipe-list :recipes_data="recipes" v-if="recipes"> 
              </recipe-list>
              <div class="divider"></div>
          </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RecipeList from "../accueil/_partials/RecipeList.vue";
import DfpSlotRight from "../../tools/DfpSlotRight.vue";
import Pagination from "../../partials/Pagination.vue";

export default {
  data() {
    return {
      pagination_accueil_datas: null,
      recipes: null,
      recipes: null,
      user: null,
      cookingTricks: null,
      cookingCourse: null,
      form : {
        email : ""
      }
    };
  },
  components: {
    RecipeList,
    DfpSlotRight,
    Pagination
  },
  methods: {
    getUser() {
      const userInfo = async () => {
        this.$loading(true);
        await axios
          .post("get-user_profil",this.form, 
            {
                headers: { "Content-Type": "multipart/form-data" },
            }
          )
          .then((res) => {

            console.log(res.data.data)

            this.user = res.data.data;
            this.recipes = this.user.recipes?.reverse()

            // this.pagination_accueil_datas = res.data.pagination;
            //console.log(this.pagination_accueil_datas);

            this.cookingTricks = this.user.cookingTricks?.reverse()
            this.cookingCourse = this.user.courses?.reverse()

            console.log(this.recipes)

          })
          .catch((error) => {
            console.log(">>>>>>>> Error User Info <<<<<<<<<<<<")
            console.log(error.response)
            if (error.response.status == 401) {
              this.$toast.info("Votre session a expirée");
              User.logout();
            }
          })
          .finally(() => {
            this.$loading(false);
          });
      };
      userInfo();
    }
  },
  created() {
      this.form.email = this.$route.params.email
      this.getUser()
  },
};
</script>

<style scoped>

.avatar_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 120px;
}

.avatar img {
  border-radius: 50%;
  height: 100%;
  object-fit: contain;
}

.recipe_list {
  width: 100%;
 
}

.recipe_container {
  display: flex;
  justify-content: center;
}

.user_desc {
  line-height: 2.25rem;
  font-size: 1.75rem;
  letter-spacing: 0;
  font-weight: 400;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(32, 33, 36);
  text-align: center;
}

.user_desc_2{
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
}

.section_titre_user_recipe {
  /* font-size: 30px; */
  /* color: #000; */
  /* color: #d21d3a; */
  /* color: #101010; */
  /* font-weight: 700; */
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 11;
}

.sub-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 0 !important;
    display: block;
    clear: both;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.recipe_type{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
</style>
