
<!DOCTYPE html>
<html>
    <head>
    
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"> #}
        {# <link rel="stylesheet" href="assets/css/main.css"> #}
        {# <link rel="stylesheet" href="assets/css/main-old.css"> #}
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="https://media-files.abidjan.net/public/css/scd-main.css">
        <link rel="stylesheet" href="https://media-files.abidjan.net/public/css/main-devices.css">
        <link rel="stylesheet" href="https://media-files.abidjan.net/public/css/main-devices.css">

        <!-- Start GPT Tag -->


        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src"assets/js/ui.js"></script>
        {% endblock %}

    </head>

    <body class="pg-home" data-instant-allow-query-string data-instant-intensity="viewport" style cz-shortcut-listen="true">
        {% block body %}

        {% endblock %}
    </body>
</html>
