<template>
  <div>
    <div class="grd-item mb-2">
      <a
        href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
        target="_blank"
        class="pub-label"
        >PUBLICITÉ
        <i class="fas fa-info-circle"></i>
      </a>
      <dfp-slot
        path="/2760456/Abidjan_net_news_articles_ATF_top_970x90"
        :size="[[1000, 200]]"
        id="div-gpt-ad-3238677-1"
      />
    </div>
    <banner>
      <template #title>
        <h2>
          {{ category.name }}
        </h2>
      </template>

      <template #image> </template>

      <template #description>
        <h1 class="text-800 mb-5 fs-4 text-color text-center">
          {{
            category.description == null || category.description != ""
              ? category.description
              : ""
          }}
        </h1>
      </template>
    </banner>

    <div class="content">
      <div class="sub-content">
        <section class="breadcrumb line-top">
          <a href="http://www.abidjan.net"> Accueil </a>
          <span @click="$router.push({ name: 'Accueil' })">Cuisine</span>
          <span>Catégories</span>
        </section>

        <!-- <h5 class="section_titre">Recettes - {{ category.name }}</h5> -->

        <section class="section-ad-right">
          <recipe-list :recipes_data="recipes" v-if="recipes">
            <template v-slot:section_title>
              <h5 class="section_titre">Recettes - {{ category.name }}</h5>
            </template>

            <!-- <template v-slot:pagination> -->
            <div class="col-12 d-flex justify-content-center mt-2">
              <Pagination
                :pagination_data="pagination_datas"
                :action_name="'get_recipe_list_action'"
              />
            </div>
            <!-- </template> -->
          </recipe-list>

          <div class="grd-item">
            <a
              href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
              target="_blank"
              class="pub-label"
              >PUBLICITÉ <i class="fas fa-info-circle"></i
            ></a>

            <div>
              <dfp-slot-right
                path="/2760456/Abidjan_net_news_articles_ATF_right_300x600"
                :size="[
                  [300, 600],
                  [300, 250],
                  [200, 200],
                ]"
                id="div-gpt-ad-3238677-2"
              />
            </div>
          </div>

          <div class="col-12 d-flex justify-content-center mt-5">
            <Pagination
              :pagination_data="pagination_datas"
              :action_name="actionName"
            />
          </div>

          <div class="divider"></div>
        </section>
      </div>
    </div>

    <div class="grd-item mt-3">
      <a
        href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
        target="_blank"
        class="pub-label"
        >PUBLICITÉ
        <i class="fas fa-info-circle"></i>
      </a>

      <div>
        <!-- [728,90],[468,60],[320,50]] -->
        <dfp-slot
          path="/2760456/Abidjan_net_news_articles_BTF_Bottom_970x90"
          :size="[[970, 90]]"
          id="div-gpt-ad-3238677-3"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Banner from "../accueil/_partials/Banner.vue";
import RecipeList from "../accueil/_partials/RecipeList.vue";
import Pagination from "../../partials/Pagination.vue";
import DfpSlot from "../../tools/DfpSlot.vue";
import DfpSlotRight from "../../tools/DfpSlotRight.vue";

export default {
  components: {
    Banner,
    RecipeList,
    Pagination,
    DfpSlot,
    DfpSlotRight,
  },
  data() {
    return {
      actionName: "get_recipe_category_action",
      form: {
        per_page: 12,
        page: 1,
      },
      id: null,
      category: null,
      recipes: null,
      pagination_datas: null,
    };
  },
  methods: {
    getRecipeType() {
      const RecipeTypeDetails = async () => {
        this.$loading(true);

        await axios
          .get(`/show-recipe_type/${this.slug}`)
          .then((res) => {
            console.log(">>>>>>RecipeType Détails Worked");
            console.log(this.id);
            console.log(res.data.data);

            this.category = res.data.data;
          })
          .catch((error) => {
            console.log(">>>>>>Error RecipeType Détails");
            console.log(error.response);

            if (error.response.status == 401) {
              this.$toast.info("Votre session a expiree");
              User.logout();
            }
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      RecipeTypeDetails();
    },
    getRecipesByType() {
      const recipeByType = async () => {
        await axios
          .post(`/get-recipes-by-type/${this.slug}`, this.form)
          .then((res) => {
            this.pagination_datas = res.data.pagination;
            this.recipes = res.data.data;

            console.log("RecipesList Category >>>>>>>>>");
            console.log(this.recipes);

            console.log("Pagination Datas Category >>>>>>>>>");
            console.log(this.pagination_datas);
          })
          .catch((error) => {
            console.log(">>>>>RecipeByType Category Error");
            console.log(error.response);
          });
      };

      recipeByType();
    },
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
  created() {
    (this.slug = this.$route.params.slug), this.getRecipesByType();

    this.getRecipeType();

    EventBus.$on("get_recipes_list", (data) => {
      console.log("Bien recu page Accueil.......");
      console.log(data);
      this.recipes = data.data;
      this.pagination_datas = data.pagination;
    });
  },
};
</script>

<style scoped>
.content {
  padding: 0px 60px 0px 60px !important;
}
</style>
