<template>
    <form novalidate="novalidate" method="get" action="pages-jaunes/rechercher">
      <div class="searchFormContent">
        <div class="searchFormFrst">
          <input
            type="text"
            name="search"
            v-model="keyword"
            @click="scrollToTop()"
            placeholder="Rechercher Astuce Culinaire..."
            data-min-length="1"
            list="searchs"
            required="required"
            class="inputSearch"
            v-debounce:3s="SearchcookingTrickAuto"
            :debounce-events="['click', 'keyup']"
          />
          <div class="autocomplete_container">
            <div class="contenuFormulaireOverlay">
            </div>
          </div>
  
          <datalist id="searchs"></datalist>
        </div>
  
        <input
          type="submit"
          name="searchPJ"
          value=""
          id="submit"
          class="searchPJ-Btn"
          @click.prevent="SearchcookingTrick"
        />
  
        <div class="clearBoth"></div>
      </div>
    </form>
  </template>
  
  <script>
  export default {
    data() {
      return {
        foundedItems: null,
        foundedItemsAuto: null,
        keyword: "",
        allcookingTrick: null
      };
    },
    methods: {
      SearchcookingTrick() {
        const searchcookingTrickByName = async () => {
          this.$axios
            .get(`search-cookingTrick-by-name/${this.keyword}`)
            .then((res) => {
  
              this.foundedItemsAuto = null;
              console.log(">>> SEARCH RESULT FOR CookingTrick >>>");
              this.foundedItems = res.data.data;
              console.log(this.foundedItems);
              this.EventBus.$emit("search_cooking_trick_auto", this.foundedItems);
  
            })
            .catch((error) => {
              console.log("Error");
              console.log(error.response);
            });
        };
  
        if (this.keyword == "") {
          this.foundedItems = null;
          this.EventBus.$emit("search_cookingTrick_auto", null);
        } else {
          searchcookingTrickByName();
        }
      },
      SearchcookingTrickAuto() {
        const searchcookingTrickByName = async () => {
          this.$axios
            .get(`/search-cooking_trick-by-name/${this.keyword}`)
            .then((res) => {
              console.log(">>> SEARCH RESULT FOR CookingTrick AUTO>>>");
              this.foundedItemsAuto = res.data.data.reverse();
              console.log(this.foundedItemsAuto);
  
              this.EventBus.$emit("search_cookingTrick_auto", this.foundedItemsAuto);
  
            })
            .catch((error) => {
              console.log("Error FOR CookingTrick");
              console.log(error.response);
            });
        };
  
        if (this.keyword == "") {
          this.foundedItemsAuto = null;
          this.EventBus.$emit("search_cookingTrick_auto", null);
        } else {
          searchcookingTrickByName();
        }
      },
      getAllcookingTricks() {
        const allcookingTrick = async () => {
          await this.$axios
            .get("/get-cookingTricks-count")
            .then((res) => {
              console.log("all cookingTrick >>>>>>>>");
              console.log(res);
  
              /*   if(res.data.data.status_code == 200 && res.status == 200){
                      this.allcookingTrick = res.data.data.length
                  } */
            })
            .catch((error) => {
              console.log("Error get All cookingTrick >>>>>>>>");
              console.log(error)
            });
        };
  
        allcookingTrick();
      },
      scrollToTop() {
        window.scrollTo(0, 250);
      },
      created() {
        this.getAllcookingTricks();
      },
      mounted() {
        this.getAllcookingTricks();
      },
    },
  };
  </script>
  
  <style lang="css" scoped>
  </style>
  