<template>
    <div class="col-md-5 col-sm-12 cooking_trick_container" data-aos="fade-up" data-aos-delay="300">
        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <a @click="$router.push({ name: 'CookingTrickDetails', params : { id : cooking_trick_data.id } })" class="d-block mb-5 h-100">
                    <img class="img-fluid img-thumbnail" :src="cooking_trick_data.image" alt="blog-1">
                </a>    
            </div>
            <div class="col-lg-7 col-sm-12 inner-content">
                <h5>
                <a 
                    @click="$router.push({ name: 'CookingTrickDetails', params : { id: cooking_trick_data.id } })"
                    class="section-title">{{ cooking_trick_data.title ?? '-------' }}</a>
                </h5>
                <h6 v-html="cooking_trick_data.body">
                </h6>

                <!-- <pre>
                    {{ cooking_trick_data }}
                </pre> -->


                <!-- <p>{{ cooking_trick_data.createdAt | moment("form", "now") }}</p> -->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['cooking_trick_data']
}
</script>

<style scoped>
img {
    height: 12rem;
    width: 100%;
}

h6{
overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    /* number of lines to show */
    line-clamp: 7;
    -webkit-box-orient: vertical;
}
.cooking_trick_container{
    border: solid 1px gray !important;
    border-radius: 1rem;
    margin: 0.6rem;
    padding: 2rem;
}
.section-title{
    font-size: 1.2rem;
}

a{
    cursor: pointer;
}

.section-title{
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
/* number of lines to show */
line-clamp: 1;
-webkit-box-orient: vertical;
}
</style>