<template>
  <div>
    <div class="my-5">
      <div
        class="row blog-grids head"
        v-if="index % 2 != 0"
        @click="
          $router.push({
            name: 'CookingTrickDetails',
            params: { slug: cooking_trick_data.slug },
          })
        "
      >
        <div class="col-lg-7 mb-lg-5 blog-img1">
          <img :src="cooking_trick_data.url" alt="" class="img-fluid" />
        </div>
        <div class="col-lg-5 mb-lg-5 mb-4">
          <h5>{{ cooking_trick_data.createdAt | moment("from", "now") }}</h5>
          <h4 class="my-3">{{ cooking_trick_data.title }}</h4>
          <p class="my-3" v-html="cooking_trick_data.body"></p>
          <a href="#" class="btn-banner"> Voir Plus </a>
        </div>

        <div class="separator"></div>
      </div>

      <div
        class="row blog-grids head"
        @click="
          $router.push({
            name: 'CookingTrickDetails',
            params: { slug: cooking_trick_data.slug },
          })
        "
        v-else
      >
        <div class="col-lg-5 mb-lg-5 mb-4">
          <h5>{{ cooking_trick_data.createdAt | moment("from", "now") }}</h5>
          <h4 class="my-3">{{ cooking_trick_data.title }}</h4>
          <p class="my-3" v-html="cooking_trick_data.body"></p>
          <a href="#" class="btn-banner"> Voir Plus </a>
        </div>
        <div class="col-lg-7 blog-img2">
          <img
            :src="cooking_trick_data.url"
            alt="image-astuce-culinaire"
            class="img-fluid"
            @error="replaceByDefault"
          />
        </div>

        <div class="separator"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["cooking_trick_data", "index"],
  methods: {
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
  created() {
    console.log(this.cooking_trick_data);
  },
};
</script>

<style scoped>
img {
  object-fit: cover;
}
.blog-grids h4 {
  font-size: 23px;
  text-transform: capitalize;
  font-weight: 600;
  color: #353c4e;
}
.blog-grids h5 {
  font-size: 16px;
  font-weight: 600;
  color: #999;
  letter-spacing: 0.5px;
  margin-top: 3em;
}
.blog-grids p {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #777;
  font-weight: normal;
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 26px !important;
}
.blog-grids.head h5 {
  font-size: 16px;
  font-weight: 600;
  color: #999;
  letter-spacing: 0.5px;
  margin-top: 2em;
}
.blog-img1 img,
.blog-img2 img {
  position: relative;
  height: 350px;
  width: 614px;
  border-radius: 12px;
}
.blog-img1 a {
  position: absolute;
  right: 2.6%;
  top: 1%;
  background: #fff;
  color: #ffb800;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.blog-img2 a {
  position: absolute;
  left: 2.8%;
  top: 1%;
  background: #fff;
  color: #ffb800;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
/*-- //blog --*/

/*-- gallery --*/
.gal-img {
  margin-bottom: 1em;
  padding-right: 0px;
}
/*-- //gallery --*/

/*-- popup --*/

.pop-overlay {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.btn-banner,
.btn-banner1 {
  background: #ffb800;
  border-radius: 0px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 10px 25px;
  display: inline-block;
}

.btn-banner {
  border-radius: 12px;
}

.body_description {
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.body_description p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 26px !important;
}

.separator {
  margin-top: 8px;
  height: 1.2px;
  background-color: #ebebeb;
}
</style>
