<template>
  <div>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Image</div>
        <div class="col col-2">Titre</div>
        <div class="col col-4">Date de Création</div>
        <div class="col col-3">Action</div>
      </li>
      <li class="table-row" v-for="item in cookingTricks" :key="item.id">
        <div class="col col-1 d-flex align-items-center" data-label="image">
          <img
            :src="item.url"
            height="80"
            width="80"
            alt="https://i.imgur.com/f0W33fk.png"
            style="border-radius: 12px"
            @error="replaceByDefault"
          />
        </div>
        <div class="col col-2 d-flex align-items-center" data-label="user-name">
          {{ item.title }} 
        </div>
        <div
          class="col col-3 d-flex align-items-centern description"
          data-label="description"
        >
        <!-- {{ item.createdAt =="" || item.createdAt == null ? '------------' : item.createdAt }} -->
          {{ item.createdAt | moment('L') }}
        </div>
        <div
          class="col col-4 d-flex align-items-center justify-content-between"
          data-label="created_at"
        >
          <a
            @click="
              $router.push({
                name: 'CookingTrickDetails',
                params: { slug: item.slug },
              })
            "
            target="_blank"
          >
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          <a
            @click="
              $router.push({
                name: 'EditCookingTrick',
                params: { slug: item.slug },
              })
            "
            target="_blank"
          >
            <i class="fa fa-edit" aria-hidden="true"></i>
          </a>
          <a @click="deleteCookingTrick(item.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data(){
    return {
      cookingTricks : null
    }
  },
  props: ["cooking_trick_data"],
  methods: {
    deleteCookingTrick(id) {
      this.axios
        .delete(`api/delete-cooking_trick/${id}`)
        .then((res) => {

          if (res.status==200 && res.data.status_code==204) {
            this.EventBus.$emit("reload_cooking_trick_list");
            this.$toast.error("Suppression éffectuée");
          }

        })
        .catch((error) => {
          console.log(">>>>> Error delete");
          console.log(error.response);
        });
    },
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    }
  },
  created(){

    this.cookingTricks = this.cooking_trick_data,

    this.EventBus.$on('reloadSons', (data)=>{
        this.cookingTricks = data
    })

  }
};
</script>

<style lang="css" scoped>
.description {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  font-size: 1.3rem;
  margin: 0;
  background: white;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #f8f8f8;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 20%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
</style>
