<template>
  <footer>
    <div class="mobile">
      <div class="in">
        <a href="https://www.abidjan.net/mobile">
          <img
            src="https://abidjan.net/public/img/footer-mobile.png"
            loading="lazy"
          />
          <p>
            <em>Abidjan.net Mobile</em>Découvrez nos applications mobile pour
            iPhone ou Android et nos services SMS
          </p>
        </a>
        <a href="https://www.abidjan.net/mobile/" class="cta sm"
          >En savoir plus</a
        >
      </div>
    </div>
    <div class="social">
      <div class="in">
        <div class="left">
          <span>Abonnez-vous à la newsletter d'Abidjan.net !</span>
          <a href="https://www.abidjan.net/newsletter/" class="cta sm"
            >Souscrire gratuitement</a
          >
        </div>
        <div class="right">
          <div class="in">
            <span>Suivez-nous !</span>
            <a
              href="https://www.facebook.com/abidjan.net"
              target="_blank"
              class="social-icon facebook-prm"
            ></a>
            <a
              href="https://twitter.com/abidjan_net"
              target="_blank"
              class="social-icon twitter-prm"
            ></a>
            <a
              href="https://www.abidjan.net/rss"
              target="_blank"
              class="social-icon rss-prm"
            ></a>
            <a
              href="https://www.youtube.com/user/abidjannetTV"
              target="_blank"
              class="social-icon youtube-prm"
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="network">
      <div class="in">
        <h4 class="section-title sub invert marginbottom">
          sur le réseau afrique
        </h4>
      </div>

      <!--<div class="grid3-3-2-1">-->

      <!--<a href=""class="grd-item ebloc-mini invert">
    
                    <picture><img src="/public/img/tmp/placeholder_16x10.png" /></picture>
                    <div class="txt">
                      <span class="infos">Ministères - 15/10/2018</span>
                      <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la Presse</span>
                    </div>
    
                  </a>
    
                  <a href=""class="grd-item ebloc-mini invert">
    
                    <picture><img src="/public/img/tmp/placeholder_16x10.png" /></picture>
                    <div class="txt">
                      <span class="infos">Ministères - 15/10/2018</span>
                      <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la Presse</span>
                    </div>
    
                  </a>
    
                  <a href=""class="grd-item ebloc-mini invert">
    
                    <picture><img src="/public/img/tmp/placeholder_16x10.png" /></picture>
                    <div class="txt">
                      <span class="infos">Ministères - 15/10/2018</span>
                      <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la Presse</span>
                    </div>
    
                  </a>
    
                  <a href=""class="grd-item ebloc-mini invert">
    
                    <picture><img src="/public/img/tmp/placeholder_16x10.png" /></picture>
                    <div class="txt">
                      <span class="infos">Ministères - 15/10/2018</span>
                      <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la Presse</span>
                    </div>
    
                  </a>
    
                  <a href=""class="grd-item ebloc-mini invert">
    
                    <picture><img src="/public/img/tmp/placeholder_16x10.png" /></picture>
                    <div class="txt">
                      <span class="infos">Ministères - 15/10/2018</span>
                      <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la Presse</span>
                    </div>
    
                  </a>
    
                  <a href=""class="grd-item ebloc-mini invert">
    
                    <picture><img src="/public/img/tmp/placeholder_16x10.png" /></picture>
                    <div class="txt">
                      <span class="infos">Ministères - 15/10/2018</span>
                      <span class="title">Le Guest Speaker Mike Coffi DG Ecobank Asset Management face à la Presse</span>
                    </div>
    
                  </a>-->

      <!--<script language="JavaScript" src="https://agenda.abidjan.net/inc/inc_afrique_new_abnet.js" async></script>-->

      <!--</div>-->
    </div>

    <div class="contact">
      <div class="in">
        <div class="left">
          <span>Comment faire de la Publicité sur Abidjan.net ?</span>
          <a
            href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
            target="_blank"
            class="cta sm invert"
            >Contactez-nous</a
          >
        </div>

        <div class="right">
          <div class="in">
            <a href="http://www.weblogy.com/"
              ><img src="https://abidjan.net/public/img/weblogy-w.png"
            /></a>
            <span
              >Copyright © 1998 - {{currentYear}}
              
              Weblogy Group Ltd. Tous droits réservés</span
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
    name:"footerComponent",
    data(){
        return {
            currentYear :  new Date().getFullYear()
        }
    },
    methods : {
    },
    created(){
    }
};
</script>

<style scoped></style>
