<template>
  <header id="menuHeader">
    <div class="menu-xs">
      <div class="in">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <nav class="transverse">
      <span> Le réseau </span>
      <a href="https://www.abidjan.net/"> Abidjan.net </a>
      <a href="http://www.abamako.com/"> aBamako.com </a>
      <a href="http://www.aouaga.com/"> aOuaga.com </a>
      <a href="http://www.acotonou.com/"> aCotonou.com </a>
      <a href="http://www.alome.com/"> aLome.com </a>
      <a href="http://www.aniamey.com/"> aNiamey.com </a>
      <a href="http://www.adakar.com/"> aDakar.com </a>
      <a href="http://www.alibreville.com/"> aLibreville.com </a>
      <a href="http://www.abangui.com/"> aBangui.com </a>
      <a href="http://www.jobafrique.com/" target="_blank"> JobAfrique.com </a>
      <a href="http://www.nouchi.com/" target="_blank"> Nouchi.com </a>
    </nav>

    <div class="in">
      <a href="https://www.abidjan.net" class="logo"></a>
      <nav class="menu">
        <span>
          <a class=""> Annonces </a>
          <ul>
            <!--<li><a href="https://annonces.abidjan.net/">Petites Annonces</a></li>-->
            <li>
              <a href="http://www.immo.ci/" target="_blank"> Immobilier </a>
            </li>
            <li>
              <a href="http://www.automobile.ci/" target="_blank">
                Automobile
              </a>
            </li>
            <li>
              <a href="https://necrologie.abidjan.net"> Nécrologie </a>
            </li>
            <li>
              <a href="https://agenda.abidjan.net/"> Agenda </a>
            </li>
            <li>
              <a href="http://www.jobafrique.com/" target="_blank"> Emplois </a>
            </li>
            <!--https://emploi.abidjan.net/-->
            <li>
              <a href="https://business.abidjan.net/annonces-legales">
                Annonces légales
              </a>
            </li>
            <li>
              <a href="https://monkiosk.com/home.php?cat=199" target="_blank">
                Marchés Publics
              </a>
            </li>
          </ul>
        </span>
        <span>
          <a href="https://business.abidjan.net"> Business </a>
          <ul>
            <li>
              <a href="https://business.abidjan.net/pages-jaunes">
                Page jaunes
              </a>
            </li>
            <li>
              <a href="https://business.abidjan.net/annonces-legales">
                Annonces légales
              </a>
            </li>
            <li>
              <a href="https://business.abidjan.net/qui"> Qui est Qui ? </a>
            </li>
            <li>
              <a href="http://www.jobafrique.com/" target="_blank"> Emplois </a>
            </li>
            <li>
              <a href="https://news.abidjan.net/chiffres-cles">
                Chiffres clés
              </a>
            </li>
            <!--<li><a href="https://business.abidjan.net/AO/">Appel d'offres</a></li>-->
            <li>
              <a href="https://business.abidjan.net/bourse"> Bourse </a>
            </li>
            <li>
              <a href="https://business.abidjan.net/panier-menagere">
                Coût de la vie
              </a>
            </li>
          </ul>
        </span>
        <span>
          <a href="https://news.abidjan.net"> News </a>
          <ul>
            <li>
              <a href="https://www.monkiosk.com/" target="_blank"
                >MonKiosk.com</a
              >
            </li>
            <li>
              <a href="https://news.abidjan.net/titrologie">Titrologie</a>
            </li>
            <li><a href="https://news.abidjan.net/depeches">Dépêches</a></li>
            <li><a href="https://news.abidjan.net/articles">Articles</a></li>
            <li>
              <a href="https://news.abidjan.net/photos">Galerie photos</a>
            </li>
            <li>
              <a href="https://news.abidjan.net/videos">Galerie vidéos</a>
            </li>
            <li><a href="https://news.abidjan.net/document">Documents</a></li>
            <li><a href="https://news.abidjan.net/dossier">Dossiers</a></li>
            <li>
              <a href="https://news.abidjan.net/chronologie">Chronologie</a>
            </li>
            <li>
              <a href="https://news.abidjan.net/paroles">Paroles fortes</a>
            </li>
            <li>
              <a href="https://news.abidjan.net/caricatures">Caricatures</a>
            </li>
            <li><a href="https://news.abidjan.net/cartoons">Cartoons</a></li>
            <li>
              <a href="https://news.abidjan.net/flash-infos">Flash Infos</a>
            </li>
            <li><a href="https://news.abidjan.net/fakenews">Fake News</a></li>
          </ul>
        </span>
        <span>
          <a href="https://sports.abidjan.net"> Sport </a>
          <ul>
            <li class="xs">
              <a href="https://sports.abidjan.net"> Tout le sport </a>
            </li>
            <!--<li><a href="https://sports.abidjan.net/foot/ligue-1.asp">Ligue 1</a></li>
                                                                <li><a href="https://sports.abidjan.net/foot/can2019/">CAN 2019</a></li>
                                                                <li><a href="https://sports.abidjan.net/foot/can2017/">CAN 2017</a></li>
                                                                <li><a href="https://sports.abidjan.net/foot/can2015/">CAN Orange 2015</a></li>-->
          </ul>
        </span>
        <span>
          <a> Utile </a>
          <ul>
            <li>
              <a href="https://business.abidjan.net/pharmacies-de-garde">
                Pharmacie de garde
              </a>
            </li>
            <li>
              <a href="https://ticket.abidjan.net/"> E-ticket </a>
            </li>
            <li>
              <a href="https://www.abidjan.net/cinema"> Cinéma </a>
            </li>
            <li>
              <a href="https:/voyage.abidjan.net/"> Voyage (billetterie) </a>
            </li>
            <li>
              <a href="https://agenda.abidjan.net/"> Agenda </a>
            </li>
            <li>
              <a href="https://tv.abidjan.net/"> Programme TV </a>
            </li>
            <!--<li><a href="https://www.abidjan.net/voyage/">Trafic Aérien</a></li>-->
            <li>
              <a href="https://business.abidjan.net/navire">
                Trafic des navires
              </a>
            </li>
            <li>
              <a href="https://www.abidjan.net/trafic-routier">
                Trafic routier &amp; Météo
              </a>
            </li>
            <li>
              <a href="https://www.abidjan.net/mobile"> Mobile </a>
            </li>
          </ul>
        </span>
        <span>
          <a href="https://civ.abidjan.net/"> Côte d'Ivoire </a>
          <ul>
            <li>
              <a href="https://civ.abidjan.net/index.php/connaitre">
                Connaître
              </a>
            </li>
            <li>
              <a href="https://civ.abidjan.net/index.php/visiter"> Visiter </a>
            </li>
            <li>
              <a href="https://civ.abidjan.net/index.php/vivre"> Vivre </a>
            </li>
            <!--<li><a href="https://www.abidjan.net/elections/">Elections</a></li>-->
            <li>
              <a href="https://business.abidjan.net/gouvernement">
                Les gouvernements
              </a>
            </li>
            <li>
              <a href="https://news.abidjan.net/journal-officiel">
                Journal Officiel
              </a>
            </li>
            <li>
              <a href="https://monkiosk.com/home.php?cat=448" target="_blank">
                Cartographie
              </a>
            </li>
          </ul>
        </span>
        <span>
          <a> Vous </a>
          <ul>
            <!--<li><a href="https://forums.abidjan.net/">Forums</a>
                                                                    <li><a href="https://chats.abidjan.net/">Voice chat</a>-->
            <li>
              <a href="https://sondage.abidjan.net/poll_archive.asp">
                Sondage
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/abidjan.net" target="_blank">
                Réseaux Sociaux
              </a>
            </li>
            <li>
              <a
                href="https://carte.abidjan.net/commander-votre-carte/"
                target="_blank"
              >
                Carte Prépayée
              </a>
            </li>
            <li>
              <a href="https://www.apaym.com/app" target="_blank">
                Application Apaym
              </a>
            </li>
            <li>
              <a href="https://abidjan.net/livre/order" target="_blank">
                Livre Abidjan.net
              </a>
            </li>
            <li>
              <a href="https://weblogy.com/nous-contacter" target="_blank">
                Contactez-Nous
              </a>
            </li>
          </ul>
        </span>

        <span>
          <a class="user-main-menu"></a>
          <ul>
            <li id="seconnecter">
              <a href="/se-connecter" @click="$router.push({name : 'Login'})" id="seconnecter_btn" v-if="! this.User.loggIn()"> Se connecter </a>
            </li>
            <li id="creercompte">
              <a href="/s-inscrire" id="creercompte_btn" @click="$router.push({name:'Register'})" v-if="! this.User.loggIn()"> Créer un compte </a>
            </li>

            <li id="moncompte" v-if="this.User.loggIn()">
              <a href="/compte" id="moncompte_btn"> Mon compte </a>
            </li>
            <li id="deconnexion" v-if="this.User.loggIn()">
              <a href="" id="deconnexion_btn" @click="$router.push({name : 'Logout'})"> Déconnexion </a>
            </li>
          </ul>
        </span>

        <a href="" class="search" id="btnSearch"></a>

        <form
          action="https://news.abidjan.net/rechercher"
          class="bloc-search"
          id="blocSearch"
        >
          <p>
            <input
              type="hidden"
              name="cx"
              value="004748131455301746118:434f-ulwnp4"
            />
            <input type="hidden" name="ie" value="UTF-8" />
            <input
              type="text"
              placeholder="Rechercher..."
              value=""
              name="q"
              id="q"
              autocomplete="off"
            />
            <input type="submit" value="valider" />
          </p>
        </form>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  name: "headerComponent",
  methods : {
    // logout(){
    //     this.EventBus.$emit('logout')
    // }
  }
};
</script>

<style scoped></style>
