<template>
    <div class="content">
        <div class="sub-content">
            <!-- ##### Breadcumb Area Start ##### -->
            <div class="breadcumb-area bg-img bg-overlay" :style="{ backgroundImage: 'url(' + `${recipe.imageUrl}` + ')' }
            ">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="breadcumb-text text-center text-primary">
                                <h2>{{ recipe.name }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Breadcumb Area End ##### -->

            <div class="receipe-post-area section-padding-80">
                <!-- Receipe Slider -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="receipe-slider owl-carousel">
                                <!-- <img src="img/bg-img/bg5.jpg" alt="">
                                <img src="img/bg-img/bg5.jpg" alt="">
                                <img src="img/bg-img/bg5.jpg" alt=""> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Receipe Content Area -->
                <div class="receipe-content-area">
                    <div class="container">

                        <div class="row">
                            <div class="col-12 col-md-8">
                                <div class="receipe-headline my-5">
                                    <p class="date">
                                        {{ recipe.createdAt | moment("from", "now") }}
                                    </p>
                                    <h2>{{ recipe.name }}</h2>
                                    <div class="receipe-duration">
                                        <h6 class="mb-3">Preparation: {{ recipe.cooking }}</h6>
                                        <h6 class="mb-3">Cuisson: {{ recipe.marinade }}</h6>
                                        <h6 class="mb-3">Nbre de Personne: {{ recipe.number_of_persons }}</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="receipe-ratings text-right my-5">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="cta sm">
                                        {{
                                            recipe.level != null && typeof (recipe.level) != 'undefined' ?
                                                recipe.level.name : "------"
                                        }}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <h4>Instructions</h4>
                                <PreparationInstruction :recipe_instruction="item" :index="index"
                                    v-if='typeof (recipe.recipeSteps) != "string" ? true : false'
                                    v-for="(item, index) in recipe.recipeSteps" :key="item.id" />

                                <div class="mb-4" v-else>
                                    Pas d'instructions laisser
                                </div>


                            </div>

                            <!-- Ingredients -->
                            <div class="col-12 col-lg-4">
                                <div class="ingredients">
                                    <h4>Ingredients</h4>

                                    <IngredientItem :ingredient_data="item" v-for="item in recipe.ingredients"
                                        :key="item.id" />

                                    <!-- Custom Checkbox -->

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading text-left">
                                    <h3>Laisser un commentaire</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="contact-form-area">
                                    <form action="#" method="post">
                                        <div class="row">

                                            <CommentRecipe :recipes_comment="recipe.commentRecipes" />

                                            <!-- <div class="col-12">
                                                <textarea name="message" class="form-control" id="message" cols="10"
                                                    rows="2" placeholder="Message"></textarea>
                                            </div> -->
                                            <!-- <div class="col-12">
                                                <button class="btn btn-primary" type="submit">
                                                    Commenter
                                                </button>
                                            </div> -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import IngredientItem from "./_partials/IngredientItem.vue"
import PreparationInstruction from "./_partials/PreparationInstruction.vue"
import CommentRecipe from "./_partials/CommentRecipe.vue"

export default {
    components: { IngredientItem, PreparationInstruction, CommentRecipe },
    data() {
        return {
            id: null,
            recipe: null
        }
    },
    methods: {
        getRecipe() {
            const RecipeDetails = async () => {

                this.$loading(true)

                await axios.get(`/show-recipe/${this.id}`).then((res) => {
                    console.log(">>>>>>Recipe Détails Worked")
                    console.log(this.id)
                    console.log(res.data.data)

                    this.recipe = res.data.data

                }).catch((error) => {
                    console.log(">>>>>>Error Recipe Détails")
                    console.log(error.response)

                    if (error.response.status == 401) {
                        this.$toast.info('Votre session a expiree')
                        User.logout()
                    }
                }).finally(() => {
                    this.$loading(false)
                });
            }

            RecipeDetails()
        }
    },
    created() {
        this.id = this.$route.params.id,
            console.log("id :" + this.id)
        this.getRecipe()
    }
}

</script>

<style scoped>
.user_box {}

.content_section .comment_container {
    border: solid 1px red;
    height: 10rem;
}

/* :: 17.0 Breadcumb Area CSS */
.breadcumb-area {
    position: relative;
    z-index: 10;
    width: 92%;
    height: 190px;
    margin-left: 4%;
    margin-right: 4%;
}

.date {
    margin-bottom: 10px !important;
}

@media only screen and (max-width: 767px) {
    .breadcumb-area {
        height: 120px;
    }
}

.breadcumb-area .breadcumb-text h2 {
    font-size: 30px;
    margin-bottom: 0;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .breadcumb-area .breadcumb-text h2 {
        font-size: 24px;
    }
}

receipe-headline span {
    font-size: 14px;
    display: block;
    color: #a4a4a4;
    margin-bottom: 10rem;
}

.receipe-headline h2 {
    font-size: 36px;
    color: #474747;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .receipe-headline h2 {
        font-size: 24px;
    }
}

.receipe-headline .receipe-duration {
    border-left: 3px solid #D21D3A;
    padding: 15px;
}

.receipe-headline .receipe-duration h6 {
    font-size: 15px;
    margin-bottom: 5px;
}

.receipe-headline .receipe-duration h6:last-child {
    margin-bottom: 0;
}

.receipe-ratings .ratings {
    margin-bottom: 30px;
}

.receipe-ratings i {
    font-size: 18px;
    color: #fbb710;
    padding: 0 3px;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ingredients {
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .ingredients {
        margin-bottom: 80px;
    }
}

.ingredients h4 {
    color: #474747;
    margin-bottom: 30px;
}
</style>