<template>
    <div class="content">
        <div class="sub-content">

            <!-- Single Recipe Section Begin -->
            <section class="single-page-recipe spad">
                <div class="recipe-top" :style="{ backgroundImage: 'url(' + `${recipe.imageUrl}` + ')' }">
                    <div class="container-fluid">
                        <div class="recipe-title">
                            <span> {{
                                recipe.ingredients != null && typeof (recipe.ingredients) != 'undefined' ?
                                    recipe.ingredients.length : 0
                            }} ingredients / {{ recipe.total_time }} minutes / {{
    recipe.level != null && typeof
        (recipe.level) != 'undefined' ? recipe.level.name : '-------'
}}
                                / {{
                                    recipe.country
                                }} </span>
                            <h2 class="text-center"> {{ recipe.name }} </h2>

                            <ul class="tags">
                                <li>
                                    {{
                                        recipe.recipeType != null && typeof (recipe.recipeType) != 'undefined' ?
                                            recipe.recipeType.name : "------"
                                    }}
                                </li>

                                <li>
                                    {{
                                        recipe.level != null && typeof (recipe.level) != 'undefined' ?
                                            recipe.level.name : "------"
                                    }}
                                </li>

                            </ul>

                        </div>
                        <img src="img/recipe-single.jpg" alt="">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="ingredients-item">
                                <div class="intro-item">
                                    <img :src="recipe.imageUrl" alt="">
                                    <h2>{{ recipe.name }}</h2>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <!-- <div class="reviews">4.9 from 25 reviews</div> -->
                                    <div class="recipe-time">
                                        <ul>

                                            <!-- <pre>
                                                {{ recipe.preparationInstructions }}
                                            </pre> -->

                                            <li>Temps Total: <span>{{ recipe.cooking }}</span></li>
                                            <li>Temps de Preparation: <span>{{ recipe.marinade }}</span></li>
                                            <!-- <li>Yield: <span>5</span></li> -->
                                        </ul>
                                    </div>
                                </div>

                                <div class="ingredient-list">
                                    <div class="recipe-btn">
                                        <a href="#">Imprimé</a>
                                        <a href="#" class="black-btn"> Favoris</a>
                                    </div>
                                    <div class="list-item">
                                        <h5>Ingredients


                                        </h5>
                                        <div class="salad-list">
                                            <!-- <h6>For the salad</h6> -->
                                            <ul>
                                                <IngredientItem :ingredient_data="item"
                                                    v-for="item in recipe.ingredients" :key="item.id" />
                                            </ul>
                                        </div>
                                        <!-- <div class="salad-list">
                                                    <h6>For the salad</h6>
                                                    <ul>
                                                        <li>1 brick of frozen udon</li>
                                                        <li>1/2 cup kimchi, plus a bit of kimchi juice</li>
                                                        <li>1 tablespoon of butter</li>
                                                        <li>1 sac of mentaiko</li>
                                                        <li>sliced green onions and nori, to finish</li>
                                                    </ul>
                                                </div> -->
                                        <!-- <div class="dressing-list">
                                                    <h6>For the dressing</h6>
                                                    <ul>
                                                        <li>1 brick of frozen udon</li>
                                                        <li>1/2 cup kimchi, plus a bit of kimchi juice</li>
                                                        <li>1 tablespoon of butter</li>
                                                        <li>1 sac of mentaiko</li>
                                                        <li>sliced green onions and nori, to finish</li>
                                                        <li>1 tablespoon of butter</li>
                                                        <li>1 sac of mentaiko</li>
                                                    </ul>
                                                </div> -->
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="nutrition-fact">
                                <div class="nutri-title">
                                    <h6>Nutrition Facts</h6>
                                    <span>Serves 4</span>
                                </div>
                                <ul>
                                    <li>Total Fat : 20.4g</li>
                                    <li>Cholesterol : 2%</li>
                                    <li>Chalories: 345</li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="col-lg-7">
                            <div class="recipe-right">
                                <div class="recipe-desc">
                                    <h3>Description</h3>
                                    <p>{{ recipe.description }}</p>
                                </div>

                                <div class="instruction-list">
                                    <h3>Instructions</h3>
                                    <ul>
                                        <PreparationInstruction :recipe_instruction="item" :index="index"
                                            v-if='typeof (recipe.recipeSteps) != "string" ? true : false'
                                            v-for="(item, index) in recipe.recipeSteps" :key="item.id" />

                                        <div class="mb-4" v-else>
                                            Pas d'instructions laisser
                                        </div>

                                    </ul>
                                </div>

                                <div class="notes">
                                    <h3>Commentaires</h3>
                                    <Comment />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Single Recipe Section End -->
        </div>


    </div>
</template>

<script>
import IngredientItem from "./_partials/IngredientItem.vue"
import PreparationInstruction from "./_partials/PreparationInstruction.vue"
import Comment from "./_partials/Comment.vue"

export default {
    components: { IngredientItem, Comment, PreparationInstruction },
    data() {
        return {
            id: null,
            recipe: null
        }
    },
    methods: {
        getRecipe() {
            const RecipeDetails = async () => {

                this.$loading(true)

                await axios.get(`/show-recipe/${this.id}`).then((res) => {
                    console.log(">>>>>>Recipe Détails Worked")
                    console.log(this.id)
                    console.log(res.data.data)

                    this.recipe = res.data.data

                }).catch((error) => {
                    console.log(">>>>>>Error Recipe Détails")
                    console.log(error.response)

                    if (error.response.status == 401) {
                        this.$toast.info('Votre session a expiree')
                        User.logout()
                    }
                }).finally(() => {
                    this.$loading(false)
                });
            }

            RecipeDetails()
        }
    },
    created() {
        this.id = this.$route.params.id,
            console.log("id :" + this.id)
        this.getRecipe()
    }
}

</script>

<style scoped>
/*--------------------------
  Single Page Recipe
--------------------------*/

.single-page-recipe {
    padding-bottom: 70px;
}

.recipe-top {
    margin-bottom: 128px;
    padding: 0 60px;
}

.recipe-top .recipe-title {
    text-align: center;
    margin-bottom: 90px;
}

.recipe-top .recipe-title span {
    display: inline-block;
    color: #D21D3A;
    font-size: 16px;
}

.recipe-top .recipe-title h2 {
    color: #353535;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 44px;
    margin-top: 40px;
}

.recipe-top .recipe-title ul li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: #FFB800;
    color: #fff;
    padding: 4px 25px 4px 25px;
    margin-right: 2px;
}

.recipe-top .recipe-title ul li:last-child {
    margin-right: 0;
}

.ingredients-item {
    border: 2px solid #F5F6FA;
    margin-bottom: 20px;
}

.ingredients-item .intro-item {
    background: #D21D3A;
    text-align: center;
    position: relative;
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
}

.ingredients-item .intro-item img {
    height: 122px;
    width: 122px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -38px;
    -webkit-transform: translateX(-61px);
    transform: translateX(-61px);
}

.ingredients-item .intro-item h2 {
    color: #fff;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 15px;
}

.ingredients-item .intro-item .rating {
    margin-bottom: 15px;
}

.ingredients-item .intro-item .rating i {
    color: #fff;
    margin-right: 2px;
}

.ingredients-item .intro-item .rating i:last-child {
    margin-right: 0;
}

.ingredients-item .intro-item .reviews {
    color: #fff;
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 35px;
}

.ingredients-item .intro-item .recipe-time {
    background: #000;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
}

.ingredients-item .intro-item .recipe-time ul li {
    list-style: none;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
    margin-bottom: 10px;
}

.ingredients-item .intro-item .recipe-time ul li:last-child {
    margin-right: 0;
}

.ingredients-item .intro-item .recipe-time ul li span {
    font-weight: 400;
}

.ingredients-item .ingredient-list {
    padding: 22px 20px;
}

.ingredients-item .ingredient-list .recipe-btn {
    margin-bottom: 38px;
    font-size: 80%;
}

.ingredients-item .ingredient-list .recipe-btn a {
    display: inline-block;
    background: #D21D3A;
    color: #fff;
    padding: 15px 57px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2rem;
}

.ingredients-item .ingredient-list .recipe-btn a.black-btn {
    margin-left: 15px;
    /* width: 30%; */
    /* height: 10%; */
    background: #000;
    /* font-size: 100%; */
    border-radius: 2rem;
}

.ingredients-item .ingredient-list .list-item {
    padding-left: 20px;
}

.ingredients-item .ingredient-list .list-item h5 {
    color: #353535;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.ingredients-item .ingredient-list .list-item .salad-list {
    margin-bottom: 44px;
}

.ingredients-item .ingredient-list .list-item .salad-list h6 {
    color: #98a2a8;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.ingredients-item .ingredient-list .list-item .salad-list ul li {
    list-style: none;
    font-size: 16px;
    color: #353535;
    line-height: 36px;
    position: relative;
    padding-left: 38px;
}

.ingredients-item .ingredient-list .list-item .salad-list ul li:after {
    position: absolute;
    left: 0;
    top: 14px;
    width: 9px;
    height: 9px;
    background: #000;
    content: "";
    border-radius: 50%;
}

.ingredients-item .ingredient-list .list-item .dressing-list {
    margin-bottom: 30px;
}

.ingredients-item .ingredient-list .list-item .dressing-list h6 {
    color: #98a2a8;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.ingredients-item .ingredient-list .list-item .dressing-list ul li {
    list-style: none;
    font-size: 16px;
    color: #353535;
    line-height: 36px;
    position: relative;
    padding-left: 38px;
}

.ingredients-item .ingredient-list .list-item .dressing-list ul li:after {
    position: absolute;
    left: 0;
    top: 14px;
    width: 9px;
    height: 9px;
    background: #000;
    content: "";
    border-radius: 50%;
}

.nutrition-fact {
    background: #353535;
    padding: 0 40px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.nutrition-fact .nutri-title {
    overflow: hidden;
    padding-bottom: 35px;
    margin-left: -40px;
    margin-right: -40px;
    border-bottom: 2px solid #fff;
    padding-left: 40px;
    padding-right: 40px;
}

.nutrition-fact .nutri-title h6 {
    float: left;
    color: #fff;
}

.nutrition-fact .nutri-title span {
    float: right;
    color: #fff;
}

.nutrition-fact ul {
    margin-top: 23px;
}

.nutrition-fact ul li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    margin-right: 15px;
    margin-bottom: 10px;
}

.nutrition-fact ul li:last-child {
    margin-right: 0;
}

.recipe-right .recipe-desc {
    margin-bottom: 50px;
}

.recipe-right .recipe-desc h3 {
    color: #353535;
    font-weight: 700;
    margin-bottom: 50px;
}

.recipe-right .recipe-desc p {
    margin-bottom: 25px;
}

.recipe-right .instruction-list {
    margin-bottom: 42px;
}

.recipe-right .instruction-list h3 {
    color: #353535;
    font-weight: 700;
    margin-bottom: 50px;
}

.recipe-right .instruction-list ul li {
    list-style: none;
    color: #353535;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 32px;
    position: relative;
    padding-left: 68px;
}

.recipe-right .instruction-list ul li span {
    position: absolute;
    left: 0;
    top: 0;
    color: #D21D3A;
    font-size: 18px;
    font-weight: 700;
}



/*--------------------------
      Similar Recipe
    --------------------------*/
</style>