<template>
    <section class="single-post spad">
        <div class="single-post__hero set-bg" data-setbg="img/categories/single-post/single-post-hero.jpg"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="single-post__title">
                        <div class="single-post__title__meta">
                            <h2>08</h2>
                            <span>Aug</span>
                        </div>
                        <div class="single-post__title__text">
                            <ul class="label">
                                <li>Vegan</li>
                                <li>Desserts</li>
                            </ul>
                            <h4>Weight loss diet: Ditching this one food can help you slim down fast - what is it?</h4>
                            <ul class="widget">
                                <li>by Admin</li>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-post__social__item">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                    <div class="single-post__top__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua accusantium doloremque laudantium. </p>
                    </div>
                    <div class="single-post__recipe__details">
                        <div class="single-post__recipe__details__option">
                            <ul>
                                <li>
                                    <h5><i class="fa fa-user-o"></i> SERVES</h5>
                                    <span>2 as a main, 4 as a side</span>
                                </li>
                                <li>
                                    <h5><i class="fa fa-clock-o"></i> PREP TIME</h5>
                                    <span>15 minute</span>
                                </li>
                                <li>
                                    <h5><i class="fa fa-clock-o"></i> Cook TIME</h5>
                                    <span>15 minute</span>
                                </li>
                                <li><a href="#" class="primary-btn"><i class="fa fa-print"></i> Read more</a></li>
                            </ul>
                        </div>
                        <div class="single-post__recipe__details__indegradients">
                            <h5>Ingredients</h5>
                            <ul>
                                <li>Ingredients</li>
                                <li>1 cup (240 ml) water, plus more as needed</li>
                                <li>1 teaspoon fine sea salt</li>
                                <li>2 tablespoons olive oil</li>
                                <li>3/4 cup (120 g) fine polenta</li>
                                <li>3 cups sunflower oil, plus more as needed</li>
                                <li>7 ounces (200 g) peeled parsnips, very thinly sliced on a mandoline</li>
                                <li>1 pinch fine sea salt, plus more to taste</li>
                                <li>2 tablespoons (30 g) unsalted butter</li>
                                <li>1/2 tablespoon maple syrup (up to 1 tablespoon as needed)</li>
                            </ul>
                        </div>
                        <div class="single-post__recipe__details__direction">
                            <h5>Directions</h5>
                            <ul>
                                <li><span>1.</span> Combine all of the ingredients, kneading to form a smooth dough.
                                </li>
                                <li><span>2.</span> Allow the dough to rise, in a lightly greased, covered bowl, until
                                    it’s doubled in size, about 90 minutes.</li>
                                <li><span>3.</span> Gently divide the dough in half; it’ll deflate somewhat.</li>
                                <li><span>4.</span> Gently shape the dough into two oval loaves; or, for longer loaves,
                                    two 10″ to 11″ logs. Place the loaves on a lightly greased or parchment-lined baking
                                    sheet. Cover and let rise until very puffy, about 1 hour. Towards the</li>
                                <li><span>5.</span> end of the rising time, preheat the oven to 425°F.</li>
                                <li><span>6.</span> Spray the loaves with lukewarm water.</li>
                                <li><span>7.</span> Make two fairly deep diagonal slashes in each; a serrated bread
                                    knife, wielded firmly, works well here.</li>
                                <li><span>8.</span> Bake the bread for 25 to 30 minutes, until it’s a very deep golden
                                    brown. Remove it from the oven, and cool on a rack.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-post__middle__text">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in. .
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                    <div class="single-post__quote">
                        <p>The whole family of tiny legumes, whether red, green, yellow, or black, offers so many
                            possibilities to create an exciting lunch.</p>
                        <span>MEIKE PETERS</span>
                    </div>
                    <div class="single-post__desc">
                        <p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.</p>
                        <h4>You Can Buy For Less Than A College Degree</h4>
                        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia </p>
                    </div>
                    <div class="single-post__more__details">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <img src="img/categories/single-post/single-post-desc.jpg" alt="">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <p>Vestibulum commodo nulla eu augue tincidunt rutrum. Suspendisse interdum lacus in
                                    ligula finibus luctus. Vivamus mollis libero vel orci finibus, sit amet malesuada
                                    lectus aliquam. In auctor viverra eros. Maecenas elit mi, dictum et consectetur nec,
                                    sollicitudin sed arcu.</p>
                                <p>Curabitur tempor tempor pharetra.Sed imperdiet sem at nunc luctus, sed cursus nulla
                                    mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                                    ridiculus mus porta tincidunt, purus enim laoreet.</p>
                                <p>Duis aute irure dolor inenim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex ea commodo conslaboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-post__last__text">
                        <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                            vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                            aut fugit. Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
                            tempora incidunt ut labore quia non numquam eius modi.</p>
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            Mauris vel magna ex. Integer gravida tincidunt accumsan. Vestibulum nulla mauris,
                            condimentum id felis ac, volutpat volutpat mi. In vitae tempor velit of the impenetrable
                            foliage quisquam est, qui dolorem ipsum quia dolor sit amet consectetur adipisci.</p>
                    </div>
                    <div class="single-post__tags">
                        <a href="#">Food</a>
                        <a href="#">Vegan</a>
                        <a href="#">Tomato</a>
                        <a href="#">Weightloss</a>
                    </div>
                    <div class="single-post__next__previous">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="#" class="single-post__previous">
                                    <h6><span class="arrow_carrot-left"></span> Previous posts</h6>
                                    <div class="single-post__previous__meta">
                                        <h4>08</h4>
                                        <span>Aug</span>
                                    </div>
                                    <div class="single-post__previous__text">
                                        <span>Dinner</span>
                                        <h5>The Best Weeknight Baked <br />Potatoes, 3 Creative Ways</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="#" class="single-post__next">
                                    <h6>Next posts <span class="arrow_carrot-right"></span> </h6>
                                    <div class="single-post__next__meta">
                                        <h4>05</h4>
                                        <span>Aug</span>
                                    </div>
                                    <div class="single-post__next__text">
                                        <span>Smoothie</span>
                                        <h5>The $8 French Rosé I Buy in <br />Bulk Every Summer</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single-post__author__profile">
                        <div class="single-post__author__profile__pic">
                            <img src="img/categories/single-post/author-profile.jpg" alt="">
                        </div>
                        <div class="single-post__author__profile__text">
                            <h4>Lena Mollein.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="single-post__author__profile__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-post__comment">
                        <div class="widget__title">
                            <h4>03 Comment</h4>
                        </div>
                        <div class="single-post__comment__item">
                            <div class="single-post__comment__item__pic">
                                <img src="img/categories/single-post/comment/comment-1.jpg" alt="">
                            </div>
                            <div class="single-post__comment__item__text">
                                <h5>Brandon Kelley</h5>
                                <span>15 Aug 2017</span>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                    magnam.</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-share-square-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-post__comment__item single-post__comment__item--reply">
                            <div class="single-post__comment__item__pic">
                                <img src="img/categories/single-post/comment/comment-2.jpg" alt="">
                            </div>
                            <div class="single-post__comment__item__text">
                                <h5>Brandon Kelley</h5>
                                <span>15 Aug 2017</span>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                    magnam.</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-share-square-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-post__comment__item">
                            <div class="single-post__comment__item__pic">
                                <img src="img/categories/single-post/comment/comment-3.jpg" alt="">
                            </div>
                            <div class="single-post__comment__item__text">
                                <h5>Brandon Kelley</h5>
                                <span>15 Aug 2017</span>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                    magnam.</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-share-square-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-post__leave__comment">
                        <div class="widget__title">
                            <h4>Leave a comment</h4>
                        </div>
                        <form action="#">
                            <div class="input-list">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <input type="text" placeholder="Website">
                            </div>
                            <textarea placeholder="Message"></textarea>
                            <button type="submit" class="site-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
// import IngredientItem from "./recipeDetails/IngredientItem.vue"

export default {
    // components: { IngredientItem },
    data() {
        return {
            id: null,
            recipe: null
        }
    },
    methods: {
        getRecipe() {
            const RecipeDetails = async () => {

                this.$loading(true)

                await axios.get(`/show-recipe/${this.id}`).then((res) => {
                    console.log(">>>>>>Recipe Détails Worked")
                    console.log(this.id)
                    console.log(res.data)

                    this.recipe = res.data.data

                }).catch((error) => {
                    console.log(">>>>>>Error Recipe Détails")
                    console.log(error.response)

                    if (error.response.status == 401) {
                        this.$toast.info('Votre session a expiree')
                        User.logout()
                    }
                }).finally(() => {
                    this.$loading(false)
                });
            }

            RecipeDetails()
        }
    },
    created() {
        this.id = this.$route.params.id,
            console.log("id :" + this.id)
        this.getRecipe()
    }
}

</script>

<style scoped>
.single-post {
    padding-top: 0;
}

.single-post__hero {
    height: 960px;
}

.single-post__title {
    background: #ffffff;
    -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    padding: 50px;
    padding-right: 40px;
    position: relative;
    margin-top: -105px;
    margin-bottom: 50px;
}

.single-post__title__meta {
    background: #f2f2f2;
    height: 110px;
    width: 110px;
    text-align: center;
    padding-top: 28px;
    float: left;
    margin-right: 30px;
}

.single-post__title__meta h2 {
    font-size: 42px;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    line-height: 28px;
}

.single-post__title__meta span {
    font-size: 24px;
    color: #888888;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
}

.single-post__title__text {
    overflow: hidden;
}

.single-post__title__text .label li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
    color: #FFB800;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
}

.single-post__title__text .label li:last-child {
    margin-right: 0;
}

.single-post__title__text .label li:last-child:after {
    display: none;
}

.single-post__title__text .label li:after {
    position: absolute;
    right: -14px;
    top: -2px;
    content: "|";
    color: #d7d7d7;
}

.single-post__title__text h4 {
    font-size: 26px;
    color: #111111;
    line-height: 34px;
}

.single-post__title__text .widget li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 12px;
    color: #888888;
    position: relative;
}

.single-post__title__text .widget li span {
    color: #111111;
}

.single-post__title__text .widget li:after {
    position: absolute;
    right: -18px;
    top: -1px;
    content: "|";
    color: #d7d7d7;
}

.single-post__title__text .widget li:last-child {
    margin-right: 0;
}

.single-post__title__text .widget li:last-child:after {
    display: none;
}

.single-post__social__item {
    position: absolute;
    top: 40px;
    left: -70px;
}

.single-post__social__item ul li {
    list-style: none;
}

.single-post__social__item ul li a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 46px;
    width: 46px;
    background: #f2f2f2;
    line-height: 46px;
    text-align: center;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-bottom: 10px;
}

.single-post__social__item ul li a:last-child {
    margin-right: 0;
}

.single-post__social__item ul li a:hover {
    background: #FFB800;
    color: #ffffff;
}

.single-post__top__text,
.single-post__middle__text {
    margin-bottom: 25px;
}

.single-post__top__text p,
.single-post__middle__text p {
    font-size: 15px;
}

.single-post__recipe__details {
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

.single-post__recipe__details__option {
    background: #f5f5f5;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.single-post__recipe__details__option ul {
    overflow: hidden;
}

.single-post__recipe__details__option ul li {
    list-style: none;
    float: left;
    margin-right: 48px;
}

.single-post__recipe__details__option ul li:last-child {
    margin-right: 0;
}

.single-post__recipe__details__option ul li h5 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.single-post__recipe__details__option ul li h5 i {
    font-size: 16px;
    margin-right: 5px;
}

.single-post__recipe__details__option ul li span {
    font-size: 14px;
    color: #888888;
}

.single-post__recipe__details__option ul li .primary-btn i {
    margin-right: 5px;
}

.single-post__recipe__details__indegradients {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.single-post__recipe__details__indegradients h5 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-post__recipe__details__indegradients ul li {
    list-style: none;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
}

.single-post__recipe__details__indegradients ul li:before {
    position: absolute;
    left: 0;
    top: 13px;
    height: 3px;
    width: 3px;
    background: #111111;
    content: "";
}

.single-post__recipe__details__direction {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.single-post__recipe__details__direction h5 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-post__recipe__details__direction ul li {
    list-style: none;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
}

.single-post__recipe__details__direction ul li span {
    font-size: 15px;
    color: #111111;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
}

.single-post__middle__text {
    margin-bottom: 20px;
}

.single-post__middle__text p {
    font-size: 15px;
}

.single-post__quote {
    padding-left: 75px;
    position: relative;
    margin-bottom: 20px;
}

.single-post__quote::before {
    position: absolute;
    left: 0;
    top: 3px;
    /* background-image: url(../img/categories/single-post/quote-left.png); */
    height: 55px;
    width: 55px;
    content: "";
}

.single-post__quote p {
    font-size: 24px;
    color: #111111;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: "Unna", serif;
}

.single-post__quote span {
    font-size: 15px;
    color: #888888;
    text-transform: uppercase;
}

.single-post__desc {
    margin-bottom: 25px;
}

.single-post__desc p {
    font-size: 15px;
}

.single-post__desc h4 {
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.single-post__more__details {
    margin-bottom: 20px;
}

.single-post__more__details img {
    min-width: 100%;
}

.single-post__more__details p {
    font-size: 15px;
    margin-bottom: 0;
}

.single-post__last__text {
    margin-bottom: 25px;
}

.single-post__last__text p {
    font-size: 15px;
}

.single-post__last__text p:first-child {
    margin-bottom: 10px;
}

.single-post__tags {
    margin-bottom: 50px;
}

.single-post__tags a {
    display: inline-block;
    font-size: 13px;
    color: #444444;
    background: #f2f2f2;
    padding: 8px 16px 6px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.single-post__tags a:last-child {
    margin-right: 0;
}

.single-post__next__previous {
    margin-bottom: 60px;
}

.single-post__previous,
.single-post__next {
    display: block;
}

.single-post__previous h6,
.single-post__next h6 {
    font-size: 15px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 25px;
}

.single-post__previous h6 span,
.single-post__next h6 span {
    font-size: 23px;
    color: #444444;
    position: relative;
    top: 4px;
}

.single-post__previous__meta,
.single-post__next__meta {
    height: 65px;
    width: 65px;
    background: #f5f5f5;
    text-align: center;
    padding-top: 20px;
    float: left;
    margin-right: 20px;
}

.single-post__previous__meta h4,
.single-post__next__meta h4 {
    font-size: 26px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    line-height: 12px;
}

.single-post__previous__meta span,
.single-post__next__meta span {
    font-size: 12px;
    color: #888888;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.single-post__previous__text,
.single-post__next__text {
    overflow: hidden;
}

.single-post__previous__text span,
.single-post__next__text span {
    font-size: 12px;
    color: #FFB800;
    text-transform: uppercase;
    font-weight: 700;
}

.single-post__previous__text h5,
.single-post__next__text h5 {
    line-height: 23px;
    margin-top: 5px;
}

.single-post__next {
    text-align: right;
}

.single-post__next__meta {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.single-post__author__profile {
    padding: 30px;
    background: #f5f5f5;
    margin-bottom: 50px;
}

.single-post__author__profile__pic {
    float: left;
    margin-right: 30px;
}

.single-post__author__profile__pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.single-post__author__profile__text {
    overflow: hidden;
}

.single-post__author__profile__text h4 {
    text-transform: uppercase;
}

.single-post__author__profile__text p {
    font-size: 15px;
}

.single-post__author__profile__text .single-post__author__profile__social a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 36px;
    width: 36px;
    background: #e1e1e1;
    line-height: 36px;
    text-align: center;
    margin-right: 6px;
    margin-top: 5px;
}

.single-post__author__profile__text .single-post__author__profile__social a:last-child {
    margin-right: 0;
}

.single-post__comment {
    margin-bottom: 20px;
}

.widget__title {
    margin-bottom: 40px;
}

.widget__title h4 {
    display: inline-block;
    color: #111111;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.widget__title h4:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: #FFB800;
    opacity: 0.3;
    content: "";
}

.single-post__comment__item {
    margin-bottom: 10px;
}

.single-post__comment__item.single-post__comment__item--reply {
    padding-left: 120px;
}

.single-post__comment__item__pic {
    float: left;
    margin-right: 25px;
}

.single-post__comment__item__pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.single-post__comment__item__text {
    overflow: hidden;
    position: relative;
}

.single-post__comment__item__text h5 {
    text-transform: uppercase;
    margin-bottom: 4px;
}

.single-post__comment__item__text span {
    font-size: 12px;
    color: #888888;
    display: block;
    margin-bottom: 10px;
}

.single-post__comment__item__text p {
    font-size: 15px;
}

.single-post__comment__item__text ul {
    position: absolute;
    top: 0;
    right: 0;
}

.single-post__comment__item__text ul li {
    list-style: none;
    margin-right: 15px;
    display: inline-block;
}

.single-post__comment__item__text ul li a {
    font-size: 18px;
    color: #444444;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.single-post__comment__item__text ul li a:hover {
    color: #FFB800;
}

.single-post__comment__item__text ul li:last-child {
    margin-right: 0;
}

.single-post__leave__comment form .input-list {
    margin-right: -20px;
}

.single-post__leave__comment form .input-list input {
    height: 46px;
    width: calc(33.33% - 20px);
    background: transparent;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #444444;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-right: 16px;
}

.single-post__leave__comment form .input-list input:last-child {
    color: #444444;
}

.single-post__leave__comment form textarea {
    height: 190px;
    width: 100%;
    background: transparent;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #444444;
    padding-top: 12px;
    padding-left: 20px;
    margin-bottom: 14px;
    resize: none;
}

.single-post__leave__comment form textarea:last-child {
    color: #444444;
}

.single-post__leave__comment form button {
    width: 100%;
}

.single-post {
    padding-top: 0;
}

.single-post__hero {
    height: 960px;
}

.single-post__title {
    background: #ffffff;
    -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    padding: 50px;
    padding-right: 40px;
    position: relative;
    margin-top: -105px;
    margin-bottom: 50px;
}

.single-post__title__meta {
    background: #f2f2f2;
    height: 110px;
    width: 110px;
    text-align: center;
    padding-top: 28px;
    float: left;
    margin-right: 30px;
}

.single-post__title__meta h2 {
    font-size: 42px;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    line-height: 28px;
}

.single-post__title__meta span {
    font-size: 24px;
    color: #888888;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
}

.single-post__title__text {
    overflow: hidden;
}

.single-post__title__text .label li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
    color: #FFB800;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
}

.single-post__title__text .label li:last-child {
    margin-right: 0;
}

.single-post__title__text .label li:last-child:after {
    display: none;
}

.single-post__title__text .label li:after {
    position: absolute;
    right: -14px;
    top: -2px;
    content: "|";
    color: #d7d7d7;
}

.single-post__title__text h4 {
    font-size: 26px;
    color: #111111;
    line-height: 34px;
}

.single-post__title__text .widget li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 12px;
    color: #888888;
    position: relative;
}

.single-post__title__text .widget li span {
    color: #111111;
}

.single-post__title__text .widget li:after {
    position: absolute;
    right: -18px;
    top: -1px;
    content: "|";
    color: #d7d7d7;
}

.single-post__title__text .widget li:last-child {
    margin-right: 0;
}

.single-post__title__text .widget li:last-child:after {
    display: none;
}

.single-post__social__item {
    position: absolute;
    top: 40px;
    left: -70px;
}

.single-post__social__item ul li {
    list-style: none;
}

.single-post__social__item ul li a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 46px;
    width: 46px;
    background: #f2f2f2;
    line-height: 46px;
    text-align: center;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-bottom: 10px;
}

.single-post__social__item ul li a:last-child {
    margin-right: 0;
}

.single-post__social__item ul li a:hover {
    background: #FFB800;
    color: #ffffff;
}

.single-post__top__text,
.single-post__middle__text {
    margin-bottom: 25px;
}

.single-post__top__text p,
.single-post__middle__text p {
    font-size: 15px;
}

.single-post__recipe__details {
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

.single-post__recipe__details__option {
    background: #f5f5f5;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.single-post__recipe__details__option ul {
    overflow: hidden;
}

.single-post__recipe__details__option ul li {
    list-style: none;
    float: left;
    margin-right: 48px;
}

.single-post__recipe__details__option ul li:last-child {
    margin-right: 0;
}

.single-post__recipe__details__option ul li h5 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.single-post__recipe__details__option ul li h5 i {
    font-size: 16px;
    margin-right: 5px;
}

.single-post__recipe__details__option ul li span {
    font-size: 14px;
    color: #888888;
}

.single-post__recipe__details__option ul li .primary-btn i {
    margin-right: 5px;
}

.single-post__recipe__details__indegradients {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.single-post__recipe__details__indegradients h5 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-post__recipe__details__indegradients ul li {
    list-style: none;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
}

.single-post__recipe__details__indegradients ul li:before {
    position: absolute;
    left: 0;
    top: 13px;
    height: 3px;
    width: 3px;
    background: #111111;
    content: "";
}

.single-post__recipe__details__direction {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.single-post__recipe__details__direction h5 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-post__recipe__details__direction ul li {
    list-style: none;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
}

.single-post__recipe__details__direction ul li span {
    font-size: 15px;
    color: #111111;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
}

.single-post__middle__text {
    margin-bottom: 20px;
}

.single-post__middle__text p {
    font-size: 15px;
}

.single-post__quote {
    padding-left: 75px;
    position: relative;
    margin-bottom: 20px;
}

.single-post__quote::before {
    position: absolute;
    left: 0;
    top: 3px;
    /* background-image: url(../img/categories/single-post/quote-left.png); */
    height: 55px;
    width: 55px;
    content: "";
}

.single-post__quote p {
    font-size: 24px;
    color: #111111;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: "Unna", serif;
}

.single-post__quote span {
    font-size: 15px;
    color: #888888;
    text-transform: uppercase;
}

.single-post__desc {
    margin-bottom: 25px;
}

.single-post__desc p {
    font-size: 15px;
}

.single-post__desc h4 {
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.single-post__more__details {
    margin-bottom: 20px;
}

.single-post__more__details img {
    min-width: 100%;
}

.single-post__more__details p {
    font-size: 15px;
    margin-bottom: 0;
}

.single-post__last__text {
    margin-bottom: 25px;
}

.single-post__last__text p {
    font-size: 15px;
}

.single-post__last__text p:first-child {
    margin-bottom: 10px;
}

.single-post__tags {
    margin-bottom: 50px;
}

.single-post__tags a {
    display: inline-block;
    font-size: 13px;
    color: #444444;
    background: #f2f2f2;
    padding: 8px 16px 6px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.single-post__tags a:last-child {
    margin-right: 0;
}

.single-post__next__previous {
    margin-bottom: 60px;
}

.single-post__previous,
.single-post__next {
    display: block;
}

.single-post__previous h6,
.single-post__next h6 {
    font-size: 15px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 25px;
}

.single-post__previous h6 span,
.single-post__next h6 span {
    font-size: 23px;
    color: #444444;
    position: relative;
    top: 4px;
}

.single-post__previous__meta,
.single-post__next__meta {
    height: 65px;
    width: 65px;
    background: #f5f5f5;
    text-align: center;
    padding-top: 20px;
    float: left;
    margin-right: 20px;
}

.single-post__previous__meta h4,
.single-post__next__meta h4 {
    font-size: 26px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    line-height: 12px;
}

.single-post__previous__meta span,
.single-post__next__meta span {
    font-size: 12px;
    color: #888888;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.single-post__previous__text,
.single-post__next__text {
    overflow: hidden;
}

.single-post__previous__text span,
.single-post__next__text span {
    font-size: 12px;
    color: #FFB800;
    text-transform: uppercase;
    font-weight: 700;
}

.single-post__previous__text h5,
.single-post__next__text h5 {
    line-height: 23px;
    margin-top: 5px;
}

.single-post__next {
    text-align: right;
}

.single-post__next__meta {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.single-post__author__profile {
    padding: 30px;
    background: #f5f5f5;
    margin-bottom: 50px;
}

.single-post__author__profile__pic {
    float: left;
    margin-right: 30px;
}

.single-post__author__profile__pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.single-post__author__profile__text {
    overflow: hidden;
}

.single-post__author__profile__text h4 {
    text-transform: uppercase;
}

.single-post__author__profile__text p {
    font-size: 15px;
}

.single-post__author__profile__text .single-post__author__profile__social a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 36px;
    width: 36px;
    background: #e1e1e1;
    line-height: 36px;
    text-align: center;
    margin-right: 6px;
    margin-top: 5px;
}

.single-post__author__profile__text .single-post__author__profile__social a:last-child {
    margin-right: 0;
}

.single-post__comment {
    margin-bottom: 20px;
}

.widget__title {
    margin-bottom: 40px;
}

.widget__title h4 {
    display: inline-block;
    color: #111111;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.widget__title h4:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: #FFB800;
    opacity: 0.3;
    content: "";
}

.single-post__comment__item {
    margin-bottom: 10px;
}

.single-post__comment__item.single-post__comment__item--reply {
    padding-left: 120px;
}

.single-post__comment__item__pic {
    float: left;
    margin-right: 25px;
}

.single-post__comment__item__pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.single-post__comment__item__text {
    overflow: hidden;
    position: relative;
}

.single-post__comment__item__text h5 {
    text-transform: uppercase;
    margin-bottom: 4px;
}

.single-post__comment__item__text span {
    font-size: 12px;
    color: #888888;
    display: block;
    margin-bottom: 10px;
}

.single-post__comment__item__text p {
    font-size: 15px;
}

.single-post__comment__item__text ul {
    position: absolute;
    top: 0;
    right: 0;
}

.single-post__comment__item__text ul li {
    list-style: none;
    margin-right: 15px;
    display: inline-block;
}

.single-post__comment__item__text ul li a {
    font-size: 18px;
    color: #444444;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.single-post__comment__item__text ul li a:hover {
    color: #FFB800;
}

.single-post__comment__item__text ul li:last-child {
    margin-right: 0;
}

.single-post__leave__comment form .input-list {
    margin-right: -20px;
}

.single-post__leave__comment form .input-list input {
    height: 46px;
    width: calc(33.33% - 20px);
    background: transparent;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #444444;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-right: 16px;
}

.single-post__leave__comment form .input-list input:last-child {
    color: #444444;
}

.single-post__leave__comment form textarea {
    height: 190px;
    width: 100%;
    background: transparent;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #444444;
    padding-top: 12px;
    padding-left: 20px;
    margin-bottom: 14px;
    resize: none;
}

.single-post__leave__comment form textarea:last-child {
    color: #444444;
}

.single-post__leave__comment form button {
    width: 100%;
}

.single-post {
    padding-top: 0;
}

.single-post__hero {
    height: 960px;
}

.single-post__title {
    background: #ffffff;
    -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    padding: 50px;
    padding-right: 40px;
    position: relative;
    margin-top: -105px;
    margin-bottom: 50px;
}

.single-post__title__meta {
    background: #f2f2f2;
    height: 110px;
    width: 110px;
    text-align: center;
    padding-top: 28px;
    float: left;
    margin-right: 30px;
}

.single-post__title__meta h2 {
    font-size: 42px;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    line-height: 28px;
}

.single-post__title__meta span {
    font-size: 24px;
    color: #888888;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
}

.single-post__title__text {
    overflow: hidden;
}

.single-post__title__text .label li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
    color: #FFB800;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
}

.single-post__title__text .label li:last-child {
    margin-right: 0;
}

.single-post__title__text .label li:last-child:after {
    display: none;
}

.single-post__title__text .label li:after {
    position: absolute;
    right: -14px;
    top: -2px;
    content: "|";
    color: #d7d7d7;
}

.single-post__title__text h4 {
    font-size: 26px;
    color: #111111;
    line-height: 34px;
}

.single-post__title__text .widget li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 12px;
    color: #888888;
    position: relative;
}

.single-post__title__text .widget li span {
    color: #111111;
}

.single-post__title__text .widget li:after {
    position: absolute;
    right: -18px;
    top: -1px;
    content: "|";
    color: #d7d7d7;
}

.single-post__title__text .widget li:last-child {
    margin-right: 0;
}

.single-post__title__text .widget li:last-child:after {
    display: none;
}

.single-post__social__item {
    position: absolute;
    top: 40px;
    left: -70px;
}

.single-post__social__item ul li {
    list-style: none;
}

.single-post__social__item ul li a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 46px;
    width: 46px;
    background: #f2f2f2;
    line-height: 46px;
    text-align: center;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-bottom: 10px;
}

.single-post__social__item ul li a:last-child {
    margin-right: 0;
}

.single-post__social__item ul li a:hover {
    background: #FFB800;
    color: #ffffff;
}

.single-post__top__text,
.single-post__middle__text {
    margin-bottom: 25px;
}

.single-post__top__text p,
.single-post__middle__text p {
    font-size: 15px;
}

.single-post__recipe__details {
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

.single-post__recipe__details__option {
    background: #f5f5f5;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.single-post__recipe__details__option ul {
    overflow: hidden;
}

.single-post__recipe__details__option ul li {
    list-style: none;
    float: left;
    margin-right: 48px;
}

.single-post__recipe__details__option ul li:last-child {
    margin-right: 0;
}

.single-post__recipe__details__option ul li h5 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.single-post__recipe__details__option ul li h5 i {
    font-size: 16px;
    margin-right: 5px;
}

.single-post__recipe__details__option ul li span {
    font-size: 14px;
    color: #888888;
}

.single-post__recipe__details__option ul li .primary-btn i {
    margin-right: 5px;
}

.single-post__recipe__details__indegradients {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.single-post__recipe__details__indegradients h5 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-post__recipe__details__indegradients ul li {
    list-style: none;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
}

.single-post__recipe__details__indegradients ul li:before {
    position: absolute;
    left: 0;
    top: 13px;
    height: 3px;
    width: 3px;
    background: #111111;
    content: "";
}

.single-post__recipe__details__direction {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.single-post__recipe__details__direction h5 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-post__recipe__details__direction ul li {
    list-style: none;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
}

.single-post__recipe__details__direction ul li span {
    font-size: 15px;
    color: #111111;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
}

.single-post__middle__text {
    margin-bottom: 20px;
}

.single-post__middle__text p {
    font-size: 15px;
}

.single-post__quote {
    padding-left: 75px;
    position: relative;
    margin-bottom: 20px;
}

.single-post__quote::before {
    position: absolute;
    left: 0;
    top: 3px;
    /* background-image: url(../img/categories/single-post/quote-left.png); */
    height: 55px;
    width: 55px;
    content: "";
}

.single-post__quote p {
    font-size: 24px;
    color: #111111;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: "Unna", serif;
}

.single-post__quote span {
    font-size: 15px;
    color: #888888;
    text-transform: uppercase;
}

.single-post__desc {
    margin-bottom: 25px;
}

.single-post__desc p {
    font-size: 15px;
}

.single-post__desc h4 {
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.single-post__more__details {
    margin-bottom: 20px;
}

.single-post__more__details img {
    min-width: 100%;
}

.single-post__more__details p {
    font-size: 15px;
    margin-bottom: 0;
}

.single-post__last__text {
    margin-bottom: 25px;
}

.single-post__last__text p {
    font-size: 15px;
}

.single-post__last__text p:first-child {
    margin-bottom: 10px;
}

.single-post__tags {
    margin-bottom: 50px;
}

.single-post__tags a {
    display: inline-block;
    font-size: 13px;
    color: #444444;
    background: #f2f2f2;
    padding: 8px 16px 6px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.single-post__tags a:last-child {
    margin-right: 0;
}

.single-post__next__previous {
    margin-bottom: 60px;
}

.single-post__previous,
.single-post__next {
    display: block;
}

.single-post__previous h6,
.single-post__next h6 {
    font-size: 15px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 25px;
}

.single-post__previous h6 span,
.single-post__next h6 span {
    font-size: 23px;
    color: #444444;
    position: relative;
    top: 4px;
}

.single-post__previous__meta,
.single-post__next__meta {
    height: 65px;
    width: 65px;
    background: #f5f5f5;
    text-align: center;
    padding-top: 20px;
    float: left;
    margin-right: 20px;
}

.single-post__previous__meta h4,
.single-post__next__meta h4 {
    font-size: 26px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    line-height: 12px;
}

.single-post__previous__meta span,
.single-post__next__meta span {
    font-size: 12px;
    color: #888888;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.single-post__previous__text,
.single-post__next__text {
    overflow: hidden;
}

.single-post__previous__text span,
.single-post__next__text span {
    font-size: 12px;
    color: #FFB800;
    text-transform: uppercase;
    font-weight: 700;
}

.single-post__previous__text h5,
.single-post__next__text h5 {
    line-height: 23px;
    margin-top: 5px;
}

.single-post__next {
    text-align: right;
}

.single-post__next__meta {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.single-post__author__profile {
    padding: 30px;
    background: #f5f5f5;
    margin-bottom: 50px;
}

.single-post__author__profile__pic {
    float: left;
    margin-right: 30px;
}

.single-post__author__profile__pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.single-post__author__profile__text {
    overflow: hidden;
}

.single-post__author__profile__text h4 {
    text-transform: uppercase;
}

.single-post__author__profile__text p {
    font-size: 15px;
}

.single-post__author__profile__text .single-post__author__profile__social a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 36px;
    width: 36px;
    background: #e1e1e1;
    line-height: 36px;
    text-align: center;
    margin-right: 6px;
    margin-top: 5px;
}

.single-post__author__profile__text .single-post__author__profile__social a:last-child {
    margin-right: 0;
}

.single-post__comment {
    margin-bottom: 20px;
}

.widget__title {
    margin-bottom: 40px;
}

.widget__title h4 {
    display: inline-block;
    color: #111111;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.widget__title h4:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: #FFB800;
    opacity: 0.3;
    content: "";
}

.single-post__comment__item {
    margin-bottom: 10px;
}

.single-post__comment__item.single-post__comment__item--reply {
    padding-left: 120px;
}

.single-post__comment__item__pic {
    float: left;
    margin-right: 25px;
}

.single-post__comment__item__pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.single-post__comment__item__text {
    overflow: hidden;
    position: relative;
}

.single-post__comment__item__text h5 {
    text-transform: uppercase;
    margin-bottom: 4px;
}

.single-post__comment__item__text span {
    font-size: 12px;
    color: #888888;
    display: block;
    margin-bottom: 10px;
}

.single-post__comment__item__text p {
    font-size: 15px;
}

.single-post__comment__item__text ul {
    position: absolute;
    top: 0;
    right: 0;
}

.single-post__comment__item__text ul li {
    list-style: none;
    margin-right: 15px;
    display: inline-block;
}

.single-post__comment__item__text ul li a {
    font-size: 18px;
    color: #444444;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.single-post__comment__item__text ul li a:hover {
    color: #FFB800;
}

.single-post__comment__item__text ul li:last-child {
    margin-right: 0;
}

.single-post__leave__comment form .input-list {
    margin-right: -20px;
}

.single-post__leave__comment form .input-list input {
    height: 46px;
    width: calc(33.33% - 20px);
    background: transparent;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #444444;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-right: 16px;
}

.single-post__leave__comment form .input-list input:last-child {
    color: #444444;
}

.single-post__leave__comment form textarea {
    height: 190px;
    width: 100%;
    background: transparent;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #444444;
    padding-top: 12px;
    padding-left: 20px;
    margin-bottom: 14px;
    resize: none;
}

.single-post__leave__comment form textarea:last-child {
    color: #444444;
}

.single-post__leave__comment form button {
    width: 100%;
}

.single-post {
    padding-top: 0;
}

.single-post__hero {
    height: 960px;
}

.single-post__title {
    background: #ffffff;
    -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    padding: 50px;
    padding-right: 40px;
    position: relative;
    margin-top: -105px;
    margin-bottom: 50px;
}

.single-post__title__meta {
    background: #f2f2f2;
    height: 110px;
    width: 110px;
    text-align: center;
    padding-top: 28px;
    float: left;
    margin-right: 30px;
}

.single-post__title__meta h2 {
    font-size: 42px;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    line-height: 28px;
}

.single-post__title__meta span {
    font-size: 24px;
    color: #888888;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
}

.single-post__title__text {
    overflow: hidden;
}

.single-post__title__text .label li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
    color: #FFB800;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
}

.single-post__title__text .label li:last-child {
    margin-right: 0;
}

.single-post__title__text .label li:last-child:after {
    display: none;
}

.single-post__title__text .label li:after {
    position: absolute;
    right: -14px;
    top: -2px;
    content: "|";
    color: #d7d7d7;
}

.single-post__title__text h4 {
    font-size: 26px;
    color: #111111;
    line-height: 34px;
}

.single-post__title__text .widget li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 12px;
    color: #888888;
    position: relative;
}

.single-post__title__text .widget li span {
    color: #111111;
}

.single-post__title__text .widget li:after {
    position: absolute;
    right: -18px;
    top: -1px;
    content: "|";
    color: #d7d7d7;
}

.single-post__title__text .widget li:last-child {
    margin-right: 0;
}

.single-post__title__text .widget li:last-child:after {
    display: none;
}

.single-post__social__item {
    position: absolute;
    top: 40px;
    left: -70px;
}

.single-post__social__item ul li {
    list-style: none;
}

.single-post__social__item ul li a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 46px;
    width: 46px;
    background: #f2f2f2;
    line-height: 46px;
    text-align: center;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-bottom: 10px;
}

.single-post__social__item ul li a:last-child {
    margin-right: 0;
}

.single-post__social__item ul li a:hover {
    background: #FFB800;
    color: #ffffff;
}

.single-post__top__text,
.single-post__middle__text {
    margin-bottom: 25px;
}

.single-post__top__text p,
.single-post__middle__text p {
    font-size: 15px;
}

.single-post__recipe__details {
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

.single-post__recipe__details__option {
    background: #f5f5f5;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.single-post__recipe__details__option ul {
    overflow: hidden;
}

.single-post__recipe__details__option ul li {
    list-style: none;
    float: left;
    margin-right: 48px;
}

.single-post__recipe__details__option ul li:last-child {
    margin-right: 0;
}

.single-post__recipe__details__option ul li h5 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.single-post__recipe__details__option ul li h5 i {
    font-size: 16px;
    margin-right: 5px;
}

.single-post__recipe__details__option ul li span {
    font-size: 14px;
    color: #888888;
}

.single-post__recipe__details__option ul li .primary-btn i {
    margin-right: 5px;
}

.single-post__recipe__details__indegradients {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.single-post__recipe__details__indegradients h5 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-post__recipe__details__indegradients ul li {
    list-style: none;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
}

.single-post__recipe__details__indegradients ul li:before {
    position: absolute;
    left: 0;
    top: 13px;
    height: 3px;
    width: 3px;
    background: #111111;
    content: "";
}

.single-post__recipe__details__direction {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.single-post__recipe__details__direction h5 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-post__recipe__details__direction ul li {
    list-style: none;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
}

.single-post__recipe__details__direction ul li span {
    font-size: 15px;
    color: #111111;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
}

.single-post__middle__text {
    margin-bottom: 20px;
}

.single-post__middle__text p {
    font-size: 15px;
}

.single-post__quote {
    padding-left: 75px;
    position: relative;
    margin-bottom: 20px;
}

.single-post__quote::before {
    position: absolute;
    left: 0;
    top: 3px;
    /* background-image: url(../img/categories/single-post/quote-left.png); */
    height: 55px;
    width: 55px;
    content: "";
}

.single-post__quote p {
    font-size: 24px;
    color: #111111;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: "Unna", serif;
}

.single-post__quote span {
    font-size: 15px;
    color: #888888;
    text-transform: uppercase;
}

.single-post__desc {
    margin-bottom: 25px;
}

.single-post__desc p {
    font-size: 15px;
}

.single-post__desc h4 {
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.single-post__more__details {
    margin-bottom: 20px;
}

.single-post__more__details img {
    min-width: 100%;
}

.single-post__more__details p {
    font-size: 15px;
    margin-bottom: 0;
}

.single-post__last__text {
    margin-bottom: 25px;
}

.single-post__last__text p {
    font-size: 15px;
}

.single-post__last__text p:first-child {
    margin-bottom: 10px;
}

.single-post__tags {
    margin-bottom: 50px;
}

.single-post__tags a {
    display: inline-block;
    font-size: 13px;
    color: #444444;
    background: #f2f2f2;
    padding: 8px 16px 6px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.single-post__tags a:last-child {
    margin-right: 0;
}

.single-post__next__previous {
    margin-bottom: 60px;
}

.single-post__previous,
.single-post__next {
    display: block;
}

.single-post__previous h6,
.single-post__next h6 {
    font-size: 15px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 25px;
}

.single-post__previous h6 span,
.single-post__next h6 span {
    font-size: 23px;
    color: #444444;
    position: relative;
    top: 4px;
}

.single-post__previous__meta,
.single-post__next__meta {
    height: 65px;
    width: 65px;
    background: #f5f5f5;
    text-align: center;
    padding-top: 20px;
    float: left;
    margin-right: 20px;
}

.single-post__previous__meta h4,
.single-post__next__meta h4 {
    font-size: 26px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    line-height: 12px;
}

.single-post__previous__meta span,
.single-post__next__meta span {
    font-size: 12px;
    color: #888888;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.single-post__previous__text,
.single-post__next__text {
    overflow: hidden;
}

.single-post__previous__text span,
.single-post__next__text span {
    font-size: 12px;
    color: #FFB800;
    text-transform: uppercase;
    font-weight: 700;
}

.single-post__previous__text h5,
.single-post__next__text h5 {
    line-height: 23px;
    margin-top: 5px;
}

.single-post__next {
    text-align: right;
}

.single-post__next__meta {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.single-post__author__profile {
    padding: 30px;
    background: #f5f5f5;
    margin-bottom: 50px;
}

.single-post__author__profile__pic {
    float: left;
    margin-right: 30px;
}

.single-post__author__profile__pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.single-post__author__profile__text {
    overflow: hidden;
}

.single-post__author__profile__text h4 {
    text-transform: uppercase;
}

.single-post__author__profile__text p {
    font-size: 15px;
}

.single-post__author__profile__text .single-post__author__profile__social a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 36px;
    width: 36px;
    background: #e1e1e1;
    line-height: 36px;
    text-align: center;
    margin-right: 6px;
    margin-top: 5px;
}

.single-post__author__profile__text .single-post__author__profile__social a:last-child {
    margin-right: 0;
}

.single-post__comment {
    margin-bottom: 20px;
}

.widget__title {
    margin-bottom: 40px;
}

.widget__title h4 {
    display: inline-block;
    color: #111111;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.widget__title h4:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: #FFB800;
    opacity: 0.3;
    content: "";
}

.single-post__comment__item {
    margin-bottom: 10px;
}

.single-post__comment__item.single-post__comment__item--reply {
    padding-left: 120px;
}

.single-post__comment__item__pic {
    float: left;
    margin-right: 25px;
}

.single-post__comment__item__pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.single-post__comment__item__text {
    overflow: hidden;
    position: relative;
}

.single-post__comment__item__text h5 {
    text-transform: uppercase;
    margin-bottom: 4px;
}

.single-post__comment__item__text span {
    font-size: 12px;
    color: #888888;
    display: block;
    margin-bottom: 10px;
}

.single-post__comment__item__text p {
    font-size: 15px;
}

.single-post__comment__item__text ul {
    position: absolute;
    top: 0;
    right: 0;
}

.single-post__comment__item__text ul li {
    list-style: none;
    margin-right: 15px;
    display: inline-block;
}

.single-post__comment__item__text ul li a {
    font-size: 18px;
    color: #444444;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.single-post__comment__item__text ul li a:hover {
    color: #FFB800;
}

.single-post__comment__item__text ul li:last-child {
    margin-right: 0;
}

.single-post__leave__comment form .input-list {
    margin-right: -20px;
}

.single-post__leave__comment form .input-list input {
    height: 46px;
    width: calc(33.33% - 20px);
    background: transparent;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #444444;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-right: 16px;
}

.single-post__leave__comment form .input-list input:last-child {
    color: #444444;
}

.single-post__leave__comment form textarea {
    height: 190px;
    width: 100%;
    background: transparent;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #444444;
    padding-top: 12px;
    padding-left: 20px;
    margin-bottom: 14px;
    resize: none;
}

.single-post__leave__comment form textarea:last-child {
    color: #444444;
}

.single-post__leave__comment form button {
    width: 100%;
}

.single-post {
    padding-top: 0;
}

.single-post__hero {
    height: 960px;
}

.single-post__title {
    background: #ffffff;
    -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    padding: 50px;
    padding-right: 40px;
    position: relative;
    margin-top: -105px;
    margin-bottom: 50px;
}

.single-post__title__meta {
    background: #f2f2f2;
    height: 110px;
    width: 110px;
    text-align: center;
    padding-top: 28px;
    float: left;
    margin-right: 30px;
}

.single-post__title__meta h2 {
    font-size: 42px;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    line-height: 28px;
}

.single-post__title__meta span {
    font-size: 24px;
    color: #888888;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
}

.single-post__title__text {
    overflow: hidden;
}

.single-post__title__text .label li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
    color: #FFB800;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
}

.single-post__title__text .label li:last-child {
    margin-right: 0;
}

.single-post__title__text .label li:last-child:after {
    display: none;
}

.single-post__title__text .label li:after {
    position: absolute;
    right: -14px;
    top: -2px;
    content: "|";
    color: #d7d7d7;
}

.single-post__title__text h4 {
    font-size: 26px;
    color: #111111;
    line-height: 34px;
}

.single-post__title__text .widget li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 12px;
    color: #888888;
    position: relative;
}

.single-post__title__text .widget li span {
    color: #111111;
}

.single-post__title__text .widget li:after {
    position: absolute;
    right: -18px;
    top: -1px;
    content: "|";
    color: #d7d7d7;
}

.single-post__title__text .widget li:last-child {
    margin-right: 0;
}

.single-post__title__text .widget li:last-child:after {
    display: none;
}

.single-post__social__item {
    position: absolute;
    top: 40px;
    left: -70px;
}

.single-post__social__item ul li {
    list-style: none;
}

.single-post__social__item ul li a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 46px;
    width: 46px;
    background: #f2f2f2;
    line-height: 46px;
    text-align: center;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-bottom: 10px;
}

.single-post__social__item ul li a:last-child {
    margin-right: 0;
}

.single-post__social__item ul li a:hover {
    background: #FFB800;
    color: #ffffff;
}

.single-post__top__text,
.single-post__middle__text {
    margin-bottom: 25px;
}

.single-post__top__text p,
.single-post__middle__text p {
    font-size: 15px;
}

.single-post__recipe__details {
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

.single-post__recipe__details__option {
    background: #f5f5f5;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.single-post__recipe__details__option ul {
    overflow: hidden;
}

.single-post__recipe__details__option ul li {
    list-style: none;
    float: left;
    margin-right: 48px;
}

.single-post__recipe__details__option ul li:last-child {
    margin-right: 0;
}

.single-post__recipe__details__option ul li h5 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.single-post__recipe__details__option ul li h5 i {
    font-size: 16px;
    margin-right: 5px;
}

.single-post__recipe__details__option ul li span {
    font-size: 14px;
    color: #888888;
}

.single-post__recipe__details__option ul li .primary-btn i {
    margin-right: 5px;
}

.single-post__recipe__details__indegradients {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.single-post__recipe__details__indegradients h5 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-post__recipe__details__indegradients ul li {
    list-style: none;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
}

.single-post__recipe__details__indegradients ul li:before {
    position: absolute;
    left: 0;
    top: 13px;
    height: 3px;
    width: 3px;
    background: #111111;
    content: "";
}

.single-post__recipe__details__direction {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.single-post__recipe__details__direction h5 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-post__recipe__details__direction ul li {
    list-style: none;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
}

.single-post__recipe__details__direction ul li span {
    font-size: 15px;
    color: #111111;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
}

.single-post__middle__text {
    margin-bottom: 20px;
}

.single-post__middle__text p {
    font-size: 15px;
}

.single-post__quote {
    padding-left: 75px;
    position: relative;
    margin-bottom: 20px;
}

.single-post__quote::before {
    position: absolute;
    left: 0;
    top: 3px;
    /* background-image: url(../img/categories/single-post/quote-left.png); */
    height: 55px;
    width: 55px;
    content: "";
}

.single-post__quote p {
    font-size: 24px;
    color: #111111;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: "Unna", serif;
}

.single-post__quote span {
    font-size: 15px;
    color: #888888;
    text-transform: uppercase;
}

.single-post__desc {
    margin-bottom: 25px;
}

.single-post__desc p {
    font-size: 15px;
}

.single-post__desc h4 {
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.single-post__more__details {
    margin-bottom: 20px;
}

.single-post__more__details img {
    min-width: 100%;
}

.single-post__more__details p {
    font-size: 15px;
    margin-bottom: 0;
}

.single-post__last__text {
    margin-bottom: 25px;
}

.single-post__last__text p {
    font-size: 15px;
}

.single-post__last__text p:first-child {
    margin-bottom: 10px;
}

.single-post__tags {
    margin-bottom: 50px;
}

.single-post__tags a {
    display: inline-block;
    font-size: 13px;
    color: #444444;
    background: #f2f2f2;
    padding: 8px 16px 6px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.single-post__tags a:last-child {
    margin-right: 0;
}

.single-post__next__previous {
    margin-bottom: 60px;
}

.single-post__previous,
.single-post__next {
    display: block;
}

.single-post__previous h6,
.single-post__next h6 {
    font-size: 15px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 25px;
}

.single-post__previous h6 span,
.single-post__next h6 span {
    font-size: 23px;
    color: #444444;
    position: relative;
    top: 4px;
}

.single-post__previous__meta,
.single-post__next__meta {
    height: 65px;
    width: 65px;
    background: #f5f5f5;
    text-align: center;
    padding-top: 20px;
    float: left;
    margin-right: 20px;
}

.single-post__previous__meta h4,
.single-post__next__meta h4 {
    font-size: 26px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    line-height: 12px;
}

.single-post__previous__meta span,
.single-post__next__meta span {
    font-size: 12px;
    color: #888888;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.single-post__previous__text,
.single-post__next__text {
    overflow: hidden;
}

.single-post__previous__text span,
.single-post__next__text span {
    font-size: 12px;
    color: #FFB800;
    text-transform: uppercase;
    font-weight: 700;
}

.single-post__previous__text h5,
.single-post__next__text h5 {
    line-height: 23px;
    margin-top: 5px;
}

.single-post__next {
    text-align: right;
}

.single-post__next__meta {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.single-post__author__profile {
    padding: 30px;
    background: #f5f5f5;
    margin-bottom: 50px;
}

.single-post__author__profile__pic {
    float: left;
    margin-right: 30px;
}

.single-post__author__profile__pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.single-post__author__profile__text {
    overflow: hidden;
}

.single-post__author__profile__text h4 {
    text-transform: uppercase;
}

.single-post__author__profile__text p {
    font-size: 15px;
}

.single-post__author__profile__text .single-post__author__profile__social a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 36px;
    width: 36px;
    background: #e1e1e1;
    line-height: 36px;
    text-align: center;
    margin-right: 6px;
    margin-top: 5px;
}

.single-post__author__profile__text .single-post__author__profile__social a:last-child {
    margin-right: 0;
}

.single-post__comment {
    margin-bottom: 20px;
}

.widget__title {
    margin-bottom: 40px;
}

.widget__title h4 {
    display: inline-block;
    color: #111111;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.widget__title h4:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: #FFB800;
    opacity: 0.3;
    content: "";
}

.single-post__comment__item {
    margin-bottom: 10px;
}

.single-post__comment__item.single-post__comment__item--reply {
    padding-left: 120px;
}

.single-post__comment__item__pic {
    float: left;
    margin-right: 25px;
}

.single-post__comment__item__pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.single-post__comment__item__text {
    overflow: hidden;
    position: relative;
}

.single-post__comment__item__text h5 {
    text-transform: uppercase;
    margin-bottom: 4px;
}

.single-post__comment__item__text span {
    font-size: 12px;
    color: #888888;
    display: block;
    margin-bottom: 10px;
}

.single-post__comment__item__text p {
    font-size: 15px;
}

.single-post__comment__item__text ul {
    position: absolute;
    top: 0;
    right: 0;
}

.single-post__comment__item__text ul li {
    list-style: none;
    margin-right: 15px;
    display: inline-block;
}

.single-post__comment__item__text ul li a {
    font-size: 18px;
    color: #444444;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.single-post__comment__item__text ul li a:hover {
    color: #FFB800;
}

.single-post__comment__item__text ul li:last-child {
    margin-right: 0;
}

.single-post__leave__comment form .input-list {
    margin-right: -20px;
}

.single-post__leave__comment form .input-list input {
    height: 46px;
    width: calc(33.33% - 20px);
    background: transparent;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #444444;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-right: 16px;
}

.single-post__leave__comment form .input-list input:last-child {
    color: #444444;
}

.single-post__leave__comment form textarea {
    height: 190px;
    width: 100%;
    background: transparent;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #444444;
    padding-top: 12px;
    padding-left: 20px;
    margin-bottom: 14px;
    resize: none;
}

.single-post__leave__comment form textarea:last-child {
    color: #444444;
}

.single-post__leave__comment form button {
    width: 100%;
}
</style>