<template>
  <section class="single-post spad">
    <div
      class="single-post__hero set-bg"
      :style="{
        backgroundImage:
          'url(' +
          `${
              recipe?.imageUrl != null && typeof recipe?.imageUrl != undefined
              ? recipe?.imageUrl
              : ''
          }` +
          ')',
      }"
      @error="replaceByDefault"
    ></div>

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="single-post__title">
            <div class="single-post__title__meta">
              <h2>{{ recipe?.createdAt | moment("DD") }}</h2>
              <span class="days">
                <p>
                  {{ recipe != null ? recipe?.createdAt : "" | moment("dddd") }}
                </p>
              </span>
            </div>
            <!-- presentation recipe -->
            <div class="single-post__title__text">
              <ul class="label">
                <!-- <li>Vegan</li> -->
                <li>
                  {{
                    recipe?.recipeType != null &&
                    typeof recipe?.recipeType != "undefined"
                      ? recipe?.recipeType.name
                      : " ------- "
                  }}
                </li>
              </ul>
              <h4>{{ recipe?.name }}</h4>
              <ul class="widget">
                <li>Publié par Admin</li>
                <li>{{ recipe?.createdAt | moment("from", "now") }}</li>
                <li>
                  {{
                    recipe?.commentRecipes != null &&
                    typeof recipe?.commentRecipes != "undefined"
                      ? `${recipe?.commentRecipes.length} Commentaire`
                      : "Pas de Commentaire pour le moment"
                  }}
                </li>
              </ul>
            </div>
            <!-- presentation recipe -->

            <div class="action_item_container">
              <div class="action_item" @click="likeOrDisLikeRecipe">
                
                <div v-if="alreadyLike" class="like_box">
                   ❤️ 
                </div>

                <div v-else class="like_box">
                   🖤 
                </div>

                <div style="margin: 5px"></div>
                <div class="action_item">
                  <span style="marigin-left: 2px !important">{{
                    recipe?.likes?.length
                  }}</span>
                </div>
              </div>

              <div
                class="action_item"
                @click="
                  $router.push({ name: 'EditRecipe', params: { id: id } })
                "
                v-if="own()"
              >
                <i class="fas fa-lg fa-edit"></i>
              </div>

              <div class="action_item" @click="deleteRecipe()" v-if="own()">
                <i class="fas fa-lg fa-trash"></i>
              </div>
            </div>
          </div>

          <div class="single-post__social__item">
            <share-it
              :targets="['twitter', 'facebook', 'whatsapp']"
              :height="600"
              :width="600"
              :text="`${recipe?.name}\n${recipe?.description}`"
              :url="`${currentUrl}${recipe?.cookingTrick?.url}`"
              icons
              outline
            />
          </div>

          <div class="single-post__top__text">
            <p>{{ recipe?.description }}</p>
          </div>

          <div class="d-flex justify-content-start p-3">
            <CoolLightBox :items="items" :index="index" @close="index = null">
            </CoolLightBox>

            <div class="images-wrapper">
              <div
                class="image"
                v-for="(image, imageIndex) in items"
                :key="imageIndex"
                @click="index = imageIndex"
                :style="{ backgroundImage: 'url(' + image.thumb + ')' }"
              ></div>
            </div>
          </div>

          <div
            class="video_container"
            v-if="
              recipe?.video_url != null &&
              recipe?.video_url != '' &&
              recipe?.video_url != 'undefined'
            "
          >
            <LazyYoutube :src="recipe?.video_url" />
          </div>

          <div class="single-post__recipe__details">
            <div class="single-post__recipe__details__option">
              <ul>
                <li>
                  <h5>
                    <i class="fa fa-user"></i>
                    Nombre de Personnes
                  </h5>

                  <span>
                    {{
                      recipe?.number_of_persons > 1
                        ? `${recipe?.number_of_persons} Personnes`
                        : "Personne"
                    }}
                  </span>
                </li>
                <li>
                  <h5>
                    <i class="fa fa-clock"></i>
                    TEMPS PREPARATION
                  </h5>
                  <span v-if="recipe?.cooking != null">
                    {{
                      recipe?.cooking.includes("min")
                        ? recipe?.cooking
                        : `${recipe?.cooking} min`
                    }}
                  </span>
                </li>

                <li>
                  <h5>
                    <i class="fa fa-clock"></i>
                    TEMPS CUISSON
                  </h5>
                  <span v-if="recipe?.cooking != null">
                    {{
                      recipe?.cooking.includes("min")
                        ? recipe?.cooking
                        : `${recipe?.cooking} min`
                    }}
                  </span>
                </li>

                <li>
                  <h5>
                    <i class="fa fa-balance-scale"></i>
                    Coût
                  </h5>
                  <span>
                    {{
                      recipe?.budget != null &&
                      typeof recipe?.budget != "undefined"
                        ? recipe?.budget.name
                        : "autre"
                    }}
                  </span>
                </li>
              </ul>
            </div>
            <div class="single-post__recipe__details__indegradients">
              <h5>Ingredients</h5>  
              <!-- <pre>
                {{ recipe?.ingredients }}
              </pre> -->

              <ul
                v-if="
                  typeof recipe?.ingredients == 'object' &&
                  recipe?.ingredients?.length >= 1
                    ? true
                    : false
                "
              >
                <IngredientItem
                  :ingredient_data="item"
                  v-for="item in recipe?.ingredients"
                  :key="item.id"
                />
              </ul>

              <ul v-else-if="recipe?.ingredient_text != null">
                <p>
                  {{ recipe?.ingredient_text }}
                </p>
              </ul>

              <ul v-else>
                <p class="py-3">Pas d'ingredients ajouter</p>
              </ul>
            </div>
            <div class="single-post__recipe__details__direction">
              <h5>Instructions</h5>
              <ul
                v-if="
                  typeof recipe?.recipeSteps != 'string' &&
                  recipe?.recipeSteps?.length >= 1
                    ? true
                    : false
                "
              >
                <PreparationInstruction
                  :recipe_instruction="item"
                  :index="index"
                  v-for="(item, index) in recipe?.recipeSteps"
                  :key="item.id"
                />
              </ul>
              <ul v-else-if="recipe?.preparationInstructions != null">
                <p>
                  {{ recipe?.preparationInstructions }}
                </p>
              </ul>

              <ul v-else>
                <p class="py-3">Pas d'ingredients ajouter</p>
              </ul>
            </div>
          </div>

          <div class="grd-item" v-if="recipe?.user">
            <h5>LES COORDONNÉES</h5>

            <div class="coordinate-container">
              <div class="coordinate">
                <div v-if="recipe?.user.address != null">
                  <h5 class="txt-detail-title-gray">adresse</h5>
                  <span class="txt-detail">
                    <i class="fas fa-map-marker-alt"></i>
                    {{
                      recipe?.user?.address == null ||
                      recipe?.user?.address == ""
                        ? "----------"
                        : recipe?.user?.address
                    }}
                  </span>
                </div>

                <div v-if="recipe?.user?.email">
                  <h5 class="txt-detail-title-gray">Email</h5>
                  <span class="txt-detail">
                    <i class="fas fa-address-book"></i>
                    <a :href="`mailto:${recipe?.user?.email}`">{{
                      recipe?.user?.email
                    }}</a>
                  </span>
                </div>

                <div v-if="recipe?.user?.numero">
                  <h5 class="txt-detail-title-gray">Téléphone</h5>
                  <span class="txt-detail">
                    <a class="cta" :href="`tel:${recipe?.user.numero}`">
                      <i class="fa fa-phone"></i>
                      Contacter
                    </a>
                    <div class="displayBlock"></div>
                  </span>
                </div>

                <div v-if="recipe?.user?.prenoms && recipe?.user?.nom">
                  <h5 class="txt-detail-title-gray">Nom Complet</h5>
                  <span class="txt-detail">
                    <path
                      fill="currentColor"
                      d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                    ></path>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ recipe?.user?.prenoms }} {{ recipe?.user?.nom }}
                    <div class="displayBlock"></div>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="single-post__middle__text" v-if="recipe?.suggestion">
            <p>{{ recipe?.suggestion }}</p>
          </div>

          <div class="single-post__middle__text" v-if="recipe?.dedicace">
            <h5>DEDICACE</h5>
            <p>{{ recipe?.dedicace }}</p>
            <!-- <span>MEIKE PETERS</span> -->
          </div>

          <div class="single-post__desc" v-if="recipe?.suggestions">
            <p>{{ recipe?.suggestions }}</p>
          </div>

          <div class="single-post__tags" v-if="recipe?.tags">
            <a href="#">Food</a>
            <a href="#">Vegan</a>
            <a href="#">Tomato</a>
            <a href="#">Weightloss</a>
          </div>

          <div class="single-post__comment">
            <div class="widget__title">
              <h4>
                {{
                  recipe?.commentRecipes != null &&
                  typeof recipe?.commentRecipes != "undefined"
                    ? `${recipe?.commentRecipes.length} Commentaire`
                    : "Pas de Commentaire pour le moment"
                }}
              </h4>
            </div>

            <CommentRecipe :recipes_comment="recipe?.commentRecipes" />
          </div>
        </div>
      </div>

      <!-- rate -->
      <div class="rate">
        <div class="grd-item">
          <h4 class="in-section-title mt-4">Résumé des avis</h4>
          <div class="note-box">
            <div class="note-give">
              <strong>
                {{
                  recipe?.rateAverage == 0 ? "-" : recipe?.rateAverage
                }}</strong
              ><span class="note-value">/5</span>
            </div>
            <!-- <div class="note-mention">
              <a
                href="#"
                class="note-nb"
                aria-haspopup="dialog"
                aria-controls="dialog"
                >Soyez le premier à donner votre avis</a
              >
            </div> -->

            <div class="note-stars">
              <a
                href="#"
                @click.prevent="rateRecipe(1)"
                aria-haspopup="dialog"
                aria-controls="dialog"
              >
                <svg
                  class="svg-inline--fa fa-star fa-w-18"
                  :class="recipe?.rateAverage >= 1 ? 'starPJ-on' : 'starPJ-off'"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="far"
                  data-icon="star"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"
                  ></path>
                </svg>
              </a>

              <a
                href="#"
                @click.prevent="rateRecipe(2)"
                aria-haspopup="dialog"
                aria-controls="dialog"
              >
                <svg
                  class="svg-inline--fa fa-star fa-w-18"
                  :class="recipe?.rateAverage >= 2 ? 'starPJ-on' : 'starPJ-off'"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="far"
                  data-icon="star"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"
                  ></path>
                </svg>
              </a>

              <a
                href="#"
                @click.prevent="rateRecipe(3)"
                aria-haspopup="dialog"
                aria-controls="dialog"
              >
                <svg
                  class="svg-inline--fa fa-star fa-w-18"
                  :class="recipe?.rateAverage >= 3 ? 'starPJ-on' : 'starPJ-off'"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="far"
                  data-icon="star"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"
                  ></path>
                </svg>
              </a>

              <a
                href="#"
                @click.prevent="rateRecipe(4)"
                aria-haspopup="dialog"
                aria-controls="dialog"
              >
                <svg
                  class="svg-inline--fa fa-star fa-w-18"
                  :class="recipe?.rateAverage >= 4 ? 'starPJ-on' : 'starPJ-off'"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="far"
                  data-icon="star"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"
                  ></path>
                </svg>
              </a>

              <a
                href="#"
                @click.prevent="rateRecipe(5)"
                aria-haspopup="dialog"
                aria-controls="dialog"
                ><svg
                  class="svg-inline--fa fa-star fa-w-18"
                  :class="recipe?.rateAverage >= 5 ? 'starPJ-on' : 'starPJ-off'"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="far"
                  data-icon="star"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"
                  ></path></svg
              ></a>
            </div>

            <div class="note-post js-document" aria-hidden="false">
              <a
                href="#"
                class="list-box-btn"
                aria-haspopup="dialog"
                aria-controls="dialog"
                @click="commingSoon"
              >
                <svg
                  class="svg-inline--fa fa-edit fa-w-18"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="far"
                  data-icon="edit"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"
                  ></path>
                </svg>
                Donnez votre avis
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--End rate -->

    </div>
  </section>
</template>

<script>
import IngredientItem from "./_partials/IngredientItem.vue";
import PreparationInstruction from "./_partials/PreparationInstruction.vue";
import CommentRecipe from "./_partials/CommentRecipe.vue";
import AppStorage from "../../../utils/AppStorage";

export default {
  name : 'DetailsComponent',
  components: { IngredientItem, PreparationInstruction, CommentRecipe },
  data() {
    return {
      items: [],
      alreadyLike: null,
      id: null,
      slug: null,
      recipe: null,
      user: null,
      form: {
        number_of_stars: null,
      },
      metadata: null,
      rate: 0,
      index: null,
      currentUrl: "https://abjcuisine.weblogy.net/",
      url : this.baseUrl
    };
  },
  metaInfo() {
    return {
      title: `Détails - ${this?.recipe?.name} - ${this?.recipe?.description} `,
      titleTemplate: "%s | Cuisine.abidjan.net",
      meta: [
        { charset: "utf-8" },
        {
          vmid: "description",
          name: "Détails Recette",
          content: "Cuisine, Recettes, Retaurants, Détails Recette",
        },
        {
          vmid: "description",
          name: "keywords",
          content:
            "recette, cuisine, cours de cuisines, restaurants, plats, commander, souscrire abonnements, ingrédients, coûts, abidjan.net,cuisine",
        },
        {
          vmid: "description",
          property: "fb:app_id",
          content: "975566289205894",
        },
        { vmid: "description", property: "fb:admins", content: "1545380076" },
        {
          vmid: "title",
          name: "twitter:title",
          content: `${this?.recipe?.name}`,
        },
        { vmid: "card", name: "twitter:card", content: "summary_large_image" },
        { vmid: "site", name: "twitter:site", content: "@weblogy" },
        { vmid: "creator", name: "twitter:creator", content: "@weblogy" },
        {
          vmid: "url",
          name: "twitter:url",
          content: "https://www.abidjan.net",
        },
        {
          vmid: "description-recette",
          name: "twitter:description",
          content: `${this?.recipe?.description}`,
        },
        {
          vmid: "image recette",
          name: "twitter:image",
          content:
            `${this?.recipe?.imageUrl}`,
        },
        {
          vmid: "titre recette",
          property: "og:title",
          content: `${this?.recipe?.name}`,
        },
        { vmid: "description", property: "og:type", content: "article" },
        {
          vmid: "description",
          property: "og:email",
          content: "info@weblogy.com",
        },
        {
          vmid: "description",
          property: "og:url",
          content: "https://www.abidjan.net",
        },
        {
          vmid: "description",
          property: "og:image",
          content: `${this?.recipe?.imageUrl}`
        }
      ],
    };
  },
  methods: {
    getUser() {
      const userInfo = async () => {
        this.$loading(true);
        await this.$axios
          .get("/api/get-user_datas")
          .then((res) => {
            console.log(">>>>>>>> Get this.User Info <<<<<<<<<<<<");
            console.log(res.data);
            this.user = res.data.data;
          })
          .catch((error) => {
            console.log(">>>>>>>> Error this.User Info <<<<<<<<<<<<");
            console.log(error.response);
            if (error.response.status == 401) {
              this.user = null;
            }
          })
          .finally(() => {
            this.$loading(false);
          });
      };
      userInfo();
    },
    getRecipe(reload = 0) {
      const RecipeDetails = async () => {

        if(reload != 1){
          this.$loading(true);
        }

        await this.$axios
          .get(`/show-recipe/${this.slug}`)
          .then((res) => {
            console.log(">>>>>>Recipe Détails Worked");
            console.log(res.data);

            this.recipe = res.data.data;
            this.id = this.recipe.id;

            // checkAlreadyLike
              let recipeLike = this.recipe?.likes;

              let alreadyLike = recipeLike.find((el) => {
                
                console.log(el?.liker?.email);

                if (el?.liker?.email == this.User.user()) {
                  return true;
                }

              });

              console.log('alreadyLike>>>')
              console.log({alreadyLike : alreadyLike})

              if (
                alreadyLike != undefined &&
                typeof alreadyLike == "object" 
                &&
                alreadyLike != null
              )
              {
                console.log({ alreadyLike: alreadyLike, type: typeof alreadyLike });
                this.alreadyLike = true;
              } else {
                this.alreadyLike = false;
              }

            // checkAlreadyLike End


            if (reload == 0) {
              var recipImgs = this.recipe?.recipeImages;

              if (typeof recipImgs != "undefined" && recipImgs.length >= 1) {
                recipImgs.forEach((image) => {
                  console.log("IMAGE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
                  console.log(image.url);

                  let imageItem = {
                    description: "image descriptible",
                    thumb: `${this.url}/${image.url}`,
                    src: `${this.url}/${image.url}`
                  };

                  this.items.push(imageItem);
                });
              }
            }

            /* if (recipe?.imageUrl == "") {
            } */
          })

          .catch((error) => {
            console.log(">>>>>>Error Recipe Détails");

            if (error?.response?.status == 401) {
              this.$toast.info("Votre session a expiree");
              this.User.logout();
            } else {
              console.log(error);
              /*  this.$toast.info("Certaines informations sont manquantes...")
				this.$router.push({name : "Accueil"}) */
            }
          })
          .finally(() => {
            this.$loading(false);
          });
      };
      RecipeDetails();
    },
    likeOrDisLikeRecipe() {
        this.$axios
        .get(`api/like-recipe/${this.id}`)
        .then((res) => {
          console.log(">>>>>>>>>Like Worked");
          console.log(res);

          if (res.status == 200 && res.data.status_code == 200) {
            // this.$toast.info("Ajouté dans recettes likées");
            this.getRecipe(1);
          } else if (res.status == 200 || res.data.status_code == 302) {
            // this.$toast.error(`Recette retirer dans la liste des likées `);
            this.getRecipe(1);
          }
        })
        .catch((error) => {
          console.log(error?.response);

          if (error?.response?.status == 401 || error?.response?.code == 401) {
            this.$toast.error(`Veuillez vous connetez s'il vous plait`);

            let routeName = this.$route.name;
            let routePath = this.$route.fullPath;
            // console.log('Current route name '+ routeName)
            // console.log('Current route fullPath '+ routePath)
            AppStorage.setPreviewPageName(routeName);
            AppStorage.setPreviewRoutePath(routePath);
            this.$router.push({ name: "Login" });
            AppStorage.clearSoft();

            // this.User.logout()
          }

        });
    },
    replaceByDefault(e) {
      console.log(e);
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
    own() {

      if(localStorage.getItem("user") == "" || localStorage.getItem("user")== null){
        return false;
      }

      let checkOwn =
        this.recipe?.user?.email == localStorage.getItem("user");
      
        // console.log({checkOwn: this.recipe?.user});
        return checkOwn;  

    },
    deleteRecipe() {

      this.$axios
        .delete(`/api/delete-recipe/${this.id}`)
        .then((res) => {
          console.log("SUCCESS");
          console.log(res);

          if (res.status == 200) {
            this.$toast.error("Recette Supprimé avec succès");
            this.$router.push({ name: "Accueil" });
          }
        })
        .catch((error) => {
          console.log("ERROR RECIPE>>>>>");
          console.log(error);
        });
    },
    rateRecipe(note) {
      console.log("note");
      console.log(note);
      this.form.number_of_stars = note;

      this.$axios
        .post(`/api/rate/${this.id}`, this.form)
        .then((res) => {
          console.log("RATE >>>>>>");
          console.log(res);
          if (res.status == 200 && res.data.status_code == 200) {
            if (res.data.message == "ALREADY_RATE") {
              this.$toast.info("Vous avez déja noté");
            } else {
              this.$toast.info("Note ajouté");
              this.getRecipe();
            }
          } else {
            this.$toast.info("Oups une erreur est survenue");
          }

          // else if (res.data.code ==401) {
          //   this.$toast.error(`Veuillez vous connetez s'il vous plait`);
          //   this.$router.push({ name: "Login" });
          // }
        })
        .catch((error) => {
          console.log(error.response);
          console.log(error.response.status);

          if (error.response.status == 401) {
            this.$toast.error(`Veuillez vous connetez s'il vous plait`);

            let routeName = this.$route.name;
            let routePath = this.$route.fullPath;
            console.log("Current route name " + routeName);
            console.log("Current route fullPath " + routePath);
            AppStorage.setPreviewPageName(routeName);
            AppStorage.setPreviewRoutePath(routePath);

            AppStorage.clearSoft();
            this.$router.push({ name: "Login" });
          }
        })
        .finally();
    },
    countViews() {
      this.$axios
        .get(`/views-counter/${this.slug}`)
        .then((res) => {
          console.log("Success compteur-vue");
          console.log(res);
        })
        .catch((error) => {
          console.log("Error compteur-vue");

          console.log({
            error: error,
            errorMessage: error?.message,
            errorDetails: error?.response,
          });
        });

      // }
    },
    commingSoon(){
        this.$swal("Bientôt disponible")
    }
  },
  beforeMount() {
    this.getUser();
    this.getRecipe();
  },
  created() {
    this.slug = this.$route.params.slug;
    // this.getUser();
    this.countViews(); // this.ownLike()
  },
};
</script>

<style scoped>
.note-box .note-stars {
  margin: 8px 0 10px 0;
  font-family: "PNReg", serif;
  font-weight: normal;
  color: #7f7f7f;
  font-size: 17px;
  /* font-size: 30px; */
  display: inline-block;
  vertical-align: middle;
}
.images-wrapper .image {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 12px;
}

.images-wrapper .video {
  width: 60%;
  height: 100%;
}

.images-wrapper {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.note-box {
  width: 75%;
}

.rate {
  position: absolute;
  top: 0%;
  right: -20%;
}

.action_item_container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.set-bg {
  background-position: center;
  object-fit: cover;
  /*background-repeat: no-repeat;*/
  /*background-size: 100% 100%;*/
}
.days {
  font-size: 10px;
}

.single-post {
  padding-top: 0;
}

.single-post__hero {
  height: 10vh;
}

.single-post__title {
  background: #ffffff;
  -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
  box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
  padding: 50px;
  padding-right: 40px;
  position: relative;
  margin-top: -105px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.single-post__title__meta {
  background: #f2f2f2;
  height: 110px;
  width: 110px;
  text-align: center;
  padding-top: 28px;
  float: left;
  margin-right: 30px;
}

.single-post__title__meta h2 {
  font-size: 42px;
  color: #111111;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 28px;
}

.single-post__title__meta span {
  font-size: 24px;
  color: #888888;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
}

.single-post__title__text {
  overflow: hidden;
}

.single-post__title__text .label li {
  list-style: none;
  display: inline-block;
  margin-right: 18px;
  color: #ffb800;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}

.single-post__title__text .label li:last-child {
  margin-right: 0;
}

.single-post__title__text .label li:last-child:after {
  display: none;
}

.single-post__title__text .label li:after {
  position: absolute;
  right: -14px;
  top: -2px;
  content: "|";
  color: #d7d7d7;
}

.single-post__title__text h4 {
  font-size: 26px;
  color: #111111;
  line-height: 34px;
}

.single-post__title__text .widget li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
  color: #888888;
  position: relative;
}

.single-post__title__text .widget li span {
  color: #111111;
}

.single-post__title__text .widget li:after {
  position: absolute;
  right: -18px;
  top: -1px;
  content: "|";
  color: #d7d7d7;
}

.single-post__title__text .widget li:last-child {
  margin-right: 0;
}

.single-post__title__text .widget li:last-child:after {
  display: none;
}

.single-post__social__item {
  position: absolute;
  top: 40px;
  left: -70px;
}

.single-post__social__item ul li {
  list-style: none;
}

.single-post__social__item ul li a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 46px;
  width: 46px;
  background: #f2f2f2;
  line-height: 46px;
  text-align: center;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  margin-bottom: 10px;
}

.single-post__social__item ul li a:last-child {
  margin-right: 0;
}

.single-post__social__item ul li a:hover {
  background: #ffb800;
  color: #ffffff;
}

.single-post__top__text,
.single-post__middle__text {
  margin-bottom: 25px;
}

.single-post__top__text p,
.single-post__middle__text p {
  font-size: 15px;
}

.single-post__recipe__details {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.single-post__recipe__details__option {
  background: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.single-post__recipe__details__option ul {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.single-post__recipe__details__option ul li {
  list-style: none;
  float: left;
  margin-right: 48px;
}

.single-post__recipe__details__option ul li:last-child {
  margin-right: 0;
}

.single-post__recipe__details__option ul li h5 {
  font-size: inherit;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.single-post__recipe__details__option ul li h5 i {
  font-size: 16px;
  margin-right: 5px;
}

.single-post__recipe__details__option ul li span {
  font-size: 14px;
  color: #888888;
}

.single-post__recipe__details__option ul li .primary-btn i {
  margin-right: 5px;
}

.single-post__recipe__details__indegradients {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.single-post__recipe__details__indegradients h5 {
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-post__recipe__details__indegradients ul li {
  list-style: none;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
}

.single-post__recipe__details__indegradients ul li:before {
  position: absolute;
  left: 0;
  top: 13px;
  height: 3px;
  width: 3px;
  background: #111111;
  content: "";
}

.single-post__recipe__details__direction {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.single-post__recipe__details__direction h5 {
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-post__recipe__details__direction ul li {
  list-style: none;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
}

.single-post__recipe__details__direction ul li span {
  font-size: 15px;
  color: #111111;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
}

.single-post__middle__text {
  margin-bottom: 20px;
}

.single-post__middle__text p {
  font-size: 15px;
}

.single-post__quote {
  padding-left: 75px;
  position: relative;
  margin-bottom: 20px;
}

.single-post__quote::before {
  position: absolute;
  left: 0;
  top: 3px;
  /* background-image: url(../img/categories/single-post/quote-left.png); */
  height: 55px;
  width: 55px;
  content: "";
}

.single-post__quote p {
  font-size: 24px;
  color: #111111;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: "Unna", serif;
}

.single-post__quote span {
  font-size: 15px;
  color: #888888;
  text-transform: uppercase;
}

.single-post__desc {
  margin-bottom: 25px;
}

.single-post__desc p {
  font-size: 15px;
}

.single-post__desc h4 {
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.single-post__more__details {
  margin-bottom: 20px;
}

.single-post__more__details img {
  min-width: 100%;
}

.single-post__more__details p {
  font-size: 15px;
  margin-bottom: 0;
}

.single-post__last__text {
  margin-bottom: 25px;
}

.single-post__last__text p {
  font-size: 15px;
}

.single-post__last__text p:first-child {
  margin-bottom: 10px;
}

.single-post__tags {
  margin-bottom: 50px;
}

.single-post__tags a {
  display: inline-block;
  font-size: 13px;
  color: #444444;
  background: #f2f2f2;
  padding: 8px 16px 6px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.single-post__tags a:last-child {
  margin-right: 0;
}

.single-post__next__previous {
  margin-bottom: 60px;
}

.single-post__previous,
.single-post__next {
  display: block;
}

.single-post__previous h6,
.single-post__next h6 {
  font-size: 15px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 25px;
}

.single-post__previous h6 span,
.single-post__next h6 span {
  font-size: 23px;
  color: #444444;
  position: relative;
  top: 4px;
}

.single-post__previous__meta,
.single-post__next__meta {
  height: 65px;
  width: 65px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 20px;
  float: left;
  margin-right: 20px;
}

.single-post__previous__meta h4,
.single-post__next__meta h4 {
  font-size: 26px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 12px;
}

.single-post__previous__meta span,
.single-post__next__meta span {
  font-size: 12px;
  color: #888888;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.single-post__previous__text,
.single-post__next__text {
  overflow: hidden;
}

.single-post__previous__text span,
.single-post__next__text span {
  font-size: 12px;
  color: #ffb800;
  text-transform: uppercase;
  font-weight: 700;
}

.single-post__previous__text h5,
.single-post__next__text h5 {
  line-height: 23px;
  margin-top: 5px;
}

.single-post__next {
  text-align: right;
}

.single-post__next__meta {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.single-post__author__profile {
  padding: 30px;
  background: #f5f5f5;
  margin-bottom: 50px;
}

.single-post__author__profile__pic {
  float: left;
  margin-right: 30px;
}

.single-post__author__profile__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.single-post__author__profile__text {
  overflow: hidden;
}

.single-post__author__profile__text h4 {
  text-transform: uppercase;
}

.single-post__author__profile__text p {
  font-size: 15px;
}

.single-post__author__profile__text .single-post__author__profile__social a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 36px;
  width: 36px;
  background: #e1e1e1;
  line-height: 36px;
  text-align: center;
  margin-right: 6px;
  margin-top: 5px;
}

.single-post__author__profile__text
  .single-post__author__profile__social
  a:last-child {
  margin-right: 0;
}

.single-post__comment {
  margin-bottom: 20px;
}

.widget__title {
  margin-bottom: 40px;
}

.widget__title h4 {
  display: inline-block;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.widget__title h4:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: #ffb800;
  opacity: 0.3;
  content: "";
}

.single-post__previous h6,
.single-post__next h6 {
  font-size: 15px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 25px;
}

.single-post__previous h6 span,
.single-post__next h6 span {
  font-size: 23px;
  color: #444444;
  position: relative;
  top: 4px;
}

.single-post__previous__meta,
.single-post__next__meta {
  height: 65px;
  width: 65px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 20px;
  float: left;
  margin-right: 20px;
}

.single-post__previous__meta h4,
.single-post__next__meta h4 {
  font-size: 26px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 12px;
}

.single-post__previous__meta span,
.single-post__next__meta span {
  font-size: 12px;
  color: #888888;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.single-post__previous__text,
.single-post__next__text {
  overflow: hidden;
}

.single-post__previous__text span,
.single-post__next__text span {
  font-size: 12px;
  color: #ffb800;
  text-transform: uppercase;
  font-weight: 700;
}

.single-post__previous__text h5,
.single-post__next__text h5 {
  line-height: 23px;
  margin-top: 5px;
}

.single-post__next {
  text-align: right;
}

.single-post__next__meta {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.single-post__author__profile {
  padding: 30px;
  background: #f5f5f5;
  margin-bottom: 50px;
}

.single-post__author__profile__pic {
  float: left;
  margin-right: 30px;
}

.single-post__author__profile__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.single-post__author__profile__text {
  overflow: hidden;
}

.single-post__author__profile__text h4 {
  text-transform: uppercase;
}

.single-post__author__profile__text p {
  font-size: 15px;
}

.single-post__author__profile__text .single-post__author__profile__social a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 36px;
  width: 36px;
  background: #e1e1e1;
  line-height: 36px;
  text-align: center;
  margin-right: 6px;
  margin-top: 5px;
}

.single-post__author__profile__text
  .single-post__author__profile__social
  a:last-child {
  margin-right: 0;
}

.single-post__comment {
  margin-bottom: 20px;
}

.widget__title {
  margin-bottom: 40px;
}

.widget__title h4 {
  display: inline-block;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.widget__title h4:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: #ffb800;
  opacity: 0.3;
  content: "";
}

.single-post__comment__item {
  margin-bottom: 10px;
}

.single-post__comment__item.single-post__comment__item--reply {
  padding-left: 120px;
}

.single-post__comment__item__pic {
  float: left;
  margin-right: 25px;
}

.single-post__comment__item__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.single-post__comment__item__text {
  overflow: hidden;
  position: relative;
}

.single-post__comment__item__text h5 {
  text-transform: uppercase;
  margin-bottom: 4px;
}

.single-post__comment__item__text span {
  font-size: 12px;
  color: #888888;
  display: block;
  margin-bottom: 10px;
}

.single-post__comment__item__text p {
  font-size: 15px;
}

.single-post__comment__item__text ul {
  position: absolute;
  top: 0;
  right: 0;
}

.single-post__comment__item__text ul li {
  list-style: none;
  margin-right: 15px;
  display: inline-block;
}

.single-post__comment__item__text ul li a {
  font-size: 18px;
  color: #444444;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.single-post__comment__item__text ul li a:hover {
  color: #ffb800;
}

.single-post__comment__item__text ul li:last-child {
  margin-right: 0;
}

.single-post {
  padding-top: 0;
}

.single-post__hero {
  height: 45vh;
}

.single-post__title {
  background: #ffffff;
  -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
  box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
  padding: 50px;
  padding-right: 40px;
  position: relative;
  margin-top: -105px;
  margin-bottom: 50px;
}

.single-post__title__meta {
  background: #f2f2f2;
  height: 110px;
  width: 110px;
  text-align: center;
  padding-top: 28px;
  float: left;
  margin-right: 30px;
}

.single-post__title__meta h2 {
  font-size: 42px;
  color: #111111;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 28px;
}

.single-post__title__meta span {
  font-size: 24px;
  color: #888888;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
}

.single-post__title__text {
  overflow: hidden;
}

.single-post__title__text .label li {
  list-style: none;
  display: inline-block;
  margin-right: 18px;
  color: #ffb800;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}

.single-post__title__text .label li:last-child {
  margin-right: 0;
}

.single-post__title__text .label li:last-child:after {
  display: none;
}

.single-post__title__text .label li:after {
  position: absolute;
  right: -14px;
  top: -2px;
  content: "|";
  color: #d7d7d7;
}

.single-post__title__text h4 {
  font-size: 26px;
  color: #111111;
  line-height: 34px;
}

.single-post__title__text .widget li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
  color: #888888;
  position: relative;
}

.single-post__title__text .widget li span {
  color: #111111;
}

.single-post__title__text .widget li:after {
  position: absolute;
  right: -18px;
  top: -1px;
  content: "|";
  color: #d7d7d7;
}

.single-post__title__text .widget li:last-child {
  margin-right: 0;
}

.single-post__title__text .widget li:last-child:after {
  display: none;
}

.single-post__social__item {
  position: absolute;
  top: 40px;
  left: -70px;
}

.single-post__social__item ul li {
  list-style: none;
}

.single-post__social__item ul li a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 46px;
  width: 46px;
  background: #f2f2f2;
  line-height: 46px;
  text-align: center;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  margin-bottom: 10px;
}

.single-post__social__item ul li a:last-child {
  margin-right: 0;
}

.single-post__social__item ul li a:hover {
  background: #ffb800;
  color: #ffffff;
}

.single-post__top__text,
.single-post__middle__text {
  margin-bottom: 25px;
}

.single-post__top__text p,
.single-post__middle__text p {
  font-size: 15px;
  line-height: 24px;
}

.single-post__recipe__details {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.single-post__recipe__details__option {
  background: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.single-post__recipe__details__option ul {
  overflow: hidden;
}

.single-post__recipe__details__option ul li {
  list-style: none;
  float: left;
  margin-right: 48px;
}

.single-post__recipe__details__option ul li:last-child {
  margin-right: 0;
}

.single-post__recipe__details__option ul li h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.single-post__recipe__details__option ul li h5 i {
  font-size: 16px;
  margin-right: 5px;
}

.single-post__recipe__details__option ul li span {
  font-size: 14px;
  color: #888888;
}

.single-post__recipe__details__option ul li .primary-btn i {
  margin-right: 5px;
}

.single-post__recipe__details__indegradients {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.single-post__recipe__details__indegradients h5 {
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-post__recipe__details__indegradients ul li {
  list-style: none;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
}

.single-post__recipe__details__indegradients ul li:before {
  position: absolute;
  left: 0;
  top: 13px;
  height: 3px;
  width: 3px;
  background: #111111;
  content: "";
}

.single-post__recipe__details__direction {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.single-post__recipe__details__direction h5 {
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-post__recipe__details__direction ul li {
  list-style: none;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
}

.single-post__recipe__details__direction ul li span {
  font-size: 15px;
  color: #111111;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
}

.single-post__middle__text {
  margin-bottom: 20px;
}

.single-post__middle__text p {
  font-size: 15px;
}

.single-post__quote {
  padding-left: 75px;
  position: relative;
  margin-bottom: 20px;
}

.single-post__quote::before {
  position: absolute;
  left: 0;
  top: 3px;
  /* background-image: url(../img/categories/single-post/quote-left.png); */
  height: 55px;
  width: 55px;
  content: "";
}

.single-post__quote p {
  font-size: 24px;
  color: #111111;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: "Unna", serif;
}

.single-post__quote span {
  font-size: 15px;
  color: #888888;
  text-transform: uppercase;
}

.single-post__desc {
  margin-bottom: 25px;
}

.single-post__desc p {
  font-size: 15px;
}

.single-post__desc h4 {
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.single-post__more__details {
  margin-bottom: 20px;
}

.single-post__more__details img {
  min-width: 100%;
}

.single-post__more__details p {
  font-size: 15px;
  margin-bottom: 0;
}

.single-post__last__text {
  margin-bottom: 25px;
}

.single-post__last__text p {
  font-size: 15px;
}

.single-post__last__text p:first-child {
  margin-bottom: 10px;
}

.single-post__tags {
  margin-bottom: 50px;
}

.single-post__tags a {
  display: inline-block;
  font-size: 13px;
  color: #444444;
  background: #f2f2f2;
  padding: 8px 16px 6px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.single-post__tags a:last-child {
  margin-right: 0;
}

.single-post__next__previous {
  margin-bottom: 60px;
}

.single-post__previous,
.single-post__next {
  display: block;
}

.single-post__previous h6,
.single-post__next h6 {
  font-size: 15px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 25px;
}

.single-post__previous h6 span,
.single-post__next h6 span {
  font-size: 23px;
  color: #444444;
  position: relative;
  top: 4px;
}

.single-post__previous__meta,
.single-post__next__meta {
  height: 65px;
  width: 65px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 20px;
  float: left;
  margin-right: 20px;
}

.single-post__previous__meta h4,
.single-post__next__meta h4 {
  font-size: 26px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 12px;
}

.single-post__previous__meta span,
.single-post__next__meta span {
  font-size: 12px;
  color: #888888;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.single-post__previous__text,
.single-post__next__text {
  overflow: hidden;
}

.single-post__previous__text span,
.single-post__next__text span {
  font-size: 12px;
  color: #ffb800;
  text-transform: uppercase;
  font-weight: 700;
}

.single-post__previous__text h5,
.single-post__next__text h5 {
  line-height: 23px;
  margin-top: 5px;
}

.single-post__next {
  text-align: right;
}

.single-post__next__meta {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.single-post__author__profile {
  padding: 30px;
  background: #f5f5f5;
  margin-bottom: 50px;
}

.single-post__author__profile__pic {
  float: left;
  margin-right: 30px;
}

.single-post__author__profile__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.single-post__author__profile__text {
  overflow: hidden;
}

.single-post__author__profile__text h4 {
  text-transform: uppercase;
}

.single-post__author__profile__text p {
  font-size: 15px;
}

.single-post__author__profile__text .single-post__author__profile__social a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 36px;
  width: 36px;
  background: #e1e1e1;
  line-height: 36px;
  text-align: center;
  margin-right: 6px;
  margin-top: 5px;
}

.single-post__author__profile__text
  .single-post__author__profile__social
  a:last-child {
  margin-right: 0;
}

.single-post__comment {
  margin-bottom: 20px;
}

.widget__title {
  margin-bottom: 40px;
}

.widget__title h4 {
  display: inline-block;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.widget__title h4:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: #ffb800;
  opacity: 0.3;
  content: "";
}

.single-post__comment__item {
  margin-bottom: 10px;
}

.single-post__comment__item.single-post__comment__item--reply {
  padding-left: 120px;
}

.single-post__comment__item__pic {
  float: left;
  margin-right: 25px;
}

.single-post__comment__item__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.single-post__comment__item__text {
  overflow: hidden;
  position: relative;
}

.single-post__comment__item__text h5 {
  text-transform: uppercase;
  margin-bottom: 4px;
}

.single-post__comment__item__text span {
  font-size: 12px;
  color: #888888;
  display: block;
  margin-bottom: 10px;
}

.single-post__comment__item__text p {
  font-size: 15px;
}

.single-post__comment__item__text ul {
  position: absolute;
  top: 0;
  right: 0;
}

.single-post__comment__item__text ul li {
  list-style: none;
  margin-right: 15px;
  display: inline-block;
}

.single-post__comment__item__text ul li a {
  font-size: 18px;
  color: #444444;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.single-post__comment__item__text ul li a:hover {
  color: #ffb800;
}

.single-post__comment__item__text ul li:last-child {
  margin-right: 0;
}

.single-post {
  padding-top: 0;
}

.single-post__hero {
  height: 40vh;
}

.single-post__title {
  background: #ffffff;
  -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
  box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
  padding: 50px;
  padding-right: 40px;
  position: relative;
  margin-top: -105px;
  margin-bottom: 50px;
}

.single-post__title__meta {
  background: #f2f2f2;
  height: 110px;
  width: 110px;
  text-align: center;
  padding-top: 28px;
  float: left;
  margin-right: 30px;
}

.single-post__title__meta h2 {
  font-size: 42px;
  color: #111111;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 28px;
}

.single-post__title__meta span {
  font-size: 24px;
  color: #888888;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
}

.single-post__title__text {
  overflow: hidden;
}

.single-post__title__text .label li {
  list-style: none;
  display: inline-block;
  margin-right: 18px;
  color: #ffb800;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}

.single-post__title__text .label li:last-child {
  margin-right: 0;
}

.single-post__title__text .label li:last-child:after {
  display: none;
}

.single-post__title__text .label li:after {
  position: absolute;
  right: -14px;
  top: -2px;
  content: "|";
  color: #d7d7d7;
}

.single-post__title__text h4 {
  font-size: 26px;
  color: #111111;
  line-height: 34px;
}

.single-post__title__text .widget li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
  color: #888888;
  position: relative;
}

.single-post__title__text .widget li span {
  color: #111111;
}

.single-post__title__text .widget li:after {
  position: absolute;
  right: -18px;
  top: -1px;
  content: "|";
  color: #d7d7d7;
}

.single-post__title__text .widget li:last-child {
  margin-right: 0;
}

.single-post__title__text .widget li:last-child:after {
  display: none;
}

.single-post__social__item {
  position: absolute;
  top: 40px;
  left: -70px;
}

.single-post__social__item ul li {
  list-style: none;
}

.single-post__social__item ul li a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 46px;
  width: 46px;
  background: #f2f2f2;
  line-height: 46px;
  text-align: center;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  margin-bottom: 10px;
}

.single-post__social__item ul li a:last-child {
  margin-right: 0;
}

.single-post__social__item ul li a:hover {
  background: #ffb800;
  color: #ffffff;
}

.single-post__top__text,
.single-post__middle__text {
  margin-bottom: 25px;
}

.single-post__top__text p,
.single-post__middle__text p {
  font-size: 15px;
}

.single-post__recipe__details {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.single-post__recipe__details__option {
  background: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.single-post__recipe__details__option ul {
  overflow: hidden;
}

.single-post__recipe__details__option ul li {
  list-style: none;
  float: left;
  margin-right: 48px;
}

.single-post__recipe__details__option ul li:last-child {
  margin-right: 0;
}

.single-post__recipe__details__option ul li h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.single-post__recipe__details__option ul li h5 i {
  font-size: 16px;
  margin-right: 5px;
}

.single-post__recipe__details__option ul li span {
  font-size: 14px;
  color: #888888;
}

.single-post__recipe__details__option ul li .primary-btn i {
  margin-right: 5px;
}

.single-post__recipe__details__indegradients {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.single-post__recipe__details__indegradients h5 {
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-post__recipe__details__indegradients ul li {
  list-style: none;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
}

.single-post__recipe__details__indegradients ul li:before {
  position: absolute;
  left: 0;
  top: 13px;
  height: 3px;
  width: 3px;
  background: #111111;
  content: "";
}

.single-post__recipe__details__direction {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.single-post__recipe__details__direction h5 {
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-post__recipe__details__direction ul li {
  list-style: none;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
}

.single-post__recipe__details__direction ul li span {
  font-size: 15px;
  color: #111111;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
}

.single-post__middle__text {
  margin-bottom: 20px;
}

.single-post__middle__text p {
  font-size: 15px;
}

.single-post__quote {
  padding-left: 75px;
  position: relative;
  margin-bottom: 20px;
}

.single-post__quote::before {
  position: absolute;
  left: 0;
  top: 3px;
  /* background-image: url(../img/categories/single-post/quote-left.png); */
  height: 55px;
  width: 55px;
  content: "";
}

.single-post__quote p {
  font-size: 24px;
  color: #111111;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: "Unna", serif;
}

.single-post__quote span {
  font-size: 15px;
  color: #888888;
  text-transform: uppercase;
}

.single-post__desc {
  margin-bottom: 25px;
}

.single-post__desc p {
  font-size: 15px;
}

.single-post__desc h4 {
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.single-post__more__details {
  margin-bottom: 20px;
}

.single-post__more__details img {
  min-width: 100%;
}

.single-post__more__details p {
  font-size: 15px;
  margin-bottom: 0;
}

.single-post__last__text {
  margin-bottom: 25px;
}

.single-post__last__text p {
  font-size: 15px;
}

.single-post__last__text p:first-child {
  margin-bottom: 10px;
}

.single-post__tags {
  margin-bottom: 50px;
}

.single-post__tags a {
  display: inline-block;
  font-size: 13px;
  color: #444444;
  background: #f2f2f2;
  padding: 8px 16px 6px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.single-post__tags a:last-child {
  margin-right: 0;
}

.single-post__next__previous {
  margin-bottom: 60px;
}

.single-post__previous,
.single-post__next {
  display: block;
}

.single-post__previous h6,
.single-post__next h6 {
  font-size: 15px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 25px;
}

.single-post__previous h6 span,
.single-post__next h6 span {
  font-size: 23px;
  color: #444444;
  position: relative;
  top: 4px;
}

.single-post__previous__meta,
.single-post__next__meta {
  height: 65px;
  width: 65px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 20px;
  float: left;
  margin-right: 20px;
}

.single-post__previous__meta h4,
.single-post__next__meta h4 {
  font-size: 26px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 12px;
}

.single-post__previous__meta span,
.single-post__next__meta span {
  font-size: 12px;
  color: #888888;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.single-post__previous__text,
.single-post__next__text {
  overflow: hidden;
}

.single-post__previous__text span,
.single-post__next__text span {
  font-size: 12px;
  color: #ffb800;
  text-transform: uppercase;
  font-weight: 700;
}

.single-post__previous__text h5,
.single-post__next__text h5 {
  line-height: 23px;
  margin-top: 5px;
}

.single-post__next {
  text-align: right;
}

.single-post__next__meta {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.single-post__author__profile {
  padding: 30px;
  background: #f5f5f5;
  margin-bottom: 50px;
}

.single-post__author__profile__pic {
  float: left;
  margin-right: 30px;
}

.single-post__author__profile__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.single-post__author__profile__text {
  overflow: hidden;
}

.single-post__author__profile__text h4 {
  text-transform: uppercase;
}

.single-post__author__profile__text p {
  font-size: 15px;
}

.single-post__author__profile__text .single-post__author__profile__social a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 36px;
  width: 36px;
  background: #e1e1e1;
  line-height: 36px;
  text-align: center;
  margin-right: 6px;
  margin-top: 5px;
}

.single-post__author__profile__text
  .single-post__author__profile__social
  a:last-child {
  margin-right: 0;
}

.single-post__comment {
  margin-bottom: 20px;
}

.widget__title {
  margin-bottom: 40px;
}

.widget__title h4 {
  display: inline-block;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.widget__title h4:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: #ffb800;
  opacity: 0.3;
  content: "";
}

.single-post__comment__item {
  margin-bottom: 10px;
}

.single-post__comment__item.single-post__comment__item--reply {
  padding-left: 120px;
}

.single-post__comment__item__pic {
  float: left;
  margin-right: 25px;
}

.single-post__comment__item__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.single-post__comment__item__text {
  overflow: hidden;
  position: relative;
}

.single-post__comment__item__text h5 {
  text-transform: uppercase;
  margin-bottom: 4px;
}

.single-post__comment__item__text span {
  font-size: 12px;
  color: #888888;
  display: block;
  margin-bottom: 10px;
}

.single-post__comment__item__text p {
  font-size: 15px;
}

.single-post__comment__item__text ul {
  position: absolute;
  top: 0;
  right: 0;
}

.single-post__comment__item__text ul li {
  list-style: none;
  margin-right: 15px;
  display: inline-block;
}

.single-post__comment__item__text ul li a {
  font-size: 18px;
  color: #444444;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.single-post__comment__item__text ul li a:hover {
  color: #ffb800;
}

.single-post__comment__item__text ul li:last-child {
  margin-right: 0;
}

.single-post {
  padding-top: 0;
}

.single-post__hero {
  height: 40vh;
}

.single-post__title {
  background: #ffffff;
  -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
  box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
  padding: 50px;
  padding-right: 40px;
  position: relative;
  margin-top: -105px;
  margin-bottom: 50px;
}

.single-post__title__meta {
  background: #f2f2f2;
  height: 110px;
  width: 110px;
  text-align: center;
  padding-top: 28px;
  float: left;
  margin-right: 30px;
}

.single-post__title__meta h2 {
  font-size: 42px;
  color: #111111;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 28px;
}

.single-post__title__meta span {
  font-size: 24px;
  color: #888888;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
}

.single-post__title__text {
  overflow: hidden;
}

.single-post__title__text .label li {
  list-style: none;
  display: inline-block;
  margin-right: 18px;
  color: #ffb800;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}

.single-post__title__text .label li:last-child {
  margin-right: 0;
}

.single-post__title__text .label li:last-child:after {
  display: none;
}

.single-post__title__text .label li:after {
  position: absolute;
  right: -14px;
  top: -2px;
  content: "|";
  color: #d7d7d7;
}

.single-post__title__text h4 {
  font-size: 26px;
  color: #111111;
  line-height: 34px;
}

.single-post__title__text .widget li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
  color: #888888;
  position: relative;
}

.single-post__title__text .widget li span {
  color: #111111;
}

.single-post__title__text .widget li:after {
  position: absolute;
  right: -18px;
  top: -1px;
  content: "|";
  color: #d7d7d7;
}

.single-post__title__text .widget li:last-child {
  margin-right: 0;
}

.single-post__title__text .widget li:last-child:after {
  display: none;
}

.single-post__social__item {
  position: absolute;
  top: 40px;
  left: -70px;
}

.single-post__social__item ul li {
  list-style: none;
}

.single-post__social__item ul li a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 46px;
  width: 46px;
  background: #f2f2f2;
  line-height: 46px;
  text-align: center;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  margin-bottom: 10px;
}

.single-post__social__item ul li a:last-child {
  margin-right: 0;
}

.single-post__social__item ul li a:hover {
  background: #ffb800;
  color: #ffffff;
}

.single-post__top__text,
.single-post__middle__text {
  margin-bottom: 25px;
}

.single-post__top__text p,
.single-post__middle__text p {
  font-size: 15px;
}

.single-post__recipe__details {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.single-post__recipe__details__option {
  background: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.single-post__recipe__details__option ul {
  overflow: hidden;
}

.single-post__recipe__details__option ul li {
  list-style: none;
  float: left;
  margin-right: 48px;
}

.single-post__recipe__details__option ul li:last-child {
  margin-right: 0;
}

.single-post__recipe__details__option ul li h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.single-post__recipe__details__option ul li h5 i {
  font-size: 16px;
  margin-right: 5px;
}

.single-post__recipe__details__option ul li span {
  font-size: 14px;
  color: #888888;
}

.single-post__recipe__details__option ul li .primary-btn i {
  margin-right: 5px;
}

.single-post__recipe__details__indegradients {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.single-post__recipe__details__indegradients h5 {
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-post__recipe__details__indegradients ul li {
  list-style: none;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
}

.single-post__recipe__details__indegradients ul li:before {
  position: absolute;
  left: 0;
  top: 13px;
  height: 3px;
  width: 3px;
  background: #111111;
  content: "";
}

.single-post__recipe__details__direction {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.single-post__recipe__details__direction h5 {
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-post__recipe__details__direction ul li {
  list-style: none;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
}

.single-post__recipe__details__direction ul li span {
  font-size: 15px;
  color: #111111;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
}

.single-post__middle__text {
  margin-bottom: 20px;
}

.single-post__middle__text p {
  font-size: 15px;
}

.single-post__quote {
  padding-left: 75px;
  position: relative;
  margin-bottom: 20px;
}

.single-post__quote::before {
  position: absolute;
  left: 0;
  top: 3px;
  /* background-image: url(../img/categories/single-post/quote-left.png); */
  height: 55px;
  width: 55px;
  content: "";
}

.single-post__quote p {
  font-size: 24px;
  color: #111111;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: "Unna", serif;
}

.single-post__quote span {
  font-size: 15px;
  color: #888888;
  text-transform: uppercase;
}

.single-post__desc {
  margin-bottom: 25px;
}

.single-post__desc p {
  font-size: 15px;
}

.single-post__desc h4 {
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.single-post__more__details {
  margin-bottom: 20px;
}

.single-post__more__details img {
  min-width: 100%;
}

.single-post__more__details p {
  font-size: 15px;
  margin-bottom: 0;
}

.single-post__last__text {
  margin-bottom: 25px;
}

.single-post__last__text p {
  font-size: 15px;
}

.single-post__last__text p:first-child {
  margin-bottom: 10px;
}

.single-post__tags {
  margin-bottom: 50px;
}

.single-post__tags a {
  display: inline-block;
  font-size: 13px;
  color: #444444;
  background: #f2f2f2;
  padding: 8px 16px 6px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.single-post__tags a:last-child {
  margin-right: 0;
}

.single-post__next__previous {
  margin-bottom: 60px;
}

.single-post__previous,
.single-post__next {
  display: block;
}

.single-post__previous h6,
.single-post__next h6 {
  font-size: 15px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 25px;
}

.single-post__previous h6 span,
.single-post__next h6 span {
  font-size: 23px;
  color: #444444;
  position: relative;
  top: 4px;
}

.single-post__previous__meta,
.single-post__next__meta {
  height: 65px;
  width: 65px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 20px;
  float: left;
  margin-right: 20px;
}

.single-post__previous__meta h4,
.single-post__next__meta h4 {
  font-size: 26px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 12px;
}

.single-post__previous__meta span,
.single-post__next__meta span {
  font-size: 12px;
  color: #888888;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.single-post__previous__text,
.single-post__next__text {
  overflow: hidden;
}

.single-post__previous__text span,
.single-post__next__text span {
  font-size: 12px;
  color: #ffb800;
  text-transform: uppercase;
  font-weight: 700;
}

.single-post__previous__text h5,
.single-post__next__text h5 {
  line-height: 23px;
  margin-top: 5px;
}

.single-post__next {
  text-align: right;
}

.single-post__next__meta {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.single-post__author__profile {
  padding: 30px;
  background: #f5f5f5;
  margin-bottom: 50px;
}

.single-post__author__profile__pic {
  float: left;
  margin-right: 30px;
}

.single-post__author__profile__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.single-post__author__profile__text {
  overflow: hidden;
}

.single-post__author__profile__text h4 {
  text-transform: uppercase;
}

.single-post__author__profile__text p {
  font-size: 15px;
}

.single-post__author__profile__text .single-post__author__profile__social a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 36px;
  width: 36px;
  background: #e1e1e1;
  line-height: 36px;
  text-align: center;
  margin-right: 6px;
  margin-top: 5px;
}

.single-post__author__profile__text
  .single-post__author__profile__social
  a:last-child {
  margin-right: 0;
}

.single-post__comment {
  margin-bottom: 20px;
}

.widget__title {
  margin-bottom: 40px;
}

.widget__title h4 {
  display: inline-block;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.widget__title h4:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: #ffb800;
  opacity: 0.3;
  content: "";
}

.single-post__comment__item {
  margin-bottom: 10px;
}

.single-post__comment__item.single-post__comment__item--reply {
  padding-left: 120px;
}

.single-post__comment__item__pic {
  float: left;
  margin-right: 25px;
}

.single-post__comment__item__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.single-post__comment__item__text {
  overflow: hidden;
  position: relative;
}

.single-post__comment__item__text h5 {
  text-transform: uppercase;
  margin-bottom: 4px;
}

.single-post__comment__item__text span {
  font-size: 12px;
  color: #888888;
  display: block;
  margin-bottom: 10px;
}

.single-post__comment__item__text p {
  font-size: 15px;
}

.single-post__comment__item__text ul {
  position: absolute;
  top: 0;
  right: 0;
}

.single-post__comment__item__text ul li {
  list-style: none;
  margin-right: 15px;
  display: inline-block;
}

.single-post__comment__item__text ul li a {
  font-size: 18px;
  color: #444444;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.single-post__comment__item__text ul li a:hover {
  color: #ffb800;
}

.single-post__comment__item__text ul li:last-child {
  margin-right: 0;
}

.single-post__leave__comment form .input-list {
  margin-right: -20px;
}

.single-post__leave__comment form .input-list input {
  height: 46px;
  width: calc(33.33% - 20px);
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-right: 16px;
}

.single-post__leave__comment form .input-list input:last-child {
  color: #444444;
}

.single-post__leave__comment form textarea {
  height: 200px;
  width: 100%;
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-top: 12px;
  padding-left: 20px;
  margin-bottom: 14px;
  resize: none;
}

.single-post__leave__comment form textarea:last-child {
  color: #444444;
}

.single-post__leave__comment form button {
  width: 100%;
}

.action_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video_container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.note-box {
  width: 52% !important;
  text-align: center;
  display: block;
  margin-top: 25px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
}

.note-box .note-stars a .starPJ-on {
  font-weight: lighter !important;
  color: #ffb800 !important;
  font-size: 19px !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

.vlt-wrapper {
  /* max-width: var(--vlt-max-width); */
  max-width: 100% !important;
  width: 100% !important;
  display: inline-block !important;
  background-color: #000 !important;
  position: relative !important;
}

.coordinate {
  display: flex;
  justify-content: space-between !important;
  align-items: start;
}

.txt-detail-title-gray {
  font-family: "PNReg", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  color: #7f7f7f;
  margin: 30px 0 10px 0;
  border-bottom: 2px solid #efefef !important;
  width: 100%;
}

.cta:hover {
  color: white;
}

@media screen and (max-width: 720px) {
  * {
    font-size: 1rem;
  }

  .svg-inline--fa.fa-w-16,
  .svg-inline--fa.fa-w-14,
  .svg-inline--fa {
    width: 1em;
    height: 2rem;
  }
  .single-post__title {
    background: #ffffff;
    -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    padding: 28px;
    padding-right: 40px;
    position: relative;
    margin-top: -105px;
    margin-bottom: 50px;
  }

  .single-post__top__text h4 {
    font-size: 26px;
    color: #111111;
    line-height: 34px;
  }

  .single-post__title__meta {
    padding: 10px;
    margin-right: 30px;

    background: #f2f2f2;
    height: 110px;
    width: 110px;
    text-align: center;
    padding-top: 28px;
    float: left;
  }

  .single-post__recipe__details__option {
    background: #f5f5f5;
    border-bottom: 1px solid #e1e1e1;
    /*padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;*/
  }

  .single-post__recipe__details__option ul li h5 {
    font-size: 12px;
    /* text-transform: uppercase; */
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
  }

  .single-post__recipe__details__option ul li {
  }

  .single-post__recipe__details__option ul {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .coordinate {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .txt-detail {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
  }

  .cta {
    font-family: "PNBold", serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    color: #d21d3a;
    display: inline-block;
    padding: 8px 36px 8px 36px;
    border: 2px solid #d21d3a;
    border-radius: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    -webkit-transition: 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    justify-content: center;
    transition: 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .single-post__middle__text p {
    font-size: 15px;
    padding: 20px;
  }
}

.vue-share-it-wrapper {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.colored_heart {
  color: #d21d3a !important;
}
.like_box{
  cursor: pointer;
}

</style>
