<template>
  <div class="content">
    <div class="sub-content">
      <section class="breadcrumb line-top">
        <a href="https://abidjan.net">Accueil</a>
        <router-link to="/accueil">Cuisine</router-link>
        <span>Modifier</span>

      </section>
      <div class="besoin--title w-100">
        <h1 class="text-center text-uppercasee section-title noline">
          Modifier recette
        </h1>
      </div>
      <div class="form_wrapper"></div>

      <form @submit.prevent="updateRecipe">
        <div class="details__inputs">
          <div class="input--group">
            <label for="name">Titre de la recette <span>*</span></label>
            <input name="name" id="name" v-model="form.name" placeholder="" />

            <small
              class="text-error"
              v-if="errors && typeof errors != undefined && errors.name"
            >
              {{ errors.name }}
            </small>
          </div>
          <div class="input--group">
            <label for="file">Image <span>*</span></label>

            <div class="image_cover">
             
              <img v-if="previewImage != null"
                :src="previewImage"
                :alt="previewImage"
                height="200"
                width="200"
              />

              <img
                v-else
                :src="`${recipe?.imageUrl}`"
                :alt="`${recipe?.imageUrl}`"
                height="200"
                width="200"
              />

            </div>
            <input type="file" accept="image/jpeg" @change="uploadImage" />
          </div>

          <div class="input--group">
            <div class="dropzone_container">
              <div class="mb-1">
                <label for="reci"
                  >Ajouter des images de votre restaurant <span>*</span></label
                >
              </div>

              <vue-dropzone
                v-on:vdropzone-file-added="getRecipeImages"
                ref="recipeImagesRef"
                id="dropzone"
                :options="dropzoneOptions"
              ></vue-dropzone>
            </div>
          </div>

          <div class="input--group mb-1">
            <label for="description">Description courte <span>*</span></label>
            <textarea
            v-model="form.description"
            name="description"
            cols="10"
            id="description"
            rows="1"
          ></textarea>

            <small
              class="text-error"
              v-if="errors && typeof errors != undefined && errors.description"
            >
              {{ errors.description }}
            </small>
          </div>

          <div class="row mb-3">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
              <div class="input--group">
                <label for="recipe_type_id">Catégorie <span>*</span></label>
                <multiselect
                  class="multi_sel"
                  v-model="form.recipe_type_id"
                  :options="recipe_types.map((rt) => rt.id)"
                  placeholder="Type De Recette"
                  :show-labels="true"
                  selectLabel="Entrez pour choisir"
                  deselectLabel="Entrez pour retirer"
                  trackBy="id"
                  label="name"
                  :value="form.recipe_type_id"
                  :searchable="true"
                  :custom-label="
                    (opt) => recipe_types.find((rt) => rt.id == opt).name
                  "
                >
                </multiselect>

                <small
                  class="text-error"
                  v-if="
                    errors && typeof errors != undefined && errors.recipeType
                  "
                >
                  {{ errors.recipeType }}
                </small>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
              <div class="input--group">
                <label for="level">Difficulté <span>*</span></label>
                <multiselect
                  class="multi_sel"
                  v-model="form.level_id"
                  :options="levels.map((lv) => lv.id)"
                  placeholder="Niveau de difficulte"
                  :show-labels="true"
                  selectLabel="Entrez pour choisir"
                  deselectLabel="Entrez pour retirer"
                  trackBy="id"
                  label="name"
                  :value="form.level_id"
                  :searchable="true"
                  :custom-label="
                    (opt) => levels.find((lv) => lv.id == opt).name
                  "
                >
                </multiselect>

                <small
                  class="text-error"
                  v-if="errors && typeof errors != undefined && errors.level"
                >
                  {{ errors.level }}
                </small>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
              <div class="input--group">
                <label for="budget">Coût <span>*</span></label>
                <multiselect
                  class="multi_sel"
                  v-model="form.budget_id"
                  :options="budgets.map((bg) => bg.id)"
                  placeholder="Cout de la Recette"
                  :show-labels="true"
                  selectLabel="Entrez pour choisir"
                  deselectLabel="Entrez pour retirer"
                  trackBy="id"
                  label="name"
                  :value="form.budget_id"
                  :searchable="true"
                  :custom-label="
                    (opt) => budgets.find((bg) => bg.id == opt).name
                  "
                >
                </multiselect>

                <small
                  class="text-error"
                  v-if="errors && typeof errors != undefined && errors.budget"
                >
                  {{ errors.budget }}
                </small>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
              <div class="input--group">
                <label for="country">Pays</label>
                <multiselect
                  v-if="countries_tags"
                  class="multi_sel sel_tags"
                  v-model="form.country"
                  placeholder="Choisir votre pays"
                  label="name"
                  track-by="code"
                  :options="countries_tags_json"
                  :showNoOptions="false"
                  selectLabel="Entrez pour choisir"
                  deselectLabel="Entrez pour retirer"
                >
                </multiselect>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-6 col-lg-3">
              <div class="input--group">
                <label for="cooking">Temps de préparation <span>*</span></label>
                <!-- @change="calculateFullTime" -->
                <input
                  name="cooking"
                  type="number"
                  min="1"
                  v-model="form.cooking"
                  placeholder="en minutes"
                />
              </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="input--group">
                <label for="marinade">Temps de cuisson <span>*</span></label>
                <!-- @change="calculateFullTime" -->
                <input
                  min="1"
                  name="marinade"
                  type="number"
                  v-model="form.marinade"
                  placeholder="en minutes"
                />
              </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="input--group">
                <label for="total_time">Temps total <span>*</span></label>
                <input
                  name="total_time"
                  v-model="form.total_time"
                  placeholder="en minutes"
                />
              </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="input--group">
                <label for="number_of_persons">Nombre de Personnes</label>
                <input
                  type="number"
                  v-model="form.number_of_persons"
                  name="number_of_persons"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="input--group my-2">
                <label for="">Dedicace <span>*</span></label>
                <multiselect
                  class="multi_sel sel_tags"
                  v-model="form.dedicace"
                  tag-placeholder="Dedicacer des personnes"
                  placeholder="Ajouter des tags,(ex : Dedicace a Abidjan.net ma carte prepayé)"
                  label="name"
                  track-by="code"
                  :options="dedicaces"
                  @tag="addTag"
                  :multiple="true"
                  :taggable="true"
                  :showNoOptions="false"
                  :close-on-select="false"
                  selectLabel="Entrez pour choisir"
                  deselectLabel="Entrez pour retirer"
                >
                </multiselect>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="input--group my-3">
                <label for="suggestion">Suggestions</label>
                <textarea
                  v-model="form.suggestion"
                  name="suggestion"
                  id="suggestion"
                ></textarea>

                
              </div>
            </div>
          </div>

          <div class="input--group">
            <label for="video_url">URL de la vidéo</label>
            <input
              type="text"
              v-model="form.video_url"
              name="video_url"
              @change="converterVideoUrl"
              placeholder="https://www.youtube.com/watch?v=YOW8ASOnnJg"
            />
          </div>

          <!-- 
            <div class="input--group">
              <label for="">Code d'Integration</label>
              <textarea type="text" v-model="form.code_integration" name="description" rows="1"></textarea>
            </div> 
          -->

          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="cta py-3 w-60 d-flex justify-content-center"
              style="font-size: 18px"
            >
              Publier la recette
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Multiselect } from "vue-multiselect";
import countries from "@/assets/json/flags.json";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import User from '@/utils/User';

export default {
  metaInfo: {
    title: 'Modifier Recette',
    titleTemplate: '%s | Cuisine.abidjan.net',
    htmlAttrs: {
      lang: 'fr-FR'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'description', content: 'Cuisine, Recettes, Retaurants, Restaurants' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  components: {
    Multiselect,
    vueDropzone: vue2Dropzone,
  },
  data() {
    return {
      recipe: null,
      id: "",
      slug: null,
      form: {
        name: null,
        description: null,
        recipe_type_id: null,
        level_id: null,
        budget_id: null,
        suggestion: null,
        ingredient: null,
        is_tuto: null,
        video_url: null,
        country: null,
        country_code: null,
        marinade: null,
        cooking: null,
        ingredient_text: null,
        ustentil_text: null,
        number_of_persons: null,
        total_time: null,
        dedicace: [],
        recipe_images: null,
        code_integration: null,
        recipeImages: [],
        ingredients: [
          {
            quantity: "",
            name: "",
            unit: "",
          },
        ],
        preparation_instructions: [
          {
            name: "",
            description: "",
          },
        ],
        ustentils: [],
      },
      errors: null,
      recipe_types: [this.recipe_types],
      budgets: [this.budgets],
      levels: [this.levels],
      dedicaces: [],
      ingredients: [],
      ustentils: [],
      previewImage: null,
      codeIntegration: false,
      ingredients_tags: false,
      ustentils_tags: false,
      countries_tags: true,
      countries_tags_json: countries,
      dropzoneOptions: {
        url: "https://httpbin.org/post",
        dictDefaultMessage: "Ajouter vos images (Glissez déposer possible)",
        thumbnailWidth: 150,
        maxFilesize: 0.5,
        headers: { "My-Awesome-Header": "header value" },
        // addRemoveLinks: true,
      },
    };
  },
  methods: {
    converterVideoUrl() {
      let videoUrl = this.form.video_url;

      if (videoUrl.includes("youtube")) {
        console.log(">>> videoUrl >>>");
        videoUrl = videoUrl.replace("/watch?v=", "/embed/");
        console.log(videoUrl);

        this.form.video_url = videoUrl;
        console.log(this.form.video_url);
      } else if (videoUrl.includes("vimeo")) {
        console.log(">>> Vimeo  Link >>>");
        // videoUrl.replace('/watch?v=', '/embed/')
        // console.log(videoUrl)
      }
    },
    updateRecipe() {
      console.log("Update Request ...");
      console.log(this.form);

      this.converterVideoUrl();

      const updateRecipe = async () => {
        this.$loading(true);

        this.$axios
          .post(`api/update-recipe/${this.id}`, this.form, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((res) => {
            console.log(">>>>>Post Recipe<<<<<<");
            console.log(this.form);

            console.log(">>>>>Post Recipe Status <<<<<<");
            console.log(res.status);

            console.log(">>>>>Post Recipe SERVER Status <<<<<<");
            console.log(res);

            console.log(">>>>> Post Recipe <<<<<<");
            console.log(res);

            if (res.status == 200 && res.data.status_code == 200) {
              this.$toast.success("Super ☑️ ! Mise à jour éffectuée avec succès");
              this.$router.push({
                name: "RecipeDetails",
                params: { id: this.id },
              });
            }
            // else if (res.data.status_code == 422) {
            //   this.errors = res.data.errors;
            //   this.$toast.error("Veuillez renseignez tous les champs requis");
            // }
            else {
              this.$toast.error("Oups ❌ ! Une erreur est survenue");
            }
          })
          .catch((error) => {
            console.log(error.response);
            // console.log(error.response.errors)

            this.$toast.error("Oups ❌ ! Une erreur est survenue");
            if (error.status == 200 || error.response.data.code == 401) {
              this.$toast.info("Votre session a expiré");
              User.logout();
            }

            if (error.status == 200 && error.response.data.code == 422) {
              this.$toast.info("Oups Une erreur est survenue ");
            }
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      updateRecipe();
    },
    getRecipeTypes() {
      const recipeTypes = async () => {
        this.$loading(true);

        await this.$axios
          .get("get_all_recipe_types")
          .then((res) => {
            // console.log(">>>>>>>> RecipeType");
            // console.log(res);
            this.recipe_types = res.data.data;
          })
          .catch((error) => {
            // console.log(">>>>>>>>>>>> Error Recipe Type");
            // console.log(error.response);
            if (error.status == 200 || error.response.data.code == 401) {
              this.$toast.info("Votre session a expiré");
              User.logout();
            }
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      recipeTypes();
    },
    getLevels() {
      const Levels = async () => {
        this.$loading(true);
        await this.$axios
          .get("get-levels")
          .then((res) => {
            // console.log(">>>>>>>>>>>>>>>>Get Levels")
            // console.log(res);
            this.levels = res.data.data;
          })
          .catch((error) => {
            console.log(">>>>>>>>>>>>Error Level");
            console.log(error.response);
            if( error.status == 200 || error.response.data.code == 401){
            this.$toast.info("Votre session a expiré")
            User.logout()
            }
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      Levels();
    },
    getBudgets() {
      const Budgets = async () => {
        this.$loading(true);
        await this.$axios
          .get("/get-budgets")
          .then((res) => {
            // console.log(">>>>>> Get Budget");
            // console.log(res);
            this.budgets = res.data.data;
          })
          .catch((error) => {
            // console.log(">>>>>> Error Budget");
            // console.log(error.response);
            if (error.status == 200 || error.response.data.code == 401) {
              this.$toast.info("Votre session a expiré");
              User.logout();
            }
          })
          .finally(() => {
            this.$loading(false);
          });
      };
      Budgets();
    },
    getRecipe() {
      const recipe = async () => {
        await this.$axios
          .get(`show-recipe/${this.slug}`)
          .then((res) => {
            console.log(res.data.data)
            if (res.status == 200 && res.data.status_code == 302) {
              this.recipe = res.data.data;
              this.id = this.recipe?.id

              this.form = this.recipe;
              this.form.cooking = this.recipe.cooking;
              this.form.marinade = this.recipe.marinade;
              this.form.total_time = this.recipe.total_time;
              this.form.number_of_persons = this.recipe.number_of_persons;
              this.form.suggestion = this.recipe.suggestions;
              this.form.video_url = this.recipe.video_url;
              this.form.dedicace = null;


            //   //RecipeType
              this.form.recipe_type_id =
                typeof this.recipe.recipeType != undefined &&
                this.recipe.recipeType != null
                  ? this.recipe.recipeType.id
                  : null;

            //   // Level
              this.form.level_id =
                typeof this.recipe.level != undefined &&
                this.recipe.level != null
                  ? this.recipe.level.id
                  : null;

            //   // Budget
              this.form.budget_id =
                typeof this.recipe.budget != undefined &&
                this.recipe.budget != null
                  ? this.recipe.budget.id
                  : null;

            //   //Country
              let recipeCountry = countries.find(
                (el) => el.code == this.recipe.country_code
              );

              console.log("Country >>>>>>>>>>>>>");
              console.log({ country: recipeCountry });
              
              this.form.country =
                typeof this.recipe.country != undefined &&
                this.recipe.country_code != null
                  ? recipeCountry
                  : null;

            //   console.log(">>>>>>> Dedicace >>>>>>>>");
            //   if (this.recipe.dedicace != null && this.recipe.dedicace != "") {
            //     let dedicaces = this.recipe.dedicace.split(",");

            //     dedicaces.forEach((dedicace) => {
            //       // this.dedicaces.push(dedicace)
            //     });
            //   }

            //   this.form.dedicace = this.recipe.dedicace;
            // } else {
            //   console.log("CAN'T GET RECIPE");
            }
          })
          .catch((error) => {
            console.log(error.response);
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      recipe();
    },
    onSelect({ name, iso2, dialCode }) {
      console.log(name, iso2, dialCode);
      this.form.dial_code = dialCode;
    },
    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
      };
      this.dedicaces.push(tag);
      this.form.dedicace.push(tag);
    },
    addTagIngredients(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
      };
      this.ingredients.push(tag);
      this.form.ingredients.push(tag);
    },
    addUstentils(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
      };
      this.ustentils.push(tag);
      this.form.ustentils.push(tag);
    },
    uploadImage(e) {
      const image = e.target.files[0];

      this.form.recipe_images = image;

      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = (e) => {
        this.previewImage = e.target.result;
        console.log(this.previewImage);
      };
    },
    add() {
      this.form.ingredients.push({
        name: "",
        quantity: "",
        unit: "",
      });
    },
    addStep() {
      this.form.preparation_instructions.push({
        name: "",
        party: "",
      });
    },
    remove(index) {
      this.form.ingredients.splice(index, 1);
    },
    removeStep(index) {
      this.form.preparation_instructions.splice(index, 1);
    },
    checkUser() {
      if (!User.loggIn()) {
        this.$toast.info("Veuillez vous connectez s'il vous plait");
        this.$router.push({ name: "Login" });
      }
    },
    getRecipeImages(file, xhr, formData) {
      this.form.recipeImages.push(file);
      console.log(this.form.recipeImages);
      console.log(formData);
      console.log(xhr);
    },
    calculateFullTime() {
      // let cooking = parseInt(this.form.cooking);
      // let marinade = parseInt(this.form.marinade);

      //   if (
      //     (cooking != null &&
      //     typeof cooking != undefined )&&
      //     (marinade != null &&
      //     typeof(marinade) != undefined)
      //   ) {

      //     this.form.total_time = cooking + marinade;
      //   }
    },

    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
  created() {
      this.slug = this.$route.params.slug;
      this.getRecipe(),
      this.getRecipeTypes(),
      this.getLevels(),
      this.getBudgets(),
      this.checkUser()
  },
};
</script>

<style scoped>
.select_actions {
  margin-bottom: 20px !important;
}

.dropzone_container {
  margin: 1rem auto;
}
.text-error {
  color: red;
  margin-top: 5px;
  margin-bottom: 25px !important;
  margin-left: 5px;
  font-size: 12px;
}

.form_wrapper {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.btn--primary {
  background-color: #d21d3a;
  padding: 1rem;
}

.btn--primary:hover {
  background-color: #fff;
  border: 1px solid #ffb800;
}

.commande--header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.besoin {
  width: 60%;
  margin: 0 auto;
}

.besoin--body {
  padding: 2rem;
  background-color: #eff4f8;
  border-radius: 3%;
}

.besoin--body .group--form {
  margin-top: 2rem;
}

.besoin--body .group--form label {
  font-weight: bold;
}

.besoin--body .group--form input:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
}

.besoin--body .group--form textarea {
  /* padding: 1.5rem; */
  width: 100%;
  /* background-color: #eff4f8; */
  /* border: none; */
  height: 2rem;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
  /* border: 1px solid #eff4f8; */
  border-radius: 10px;
}

textarea {
  min-height: 70px !important;
  /* border: 1px solid #FFB800 !important; */
}

textarea:hover {
  border: 1px solid #ffb800 !important;
}

.besoin--body .group--form textarea:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
  outline: none !important;
  border: 1px solid #ffb800;
}

@media only screen and (max-width: 62em) {
  .besoin {
    width: 75%;
  }
}

@media only screen and (max-width: 48em) {
  .besoin {
    width: 85%;
  }
}

@media only screen and (max-width: 36em) {
  .besoin {
    width: 95%;
  }
}

.besoin--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eff4f8;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.besoin--title h1 {
  color: #7f7f7f;
}

@media only screen and (max-width: 48em) {
  .besoin--title h1 {
    font-size: 1.8rem;
  }
}

.besoin--title img {
  height: 10rem;
}

@media only screen and (max-width: 48em) {
  .besoin--title img {
    height: 7rem;
  }
}

.besoin--body {
  background-color: #fff;
  padding: 4rem;
}

.besoin--body .group--form {
  margin-top: 2rem;
}

.besoin--body .group--form label {
  font-weight: bold;
}

.besoin--body .group--form input {
  padding: 1.5rem;
  width: 100%;
  background-color: #eff4f8;
  border: none;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #eff4f8;
  border-radius: 10px;
}

.besoin--body .group--form input:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
}

.input--connexions input,
select,
textarea {
  /* height: 40px !important; */
}

.input--connexions select option {
  height: 40px !important;
  font-size: 18px;
}

/* ******************************** */
.input--group label {
  margin-bottom: 0.5rem !important;
}

.input--group label span {
  color: red;
}

.input--group input,
select {
  padding: 7px;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.input--group input:focus,
select:focus {
  border: 1px solid #ffb800;
}

.details__inputs {
  margin-bottom: 40px;
  padding: 0 4rem;
}

.details__inputs h2 {
  margin-bottom: 13px;
}

.input--group input,
select {
}

.vue-country-select .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.1em !important;
  position: relative;
  cursor: pointer;
}

.numero {
  display: flex;
  justify-content: start;
}

.p_temps {
  font-size: 1.5rem;
}

.multi_sel >>> .multiselect__tags {
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  /*box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);*/
  padding: 1rem 0.5rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 7px;
}

.multi_sel >>> .sel_tags {
  padding: 1rem;
  border: 2px solid #dbd8dc;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  color: #0045a3;
  padding: 1rem 0.5rem;
  font-weight: bold;
  width: 100%;
}

.image__recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.uploading-image {
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 200px !important;
  max-height: 200px !important;
}

.btn_primary {
  padding: 1rem 2rem;
  background-color: #d21d3a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  padding: 0px 60px 0px 60px !important;
}

.image_cover {
  display: flex;
  justify-content: start;
  border-radius: 5rem;
  align-items: center;
  margin: 10px 0px;
}

.image_cover img {
  border-radius: 12px;
}

/* .multi_sel>>>.multiselect__option {
  background-color: #fff !important;
   color: #FEE234 !important; 
}
.multi_sel>>>.multiselect__option:focus {
  background-color: #FEE234 !important;
  /* color: #FEE234 !important; 
}

.multi_sel>>>.multiselect__option:hover {
  background-color: #FEE234 !important;
}  

.multi_sel>>>.multiselect__tag {
  background-color: #FEE234 !important;
}


        .multi_sel >>> .multiselect__option:focus{
            background-color: rgb(218, 19, 19);
        }

        .multi_sel >>> .multiselect__option:hover{
            background-color: rgb(218, 19, 19);
        }

        .multi_sel >>> .multiselect__tag{
            background-color: rgb(218, 19, 19);
        }
                */

</style>
