<template>
    <a  class="float" @click="goToDash">
        <i class="fa fa-plus my-float"></i>
    </a>
</template>
<script>
import AppStorage from '../../../../utils/AppStorage';
export default {
    methods: {
        showAlert() {
            this.$swal('Bientôt Disponible');
        },
        goToDash(){
            AppStorage.setCurrentDash("resto_state")
            this.$router.push({name : "Dashboard"})
        }
    }
}
</script>

<style scoped>
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:80px;
        right: 24%;
        background-color:#D21D3A;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
    }

    .my-float{
        margin-top:22px;
    }
</style>