<template>
    <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100">
        <div class="card card-span h-100">
            <div class="position-relative"> <img class="img-fluid rounded-3 w-100" :src="restaurant_data.imageUrl"
                    alt="..." />
                <div class="card-actions">
                    <div class="badge badge-foodwagon bg-primary p-4">
                        <div class="d-flex flex-between-center">
                            <!-- <div class="text-white fs-7">15</div> -->
                            <div class="d-block text-white fs-2">{{ restaurant_data.city }}<br />
                                <div class="fw-normal fs-1 mt-2">{{ restaurant_data.town }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body px-0">
                <h5 class="fw-bold text-1000 text-truncate">{{ restaurant_data.name }}</h5><span
                    class="badge bg-soft-danger py-2 px-3"><span class="fs-0 text-danger">{{
                        restaurant_data.slogan | strLimit(27)
                    }}</span></span>
            </div><a class="stretched-link"
                @click="$router.push({ name: 'RestaurantDetails', params: { id: restaurant_data.id } })"></a>
        </div>
    </div>
</template>

<script>
export default {
    props: ['restaurant_data']
}
</script>

<style scoped>
.position-relative img {
    height: 17rem;
}
</style>