<template>
  <form novalidate="novalidate" method="get" action="pages-jaunes/rechercher">
    <div class="searchFormContent">
      <div class="searchFormFrst">
        <input
          type="text"
          name="search"
          v-model="keyword"
          @click="scrollToTop()"
          placeholder="Rechercher Restaurants..."
          data-min-length="1"
          list="searchs"
          required="required"
          class="inputSearch"
          v-debounce:1s="SearchRestaurantAuto"
          :debounce-events="['click', 'keyup']"
        />
        <div class="autocomplete_container">
          <div class="contenuFormulaireOverlay">
            <!-- <div class="autocomplete">
              <div
                class="autocomplete-items"
                v-if="foundedItemsAuto != null"
              >
                <div
                  v-for="item in foundedItemsAuto"
                  :key="item.id"
                >
                  <span
                    @click="
                      $router.push({
                        name: 'RestaurantDetails',
                        params: { id: item.id },
                      })
                    "
                  >
                    {{ item.name }}</span
                  >
                </div>
              </div>
            </div> -->
          </div>
        </div>

        <datalist id="searchs"></datalist>
      </div>

      <input
        type="submit"
        name="searchPJ"
        value=""
        id="submit"
        class="searchPJ-Btn"
        @click.prevent="SearchRestaurant"
      />

      <div class="clearBoth"></div>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      foundedItems: null,
      foundedItemsAuto: null,
      keyword: "",
      allRestaurant: null
    };
  },
  methods: {
    SearchRestaurant() {
      const searchRestaurantByName = async () => {
        this.$axios
          .get(`search-restaurant-by-name/${this.keyword}`)
          .then((res) => {

            this.foundedItemsAuto = null;
            console.log(">>> SEARCH RESULT FOR RESTO >>>");
            this.foundedItems = res.data.data;
            console.log(this.foundedItems);
            this.EventBus.$emit("search_restaurant_auto", this.foundedItems);

          })
          .catch((error) => {
            console.log("Error");
            console.log(error.response);
          });
      };

      if (this.keyword == "") {
        this.foundedItems = null;
        this.EventBus.$emit("search_restaurant_auto", null);
      } else {
        searchRestaurantByName();
      }
    },
    SearchRestaurantAuto() {
      const searchRestaurantByName = async () => {
        this.$axios
          .get(`/search-restaurant-by-name/${this.keyword}`)
          .then((res) => {
            console.log(">>> SEARCH RESULT FOR RESTO AUTO>>>");
            this.foundedItemsAuto = res.data.data.reverse();
            console.log(this.foundedItemsAuto);

            this.EventBus.$emit("search_restaurant_auto", this.foundedItemsAuto);

          })
          .catch((error) => {
            console.log("Error FOR RESTO");
            console.log(error.response);
          });
      };

      if (this.keyword == "") {
        this.foundedItemsAuto = null;
        this.EventBus.$emit("search_restaurant_auto", null);
      } else {
        searchRestaurantByName();
      }
    },
    getAllRestaurants() {
      const allRestaurant = async () => {
        await this.$axios
          .get("/get-Restaurants-count")
          .then((res) => {
            console.log("all Restaurant >>>>>>>>");
            console.log(res);

            /*   if(res.data.data.status_code == 200 && res.status == 200){
                    this.allRestaurant = res.data.data.length
                } */
          })
          .catch((error) => {
            console.log("Error get All Restaurant >>>>>>>>");
            console.log(error)
          });
      };

      allRestaurant();
    },
    scrollToTop() {
      window.scrollTo(0, 250);
    },
    created() {
      this.getAllRestaurants();
    },
    mounted() {
      this.getAllRestaurants();
    },
  },
};
</script>

<style lang="css" scoped>
</style>
