<template>
    <div class="dish_container">
        <DishListItem v-for="item in dishes_data" :dish_data="item" :key="item.id" />
    </div>
</template>

<script>
import DishListItem from './DishListItem.vue';

export default {
    components: { DishListItem },
    props: ['dishes_data'],
    
}
</script>

<style scoped>
.dish_container{
    display: flex;
    justify-content: start;
    gap:3%;
}

@media screen and (max-width: 640px) {
    .dish_container {
        display: flex;
        flex-direction: column;
        gap : 30px;
    }
    .tags_container {
        /* display: flex; */
        justify-content: start;
        align-items: center;
        gap: 12px;
    }
}
</style>