<template>
  <div class="content">
    <div class="sub-content">
      <section class="breadcrumb line-top">
        <a @click="$router.push({ name: 'Accueil' })"> Accueil </a>
        <span>Editer Plat</span>
      </section>
      <div class="besoin--title w-100">
        <h1
          class="text-center text-uppercase text-uppercasee section-title noline"
        >
          Editer Plat
        </h1>
        <img
          src="../../../../../svg/044-breakfast-monochome.png"
          alt="besoin--img"
        />
      </div>
      <div class="form_wrapper"></div>

      <form @submit.prevent="updateDish">
        <div class="details__inputs">
          <div class="input--group">
            <label for="name">Nom du plat <span>*</span></label>
            <input name="name" id="name" v-model="form.name" placeholder="" />
          </div>

          <div class="input--group">
            <label for="level">Type de Plat <span>*</span></label>

            <!-- {{ dishTypes }} -->

            <multiselect
              class="multi_sel"
              v-model="form.dish_type_id"
              :options="dishTypes.map((dt) => dt.id)"
              placeholder="Type de Plat"
              :show-labels="true"
              selectLabel="Entrez pour choisir"
              deselectLabel="Entrez pour retirer"
              :trackBy="form.dish_type_id"
              label="name"
              :value="form.dish_type_id"
              :searchable="true"
              :custom-label="(opt) => dishTypes.find((rt) => rt.id == opt).name"
            >
            </multiselect>
          </div>

          <div class="input--group">
            <label for="file">Image du plat <span>*</span></label>

            <div class="image_cover" v-if="preview != null">
              <img :src="preview" :alt="preview" />
            </div>

            <div class="image_cover" v-if="preview == null && form.imageUrl">
              <img :src="form.imageUrl" :alt="form.imageUrl" />
            </div>

            <input type="file" accept="image/jpeg" @change="uploadImage" />
          </div>

          <div class="input--group">
            <label for="description">Description courte <span>*</span></label>
            <input
              type=""
              v-model="form.description"
              name="description"
              rows="1"
            />
          </div>

          <div class="my-3">
            <div
              class="form-member-item space-check"
              @change="changeCheckBoxState"
            >
              <input
                type="checkbox"
                class="check"
                id="checkbox_1"
                v-model="form.is_buyable"
              />
              <label for="checkbox_1" style="margin-bottom: 30px">
                En Vente ?
              </label>
            </div>
          </div>

          <div class="input--group" v-if="form.is_buyable != false">
            <label for="price">Prix <span>*</span></label>
            <input v-model="form.prix" name="price" />
          </div>

          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn--primary w-60 d-flex justify-content-center"
              style="font-size: 18px"
            >
              Mettre à jour
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Multiselect } from "vue-multiselect";

export default {
    data() {
        return {
            form: {
                name: "",
                description: "",
                is_buyable: false,
                dish_type_id: "",
                prix: "",
                image_url: null
            },
            errors: null,
            dishTypes: null,
            dishTypeList: [this.dishTypes],
            dish_id: null,
            preview: null,
            restaurant_id : ''
        }
    },
    methods: {
        getDishType() {
            const dishTyp =
                async () => {
                    this.$loading(true)

                    axios.get('/get-dish_types').then((res) => {
                        console.log('Dish Type >>>>>>>')
                        console.log(res)
                        this.dishTypes = res.data.data
                    }
                    ).catch((error) => {
                        consple.log('Dish Error >>>>>>>')
                        console.log(error.response)
                    }).finally(
                        this.$loading(false)
                    )
                }

            dishTyp()
        },
        updateDish() {
            this.form.restaurant_id = this.restaurant_id;

            axios.post(`/api/update-dish/${this.dish_id}`, this.form,
                { headers: { "Content-Type": "multipart/form-data" }, }
            )
            .then((res) => {

                if (res.status == 200 && res.data.status_code == 422) {
                    console.log(res.data.errors)
                    this.errors = res.data.errors
                } else if (res.status == 200 && res.data.status_code == 200) {
                    this.$toast.info('Mise à jour éffectuée ✅')
                    // this.$router.push({name:'RestaurantDetails', params : {id : this.form.restaurant_id }})
                    // this.form = {}
                }

            })
            .catch((error) => {
                console.log('>>>>>>>>> Error')
                console.log(error.response)
            })
        },
        uploadImage(e) {

            const image = e.target.files[0];

            this.form.image_url = image;

            const reader = new FileReader();
            reader.readAsDataURL(image);
            reader.onload = (e) => {
                this.preview = e.target.result;
                console.log(this.previewImage);
            };
        },
        changeCheckBoxState() {
            this.form.is_buyable = (!this.form.is_buyable)
            console.log('>>>>>>>Change')
            console.log(this.form.is_buyable)
        },
        getDish(){
            axios.get(`show-dish/${this.dish_id}`).then(res => {

                this.form = res.data
                this.form.is_buyable = res.data.data.is_buyable
                this.form.name = res.data.data.name
                this.form.description = res.data.data.description
                this.form.dish_type_id = res.data.data.dishType.id
                this.form.prix = res.data.data.prix
                this.form.image_url = res.data.data.image_url

                // console.log({
                //     is_buyable:res.data.data.is_buyable,
                //     dish:res.data.data.name,
                //     description:res.data.data.description,
                //     dishType:res.data.data.dishType.id,
                //     prix:res.data.data.prix,
                //     image_url:res.data.data.image_url
                // })
                // console.log(res.data)

            }).catch(error => {
                console.log('error dish show');
                console.log(error);
            })
        }
    },
    components: { Multiselect },
    created() {
        this.restaurant = this.resto
        this.dish_id = this.$route.params.dish_id
        this.restaurant_id = this.$route.params.id
        this.getDishType()
        this.getDish()
    }
}
</script>

<style scoped>
.space-check {
  display: flex;
  justify-content: start;
  align-items: center;
}

.check {
  margin: 0px 0px 30px 0px !important;
}

.form_wrapper {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.btn--primary {
  background-color: #d21d3a;
  padding: 1rem;
}

.btn--primary:hover {
  background-color: #fff;
  border: 1px solid #ffb800;
}

textarea:hover {
  border: 1px solid #ffb800 !important;
}

.besoin--body .group--form textarea:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
  outline: none !important;
  border: 1px solid #ffb800;
}

@media only screen and (max-width: 62em) {
  .besoin {
    width: 75%;
  }
}

@media only screen and (max-width: 48em) {
  .besoin {
    width: 85%;
  }
}

@media only screen and (max-width: 36em) {
  .besoin {
    width: 95%;
  }
}

.besoin--title {
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  background-color: #eff4f8;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 5rem !important;
  padding: 0 4rem;
}

@media only screen and (max-width: 48em) {
  .besoin--title h1 {
    font-size: 1.8rem;
  }
}

.besoin--title img {
  height: 10rem;
}

@media only screen and (max-width: 48em) {
  .besoin--title img {
    height: 7rem;
  }
}

.besoin--body {
  background-color: #fff;
  padding: 4rem;
}

.besoin--body .group--form {
  margin-top: 2rem;
}

.besoin--body .group--form label {
  font-weight: bold;
}

.besoin--body .group--form input {
  padding: 1.5rem;
  width: 100%;
  background-color: #eff4f8;
  border: none;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #eff4f8;
  border-radius: 10px;
}

.besoin--body .group--form input:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
}

.input--connexions input,
select,
textarea {
  /* height: 40px !important; */
  font-size: 18px;
}

.input--connexions select option {
  height: 40px !important;
  font-size: 18px;
}

/* ******************************** */
.input--group label {
  margin-bottom: 0.2rem !important;
}

.input--group label span {
  color: red;
}

.input--group input,
select {
  padding: 7px;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.input--group input:focus,
select:focus {
  border: 1px solid #ffb800;
}

.details__inputs {
  margin-bottom: 40px;
  padding: 0 4rem;
}

.details__inputs h2 {
  margin-bottom: 13px;
}

.input--group input,
select {
}

.vue-country-select .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.1em !important;
  position: relative;
  cursor: pointer;
}

.numero {
  display: flex;
  justify-content: start;
}

.p_temps {
  font-size: 1.5rem;
}

.multi_sel >>> .multiselect__tags {
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  /*box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);*/
  padding: 1rem 0.5rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 7px;
}

.multi_sel >>> .sel_tags {
  padding: 1rem;
  border: 2px solid #dbd8dc;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  color: #0045a3;
  padding: 1rem 0.5rem;
  font-weight: bold;
  width: 100%;
}

.image__recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.uploading-image {
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 200px !important;
  max-height: 200px !important;
}
</style>
