@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 60.5%;
}

body {  
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0045a3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(15, 9, 63, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: #595959;
  font-weight: 700;
}

p {
  margin-bottom: 0;
  color: rgba(15, 15, 15, 0.5);
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.form--header {
  padding: 2rem 0;
  background-color: #0045a3;
}

.form--header p {
  color: #fff;
  font-weight: bold;
  margin-bottom: .7rem;
}

@media only screen and (max-width: 62em) {
  .form--header .btn--header {
    margin-top: 2rem;
  }
}

.form--header1 {
  padding: 1rem 0;
  background-color: #0045a3;
}

.form--header1 p {
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: .5rem;
}

.form--header1 .input--group {
  padding: 0.5rem;
}

.form--header1 .input--group .icon {
  height: 3rem;
  width: 2rem;
  margin-right: 1rem;
}

.form--header1 .input--group .icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.form--header1 .input--form {
  display: flex;
  padding: 0rem;
  background-color: #fff;
}

@media only screen and (max-width: 62em) {
  .form--header1 .input--form {
    margin-bottom: 1rem;
  }
}

.form--header1 .input--form input {
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 1rem !important;
}

.form--header1 .input--form__time {
  border-left: 1px solid #0045a3 !important;
}

.input--group {
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  flex-wrap: nowrap;
  background-color: #fff;
  padding: 1rem;
  border-radius: .5rem;
}

@media only screen and (max-width: 62em) {
  .input--group {
    margin-bottom: 1rem;
  }
}

.input--group .icon {
  height: 4rem;
  width: 3rem;
  margin-right: 1rem;
}

.input--group .icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.input--group input {
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  width: 90%;
}

.input--group input:focus {
  outline: none;
}

.input--form {
  display: flex;
  padding: 1rem;
  background-color: #fff;
  border-radius: .5rem;
}

@media only screen and (max-width: 62em) {
  .input--form {
    margin-bottom: 1rem;
  }
}

.input--form input {
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem .5rem;
}

@media only screen and (max-width: 62em) {
  .input--form input {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .input--form input {
    width: 70%;
  }
}

.input--form input:focus {
  outline: none;
}

.input--form__time {
  border-left: 1px solid #0045a3 !important;
}

.selects--form select {
  padding: 1rem;
  border: 2px solid #dbd8dc;
  border-radius: .5rem;
  transition: all .3s ease-in-out;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  color: #0045a3;
  padding: 1rem .5rem;
  font-weight: bold;
  width: 100%;
}

.preloader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999;
  overflow: hidden;
  opacity: 2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-content {
  text-align: center;
}

.preloader-content .logo {
  height: 4rem;
  width: 4rem;
  animation: 2s img linear infinite;
}

.preloader-content .logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.preloader .loader {
  border: 0.05em #0045a3 solid;
  border-radius: 10rem 10rem 10rem 0rem;
  overflow: hidden;
  position: relative;
  height: 12rem;
  width: 12rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.preloader .loader:after, .preloader .loader:before {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 10rem;
  height: 10rem;
  animation: loader 2s infinite linear;
}

.preloader .loader:before {
  border-top: 0.2em #0045a3 solid;
  top: -.15em;
  left: calc( -50% - .15em);
  transform-origin: right center;
}

.preloader .loader:after {
  border-bottom: 0.2em #0045a3 solid;
  top: .15em;
  right: calc( -50% - .15em);
  transform-origin: left center;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes img {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  33% {
    transform: scale(0.9);
    opacity: 1;
  }
  66% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.btn--site {
  padding: 1rem 2rem;
  text-align: center;
  border: 2px solid #dbd8dc;
  background-color: #fff;
  border-radius: .5rem;
  transition: all .3s ease-in-out;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  color: #0045a3;
  font-weight: bold;
}

.btn--site:hover {
  border: 2px solid #0045a3;
}

.btn--header {
  background-color: #cf317e;
  border-radius: 50%;
  border: none;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  text-align: center;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media only screen and (max-width: 62em) {
  .btn--header {
    width: 100%;
    border-radius: 1rem;
  }
}

.btn--header img {
  height: 3rem;
}

.btn--header:hover {
  box-shadow: 0px -1px 19px -4px rgba(243, 107, 107, 0.75);
}

.buttons--connexion button {
  width: 100%;
  padding: 1.5rem .5rem;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0px 0px 9px 1px #ccc;
  margin: 1rem 0 .5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.buttons--connexion button img {
  height: 2rem;
  width: 2rem;
}

.buttons--connexion button i {
  font-size: 2rem;
  color: white;
}

.buttons--connexion .btn-facebook {
  background-color: #4781F5;
  color: #fff;
}

.buttons--connexion .btn-google i {
  font-size: 2rem;
  color: #cf317e;
}

/*** Button return top ***/
.button-return {
  position: fixed;
  bottom: 10rem;
  right: 2rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  text-align: center;
  transition: all .3s;
  z-index: 2;
  box-shadow: 0px -1px 19px -4px rgba(56, 56, 56, 0.75);
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-return i {
  font-size: 3rem;
  color: #cf317e;
}

.button-return:hover {
  box-shadow: 8px 20px 60px -4px rgba(56, 56, 56, 0.75);
}

.howItWorks--card {
  text-align: center;
  margin: 2rem 0;
}

.howItWorks--card img {
  height: 6rem;
  width: 6rem;
  margin-bottom: 1rem;
}

.card-car {
  min-height: 20rem;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  border-radius: .3rem;
  background-color: #fff;
  margin-bottom: 3rem;
}

.card-car:hover .card-car__img img {
  filter: brightness(50%);
  transform: scale(1.08);
}

.card-car .card-car__img {
  height: 25rem;
  position: relative;
  overflow: hidden;
}

.card-car .card-car__img .status {
  position: absolute;
  padding: 1rem 2rem;
  background-color: #fff;
  left: 2rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}

.card-car .card-car__img .status span {
  color: #cf317e;
  text-transform: capitalize;
  font-weight: 500;
}

.card-car .card-car__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all .3s;
}

.card-car .desc {
  padding: 3rem 2rem;
}

.card-car .desc h2 {
  text-transform: uppercase;
  font-weight: 800;
}

.card-car .desc p.paragraph {
  font-size: 1.4rem;
  padding-top: 1rem;
}

.card-car .desc .card-car__in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.card-car .desc .card-car__in--element {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.card-car .desc .card-car__in--element img {
  height: 1.5rem;
}

.card-car .desc .card-car__in--element span {
  font-size: 1.5rem;
  padding-left: .5rem;
}

.card-car .desc .box-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px dotted rgba(15, 15, 15, 0.1);
}

.card-car .desc .box-btn span {
  color: #cf317e;
  font-weight: 800;
}

.card-car .desc .box-btn button {
  padding: 1rem 2rem;
  background-color: #0045a3;
  color: #fff;
  border-radius : 5px;
}

.card-account {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 36em) {
  .card-account {
    display: block;
  }
}

.card-account .account {
  display: flex;
  flex-direction: column;
}

.card-account .account span {
  font-size: 3rem;
  font-weight: 600;
}

.card-account .account h5 {
  display: block;
  font-size: 1.8rem;
}

.card-account .icone {
  height: 4rem;
  width: 4rem;
  border-radius: 50rem;
  margin-right: 2rem;
}

.card-account .icone img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 36em) {
  .card-account .icone {
    margin: 0 auto;
  }
}

.city--card {
  height: 20rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.city--card__text h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: #cf317e;
  padding: .5rem;
}

.card--avis {
  display: flex;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 36em) {
  .card--avis {
    display: block;
  }
}

.card--avis__illustration img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.card--avis__description {
  margin-left: 1rem;
  width: 85%;
}

@media only screen and (max-width: 36em) {
  .card--avis__description {
    width: 95%;
    margin-top: 1.5rem;
  }
}

.card--avis__description--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--avis__description--title div {
  display: flex;
}

.card--avis__description--title div span {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.card--avis__description--title div i {
  font-size: 1.3rem;
}

@media only screen and (max-width: 36em) {
  .card--avis__description p {
    font-size: 1.4rem;
  }
}

.details--products__illustration {
  height: 45rem;
  background-color: #fff;
}

.details--products__illustration img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

@media only screen and (max-width: 62em) {
  .details--products__description {
    margin-top: 2rem;
  }
}

.details--products__description--prize {
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 80%;
  background: white;
  margin-top: 2rem;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 48em) {
  .details--products__description--prize {
    width: 100%;
    display: block;
  }
}

.details--products__description--prize h1 {
  margin-bottom: 0;
}

@media only screen and (max-width: 48em) {
  .details--products__description--prize h1 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.details--products__description--prize .product__card--btns__div {
  margin-top: 0;
}

.details--products__description--prize .btn--orange {
  padding: 1rem 2rem !important;
  font-size: 14px;
}

.details--products__description--prize .btn--white {
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
}

.details--products__description--reference {
  display: flex;
  align-items: center;
}

.details--products__description--reference p {
  margin-left: 1rem;
}

.details--products__description--specifications {
  padding: 2rem;
  background-color: #F4EFEC;
  margin-top: 2rem;
  border-radius: 10px;
}

.details--products__description--specifications ul {
  padding-left: 0;
  margin-top: 1rem;
}

.details--products__description--specifications ul li {
  color: #0f0f0f;
  font-size: 13px;
}

.details--products__description--specifications .fa-check-circle {
  color: #0045a3;
}

.container-onglets {
  color: #000;
  width: 100%;
  height: 15%;
  display: flex;
  z-index: 99;
}

@media only screen and (max-width: 48em) {
  .container-onglets {
    display: block;
  }
}

.onglets {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  flex-direction: column;
  cursor: pointer;
  transition: all .5s;
  border-bottom: 3px solid transparent;
}

.onglets p {
  font-size: 2rem;
  font-weight: bold;
  color: #0f0f0f;
}

@media only screen and (max-width: 48em) {
  .onglets p {
    font-size: 1.4rem;
  }
}

.onglets:focus {
  outline: none;
}

.contenu {
  width: 100%;
  padding: 4rem 0;
  display: none;
}

.contenu ul {
  margin: 2rem 0;
  padding-left: 0 !important;
}

/* Anim */
.active-onglet {
  transition: all 0.3s ease;
  border-bottom: 3px solid #0045a3;
  z-index: 1;
}

.activeContenu {
  display: block;
  animation: fade 0.5s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  width: 100%;
  height: 70vh;
  position: relative;
}

.header video {
  height: 70vh;
  width: 100%;
  filter: brightness(70%);
  object-fit: cover;
  position: relative;
}

.header .header-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  width: 60%;
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
}

@media only screen and (max-width: 48em) {
  .header .header-text {
    width: 80%;
  }
}

@media only screen and (max-width: 36em) {
  .header .header-text {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  .header .header-text {
    width: 100%;
  }
}

@media only screen and (max-width: 48em) {
  .header .header-text__text {
    width: 100%;
  }
}

.header .header-text__text h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.header .header-text__text h1 span {
  color: #fff;
  background-color: #cf317e;
}

@media only screen and (max-width: 62em) {
  .header .header-text__text h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 48em) {
  .header .header-text__text h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
}

@media only screen and (max-width: 425px) {
  .header .header-text__text h1 {
    font-size: 4rem;
  }
}

.header .header-text__text p {
  color: #fff;
  font-size: 1.7rem;
}

@media only screen and (max-width: 425px) {
  .header .header-text__text p {
    font-size: 1.4rem;
  }
}

.header .header-text__buttons {
  margin-top: 2rem;
}

.header .header-text__buttons div {
  align-items: center;
}

.header .header-text__buttons div span {
  border: 1px solid #fff;
  padding: .3rem;
  color: #fff;
  border-radius: .5rem;
}

.header .header-text__buttons div h4 {
  color: #fff;
  margin-left: 1rem;
  margin-top: .5rem;
}

.header .header-text__buttons div p {
  color: #fff;
  font-size: 1.7rem;
}

@media only screen and (max-width: 48em) {
  .header .header-text__buttons div p {
    font-size: 1.4rem;
  }
}

.header--share {
  padding: 4rem 0;
  background-color: #0045a3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%2393292f' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  height :100%;
}

@media only screen and (max-width: 48em) {
  .header--share__text {
    width: 100%;
  }
}

.header--share__text h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.header--share__text h1 span {
  color: #fff;
  background-color: #cf317e;
}

@media only screen and (max-width: 62em) {
  .header--share__text h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 48em) {
  .header--share__text h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
}

@media only screen and (max-width: 425px) {
  .header--share__text h1 {
    font-size: 4rem;
  }
}

.header--share__text p {
  color: #fff;
  font-size: 1.7rem;
}

@media only screen and (max-width: 425px) {
  .header--share__text p {
    font-size: 1.4rem;
  }
}

.header--share__form {
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
}

.section--title {
  line-height: 1rem;
  text-align: center;
  padding: 4rem 0 8rem;
}

.section--title img {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.section--title p {
  color: #cf317e;
}

#hiw .png-img {
  width: 100%;
  height: 40rem;
  object-fit: contain;
}

@media only screen and (max-width: 425px) {
  #hiw .png-img {
    height: 25rem;
  }
}

#most-requested, #bookCar {
  background-color: #e4fbff;
  padding: 2rem 0 4rem;
}

#vehicules, #saleCar {
  padding: 2rem 0 4rem;
}

#saleCar .png-img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
}

@media only screen and (max-width: 425px) {
  #saleCar .png-img {
    height: 15rem;
  }
}

.section-banner {
  background-image: linear-gradient(rgba(15, 15, 15, 0.8), rgba(15, 15, 15, 0.8)), url(../images/1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 6rem 0 3rem 0;
}

@media only screen and (max-width: 36em) {
  .section-banner {
    text-align: center;
  }
}

.stars {
  margin: 1rem 0 1.5rem;
}

.stars i {
  color: #ff9100;
}

.selects--form {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.bcard--search {
  height: calc(100vh - 28.4rem);
  display: flex;
}

.bcard--search__left {
  width: 60%;
  padding: 2rem;
  overflow: auto;
}

.bcard--search__right {
  width: 40%;
}

.bcard--search__right iframe {
  height: 100%;
  width: 100%;
}

.en--stock {
  width: 12rem;
  border-radius: 30px;
  text-align: center;
  background-color: white;
  color: green;
  border: 1px solid green;
}

.details--products__illustration__tall {
  height: 45rem;
  background-color: #fff;
  border: 1px solid #0045a3;
}

.details--products__illustration__tall img {
  height: 40rem;
  object-fit: contain;
  width: 100%;
  border: 3px solid #fff;
}

.details--products__illustration__small {
  margin-top: 2rem;
  display: flex;
}

@media only screen and (max-width: 62em) {
  .details--products__illustration__small {
    flex-wrap: wrap;
  }
}

.details--products__illustration__small .card-small {
  margin: 0 1rem 0 0;
  height: 10rem;
  margin-bottom: 1rem;
  justify-content: center;
  width: 10rem;
  background-color: #fff;
}

@media only screen and (max-width: 62em) {
  .details--products__illustration__small .card-small {
    height: 6rem;
    width: 6rem;
  }
}

.details--products__illustration__small .card-small img {
  height: 10rem;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
  border: 1px solid #0045a3;
}

@media only screen and (max-width: 62em) {
  .details--products__illustration__small .card-small img {
    height: 6rem;
  }
}

.topNav {
  background-color: #0045a3;
  padding: 1rem 0;
}

.topNav--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topNav--content .reseau {
  display: flex;
  align-items: center;
}

.topNav--content .reseau a {
  display: inline-block;
}

.topNav--content .reseau a .fa {
  color: #fff;
}

.topNav--content .reseau a:not(:last-child) {
  margin-right: 2rem;
}

.topNav--content .box-log a {
  color: #fff;
}

@media only screen and (max-width: 36em) {
  .topNav--content .box-log a {
    font-size: 1.3rem;
  }
}

.topNav--content .box-log .bar {
  position: relative;
  padding: 0 1rem;
  display: inline-block;
}

.topNav--content .box-log .bar::after {
  content: "";
  height: 20px;
  width: 3px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -70%);
  border-radius: .3rem;
}

@media only screen and (max-width: 36em) {
  .topNav--content .box-log .bar::after {
    width: 2px;
  }
}

@media only screen and (max-width: 48em) {
  .cover {
    background-color: rgba(228, 251, 255, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 997;
    transition: all .3s;
  }
}

.cover-active {
  right: 0;
}

.navigation {
  background-color: #fff;
  padding: 2rem 0;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}

.navigation--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation--content .logo {
  color: #0f0f0f;
  font-weight: 800;
  font-size: 2.5rem;
}

@media only screen and (max-width: 48em) {
  .navigation--content .menu {
    position: fixed;
    height: 100vh;
    width: 25rem;
    background-color: #fff;
    right: -100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
    padding: 4rem 2rem;
    transition: all .3s;
  }
}

.navigation--content .menu-active {
  right: 0;
}

.navigation--content .menu .list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

@media only screen and (max-width: 48em) {
  .navigation--content .menu .list {
    display: block;
  }
}

.navigation--content .menu .list--item {
  position: relative;
}

@media only screen and (max-width: 48em) {
  .navigation--content .menu .list--item {
    margin-bottom: 2rem;
  }
}

.navigation--content .menu .list--item:not(:last-child) {
  margin-right: 3rem;
}

.navigation--content .menu .list--item__link {
  color: #0045a3;
  transition: all .3s;
  display: flex;
  font-weight: 500;
  align-items: center;
}

.navigation--content .menu .list--item__link .fa {
  margin-left: 1rem;
  font-size: 1.3rem;
  transition: all .3s;
}

.navigation--content .menu .list--item__link:hover {
  color: #cf317e;
}

.navigation--content .menu .list--item__link.active {
  color: #cf317e;
}

.navigation--content .iconeMenu {
  height: 3rem;
  width: 3rem;
  display: none;
  z-index: 999;
}

@media only screen and (max-width: 48em) {
  .navigation--content .iconeMenu {
    display: block;
  }
}

.menu {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 48em) {
  .menu {
    display: block;
  }
}

.box-user {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  position: relative;
}

.box-user .userIcon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.box-user .userIcon img {
  height: 100%;
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}

.box-user span {
  color: #0045a3;
  font-size: 2rem;
  padding: 0 1rem;
}

.box-user .sub-menu {
  min-height: 5rem;
  width: 22rem;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 8rem;
  z-index: 111111111111111;
  padding: 1rem;
  box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.22);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.box-user .sub-menu ul {
  display: block;
  padding-left: 0;
}

.box-user .sub-menu ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-user .sub-menu ul li:hover .arrow {
  transform: scale(0.8);
}

.box-user .sub-menu ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.box-user .sub-menu ul li a {
  color: #105a5a;
}

.box-user:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  top: 3.8rem;
}

.modal-content {
  border-radius: 10px !important;
  padding: 2rem !important;
}

.modal-title {
  font-size: 16px !important;
}

.modal-header button span {
  font-size: 2rem;
}

.modal-body p {
  color: #0f0f0f;
}

.modal-body p a {
  color: #cf317e;
  font-weight: bold;
}

.adresse--modal input, .adresse--modal select {
  padding: 1.3rem;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #f1f1f1;
  transition: all .2s ease-in-out;
  margin-bottom: 1rem;
}

.adresse--modal input:hover, .adresse--modal select:hover {
  border: 1px solid #0045a3;
}

.adresse--modal input:focus, .adresse--modal select:focus {
  outline: none;
}

.adresse--modal textarea {
  padding: 2rem;
  height: 15rem;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #f1f1f1;
  transition: all .2s ease-in-out;
  margin-bottom: 1rem;
}

textarea{
  padding: 2rem;
  height: 15rem;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #f1f1f1;
  transition: all .2s ease-in-out;
  margin-bottom: 1rem;
}

.adresse--modal textarea:hover {
  border: 1px solid #0045a3;
}

.adresse--modal textarea:focus {
  outline: none;
}

.p--divider {
  position: relative;
  text-align: center;
}

.p--divider::after {
  position: absolute;
  content: "";
  width: 20%;
  height: .2rem;
  background-color: #ccc;
  left: 25%;
  top: 50%;
}

.p--divider::before {
  position: absolute;
  content: "";
  width: 20%;
  top: 50%;
  right: 25%;
  height: .2rem;
  background-color: #ccc;
}

.input--connexion input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  transition: all .3s ease-in-out;
}

.input--connexion input:focus {
  border: 1px solid #0045a3;
  background-color: #fff;
}

.input--connexion select {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  transition: all .3s ease-in-out;
}

.input--connexion select:focus {
  border: 1px solid #0045a3;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}

.input--connexion .btn--header {
  border-radius: 10px;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.input--connexion p {
  font-size: 1.3rem;
}

.footer {
  padding: 2rem 0 4rem;
  background-color: #0045a3;
}

.footer .icones--social {
  display: flex;
  margin-bottom: 2rem;
}

.footer .icones--social a {
  color: #0045a3;
}

.footer .icones--social i {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer ul {
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 1rem;
}

.footer ul li a {
  color: #fff;
  transition: all .3s ease-in-out;
}

.footer ul li a:hover {
  color: #cf317e;
}

.login-wrapper{
    display: flex;
    justify-content: center;
}

main{
    position: relative;
    /* height: 100vh; */
}


/* Account */


.side-account a li {
  color: #0f0f0f;
  transition: all .3s ease-in-out;
  padding: 1rem 0;
  font-weight: bold;
}

.side-account a li i {
  font-size: 2rem;
}

.side-account a li:hover {
  color: #6c757d;
}

.side-account .menu--active {
  color: #6c757d;
}

.side-account__responsive {
  display: none;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 48em) {
  .side-account__responsive {
    display: block;
  }
}

.side-account__responsive ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-account__responsive a li {
  color: #0f0f0f;
  transition: all .3s ease-in-out;
  padding: 1rem 2rem;
  font-weight: bold;
}

.side-account__responsive a li i {
  font-size: 2rem;
}

.side-account__responsive a li:hover {
  color: #6c757d;
}

.side-account__responsive .menu--active {
  color: #fff;
  background-color: #7b93a2;
  border-radius: .5rem;
}

.nav-details {
  padding: 3rem 0;
  background-color: #2C2B2C;
}

.nav-details .fa-bars {
  font-size: 3rem;
  color: #fff;
  display: none;
}

@media only screen and (max-width: 48em) {
  .nav-details .fa-bars {
    display: block;
  }
}

.nav-details ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 48em) {
  .nav-details ul {
    display: none;
  }
}

.nav-details ul li {
  padding: 0 4rem;
}

@media only screen and (max-width: 62em) {
  .nav-details ul li {
    padding: 0 2rem;
  }
}

.nav-details ul li a {
  color: white;
  font-size: 1.7rem;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.nav-details ul li a:hover {
  color: #6c757d;
}

.nav-details--responsive {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #0e0e0efa;
  height: 100vh;
  width: 25rem;
  overflow: auto;
  z-index: 999;
  transition: all .3s ease-in-out;
}

.nav-details--responsive .fa {
  color: white;
  float: right;
  margin: 1rem;
  font-size: 3rem;
  cursor: pointer;
}

.nav-details--responsive ul {
  display: block;
  padding: 2rem;
  margin-top: 2rem;
}

.nav-details--responsive ul li {
  padding: 1rem 0;
}

.nav-details--responsive ul li a {
  color: white;
  font-size: 1.7rem;
  transition: all .3s ease-in-out;
}

.nav-details--responsive ul li a:hover {
  color: #6c757d;
}

.nav--menuactive {
  color: #6c757d !important;
}

.scroll {
  background: #0f0f0f;
  transition: all .3s ease-in-out;
}

.header {
  width: 100%;
}

.header video {
  height: 100vh;
  width: 100%;
  filter: brightness(60%);
  object-fit: cover;
  position: relative;
}

.header .header-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  width: 80%;
  border-radius: 2rem;
  padding: 1rem;
}

@media only screen and (max-width: 48em) {
  .header .header-text {
    width: 80%;
  }
}

@media only screen and (max-width: 36em) {
  .header .header-text {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  .header .header-text {
    width: 100%;
  }
}

.header .header-text__text {
  width: 55%;
}

@media only screen and (max-width: 48em) {
  .header .header-text__text {
    width: 100%;
  }
}

.header .header-text__text h1 {
  color: #fff;
  font-size: 8rem;
  font-weight: bold;
  line-height: 7rem;
  margin-bottom: 2rem;
}

.header .header-text__text h1 span {
  color: #FEE234 ;
  font-family: oldschool;
}

@media only screen and (max-width: 62em) {
  .header .header-text__text h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 48em) {
  .header .header-text__text h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
}

@media only screen and (max-width: 425px) {
  .header .header-text__text h1 {
    font-size: 4rem;
  }
}

.header .header-text__text p {
  color: #fff;
  font-size: 1.7rem;
}

@media only screen and (max-width: 425px) {
  .header .header-text__text p {
    font-size: 1.4rem;
  }
}

.header .header-text__buttons {
  margin-top: 2rem;
}

.header .header-text__buttons div {
  align-items: center;
}

.header .header-text__buttons div span {
  border: 1px solid #fff;
  padding: .3rem;
  color: #fff;
  border-radius: .5rem;
}

.header .header-text__buttons div h4 {
  color: #fff;
  margin-left: 1rem;
  margin-top: .5rem;
}

.header .header-text__buttons div p {
  color: #fff;
  font-size: 1.7rem;
}

@media only screen and (max-width: 48em) {
  .header .header-text__buttons div p {
    font-size: 1.4rem;
  }
}

.header .header-text .i--video {
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 48em) {
  .header .header-text .i--video .fa-volume-up {
    font-size: 1.8rem;
  }
}

.header .header-text .i--video .fa-times-circle-o {
  font-size: 5rem;
  color: #fff;
  margin-left: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 48em) {
  .header .header-text .i--video .fa-times-circle-o {
    font-size: 4rem;
  }
}

.header .header--sound {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 48em) {
  .header .header--sound {
    display: block;
  }
}

@media only screen and (max-width: 48em) {
  .header .header--sound button {
    font-size: 1.4rem;
    padding: 1rem;
  }
}

.infos--tags {
  align-items: center;
}

.infos--tags span {
  border: 1px solid #fff;
  padding: .3rem;
  color: #fff;
  border-radius: .5rem;
}

.infos--tags h4 {
  color: #fff;
  margin-left: 1rem;
  margin-top: .5rem;
}

.infos--tags button {
  padding: 1rem;
  margin: 1rem 0;
}

.infos--tags p {
  color: #fff;
  font-size: 1.7rem;
}

@media only screen and (max-width: 48em) {
  .infos--tags p {
    font-size: 1.4rem;
  }
}

.bgdark {
  background-color: #14152C;
}

.cards--container h3 {
  color: #fff;
  margin: 0;
  font-size: 2rem;
}

.conditions--text__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}

.conditions--text__title h1 {
  color: #6c757d;
  font-size: 4rem;
}

@media only screen and (max-width: 62em) {
  .conditions--text__title h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 48em) {
  .conditions--text__title h1 {
    font-size: 2rem;
  }
}

.conditions--text__title i {
  color: #0f0f0f;
  font-size: 3rem;
}

.conditions--text__body h3 {
  color: #6c757d;
}

.serviceclient--title {
  margin: 3rem 0;
}

.serviceclient--title h1 {
  color: #6c757d;
  font-size: 4rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 62em) {
  .serviceclient--title h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 48em) {
  .serviceclient--title h1 {
    font-size: 2rem;
  }
}

.serviceclient--title {
  margin: 3rem 0;
}

.serviceclient--title h1 {
  color: #6c757d;
  font-size: 4rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 62em) {
  .serviceclient--title h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 48em) {
  .serviceclient--title h1 {
    font-size: 2rem;
  }
}

.serviceclient h3 {
  color: #6c757d;
  font-size: 2.5rem;
}

.asked p {
  margin: 2rem 0;
}

.account--right{
    min-height: 100vh !important;
}

.account--left {
  border-right: 1px solid #ccc;
}

@media only screen and (max-width: 48em) {
  .account--left {
    border-right: none;
  }
}

.account--right h1 {
  color: #6c757d;
  font-size: 4rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 62em) {
  .account--right h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 48em) {
  .account--right h1 {
    font-size: 2rem;
  }
}

.userinfos--box {
  padding: 2rem;
  border-radius: .5rem;
  background-color: #F5F5F5;
  margin-bottom: 2rem;
}

.userinfos--box h4 {
  color: #7b93a2;
  font-weight: bold;
}

.userinfos--box__in {
  display: flex;
  justify-content: space-between;
}

.userinfos--box__in p {
  margin-bottom: 1rem;
}

.userinfos--box__in button {
  border: none;
  background: transparent;
}

.userinfos--box__in .p-cursor {
  cursor: pointer;
}

.userinfos--box .lang-select {
  padding: 1rem;
  border: 1px solid #ccc;
  width: 30%;
  border-radius: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 48em) {
  .userinfos--box .lang-select {
    width: 100%;
  }
}

.userinfos--box .lang-select select {
  width: 90%;
  border: none;
  background: transparent;
}

.userinfos--box a {
  color: #6c757d;
}

.type--EA {
  background-color: #0b9ab1;
  text-align: center;
  padding: 1rem;
  border-radius: 0.8rem;
  width: 85%;
  margin: 0 auto;
}

.statut--R {
  background-color: #dcf3e5;
  text-align: center;
  padding: 1rem;
  border-radius: 0.8rem;
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 62em) {
  .type--EA {
      width: 80% !important;
  }
}

.type--EA p {
  color: #fff;
  font-size: 1rem;
}

@media only screen and (max-width: 48em) {
  .dash--table {
    overflow: auto !important;
  }
  .dash--table .table {
    width: 100rem !important;
  }
}



@media only screen and (max-width: 62em) {
  .statut--R {
      width: 80% !important;
  }
  .elink--B {
      width: 80% !important;
  }
  .elink--Y {
      width: 80% !important;
  }
}

.statut--R p {
  color: #05b84d;
  font-size: 1rem;
}



.carousel--dash__card {
  padding: 2rem;
  border-radius: 0.8rem;
}

.uniskip--commercial__card {
  padding: 2rem;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.carousel--dash__card--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.uniskip--commercial {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.carousel--dash__card--title .svg--carousel {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel--dash__card--title h4 {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.carousel--dash__card--body h1 {
  font-weight: bold;
  margin-bottom: 0;
}

.carousel--dash__card--body h1 span {
  font-size: 1.2rem;
}

.carousel--dash__card--body p {
  font-size: 1.3rem;
}

.card--white {
  background-color: white;
}

.card--grey {
  background-color: #f6f6f6;
}

.carousel--dash {
  margin: 3rem 0;
  position: relative;
}

.active{
  font-size: 2rem;
  font-weight : bosld;
  color:#FEE234  !important;
  /* background-color: #FEE234  !important; */
}

