<template>
    <div :id="id"></div>
</template>
<script>
    export const adIntegration = () => {
    const adScript = document.createElement('script');

    adScript.type = 'text/javascript';
    adScript.src = 'https://securepubads.g.doubleclick.net/tag/js/gpt.js';
    document.head.appendChild(adScript);
    };

    export default {
        name: 'DfpSlotRight',
        props: { size: Array, path: String, id: String },
        beforeCreate() {
            window.googletag.cmd.push(() => {
                window.googletag.destroySlots();
            });
        },
        mounted() {
            
            window.addEventListener("load", () => {
                if (window.googletag) window.googletag?.pubads().refresh();
            });

            window.googletag = window.googletag || { cmd: [] };

            const { path, size, id } = this;
            window.googletag.cmd.push(() => {
                window.googletag.defineSlot(path, size, id)
                .addService(window.googletag.pubads());
                window.googletag.pubads().enableSingleRequest();
                window.googletag.enableServices();
                window.googletag.display(id);
            });

            window.googletag?.pubads().refresh();

        },
    };
</script>

<style>
    
</style>
  