<template>
  <div :id="id" class="pub_div">
  </div>
</template>

<script>
export default {
  name: "DfpSlot",
  props: { size: Array, path: String, id: String },
  beforeCreate() {
    window.googletag.cmd.push(() => {
      window.googletag.destroySlots();
    });
  },
  mounted() {
    window.addEventListener("load", () => {
      if (window.googletag) window.googletag?.pubads().refresh();
    });

    window.googletag = window.googletag || { cmd: [] };

    const { path, size, id } = this;
    window?.googletag?.cmd?.push(() => {
      window.googletag
        .defineSlot(path, size, id)
        .addService(window.googletag?.pubads());
      window.googletag?.pubads()?.enableSingleRequest();
      window.googletag?.enableServices();
      window.googletag?.display(id);
    });

    window?.googletag?.pubads()?.refresh();
  },
};
</script>

<style>
    @media screen and (width >= 800px){
        iframe {
            max-width: 100%;
        }
        
        #canvas{
            width: 100%;
        }
        
        .pub_div {
            /*width: 100% !important;*/
            display: block;
        }
    }

    @media screen and (width >= 480px) and (width <= 800px){
        iframe {
            max-width: 100%;
        }
        
        #canvas{
            width: 100%;
        }
        
        .pub_div {
            /*width: 100% !important;*/
            display: block;
        }
    }

    @media screen and (width >= 300px) and (width <= 500px){
        iframe {
            max-width: 100%;
        }
    }

    .section-ads-center {
        margin: 20px 0px;
    }
</style>
