<template>
  <div>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-4">Utililsateur</div>
        <div class="col col-3">Prix</div>
        <div class="col col-2">Statut</div>
        <div class="col col-2">Action</div>
      </li>
      <li class="table-row" v-for="item in restaurant_orders">
        <div class="col col-4 d-flex align-items-center" data-label="Image">
          <span class="user_info">
            <p>{{ item.user.prenoms }} {{ item.user.nom }}</p>
            <p>
              {{ item.user.email }}
            </p>
            <p>
              <span class="txt-detail">
                <a href="tel:05  05 58 51 51" class="list-box-btn phone"
                  ><svg
                    class="svg-inline--fa fa-phone fa-w-16"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fa"
                    data-icon="phone"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                    ></path></svg
                  ><!-- <i class="fa fa-phone" aria-hidden="true"></i> -->
                  {{ item.user.numero }}
                </a>
                <div class="displayBlock"></div>
              </span>
            </p>
          </span>
        </div>

        <div
          class="col col-3 d-flex align-items-center"
          data-label="Nom de la Recette"
        >
          {{ item.amount }}
        </div>
        <div class="col col-2 d-flex align-items-center" data-label="Prix">
          {{ item.is_paid == false ? "En attente" : "Paiement éffectué" }}
        </div>
        <div
          class="col col-2 d-flex align-items-center justify-content-between"
          data-label="Date de Création"
        >
          <!-- <a >
            <i class="fa fa-check" aria-hidden="true"></i>
          </a> -->

          <a @click="showModal(item.reference)">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>

          <a>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </div>
      </li>
    </ul>

    <VueModal v-show="isModalVisible" @close="closeModal">
      <template #header>
        <h2 class="titre text-uppercase" style="padding-left: 3.5%">
          Détails de la Commande
        </h2>
      </template>

      <template #body>
        <div class="card_oder_details">
          <div v-if="orderItems?.length >= 1" class="title_part">
            <div class="text-center title_part">
              <div class="d-flex justify-content-start">
                <h2 class="titre mb-2">Article Commandé</h2>
              </div>
              <div class="d-flex justify-content-start">
                <p v-if="orderData?.reference">
                  <strong> Reference </strong> : # {{ orderData.reference }}
                </p>
              </div>
            </div>

            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nom de l'article</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-if="orderItems != null" v-for="orderItem in orderItems">
                    <td>{{ JSON.parse(orderItem.meta_data)?.name }}</td>
                    <th scope="row">{{ orderItem.quantity }}</th>
                    <td>{{ orderItem.unit_price | formatAmount }}</td>
                    <td>
                      {{ orderItem.unit_price }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="d-flex justify-content-start">
            <div class="card_item">
              <div class="d-flex align-center">
                <p>Montant Total :</p>
                <span class="mx-2 pricing-table__price">
                  {{ orderData?.amount | formatAmount }}
                </span>
                {{ orderData?.currency_name }}
              </div>

              <div class="d-flex">
                Date: {{ orderData?.createdAt | moment("L") }}
              </div>
              <div class="d-flex">
                Heure:
                <span class="mx-2 pricing-table__price">
                  {{ orderData?.createdAt | moment("LT") }}
                </span>
              </div>

              <div class="d-flex">
                Statut :
                <span class="mx-2 pricing-table__price">
                  {{ order_status_str }}
                </span>
              </div>

              <div class="d-flex">
                Payé ? :
                <span class="mx-2 pricing-table__price">
                  {{ orderData?.is_paid == true ? "OUI" : "NON" }}
                </span>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-2">
            <button
              class="cta order_btn w-80"
              @click="markAsTreated(orderData?.id)"
            >
              Marquer Comme Traité
            </button>
          </div>
          <!-- 
            <div class="card_item">
              <h6>
                Montant Total: {{ orderData?.amount }}
                {{ orderData?.currency_name }}
              </h6>
              <h6>Date: {{ orderData?.createdAt | moment("L") }}</h6>
              <h6>Heure: {{ orderData?.createdAt | moment("LT") }}</h6>
            </div>

            <div class="details">
              <div class="title text-center">
                <h2 class="titre">Status de la Commande</h2>
              </div>
              <div class="card_item">
                <div>
                  {{ order_status_str }}
                </div>
              </div>

              <div class="title text-center">
                <h2 class="titre">Payé ?</h2>
              </div>

              <div class="card_item">
                <div>
                  {{ orderData?.is_paid == true ? "OUI" : "NON" }}
                </div>
              </div>

              <div
                v-if="
                  typeof orderData?.orderDelivery?.address_name != 'undefined' &&
                  orderData?.orderDelivery?.address_name != null
                "
              >
                <div class="title text-center">
                  <h2 class="titre">Adresse de Livraison</h2>
                </div>

                <div class="card_item">
                  <div>
                    <i class="fa fa-map-marked"></i>
                    {{ orderData?.orderDelivery?.address_name }}
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center mt-2">
                <button class="cta sm order_btn w-80" @click="markAsTreated">
                  Marquer Comme Traité
                </button>
              </div>
            </div> 
          -->
        </div>
      </template>

      <template #footer> </template>
    </VueModal>
  </div>
</template>

<script>
import VueModal from "../../../../tools/VueModal.vue";

export default {
  props: ["restaurant_orders"],
  components: { VueModal },
  data() {
    return {
      isModalVisible: false,
      orderItems: null,
      orderData: null,
      order_status_str: "",
    };
  },
  methods: {
    showModal(reference) {
      // alert(reference)
      let order = this.restaurant_orders.find(
        (el) => el.reference == reference
      );

      this.orderData = order;
      this.orderItems = order.OrderItems;

      console.log(this.orderData.OrderStatusStr);

      switch (this.orderData.OrderStatusStr) {
        case "cancel":
          this.order_status_str = "Annulée";
          break;
        case "waiting":
          this.order_status_str = "En attente";
          break;
        case "confirmed":
          this.order_status_str = "Confirmée";
          break;
        case "treated":
          this.order_status_str = "Terminé";
          break;
        case "being_processed":
          this.order_status_str = "En cours";
          break;

        default:
          this.order_status_str = "En attente";
          break;
      }

      // EventBus.$emit("update_orders_list");

      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    markAsTreated(id) {
      axios
        .get(`api/mark-as-treated/${id}`)
        .then((res) => {
          console.log(res);
          this.$toast.info("Bien éffectué !");
        })
        .catch((error) => {
          console.log(error);
          this.$toast.error("Une erreur est survenue");
        });
    },
  },
};
</script>

<style lang="css" scoped>
.description {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  margin: 0;
  background: white;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #f8f8f8;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}

.card_oder_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px !important;
  padding: 4%;
}

.card_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  font-size: 15px;
}

.titre {
  font-size: 25px;
  color: #7f7f7f;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
  /*.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 30;
  }*/

  .responsive-table .col-2 {
    display: flex;
    align-items: center;
  }

  .description {
    display: flex;
    align-items: center;
  }
}
.title_part {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pricing-table__price {
  color: #d21d3a !important;
  font-size: 1em;
  font-weight: bold !important;
}

.order_btn {
  background-color: white;
}

.order_btn:hover {
  background-color: #d21d3a;
}

.user_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>
