<template>
    <div>
        <div class="grd-item mb-2">
            <a
                href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
                target="_blank"
                class="pub-label"
                >PUBLICITÉ
                <i class="fas fa-info-circle"></i
                >
                </a>
            <dfp-slot path="/2760456/Abidjan_net_news_articles_ATF_top_970x90"
                :size="[[1000,200]]" id="div-gpt-ad-3238677-1"/>
        </div>

        <banner>
            <template #title>
                <h2>
                    Tous Vos Evènements Culinaires
                </h2>
            </template>                             
    
            <template #image>
                <a class="img-landing-banner" href="#!">
                    <!-- <img class="img-fluid" src="_themes/assets/img/gallery/crispy-sa ndwiches.png" alt="hero-header" /> -->
                </a>
            </template>
        </banner>
        
        <div class="content">
            <section class="breadcrumb line-top">
                <a href="https://www.abidjan.net/">Accueil</a>
                <span @click="$router.push({ name: 'Login' })" > Cuisine </span>
                <span>Evènements Culinaire </span>
            </section>
        </div>

        <CookingEventList :events_data="events" v-if="events != null" />
    
        <div v-else class="no_resto">
            <p class="fs-1 text-center mt-3">
                Pas d'Événements Disponible
            </p>
        </div>

        <FloatingButtonCE/>

        <div class="grd-item mt-3">
            <a
              href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
              target="_blank"
              class="pub-label"
              >PUBLICITÉ
              <i class="fas fa-info-circle"></i
            >
            </a>
          
            <div>
                <dfp-slot path="/2760456/Abidjan_net_news_articles_BTF_Bottom_970x90" :size="[[970,90]]" id="div-gpt-ad-3238677-3"/>
            </div>
        </div>
    </div>
</template>

<script>
import Banner from '../accueil/_partials/Banner.vue';
import CookingEventList from './CookingEventList.vue'
import FloatingButtonCE from "./_partials/FloatingButtonCE.vue"
import DfpSlot from '../../tools/DfpSlot.vue';

export default {
    metaInfo: {
    title: 'Évènements Culinaire',
    titleTemplate: '%s | Cuisine.abidjan.net',                                                                                                                                                                                                                                                                                                                                                                                          
    htmlAttrs: {
      lang: 'fr-FR'
    },                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    meta: [
      { charset: 'utf-8' },
      { name: 'Évènements Culinaire', content: 'Cuisine, Recettes, Retaurants, ' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
    components: {
        Banner,
        CookingEventList,
        FloatingButtonCE,
        DfpSlot        
    },
    data(){
        return {
            events : null
        }
    },
    methods: {
        getEvents() {
            const CookingEvents = async () => {
                this.$loading(true)

                await axios.get('get-cooking_events').then((res) => {
                    console.log('CookingEvent >>>>')
                    console.log(res.data.data)

                    if(res.data.status_code == 200){
                        this.events = res.data.data
                    }else{
                        this.$toast.error("Oops une erreur est survenue")
                    }

                    
                }).catch((err) => {
                    console.log("Error CookingEvent");
                    console.log(err.response)
                }).finally(

                    this.$loading(false)
                );
            }
            CookingEvents()
        }
    },
    created() {
        this.getEvents()
    }
}
</script>

<style  scoped>
    #home {
        /*max-height: 65vh;*/
        background-image: url('../../../../../public/restaurant_images/images/banner1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
    }
</style>