<template>
  <section>
    <div class="content">
      <section class="breadcrumb line-top">
        <a>Accueil</a>
        <span @click="$router.push({ name: 'Accueil' })"> Cuisine </span>
        <span @click="$router.push({ name: 'CookingEvent' })">
          Evènements Culinaire
        </span>
        <span> Ajouter Evènement Culinaire </span>
      </section>
    </div>

    <div class="sub-content">
      <div class="besoin--title w-100">
        <h1 class="text-center text-uppercase section-title noline">
          Ajouter Evènement Culinaire
        </h1>
      </div>

      <div>
        <form @submit.prevent="submitCookingEvent">
          <div class="details__inputs">
           
            <div class="details__inputs">

              <div class="input--group">
                <label for="file">Ajouter Image de Couverture <span>*</span> </label>

                <div
                  class="resto_img"
                  v-if="
                  form.photoCouverture != null && typeof form.photoCouverture != 'undefined'
                      ? true
                      : false
                  "
                >
                  <img v-if="previewImage != null" :src="previewImage" alt="previewImage" />
                  <!-- <img v-else :src="form.imageUrl" alt="" srcset="" /> -->
                </div>

                <input type="file" accept="image/jpeg" @change="uploadImage" required/>
              </div>

              <div class="input_row">
                <div class="input--group">
                  <label for="title"> Titre <span>*</span></label>
                  <input type="text" v-model="form.titre" name="title" required/>
                </div>
                <div class="input--group">
                  <label for="contact"> Sous Titre </label>
                  <input type="text" v-model="form.sousTitre" name="contact" />
                </div>

                <div class="input--group">
                  <label for="contact"> Contact </label>
                  <input type="tel" v-model="form.contact" name="contact" />
                </div>
              
                <div class="input--group">
                  <label for="ville"> Ville <span>*</span></label>
                  <input type="text" v-model="form.ville" name="ville" required/>
                </div>
                <div class="input--group">
                  <label for="commune"> Commune <span>*</span></label>
                  <input type="text" v-model="form.commune" name="commune" required/>
                </div>
                <div class="input--group">
                  <label for="dateDebut"> Date de Début <span>*</span></label>
                  <input type="date" v-model="form.dateDebut" name="dateDebut" required/>
                </div>
                <div class="input--group">
                  <label for="dateFin"> Date de Fin <span>*</span></label>
                  <input type="date" v-model="form.dateFin" name="dateFin" required/>
                </div>
                <div class="input--group">
                  <label for="heureDebut"> Heure de Début <span>*</span></label>
                  <input type="time" v-model="form.heureDebut" name="heureDebut" required/>
                </div>
                <div class="input--group">
                  <label for="heureFin"> Heure de Fin <span>*</span></label>
                  <input type="time" v-model="form.heureFin" name="heureFin" required/>
                </div>
                <!-- <div class="input--group">
                  <label for="time"> Heure d'ouverture </label>
                  <input type="time" v-model="form.heureOuverture" name="heureOuverture" />
                </div> -->
                <div class="input--group">
                  <label for="cible"> Cible  <span>*</span></label>
                  <input type="text" v-model="form.cible" name="cible" />
                </div>
                <div class="input--group">
                  <label for="noteInformation"> Note d'information <span>*</span></label>
                  <input type="text" v-model="form.noteInformation" name="noteInformation" />
                </div>
              </div>
            </div>

            <div class="input--group">
              <label for="description"> Description <span>*</span></label>
              <textarea type="text" v-model="form.description" name="description">

              </textarea>
            </div>

            <div class="d-flex justify-content-center">
              <button
                type="submit"
                class="cta w-60 d-flex justify-content-center py-3"
                style="font-size: 18px"
              >
                Ajouter
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import AppStorage from '../../../utils/AppStorage';

export default {
  metaInfo: {
    title: `Poster événements culinaire`,
    titleTemplate: "%s | Cuisine.abidjan.net",
    htmlAttrs: {
      lang: "fr-FR",
    },
    meta: [
      { charset: "utf-8" },
      {
        name: "Poster événements culinaire",
        content: "Cuisine, Recettes, Retaurants, Evénements culinaire",
      },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
    ],
  },
  data() {
    return {
      previewImage: null,
      form : {
        titre: "",
        eUser: 1,
        sousTitre: "",
        contact: "",
        description: "",
        ville: "Abidjan",
        commune: "",
        dateDebut: "2023-03-11 00:00:00",
        dateFin: "2023-03-11 00:00:00",
        heureDebut: "16:00:00",
        heureFin: "20:00:00",
        heureOuverture: "17:00:00",
        cible: "Jeunes",
        noteInformation: "",
        tickets: [],
        galleriePhoto: [],
        IdTypeEvenement: 14,
        IdSalle: 1,
        video: "",
        photoCouverture: null
      }
    };
  },
  methods : {
      submitCookingEvent(){

          this.$loading(true)

          axios.post("/api/add-cooking_event", 
            this.form,
            {
              headers: { "Content-Type": "multipart/form-data" },
            }
          )
          .then( res => {

              console.log('SUCCESS Post Cooking Event >>>')
              console.log(res)

              if(res.status == 200 && res.data.status_code== 201){
                  this.$toast.success("Bien éffectué")
                  this.form = {}
              } 

          })
          .catch( error => {
              this.$toast.info("Oopps une erreur est survenue")
              
              console.log('ERROR Post Cooking Event >>>')
              console.log({
                error : error,
                errerMessage: error?.response
              })
              
          }).finally(()=>{
            this.$loading(false)
          })

      },
      uploadImage(e) {
        const image = e.target.files[0];

        let imageUrl = image;

        console.log(imageUrl);
        this.form.photoCouverture = imageUrl

        const reader = new FileReader();
        reader.readAsDataURL(image);
        reader.onload = (e) => {
          this.previewImage = e.target.result;
          console.log(this.previewImage);
        };
      },
      checkUser() {
        if (!User.loggIn()) {
          this.$toast.info("Veuillez vous connectez s'il vous plait");
          let routePath = this.$route.fullPath;
          AppStorage.setPreviewRoutePath(routePath);
          this.$router.push({ name: "Login" });
          AppStorage.clearSoft();
        }
      }
  },
  created(){
    this.checkUser()
  }
};
</script>

<style lang="css" scoped></style>
