<template>
  <div>
    <section class="section-ads-center">
      <div class="grd-item pub_item">
        <a
          href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
          target="_blank"
          class="pub-label"
          >PUBLICITÉ
          <svg
            class="svg-inline--fa fa-info-circle fa-w-16"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="info-circle"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
            ></path>
          </svg>
        </a>
        <dfp-slot
          path="/2760456/Abidjan_net_news_articles_ATF_top_970x90"
          :size="[
            [1000, 200],
            [970, 90],
            [728, 90],
            [468, 60],
            [320, 50],
          ]"
          id="div-gpt-ad-3238677-1"
        />
      </div>
    </section>

    <banner>
      <template #title>
        <h2>Vos Restaurants Préférés</h2>
      </template>

      <template #image>
        <a class="img-landing-banner" href="#!">
          <!-- <img class="img-fluid" src="_themes/assets/img/gallery/crispy-sandwiches.png" alt="hero-header" /> -->
        </a>
      </template>

      <template #search_bar>
        <RestaurantsSearchBar />
      </template>
    </banner>

    <div class="content">
      <section class="breadcrumb line-top">
        <a href="https://www.abidjan.net/">Accueil</a>
        <router-link to="/accueil"> Cuisine </router-link>
        <span>Restaurants </span>
      </section>
    </div>

    <RestaurantsList
      v-if="restaurants_result != null"
      :restaurants_data="restaurants_result"
    />
    <RestaurantsList :restaurants_data="restaurants" v-else />
    <!-- v-if="restaurants != null" -->

    <!-- <div class="grd-item mt-3">
      <a
        href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
        target="_blank"
        class="pub-label"
        >PUBLICITÉ
        <i class="fas fa-info-circle"></i>
      </a>

      <div>
        <dfp-slot
          path="/2760456/Abidjan_net_news_articles_BTF_Bottom_970x90"
          :size="[[970, 90]]"
          id="div-gpt-ad-3238677-3"
        />
      </div>
    </div> -->

    <div class="sub-content">
      <section class="section-ads-center">
        <div class="grd-item">
          <a
            href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
            target="_blank"
            class="pub-label"
            >PUBLICITÉ
            <svg
              class="svg-inline--fa fa-info-circle fa-w-16"
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="info-circle"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
              ></path>
            </svg>
          </a>
          <div
            id="div-gpt-ad-2877090-12"
            data-google-query-id="CLvemZX7jf4CFQ5s0wod_JYOjA"
          >
            <dfp-slot
              path="/2760456/Abidjan_net_news_articles_BTF_Bottom_970x90"
              :size="[[970, 90]]"
              id="div-gpt-ad-3238677-3"
            />
          </div>
        </div>
      </section>
    </div>

    <FloatingButtonRVue> </FloatingButtonRVue>
  </div>
</template>

<script>
import Banner from "../accueil/_partials/Banner.vue";
// import RecipeList from "../accueil/_partials/RecipeList.vue";
import RestaurantsList from "../restaurant/RestaurantsList.vue";
import RestaurantsSearchBar from "../restaurant/_partials/RestaurantsSearchBar.vue";
import DfpSlot from "../../tools/DfpSlot.vue";
import FloatingButtonRVue from "./_partials/FloatingButtonR.vue";

export default {
  name: "RestaurantsDetails",
  metaInfo: {
    title: "Restaurants",
    titleTemplate: "%s | Cuisine.abidjan.net",
    htmlAttrs: {
      lang: "en-US",
    },
    meta: [
      { charset: "utf-8" },
      {
        name: "Nos retaurants disponible",
        content: "Cuisine, Recettes, Retaurants, ",
      },
    ],
  },
  components: {
    Banner,
    // RecipeList,
    RestaurantsList,
    RestaurantsSearchBar,
    DfpSlot,
    FloatingButtonRVue,
  },
  data() {
    return {
      recipes: null,
      foundedItemsAuto: null,
      restaurants: null,
      restaurants_result: null,
      form: {
        page: 1,
        per_page: 8,
      },
    };
  },
  methods: {
    getRecipes() {
      const recipes = async () => {
        // this.$loading(true)
        await this.axios
          .post("get-recipes")
          .then((res) => {
            console.log(">>>>>>>Recipe");
            console.log(res);
            this.recipes = res.data.data;
          })
          .catch((error) => {
            console.log(">>>>>>> Error Recipes >>>>>>");
            console.log(error.response);
            // this.$toast.info('Votre session a expiré')
            // User.logout()
          })
          .finally(() => {
            // this.$loading(false)
          });
      };

      recipes();
    },
    getRestaurants() {
      const restaurants = async () => {
        this.$loading(true);

        await this.axios
          .post("get-restaurants", this.form)
          .then((res) => {
            console.log(">>>>>>>Restaurants Worked");
            console.log(res);
            this.restaurants = res.data.data;
          })
          .catch((error) => {
            console.log(">>>>>>> Error Restaurant >>>>>>");
            console.log(error?.response);
            // this.$toast.info('Votre session a expiré')
            // User.logout()
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      restaurants();
    },
  },
  created() {
    this.getRecipes();
    this.getRestaurants();
    this.EventBus.$on("search_restaurant_auto", (data) => {
      this.restaurants_result = data;
    });
  },
};
</script>

<style scoped>
#home {
  padding: 0px 60px 0px 60px !important;
}

#home {
  /*max-height: 65vh;*/
  background-image: url("@/assets/pictures/images_banners/restaurant-interior.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  object-fit: cover;
}

.no_resto {
  margin-top: 50px;
}
</style>
