<template>
  <div>
    <div class="commentaire">
      <comment-item
        v-for="item in recipes_comment"
        :recipes_comment_item="item"
        :key="item.slug"
      >
      </comment-item>
    </div>

    <div class="mt-5">
      <div class="single-post__leave__comment">
        <div class="widget__title">
          <h4>Laissez un commentaire</h4>
        </div>
        <form @submit.prevent="commentRecipe">
          <div class="input-list">
          <!-- <div>
              <input type="text" placeholder="Name">
              <input type="text" placeholder="Email">
              <input type="text" placeholder="Website">
          </div> -->
          </div>
          <textarea
           :class="isRequired ? 'error' : '' "
            placeholder="Message"
            v-model="content"
            required
            >
            <!-- @keydown.enter="commentRecipe" -->
          </textarea>

          <div v-if="loading == true" class="my-2">
            <small>
              Veuillez patientez s'il vous plait
            </small>
          </div>


          <div class="d-flex justify-content-center">
            <Loading :isDisplay="isDisplay"></Loading>
            <button type="submit" class="cta sm" :class="disabled" v-show="!isDisplay">
              Commenter
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
import CommentItem from "./CommentItem.vue";
import AppStorage from "../../../../utils/AppStorage";
import Loading from "../../../tools/Loading.vue";

export default {
  data() {
    return {
      content: null,
      comment: [],
      isRequired : false,
      loading : false,
      disabled: false,
      isDisplay : false
    };
  },
  components: {
    CommentItem,
    Loading
  },
  props: ["recipes_comment"],
  methods: {
    commentRecipe() {      
      this.checkUser()


      if(this.content == "" || this.content == null)
      {
         
        this.isRequired = true;
        this.loading = false;        
        this.isDisplay = false;
        return false;


      }else{
        
        const commentRecipe = async () =>{

          this.isDisplay = true;

          await 
          axios
            .post(`api/comment-recipe/${this.slug}`, { content: this.content })
            .then((res) => {
  
              console.log(">>>>>>> Comment");
              console.log(res?.data?.comment);
    
              this.recipes_comment.push(res?.data?.comment);
              this.content = "";

              // this.loading = false;

            })
            .catch((error) => {
              console.log(error);
    
              if (error.response.status == 401) {
                this.$toast.info("Veuillez vous connectez avant");
                User.logout();
                this.$router.push({ name: "Login" });
              }
            })
            .finally(() => {
              this.isDisplay = false;
            });

        }


        commentRecipe()

      }

    },
    checkUser() {
      if (!User.loggIn()) {
        this.$toast.info("Veuillez vous connectez s'il vous plait.");
        let routePath = this.$route.fullPath;
        AppStorage.setPreviewRoutePath(routePath);
        AppStorage.clearSoft();
        this.$router.push("/se-connecter");
      }
    }
  },
  created() {
    this.slug = this.$route.params.slug;
    this.comment = this.recipes_comment;
  },
};
</script>

<style scoped>
.commentaire {
  display: flex;
  flex-direction: column;
  justify-content: start !important;
  align-items: flex-start;
}

.widget__title {
  margin-bottom: 40px;
}

.widget__title h4 {
  display: inline-block;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.widget__title {
  margin-bottom: 40px;
}

.widget__title h4 {
  display: inline-block;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.widget__title h4:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: #ffb800;
  opacity: 0.3;
  content: "";
}

.widget__title h4:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: #ffb800;
  opacity: 0.3;
  content: "";
}

.single-post__leave__comment form .input-list {
  margin-right: -20px;
}

.single-post__leave__comment form .input-list input {
  height: 46px;
  width: calc(33.33% - 20px);
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-right: 16px;
}

.single-post__leave__comment form .input-list input:last-child {
  color: #444444;
}

.single-post__leave__comment form textarea {
  height: 50px !important;
  width: 100%;
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-top: 12px;
  padding-left: 20px;
  margin-bottom: 14px;
  /* resize: none; */
}

.single-post__leave__comment form .input-list {
  margin-right: -20px;
}

.single-post__leave__comment form .input-list input {
  height: 46px;
  width: calc(33.33% - 20px);
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-right: 16px;
}

.single-post__leave__comment form .input-list input:last-child {
  color: #444444;
}

.single-post__leave__comment form textarea {
  height: 190px;
  width: 100%;
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-top: 12px;
  padding-left: 20px;
  margin-bottom: 14px;
  resize: none;
}

.single-post__leave__comment form textarea:last-child {
  color: #444444;
}

.single-post__leave__comment form button {
  width: 100%;
}

.single-post__leave__comment form textarea:last-child {
  color: #444444;
}

.single-post__leave__comment form button {
  width: 100%;
}

.single-post__comment__item {
  margin-bottom: 10px;
}

.single-post__comment__item.single-post__comment__item--reply {
  padding-left: 120px;
}

.single-post__comment__item__pic {
  float: left;
  margin-right: 25px;
}

.single-post__comment__item__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.single-post__comment__item__text {
  overflow: hidden;
  position: relative;
}

.single-post__comment__item__text h5 {
  text-transform: uppercase;
  margin-bottom: 4px;
}

.single-post__comment__item__text span {
  font-size: 12px;
  color: #888888;
  display: block;
  margin-bottom: 10px;
}

.single-post__comment__item__text p {
  font-size: 15px;
}

.single-post__comment__item__text ul {
  position: absolute;
  top: 0;
  right: 0;
}

.single-post__comment__item__text ul li {
  list-style: none;
  margin-right: 15px;
  display: inline-block;
}

.single-post__comment__item__text ul li a {
  font-size: 18px;
  color: #444444;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.single-post__comment__item__text ul li a:hover {
  color: #ffb800;
}

.single-post__comment__item__text ul li:last-child {
  margin-right: 0;
}

.single-post__leave__comment form .input-list {
  margin-right: -20px;
}

.single-post__leave__comment form .input-list input {
  height: 46px;
  width: calc(33.33% - 20px);
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-right: 16px;
}

.single-post__leave__comment form .input-list input:last-child {
  color: #444444;
}

.single-post__leave__comment form textarea {
  height: 190px;
  width: 100%;
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-top: 12px;
  padding-left: 20px;
  margin-bottom: 14px;
  resize: none;
}

.single-post__leave__comment form textarea:last-child {
  color: #444444;
}

.single-post__leave__comment form button {
  width: 100%;
}

.single-post {
  padding-top: 0;
}

.single-post__hero {
  height: 960px;
}

.single-post__leave__comment form .input-list {
  margin-right: -20px;
}

.single-post__leave__comment form .input-list input {
  height: 46px;
  width: calc(33.33% - 20px);
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-right: 16px;
}

.single-post__leave__comment form .input-list input:last-child {
  color: #444444;
}

.single-post__leave__comment form textarea {
  height: 190px;
  width: 100%;
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-top: 12px;
  padding-left: 20px;
  margin-bottom: 14px;
  resize: none;
}

.single-post__leave__comment form textarea:last-child {
  color: #444444;
}

.single-post__leave__comment form button {
  width: 100%;
}

.single-post__title {
  background: #ffffff;
  -webkit-box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
  box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
  padding: 50px;
  padding-right: 40px;
  position: relative;
  margin-top: -105px;
  margin-bottom: 50px;
}

.single-post__title__meta {
  background: #f2f2f2;
  height: 110px;
  width: 110px;
  text-align: center;
  padding-top: 28px;
  float: left;
  margin-right: 30px;
}

.single-post__title__meta h2 {
  font-size: 42px;
  color: #111111;
  font-weight: 900;
  line-height: 28px;
}

.single-post__title__meta span {
  font-size: 24px;
  color: #888888;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
}

.single-post__title__text {
  overflow: hidden;
}

.single-post__title__text .label li {
  list-style: none;
  display: inline-block;
  margin-right: 18px;
  color: #ffb800;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}

.single-post__title__text .label li:last-child {
  margin-right: 0;
}

.single-post__title__text .label li:last-child:after {
  display: none;
}

.single-post__title__text .label li:after {
  position: absolute;
  right: -14px;
  top: -2px;
  content: "|";
  color: #d7d7d7;
}

.single-post__title__text h4 {
  font-size: 26px;
  color: #111111;
  line-height: 34px;
}

.single-post__title__text .widget li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
  color: #888888;
  position: relative;
}

.single-post__title__text .widget li span {
  color: #111111;
}

.single-post__title__text .widget li:after {
  position: absolute;
  right: -18px;
  top: -1px;
  content: "|";
  color: #d7d7d7;
}

.single-post__title__text .widget li:last-child {
  margin-right: 0;
}

.single-post__title__text .widget li:last-child:after {
  display: none;
}

.single-post__social__item {
  position: absolute;
  top: 40px;
  left: -70px;
}

.single-post__social__item ul li {
  list-style: none;
}

.single-post__social__item ul li a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 46px;
  width: 46px;
  background: #f2f2f2;
  line-height: 46px;
  text-align: center;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  margin-bottom: 10px;
}

.single-post__social__item ul li a:last-child {
  margin-right: 0;
}

.single-post__social__item ul li a:hover {
  background: #ffb800;
  color: #ffffff;
}

.single-post__top__text,
.single-post__middle__text {
  margin-bottom: 25px;
}

.single-post__top__text p,
.single-post__middle__text p {
  font-size: 15px;
}

.single-post__recipe__details {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.single-post__recipe__details__option {
  background: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.single-post__recipe__details__option ul {
  overflow: hidden;
}

.single-post__recipe__details__option ul li {
  list-style: none;
  float: left;
  margin-right: 48px;
}

.single-post__recipe__details__option ul li:last-child {
  margin-right: 0;
}

.single-post__recipe__details__option ul li h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.single-post__recipe__details__option ul li h5 i {
  font-size: 16px;
  margin-right: 5px;
}

.single-post__recipe__details__option ul li span {
  font-size: 14px;
  color: #888888;
}

.single-post__recipe__details__option ul li .primary-btn i {
  margin-right: 5px;
}

.single-post__recipe__details__indegradients {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.single-post__recipe__details__indegradients h5 {
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-post__recipe__details__indegradients ul li {
  list-style: none;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
}

.single-post__recipe__details__indegradients ul li:before {
  position: absolute;
  left: 0;
  top: 13px;
  height: 3px;
  width: 3px;
  background: #111111;
  content: "";
}

.single-post__recipe__details__direction {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.single-post__recipe__details__direction h5 {
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-post__recipe__details__direction ul li {
  list-style: none;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
}

.single-post__recipe__details__direction ul li span {
  font-size: 15px;
  color: #111111;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
}

.single-post__middle__text {
  margin-bottom: 20px;
}

.single-post__middle__text p {
  font-size: 15px;
}

.single-post__quote {
  padding-left: 75px;
  position: relative;
  margin-bottom: 20px;
}

.single-post__quote::before {
  position: absolute;
  left: 0;
  top: 3px;
  /* background-image: url(../img/categories/single-post/quote-left.png); */
  height: 55px;
  width: 55px;
  content: "";
}

.single-post__quote p {
  font-size: 24px;
  color: #111111;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: "Unna", serif;
}

.single-post__quote span {
  font-size: 15px;
  color: #888888;
  text-transform: uppercase;
}

.single-post__desc {
  margin-bottom: 25px;
}

.single-post__desc p {
  font-size: 15px;
}

.single-post__desc h4 {
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.single-post__more__details {
  margin-bottom: 20px;
}

.single-post__more__details img {
  min-width: 100%;
}

.single-post__more__details p {
  font-size: 15px;
  margin-bottom: 0;
}

.single-post__last__text {
  margin-bottom: 25px;
}

.single-post__last__text p {
  font-size: 15px;
}

.single-post__last__text p:first-child {
  margin-bottom: 10px;
}

.single-post__tags {
  margin-bottom: 50px;
}

.single-post__tags a {
  display: inline-block;
  font-size: 13px;
  color: #444444;
  background: #f2f2f2;
  padding: 8px 16px 6px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.single-post__tags a:last-child {
  margin-right: 0;
}

.single-post__next__previous {
  margin-bottom: 60px;
}

.single-post__previous,
.single-post__next {
  display: block;
}

form textarea {
  border: 1px solid #d21d3a;
  border-radius: -10px;
  padding: 30px;
  width: 100%;
  margin-bottom: 30px;
  min-height: 87px !important;
}

.error{
  order: 2px solid #d21d3a !important;
}

.disabled{
  
}

</style>
