<template>
    <!-- <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1"></label>
    </div> -->
    <li>
        {{ ingredient_data.quantity }}
        {{ ingredient_data.mesureUnit }}
        {{ ingredient_data.name }}
    </li>

</template>

<script>
export default {
    props: ['ingredient_data']
}
</script>

<style>
.ingredients .custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.ingredients .custom-control-label::before {
    width: 30px;
    height: 30px;
    background-color: #f3f5f8;
}

.ingredients .custom-control {
    padding-left: 2.5rem;
    margin-bottom: 30px;
    min-height: 35px;
}

.ingredients .custom-control-label {
    margin-bottom: 0;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #2f2f2f;
}

.ingredients .custom-control-label::after {
    top: 10px;
    left: 5px;
    width: 20px;
    height: 20px;
}

.ingredients .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #40ba37;
}
</style>