<template>
    <!-- <li>
        <span></span>
        {{ recipe_instruction.name }}
        <p class="my-2">

        </p>
    </li> -->


    <!-- <div class="single-preparation-step d-flex">
        <h4>{{ index+ 1 }}.</h4>
        <p>{{ recipe_instruction.desription }} </p>
    </div> -->
    <li>
        <span>{{ index+ 1 }}.</span> {{ recipe_instruction.desription }}
    </li>
</template>

<script>
export default {
    props: ['recipe_instruction', 'index']
}
</script>

<style scoped>
.single-preparation-step {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.single-preparation-step h4 {
    color: #474747;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    max-width: 60px;
    width: 60px;
    margin-bottom: 0;
}
</style>