<template>
    <main>
        <section class="details--products mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 wow fadeInLeft">
                        <div class="details--products__illustration__tall">
                            <img :src="recipe.imageUrl" alt="recipe-image" id="imageBox">
                        </div>

                        <!-- petites cards -->
                        <!-- 
                        <div class="details--products__illustration__small">
                            <div class="card-small">
                                <img src="images/1.jpg" alt="img" onclick="myFunction(this) ">
                            </div>
    
                            <div class="card-small">
                                <img src="images/1-900x580.jpg" alt="img" onclick="myFunction(this) ">
                            </div>
    
                            
                            <div class="card-small">
                                <img src="images/MontKorhago-Récupéré.jpg" alt="img" onclick="myFunction(this) ">
                            </div>
    
                            <div class="card-small">
                                <img src="images/1.jpg" alt="img" onclick="myFunction(this) ">
                            </div>
                        </div> 
                        -->
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 wow fadeInRight">
                        <div class="details--products__description">
                            <h1 class="details--products__description--title mb-3">{{ recipe.name }}</h1>

                            <div class="details--products__description--reference mb-4">
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>

                                <p> {{ recipe.description }}</p>

                            </div>
                            <p class="my-3 text text-success">Nombre de personne <b> {{ recipe.numberOfPersons }} </b>
                            </p>

                            <p class="en--stock">{{ recipe.budget.name }}</p>

                            <div class="details--products__description--prize mb-3">
                                <h1>{{ recipe.recipeType.name }}</h1>
                                <div class="product__card--btns">
                                    <div class="product__card--btns__div">
                                        <button class="btn--orange">
                                            <a href="">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="icon icon-tabler icon-tabler-messages" width="24" height="24"
                                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path
                                                        d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10">
                                                    </path>
                                                    <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2">
                                                    </path>
                                                </svg>
                                            </a>
                                        </button>

                                        <button class="btn--site">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-heart" width="24" height="24"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path
                                                    d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572">
                                                </path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="details--products__description--specifications">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <h3>Ingredients</h3>
                                        <pre>{{ recipe.ingredients }}</pre>

                                        <ul>
                                            <IngredientItem v-for="ingredient in recipe.ingredients"
                                                :ingredient_data="ingredient" v-if="recipe.ingredients.count >= 1"
                                                :key="ingredient.id" />
                                        </ul>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <h3>Nos avantages </h3>

                                        <ul>
                                            <li><i class="fas fa-shield-alt"></i> &nbsp; Paiement 100 % Sécurisé</li>
                                            <li><i class="fas fa-credit-card"></i> &nbsp; Différentes méthodes de
                                                paiement </li>
                                            <li><i class="fas fa-gavel"></i>&nbsp; Prix Abordables </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- menu tabs -->
        <!-- section tab -->
        <section class="m-0">
            <div class="container">
                <div class="container-onglets mt-5">
                    <div class="onglets active-onglet" data-anim="1">
                        <p>Instructions de Preparation</p>
                    </div>
                    <div class="onglets" data-anim="2">
                        <p>Ingredients</p>
                    </div>
                    <div class="onglets" data-anim="3">
                        <p> Ustentils </p>
                    </div>
                </div>
            </div>
            <!-- active contenu -->
            <div class="contenu activeContenu" data-anim="1">
                <div class="container">
                    <div>
                        <p>{{ recipe.preparationInstructions }}</p>
                    </div>
                </div>
            </div>

            <div class="contenu " data-anim="2">
                <div class="container">
                    <p> {{ recipe.ingredients }}</p>
                </div>
            </div>

            <div class="contenu " data-anim="3">
                <div class="container">
                    <h3>Commentaire (1)</h3>
                    <button class="btn--site mt-4 mb-5"> Ajouter un commnetaire</button>

                    <div class="card--avis">
                        <div class="card--avis__illustration">
                            <img src="icones/african-american-man-sitting-desk-smiles.png" alt="img--profil">
                        </div>

                        <div class="card--avis__description">
                            <div class="card--avis__description--title">
                                <h4>Oleh Chabanov</h4>

                                <div>
                                    <span>19 Jan, 2018</span>

                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                sem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import IngredientItem from "./IngredientItem"

export default {
    components: { IngredientItem },
    data() {
        return {
            id: null,
            recipe: null
        }
    },
    methods: {
        getRecipe() {
            const RecipeDetails = async () => {

                this.$loading(true)

                await axios.get(`show-recipe/${this.id}`).then((res) => {
                    console.log(">>>>>>Recipe Détails Worked")
                    console.log(this.id)
                    console.log(res.data)

                    this.recipe = res.data.data

                }).catch((error) => {
                    console.log(">>>>>>Error Recipe Détails")
                    console.log(error.response)

                    if (error.response.status == 401) {
                        this.$toast.info('Votre session a expiree')
                        User.logout()
                    }
                }).finally(() => {
                    this.$loading(false)
                });
            }

            RecipeDetails()
        }
    },
    created() {
        this.id = this.$route.params.id,
            console.log("id :" + this.id)
        this.getRecipe()
    }
}

</script>

<style>
.details--products__description--title {
    text-transform: 'uppercase'
}

.details--products__illustration {
    height: 45rem;
    background-color: #fff;
}

.details--products__illustration img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

@media only screen and (max-width: 62em) {
    .details--products__description {
        margin-top: 2rem;
    }
}

.details--products__description--prize {
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 80%;
    background: white;
    margin-top: 2rem;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #ccc;
}

@media only screen and (max-width: 48em) {
    .details--products__description--prize {
        width: 100%;
        display: block;
    }
}

.details--products__description--prize h1 {
    margin-bottom: 0;
}

@media only screen and (max-width: 48em) {
    .details--products__description--prize h1 {
        margin-bottom: 1rem;
        text-align: center;
    }
}

.details--products__description--prize .product__card--btns__div {
    margin-top: 0;
}

.details--products__description--prize .btn--orange {
    padding: 1rem 2rem !important;
    font-size: 14px;
}

.details--products__description--prize .btn--white {
    height: 4rem;
    width: 4rem;
    font-size: 1.5rem;
}

.details--products__description--reference {
    display: flex;
    align-items: center;
}

.details--products__description--reference p {
    margin-left: 1rem;
}

.details--products__description--specifications {
    padding: 2rem;
    background-color: #F4EFEC;
    margin-top: 2rem;
    border-radius: 10px;
}

.details--products__description--specifications ul {
    padding-left: 0;
    margin-top: 1rem;
}

.details--products__description--specifications ul li {
    color: #0f0f0f;
    font-size: 13px;
}

.details--products__description--specifications .fa-check-circle {
    color: #0045a3;
}

.container-onglets {
    color: #000;
    width: 100%;
    height: 15%;
    display: flex;
    z-index: 99;
}

@media only screen and (max-width: 48em) {
    .container-onglets {
        display: block;
    }
}

.onglets {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    flex-direction: column;
    cursor: pointer;
    transition: all .5s;
    border-bottom: 3px solid transparent;
}

.onglets p {
    font-size: 2rem;
    font-weight: bold;
    color: #0f0f0f;
}

@media only screen and (max-width: 48em) {
    .onglets p {
        font-size: 1.4rem;
    }
}

.onglets:focus {
    outline: none;
}

.contenu {
    width: 100%;
    padding: 4rem 0;
    display: none;
}

.contenu ul {
    margin: 2rem 0;
    padding-left: 0 !important;
}

/* Anim */
.active-onglet {
    transition: all 0.3s ease;
    border-bottom: 3px solid #0045a3;
    z-index: 1;
}

.activeContenu {
    display: block;
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
</style>