<template>
  <div class="content">
    <div class="sub-content">
      <section class="breadcrumb line-top"><a
          @click="$router.push({ name: 'Accueil' })">Accueil</a><span>Connexion</span>
      </section>

      <h4 class="section-title marginbottom">CONNEXION</h4>

      <section class="section-ad-right">
        <div class="grd-item">

          <div class="grid">

            <div class="content-form-member">
              <form class="bloc-search" id="blocSearch" @submit.prevent="submitLoginForm">
                <div class="form-member-item">
                  <div class="legend-gray-right">* Champs obligatoires</div>
                  <label>Email*</label>
                  <input type="email" name="email" placeholder="Email" required="" v-model="form.username">
                </div>
               
                <div class="form-member-item">
                  <label>Mot de passe*</label>
                  <input type="password" name="password" placeholder="Mot de passe" required="" v-model="form.password">
                </div>

                <div class="form-member-item space-check">


                  <input class="checkCGU" type="checkbox" id="checkbox_1">
                  <label for="checkbox_1"></label>
                  <!--<input class="checkCGU" type="checkbox" name="checkCGU" required>-->
                  Rester connecté
                </div>

                <div class="form-member-item">
                  <input type="submit" name="member-sub" value="Se connecter" class="btnSub">
                </div>
              </form>
            </div>
            <div class="RowLinkMember margTop50"><span>Pas de compte membre ?</span> <a href="#"
                @click="$router.push('/s-inscrire')">Créer un
                compte</a></div>
            <div class="RowLinkMember margTop30"><span>Mot de passe oublié ?</span> <a
              
              @click="$router.push('/mot-de-passe-oublie')"
              >Réinitialisez-le</a></div>

          </div>

        </div>
        <aside>
          <div class="in">
            <!-- SECTION BANNER HORIZ -->
            <section class="section-ads-center">
              <div class="grd-item">
                <a href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/" target="_blank"
                  class="pub-label">PUBLICITÉ <svg class="svg-inline--fa fa-info-circle fa-w-16" aria-hidden="true"
                    focusable="false" data-prefix="fas" data-icon="info-circle" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                    <path fill="currentColor"
                      d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z">
                    </path>
                  </svg><!-- <i class="fas fa-info-circle"></i> --></a>
                <!-- /2760456/Abidjan_net_news_articles_ATF_right_300x600 -->
                <div id="div-gpt-ad-1469168400553-2" style="">
                  <dfp-slot-right path="/2760456/Abidjan_net_news_articles_ATF_right_300x600" :size="[[300,600]]" id="div-gpt-ad-3238677-2"/>
                </div>
                <!-- End AdSlot 2 -->
              </div>
            </section>
          </div>
        </aside>

      </section>
    </div>
  </div>
</template>

<script>
import AppStorage from "../utils/AppStorage";
import Token from "../utils/Token";
import DfpSlotRight from "../components/tools/DfpSlotRight.vue"
import { v4 as uuidv4 } from 'uuid';

export default {
  metaInfo: {
    title: 'Connexion',
    titleTemplate: '%s | Cuisine.abidjan.net',
    htmlAttrs: {
      lang: 'fr-FR'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'Login', content: 'Cuisine, Recettes, Retaurants, Restaurants' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  components : {
    DfpSlotRight
  },
  data() {
    return {
      form: {
        username: null,
        password: null,
      }
    };
  },
  methods: {
    submitLoginForm() {
      let username = this.form.username;

      this.form.username = this.form.username?.toLowerCase()

      const LoginUser = async () => {
        this.$loading(true)
        await axios
          .post("api/login_check", this.form)
          .then((res) => {
            console.log(res);

            if (res.status == 200) {
              console.log("login response...");
              const access_token = res.data.token;
              // const username = res.data.user.username;

              console.log(access_token);

              if (Token.isValid(access_token, username)) {
                //Store data on localStorage
                AppStorage.storeData(username, access_token);
                EventBus.$emit("login");

                window.axios = require("axios");
                const JWTToken = `Bearer ${localStorage.getItem("token")}`;

                EventBus.$emit("check_nav")

                window.axios.defaults.headers.common["X-Requested-With"] =
                  "XMLHttpRequest";
                window.axios.defaults.headers.common["Authorization"] =
                  JWTToken;

                console.log({uuid: `${uuidv4()}-abj-cuisine`})
                AppStorage.setCookie('__ga__', `${uuidv4()}-abj-cuisine`)

                this.addCookiesDatas()

                this.$toast.success("Super ☑️ ! Connexion bien éffectué");

              }
            } else {
              this.$toast.info(
                "OOps ❌ Quelque chose s'est mal passe veuillez réessayer svp"
              );
            }
          })
          .catch((error) => {
            console.log(">>>>>>> Error Login");
            console.log(error);

            if (error.response.status == 401) {
              this.$toast.error("Email ou mot de passe invalide");
            } else if (error.response.status == 400) {
              this.$toast.info(
                "Veuillez renseigner tout les champs svp 😉"
              );
            }
          }).finally(() => {
            this.$loading(false)
          });
      };

      LoginUser();
    },
    getUser() {
      const userInfo = async () => {
        this.$loading(true)
        await axios.get('/api/get-user_datas').then((res) => {

          console.log("|>>>>>>>>| Get User Info |<<<<<<<<<|")
          console.log(res.data)
          this.user = res.data.data

          console.log('>>>>>>>> Hey')
          console.log(this.user)

          this.form = this.user

        }).catch((error) => {

          console.log(">>>>>>>> Error User Info <<<<<<<<<<<<")
          console.log(error.response)

          if (error.response.status == 401) {
            this.$toast.info('Votre session a expirée')
            User.logout()
          }

        }).finally(() => {
          this.$loading(false)
        });
      }

      userInfo()

    },
    addCookiesDatas(){
      
      axios
      .get("api/add-cookies")
      .then(res => {
          console.log('res cookies')
          console.log(res)
      })
      .catch(error => {
          console.log('error cookies')
          console.log(error)
      })

    }
  },
  created() {
    if (User.loggIn()) {
      this.$router.push({ name: "Accueil" });
    }
  },
  mounted(){
    this.form.username =  AppStorage.getUser() != null ? AppStorage.getUser() : ""
  }
};  
</script>

<style scoped>
.content {
  padding: 0px 60px 0px 60px !important;
}
</style>
