<template>
  <div class="content">
    <div class="sub-content">
      <section class="breadcrumb line-top">
        <a @click="$router.push({ name: 'Accueil' })" style="cursor: pointer"
          >Accueil</a
        ><span>S'inscrire</span>
      </section>

      <h4 class="section-title marginbottom">INSCRIPTION</h4>

      <section class="section-ad-right">
        <div class="grd-item">
          <div class="grid">
            <div class="content-form-member">
              <form
                class="bloc-search"
                id="blocSearch"
                @submit.prevent="register"
              >
                <div class="form-member-item">
                  <label>Nom*</label>
                  <input
                    v-model="form.lastname"
                    type="text"
                    name="nom"
                    placeholder="Nom"
                    required=""
                  />

                  <small
                    class="text-error"
                    v-if="
                      this.errors &&
                      typeof this.errors != 'undefined' &&
                      this.errors.lastname
                    "
                  >
                    {{ this.errors.lastname }}
                  </small>
                </div>
                <div class="form-member-item">
                  <label>Prénom*</label>
                  <input
                    v-model="form.firstname"
                    type="text"
                    name="prenom"
                    placeholder="Prénom"
                    required=""
                  />

                  <small
                    class="text-error"
                    v-if="
                      this.errors &&
                      typeof this.errors != 'undefined' &&
                      this.errors.firstname
                    "
                  >
                    {{ this.errors.firstname }}
                  </small>
                </div>
                <div class="form-member-item">
                  <label>Email*</label>
                  <input
                    v-model="form.username"
                    type="email"
                    name="email"
                    placeholder="Email"
                    required=""
                  />

                  <small
                    class="text-error"
                    v-if="
                      this.errors &&
                      typeof this.errors != 'undefined' &&
                      this.errors.username
                    "
                  >
                    {{ this.errors.username }}
                  </small>
                </div>
                <div class="form-member-item" id="my-app">
                  <label>Téléphone*</label>
                  <div class="clearBoth"></div>
                  <div class="form-member-2item1">
                    <mycountries
                      v-model="form.dial_code"
                      :code="225"
                    ></mycountries>
                  </div>
                  <div class="form-member-  item">
                    <input
                      v-model="form.phone_number"
                      type="tel"
                      name="num_cell"
                      pattern="[0-9]+"
                      placeholder="Téléphone"
                      required=""
                      onkeyup="verif_nombre(this);"
                    />
                  </div>
                </div>
                <small
                  class="text-error"
                  v-if="
                    this.errors &&
                    typeof this.errors != 'undefined' &&
                    this.errors.numero
                  "
                >
                  {{ this.errors.numero }}
                </small>

                <!--onclick="focusMethod()"-->
                <div class="form-member-item" id="alertPw">
                  <label>Mot de passe*</label>
                  <input
                    v-model="form.password"
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Mot de passe"
                    required=""
                  />

                  <small
                    class="text-error"
                    v-if="
                      this.errors &&
                      typeof this.errors != 'undefined' &&
                      this.errors.password
                    "
                  >
                    {{ this.errors.password }}
                  </small>
                </div>

                <div class="form-member-item">
                  <label>Répéter mot de passe*</label>
                  <input
                    v-model="form.password_confirmation"
                    type="password"
                    name="repassword"
                    placeholder="Répéter mot de passe"
                    required=""
                  />

                  <small
                  class="text-error"
                  v-if="
                    this.errors &&
                    /*typeof this.errors != 'undefined' &&*/
                    this.errors.password_confirmation
                  "
                >
                  {{ this.errors.password_confirmation }}
                </small>
                </div>
                <div class="form-member-item space-check">
                  <input type="checkbox" id="checkbox_1" required="" />
                  <label for="checkbox_1"></label>
                  <!--<input class="checkCGU" type="checkbox" name="checkCGU" required>-->
                  J’accepte les
                  <a href="#">conditions générales d’utilisation</a> du compte
                  et des services du compte Abidjan.net
                </div>

                <div class="form-member-item">
                  <input
                    type="hidden"
                    name="full_url_page"
                    value="https://abidjan.net/register"
                  />
                  <input
                    type="submit"
                    name="member-sub"
                    value="S'inscrire"
                    class="btnSub"
                  />
                </div>
              </form>
            </div>

            <div class="RowLinkMember margTop50">
              <span>Déjà membre ?</span>
              <a href="#" @click="$router.push('/se-connecter')"
                >Connectez-vous</a
              >
            </div>
          </div>
        </div>
        <aside>
          <div class="in">
            <!-- SECTION BANNER HORIZ -->
            <section class="section-ads-center">
              <div class="grd-item">
                <a
                  href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
                  target="_blank"
                  class="pub-label"
                  >PUBLICITÉ
                  <svg
                    class="svg-inline--fa fa-info-circle fa-w-16"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="info-circle"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
                    ></path></svg
                  ><!-- <i class="fas fa-info-circle"></i> --></a
                >
                <!-- /2760456/Abidjan_net_news_articles_ATF_right_300x600 -->
                  <div id="div-gpt-ad-1469168400553-2" style="">
                    <dfp-slot-right path="/2760456/Abidjan_net_news_articles_ATF_right_300x600" :size="[[300,600]]" id="div-gpt-ad-3238677-2"/>
                  </div>
                <!-- End AdSlot 2 -->
              </div>
            </section>
          </div>
        </aside>
      </section>
    </div>
  </div>
</template>

<script>
import DfpSlotRight from "../components/tools/DfpSlotRight.vue"
import AppStorage from '../utils/AppStorage';

export default {
  metaInfo: {
    title: "Inscription",
    titleTemplate: "%s | Cuisine.abidjan.net",
    htmlAttrs: {
      lang: "fr-FR",
    },
    meta: [
      { charset: "utf-8" },
      {
        name: "description",
        content: "Cuisine, Recettes, Retaurants, Restaurants",
      },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
    ],
  },
  data() {
    return {
      form: {
        firstname: "",
        lastname: "",
        dial_code: "",
        phone_number: "",
        username: "", // correspond a email
        dial_code: "",
        password: "",
        password_confirmation: "",
        country_code: "",
      },
      errors: null,
    };
  },
  methods: {
    register() {
      if (this.form.password != this.form.password_confirmation) {
        console.log(">>>>>>>>>>>>>>Password Confirmation <<<<<<<<<<<");
        this.errors = {
          password_confirmation: "Les mots de passe ne concordent pas",
        };
        console.log(this.errors);
        return null;
      }

      const registerUser = async () => {
        this.$loading(true);

        axios
          .post("/auth/sign-up", this.form)
          .then((res) => {
            
            console.log(">>>>>>>>>>>Register ");
            console.log(res);

            if (res.status == 200 && res.data.status_code == 201) {

              //TODO store data on AppStorage
              this.$toast.success(
                "La création de votre compte à été éffectué"
              );

              AppStorage.storeUser(this.form.username)
              this.$router.push({ name: "Login" });

            } else if (res.status == 200 && res.data.status_code == 422) {

              console.log(">>>>>>>>>>>Manage Error 1");
              this.errors = res.data.errors;
              console.log(this.errors);

            } else if (res.status == 200 && res.data.status_code == 1062) {
              
              this.$toast.infor("Le Compte existe déja");

            }
          })
          .catch((error) => {
            console.log(error.response);

            this.$toast.error("Oops ❌ ! Une erreur est survenue");
            // console.log(error.response)
            // alert(error.response)

            // console.log(error.response.data.errors)
            // console.log(typeof(error.response.data.errors))

            // var str = error.response.data.errors

            // this.errors = str
            // console.log(this.errors)
            // this.errors = error.response
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      registerUser();
    },
    onSelect({ name, iso2, dialCode }) {
      console.log(name, iso2, dialCode);
      this.form.dial_code = dialCode;
      this.form.country_code = iso2;
    },
    created() {
      if (User.loggIn()) {
        this.$router.push({ name: "Home" });
      }
    },
  },
  components : {
    DfpSlotRight
  }
};
</script>

<style scoped>
.dial_code {
  height: 100%;
  padding: 1rem;
}

.vue-country-select .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.1em !important;
  position: relative;
  cursor: pointer;
}

.numero {
  display: flex;
  justify-content: start;
}

.text-error {
  color: red;
  margin-top: 8px !important;
  margin-bottom: 15px;
  margin-left: 5px;
}

main {
  height: 100vh;
}

.content {
  padding: 0px 60px 0px 60px !important;
}
</style>
