<template>
  <div>
    <!-- <section> begin ============================-->
    <section class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card card-span mb-3 shadow-lg">
              <div class="card-body py-0">
                <div class="row justify-content-center">
                  <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1">
                    <img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-end rounded-md-top-0"
                      src="_themes/assets/img/gallery/pizza.png" alt="..." />
                  </div>
                  <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                    <h1 class="card-title mt-xl-5 mb-4">
                      Tu veux manger chaud et
                      <span class="text-primary">Pizza épicée ?
                      </span>
                    </h1>
                    <p class="fs-1">
                      Associez-vous à un ami et dégustez la pizza chaude et croustillante
                      saute. Essayez-le avec les meilleures offres
                    </p>
                    <div class="d-grid bottom-0">
                      <a class="btn btn-lg btn-primary mt-xl-6" @click="$router.push({ name: 'Restaurants' })">Voir
                        nos
                        restaurants <i class="fas fa-chevron-right ms-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <section class="pb-5 pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card card-span mb-3 shadow-lg">
              <div class="card-body py-0">
                <div class="row justify-content-center">
                  <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1">
                    <img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-end rounded-md-top-0"
                      src="_themes/assets/img/gallery/crispy-sandwiches.png" alt="..." />
                  </div>
                  <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                    <h1 class="card-title mt-xl-5 mb-4">
                      Meilleures affaires
                      <span class="text-primary">Comment faire un Sandwichs croustillants</span>
                    </h1>
                    <p class="fs-1">
                      Profitez de cours de grande qualité. Complétez votre repas
                      avec la tranche de sandwich parfaite.
                    </p>
                    <div class="d-grid bottom-0">
                      <a class="btn btn-lg btn-primary mt-xl-6" @click="$router.push({ name: 'CookingCourse' })">Suivre le
                        cours<i class="fas fa-chevron-right ms-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->
    </section>
    <!-- <section> begin ============================-->
    <section class="py-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card card-span mb-3 shadow-lg">
              <div class="card-body py-0">
                <div class="row justify-content-center">
                  <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-md-0">
                    <img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-start rounded-md-top-0"
                      src="_themes/assets/img/gallery/fried-chicken.png" alt="..." />
                  </div>
                  <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                    <h1 class="card-title mt-xl-5 mb-4">
                      Célébrez le festival du
                      <span class="text-primary">Poulet frit (2000 F) </span>
                    </h1>
                    <p class="fs-1">
                      Obtenez le meilleur poulet frit enduit d'un claquement de lèvres
                      saveur piment citronné. Découvrez les meilleures offres pour frites
                      poulet
                    </p>
                    <div class="d-grid bottom-0">
                      <a class="btn btn-lg btn-primary mt-xl-6" @click="$router.push({ name: 'CookingEvent' })">
                        Acheter Ticket
                        <i class="fas fa-chevron-right ms-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
h1 {
  font-size: 1.5rem;
}

.fs-1 {
  font-size: 0.9rem !important;
}
</style>
