<template>
  <div  v-if="recipes_data.length >= 1" class="sub-content">
      
    <div class="grd-item">
        <!-- GPT AdSlot 1 for Ad unit 'Abidjan_net_news_articles_ATF_top_970x90' ### Size: [[1000,200],[970,90],[728,90],[468,60],[320,50]] -->
        <slot name="pub_top">
            <!-- <dfp-slot path="/2760456/Abidjan_net_news_articles_ATF_top_970x90"
             :size="[[1000,200]]" id="div-gpt-ad-3238677-1"/> -->
        </slot>
        <!-- End AdSlot 1 -->
    </div>

    <div class="grd-item">
      <div class="mt-7">
          <!-- <h5 class="lh-sm section-title">Recettes Publiées Récemment</h5> -->
          <h5 class="section_titre">A la Une</h5>

      </div>    
      <div class="videos">
          <NewCardItem v-for="(item, index) in recipes_data" :recipe_data="item" :key="item.id" v-if="index < 4" />
      </div>
    </div>

  </div>
</template>

<script>
import NewCardItem from "./NewCardItem.vue";
import PopularRecipeItem from "./PopularRecipeItem"
import SpotLightResto from './SpotLightResto.vue'
import SpotLightRecipe from './SpotLightRecipe.vue'
import DfpSlot from "../../../tools/DfpSlot.vue";

export default {
  props: ['recipes_data'],
  components: { PopularRecipeItem, SpotLightResto, SpotLightRecipe, NewCardItem, DfpSlot }
};
</script>

<style scoped>

.section_titre{
    font-size: 30px;
    color: #000;
    color: #D21D3A;
    color: #101010;
    font-weight: 700;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;   
}

.author-img {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    padding: 4px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.author-img__wrapper {
    position: relative;
    flex-shrink: 0;
}

.author-img__wrapper svg {
    width: 16px;
    padding: 2px;
    background-color: #fff;
    color: #0daabc;
    border-radius: 50%;
    border: 2px solid #0daabc;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.author-name {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
}

.author-info {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.author-detail {
    margin-left: 16px;
}

.seperate {
    width: 3px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 6px;
}

.seperate.video-seperate {
    background-color: var(--body-color);
}

.videos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

@media screen and (max-width: 980px) {
    .videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

.video {
    position: relative;
    /* background-color: var(--video-bg); */
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
    border: 1px solid #f1f1f1 !important;
}

.video-wrapper {
    position: relative;
}

.video-name {
    color: #fff;
    font-size: 16px;
    line-height: 1.4em;
    padding: 12px 20px 0;
    overflow: hidden;
    /* background-color: var(--video-bg); */
    z-index: 9;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #6F8595;
    font-weight: 800;
}

.video-view {
    font-size: 12px;
    padding: 12px 20px 20px;
    /* background-color: var(--video-bg); */
    position: relative;
}

.video-by {
    transition: 0.3s;
    padding: 20px 20px 0px;
    display: inline-flex;
    position: relative;
}

.video-by:before {
    content: "";
    background-color: #22b07d;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 26px;
    right: 5px;
}

.video-by.offline:before {
    background-color: #ff7551;
}

.video-time {
    position: absolute;
    background: rgba(21, 13, 13, 0.44);
    color: rgba(255, 255, 255, 0.85);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 6px;
    top: 10px;
    z-index: 1;
    right: 8px;
}

.video:hover video {
    transform: scale(1.6);
    transform-origin: center;
}

.video:hover .video-time {
    display: none;
}

.video:hover .video-author {
    bottom: -65px;
    transform: scale(0.6);
    right: -3px;
    z-index: 10;
}

.video:hover .video-by {
    opacity: 0;
}

.video-author {
    position: absolute;
    right: 10px;
    transition: 0.4s;
    bottom: -25px;
}

.video-author svg {
    background-color: #0aa0f7;
    color: #fff;
    border-color: var(--video-bg);
}

video {
    max-width: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: block;
    cursor: pointer;
    transition: 0.4s;
}

.stream-area {
    display: none;
}

@media screen and (max-width: 940px) {
    .stream-area {
        flex-direction: column;
    }

    .stream-area .video-stream {
        width: 100%;
    }

    .stream-area .chat-stream {
        margin-left: 0;
        margin-top: 30px;
    }

    .stream-area .video-js.vjs-fluid {
        min-height: 250px;
    }

    .stream-area .msg__content {
        max-width: 100%;
    }
}

.show .stream-area {
    display: flex;
}

.show .main-header,
.show .main-blogs,
.show .small-header,
.show .videos {
    display: none;
}

.video-stream {
    width: 65%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: 0.3s;
}

.video-stream:hover .video-js .vjs-big-play-button {
    opacity: 1;
}

.video-p {
    margin-right: 12px;
    -o-object-fit: cover;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
}

.video-p .author-img {
    border: 0;
}

.video-p-wrapper {
    display: flex;
    align-items: center;
}

.video-p-wrapper .author-img {
    border: 0;
}

.video-p-wrapper svg {
    width: 20px;
    padding: 4px;
}

@media screen and (max-width: 650px) {
    .video-p-wrapper {
        flex-direction: column;
    }

    .video-p-wrapper .button-wrapper {
        margin: 20px auto 0;
    }

    .video-p-wrapper .video-p-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-p-wrapper .video-p {
        margin-right: 0;
    }
}

.video-p-sub {
    font-size: 12px;
}

.video-p-title {
    font-size: 24px;
    color: #fff;
    line-height: 1.4em;
    margin: 16px 0 20px;
}

.video-p-subtitle {
    font-size: 14px;
    line-height: 1.5em;
    max-width: 60ch;
}

.video-p-subtitle+.video-p-subtitle {
    margin-top: 16px;
}

.video-p-name {
    margin-bottom: 8px;
    color: #fff;
    display: flex;
    align-items: center;
}

.video-p-name:after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #22b07d;
    border-radius: 50%;
    margin-left: 8px;
    display: inline-block;
}

.video-p-name.offline:after {
    background-color: #ff7551;
}

.video-content {
    width: 100%;
}

.button-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.like {
    display: flex;
    align-items: center;
    background-color: var(--button-bg);
    color: #fff;
    border: 0;
    font-family: var(--body-font);
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

.like.red {
    background-color: #ea5f5f;
}

.like svg {
    width: 18px;
    flex-shrink: 0;
    margin-right: 10px;
    padding: 0;
}

.like+.like {
    margin-left: 16px;
}

.video-stats {
    margin-left: 30px;
}

.video-detail {
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.divider{
    margin-bottom: 50px;
}
</style>