<template>
  <div class="sub-content">
    <section class="overflow-hidden">
      <div class="row flex-start">
        <div class="col-lg-7">
          <h5
            class="fw-bold lh-sm text-center text-lg-start lh-sm section_titre"
          >
            Catégories
          </h5>
        </div>

        <!-- <div class="mt-7 mb-5">
            <h5 class="lh-sm section-title">Recettes Populaire</h5>
          </div> -->

        <div class="col-lg-4 text-lg-end text-center">
          <a
            class="btn btn-lg text-800 me-2"
            href="#"
            role="button"
            v-show="false"
          >
            Tous
            <i class="fas fa-chevron-right ms-2"></i
          ></a>
        </div>

        <div class="col-lg-auto position-relative btn-slider">
          <button
            class="carousel-control-prev s-icon-prev carousel-icon"
            type="button"
            data-bs-target="#carouselSearchByFood"
            data-bs-slide="prev"
            v-if="currentPage >= 1"
            @click="paginate(currentPage - 1)"
          >
            <span
              class="carousel-control-prev-icon hover-top-shadow"
              aria-hidden="true"
            ></span
            ><span class="visually-hidden">Previous</span>
          </button>

          <button
            class="carousel-control-next s-icon-next carousel-icon"
            type="button"
            data-bs-target="#carouselSearchByFood"
            data-bs-slide="next"
            v-if="currentPage != pagesCount"
            @click="paginate(currentPage + 1)"
          >
            <span
              class="carousel-control-next-icon hover-top-shadow"
              aria-hidden="true"
            ></span
            ><span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="row flex-center">
        <div class="col-12">
          <div
            class="carousel slide"
            id="carouselSearchByFood"
            data-bs-touch="false"
            data-bs-interval="false"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div
                  class="row h-100 align-items-center"
                  v-if="recipeTypes == null && paginationData == null"
                >
                  <div class="dish_container">
                    <RecipeTypeItem
                      v-for="(item, index) in recipe_types_data"
                      :recipe_type_data="item"
                      :key="item.id"
                    />
                  </div>
                </div>

                <div class="row h-100 align-items-center" v-else>
                  <div class="dish_container">
                    <RecipeTypeItem
                      v-for="(item, index) in recipeTypes"
                      :recipe_type_data="item"
                      :key="item.id"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="divider"></div>
  </div>
</template>

<script>
import axios from "axios";
import RecipeTypeItem from "./RecipeTypeListItem.vue";

export default {
  props: ["recipe_types_data", "pagination_data"],
  data() {
    return {
      position: 1,
      recipeTypes: null,
      takedElmts: 5,
      position: 0,
      currentPage: 1,
      pagesCount: null,
      form: {
        per_page: 5,
        page: 1,
      },
      paginationData: null,
    };
  },
  components: {
    RecipeTypeItem,
  },
  methods: {
    paginate(page) {
      this.form.page = page;

      console.log(this.form);

      axios
        .post("/get-recipe_types", this.form)
        .then((res) => {
          this.recipeTypes = res.data.data;
          this.paginationData = res.data.pagination;

          this.currentPage = this.paginationData.current_page;
          this.pagesCount = this.paginationData.pages_count;

          console.log(res);
        })
        .catch((error) => {
          console.log(error);
        });
    }
  },
  created() {},
};
</script>

<style scoped>
.section_titre {
  font-size: 30px;
  color: #000;
  color: #d21d3a;
  color: #101010;
  font-weight: 700;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 11;
}

.dish_container{
  display: flex;
  justify-content: start;
  gap:3%;
}

@media screen and (max-width: 810px) {
  .position-relative {
    display: none !important;
    position: relative;
  }
  
  .btn-slider{
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .position-relative {
    padding: 10px;
    position: relative;
  }
  
  .btn-slider{
    padding: 5%;
  }
}

@media screen and (max-width: 640px) {
  .dish_container {
      display: flex;
      flex-direction: column;
      gap : 30px;
  }
  .tags_container {
      /* display: flex; */
      justify-content: start;
      align-items: center;
      gap: 12px;
  }
}

</style>
