<template>
  <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
    <a
      @click="
        $router.push({ name: 'RecipeDetails', params: { id: recipe_data.id } })
      "
    >
      <div class="card card-span h-100 text-white rounded-3 img_height">
        <img
          class="img-fluid rounded-3 h-100"
          :src="recipe_data.imageUrl"
          :alt="recipe_data.imageUrl"
        />

        <div class="card-img-overlay ps-0">
          <span class="badge bg-danger p-2 ms-3"
            ><i class="fas fa-tag me-2 fs-0"></i>
            <span class="fs-0">
              {{
                recipe_data.level != null &&
                typeof recipe_data.level != "undefined"
                  ? recipe_data.level.name
                  : "Facile"
              }}
            </span>
          </span>
          <span class="badge bg-primary ms-2 me-1 p-2">
            <i class="fas fa-clock me-1 fs-0"></i
            ><span class="fs-0">{{ recipe_data.cooking }}</span>
          </span>
        </div>

        <div>
          <span class="badge bg-secondary ms-2 me-1 p-2 mt-2">
            <i class="fa-solid fa-scale-balanced"></i>
            <span class="fs-0">{{
              recipe_data.budget != null &&
              typeof recipe_data.budget != "undefined"
                ? recipe_data.budget.name
                : "Abordable"
            }}</span>
          </span>
        </div>

        <div class="card-body ps-0">
          <div class="d-flex align-items-center mb-3">
            <!-- <img class="img-fluid" :src="recipe_data.imageUrl" alt="" /> -->
            <div class="flex-1 ms-3">
              <h5 class="mb-0 fw-bold text-1000">{{ recipe_data.name }}</h5>

              <p class="my-2 text-start">
                {{ recipe_data.description | strLimit(150) }}
              </p>

              <span class="text-primary fs--4 me-1"
                ><i class="fas fa-heart"></i></span
              ><span class="mb-0 text-primary">
                {{
                  recipe_data.like != null &&
                  typeof recipe_data.like != "undefined"
                    ? recipe_data.like.length
                    : "0"
                }}
              </span>
            </div>
          </div>
          <span class="badge bg-soft-danger p-2">
            <span class="fw-bold fs-1 text-danger">
              {{
                recipe_data.recipeType != null &&
                typeof recipe_data.recipeType != "undefined"
                  ? recipe_data.recipeType.name
                  : ""
              }}
            </span>
          </span>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
export default {
  props: ["recipe_data"],
  data() {
    return {};
  },
};
</script>

<style scoped>
.img_height img {
  height: 15rem !important;
  width: 100% !important;
}
</style>
