<template>
  <div class="col-sm-6 col-md-3 col-xl h-100">
    <a
      @click="
        $router.push({ name: 'Category', params: { slug: recipe_type_data.slug } })
      "
      class="recipe_type_card"
    >
      <!--{{ recipe_type_data.imageUrl }} -->
      <div   class="h-100 rounded-circle recipe_category_image">
        <img
          class="img-fluid rounded-circle h-100"
          :src="recipe_type_data.image_url"
          @error="replaceByDefault"
        />
        <!-- @error="replaceByDefault" -->
        <h5
        class="
          recipe__type_text
          badge
          bg-danger
          fw-bold
          text-1000 text-truncate
          mb-2
          p-2
        "
      >
        {{ recipe_type_data.name }}
      </h5>

      </div>
    </a>
  </div>
</template>

<script>
export default {
  props: ["recipe_type_data"],
  methods: {
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
  updated() {
    this.replaceByDefault();
  },
};
</script>

<style scoped>

img {
  height: 7rem !important;
  width: 58% !important;
  border: 0.5px solid gray;
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
}

.recipe_category_image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.recipe_category_image img{
  object-fit: cover;
}

@media (min-width:600px) and (max-width:920px){
  img{
    height: 6rem !important;
    width: 63% !important;
    border: 0.5px solid gray;
    box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
  }

  .section-ad-right {
    /* display: flex; */
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: 500px) {
  img{
    height: 7rem !important;
    width: 29% !important;
    border: 0.5px solid gray;
    box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
  }

  .section-ad-right {
    /* display: flex; */
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: 414px) {
  img{  
      height: 7rem !important;
      width: 39% !important;
      border: 0.5px solid gray;
      box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
  }  

  .overflow-hidden {
    overflow: hidden !important;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 400px) {
  img{
    height: 6rem !important;
    width: 50% !important;
    border: 0.5px solid gray;
    box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
  }
  .section-ad-right {
      /* display: flex; */
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0px 0px 0px 0px;
  }
}

</style>

