<template>
	<section class="section-searchPJ">
	  <div id="app" class="section-searchPJ-in">
		<div class="searchPJContent">
		  <h1 class="display-1 fs-md-5"> 
			<slot name="resto_name">
				{{ restaurant_data?.name }}
			</slot>
		  </h1>
  
		  <slot name="title">
			<h2>Plus de {{ dishes_data?.length }} Plats à decouvrir </h2>
		  </slot>
  
		  <form
			novalidate="novalidate"
			method="get"
			action="pages-jaunes/rechercher"
		  >
			<div class="searchFormContent">
			  <div class="searchFormFrst">
				<input
				  type="text"
				  name="search"
				  v-model="keyword"
				  placeholder="Rechercher ..."
				  data-min-length="1"
				  list="searchs"
				  required="required"
				  class="inputSearch"
				/>
				<datalist id="searchs"></datalist>
			  </div>
  
			  <input
				type="submit"
				name="searchPJ"
				value=""
				class="searchPJ-Btn"
				@click.prevent="SearchRecipe"
			  />
			  <div class="clearBoth"></div>
			</div>
		  </form>
		  <!-- <BannerSearchResult :search_result_data="foundedItems"/> -->
		</div>
	  </div>
	</section>
  </template>
  
<script>  
  export default {
	props:['restaurant_data', 'dishes_data'],
	components: { 
	//   BannerSearchResult, 
	  // BannerSearchResult 
	},
	data() {
	  return {
		foundedItems: null,
		keyword: "",
		allRecipe : null
	  };
	},
	methods: {
	  SearchRecipe() {
		const searchRecipeByName = async () => {
		  axios
			.get(`get-recipe-by-name/${this.keyword}`)
			.then((res) => {
			  console.log("Search Result >>>");
			  console.log(res);
			  this.foundedItems = res.data.data;
			})
			.catch((error) => {
			  console.log("Error");
			  console.log(error.response);
			});
		};
  
		if (this.keyword == "") {
		  this.foundedItems = null;
		} else {
		  searchRecipeByName();
		}
	  },
	  getAllRecipes() {
  
		  const allRecipe = async () => {
  
			  await axios.get('/get-recipes-count').then((res)=>{
				console.log("all recipe >>>>>>>>");
				console.log(res)
  
				/*   if(res.data.data.status_code == 200 && res.status == 200){
					  this.allRecipe = res.data.data.length
				  } */
  
			  }).catch(error => {
  
				  console.log('Error get All Recipe >>>>>>>>')
			  })
		  }
  
		  allRecipe()
	  },
	  created(){
		this.getAllRecipes()
	  },
	  mounted(){
		this.getAllRecipes()
	  }
	},
  };
  </script>
<style>
  .content {
	flex-grow: 1;
	display: flex;
	height: 85%;
  }
  
  .tool {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
  }
  
  .contenuFormulaireOverlay > div {
	max-height: 200px !important;
	/* overflow-y: auto;
	overflow-x: hidden;*/
  }
  
  .autocomplete * {
	box-sizing: border-box;
  }
  
  * {
	box-sizing: border-box;
  }
  .autocomplete {
	display: flex;
	/*justify-content: center;*/
	height: 100%;
	width: 100%;
	overflow-x: 0;
	overflow-y: 0;
	overflow: true;
	position: relative;
	/* display: inline-block; */
	overflow: visible;
	width: 100%;
	z-index: 199;
  }
  input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 1em;
  }
  input[type="text"] {
	width: 100%;
  }
  .autocomplete-items {
	display: flex;
	flex-direction: column;
	max-height: 11rem;
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	overflow: auto;
	overscroll-behavior-x: auto;
	width: 95%;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	text-align: left;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 8%) !important;
  }
  
  .autocomplete-items div > span {
	color: #000;
	border-radius: 10px;
	cursor: pointer;
	padding: 5px;
	font-size: 12px;
  }
  
  .autocomplete-items div {
	cursor: pointer;
	background-color: #fff;
	padding: 10px;
  }
  .autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
  }
  .autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
  }
  
  .result {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffff;
	width: 100%;
  }
  
  .result li {
	color: red;
  }
  
  .section-searchPJ {
	/*background-image: url(https://www.abidjan.net/public/img/cover-searchPJ.jpg);*/
	background-image: url("../../../../../../public/images_banners/close-up-on-delicious-meal-preparation.jpg");
	display: block;
	height: 27rem;
	width: 100%;
	margin: 0;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	/*background-color: #000;*/
	overflow: hidden;
	margin-bottom: 25px;
	display: flex !important;
	flex-direction: column;
	justify-content: center !important;
  }
  .section-searchPJ img {
	/*background-image: url(https://www.abidjan.net/public/img/cover-searchPJ.jpg);*/
	width: 100%;
	vertical-align: middle;
	border-style: none;
	opacity: 0.7;
	position: relative;
  }
  .section-searchPJ .section-searchPJ-in {
	margin: 130px auto;
	width: 100%;
	position: absolute;
	top: 10%;
	z-index: 5;
	display: flex !important;
	flex-direction: column;
	justify-content: center !important;
  }
  .section-searchPJ .section-searchPJ-in .searchPJContent {
	width: 90%;
	max-width: 1200px;
	height: auto;
	margin: -100px auto;
	color: #fff;
  }
  .section-searchPJ .section-searchPJ-in .searchPJContent h1 {
	font-size: 32px;
	font-weight: lighter;
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 5;
	margin: 0;
	line-height: 32px;
	text-shadow: 1px 1px 4px #000;
  }
  .section-searchPJ .section-searchPJ-in .searchPJContent h2 {
	font-size: 28px;
	font-weight: lighter;
	margin-top: 20px;
	display: block;
	width: 100%;
	text-align: center;
	color: #ffec00;
	text-shadow: 1px 1px 4px #000;
  }
  .section-searchPJ .section-searchPJ-in .searchPJContent .searchFormContent {
	background-image: url(https://www.abidjan.net/public/img/1px-black-transp.png);
	background-repeat: repeat;
	width: 100%;
	padding: 20px 30px;
	display: block;
	border-radius: 50px;
  }
  .section-searchPJ .section-searchPJ-in .searchPJContent .searchFormFrst {
	float: left;
	width: 90%;
	height: auto;
	margin: 0 1% 0 0;
  }
  .section-searchPJ .section-searchPJ-in .searchPJContent .searchFormOnly {
	float: left;
	width: 90%;
	height: auto;
	margin: 0 1% 0 0;
  }
  
  @media only screen and (max-width: 726px) {
	.section-searchPJ .section-searchPJ-in .searchPJContent .searchFormOnly {
	  /*float: left;*/
	  width: 100%;
	  height: auto;
	  /*margin: 0 1% 0 0;*/
	  margin-bottom: 10px;
	}
  
	.section-searchPJ
	  .section-searchPJ-in
	  .searchPJContent
	  .searchFormContent
	  .searchPJ-Btn {
	  height: 60px !important;
	  width: 100% !important;
	}
  
	.section-searchPJ {
		height: 25rem !important;
	}
  }
  
  .section-searchPJ .section-searchPJ-in .searchPJContent .searchFormScnd {
	width: 45%;
	height: auto;
	float: left;
	margin-right: 0;
	margin: 0 1% 0 0;
  }
  .section-searchPJ .section-searchPJ-in .searchPJContent .inputSearch {
	background-color: #efefef;
	font-size: 20px;
	font-weight: bold;
	height: 60px;
	width: 100%;
	/*border: 1px solid #333;*/
	opacity: 1;
	margin: 0 !important;
	color: #333;
  }
  .section-searchPJ .section-searchPJ-in .searchPJContent .inputSearchOu {
	background-color: #efefef;
	font-size: 20px;
	font-weight: bold;
	height: 60px;
	width: 70%;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	margin: 0 !important;
	border-radius: 50px 0 0 50px;
	float: left;
	color: #333;
  }
  /*.section-searchPJ .section-searchPJ-in .searchPJContent .boxCheckNear{
	  background-color: #EFEFEF;
	  font-size: 15px;
	  color: #101010;
	  font-weight: bold;
	  height: 60px;
	  width: 25%;
	  border-top: 1px solid #333;
	  border-right: 1px solid #333;
	  border-bottom: 1px solid #333;
	  border-left: 0;
	  margin: 0 !important;
	  border-radius: 0px 50px 50px 0px;
	  float: left;
	  vertical-align: middle;
	  line-height: 60px;
	  padding-left: 10px;
  }
  .section-searchPJ .section-searchPJ-in .searchPJContent .boxCheckNear .checkBoxNear{
	  width: 25px;
	  height: 25px;
	  padding: 0px;
	  border-radius: 4px;
	  cursor: pointer;
	  background-color: #EFEFEF;
	  border: 1px solid #333;
	  margin: 18px 6px 0 0;
  }*/
  /************BEGIN CHECKBOX PJ************/
  .boxCheckNear {
	background-color: #efefef;
	font-size: 15px;
	color: #101010;
	font-weight: bold;
	height: 60px;
	width: 30%;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 0;
	margin: 0 !important;
	border-radius: 0px 50px 50px 0px;
	float: left;
	vertical-align: middle;
	line-height: 55px;
	padding-left: 10px;
  }
  .boxCheckNear .boxCheckNearLabel {
	/*display: block;*/
	position: relative;
	/*padding-left: 35px;
		  margin-bottom: 12px;*/
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  .boxCheckNear .boxCheckNearLabel .txLabel {
	margin-left: 30px;
	vertical-align: middle;
  }
  /* Hide the browser's default checkbox */
  .boxCheckNear .boxCheckNearLabel input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  /* Create a custom checkbox */
  .CheckNear {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #efefef;
	border: 1px solid #4d4d4d;
  }
  /* On mouse-over, add a grey background color */
  .boxCheckNear .boxCheckNearLabel:hover input ~ .CheckNear {
	background-color: #ffec00;
  }
  /* When the checkbox is checked, add a blue background */
  .boxCheckNear .boxCheckNearLabel input:checked ~ .CheckNear {
	background-color: #ffec00;
  }
  /* Create the CheckNear/indicator (hidden when not checked) */
  .CheckNear:after {
	content: "";
	position: absolute;
	display: none;
  }
  /* Show the CheckNear when checked */
  .boxCheckNear .boxCheckNearLabel input:checked ~ .CheckNear:after {
	display: block;
  }
  /* Style the CheckNear/indicator */
  .boxCheckNear .boxCheckNearLabel .CheckNear:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid #4d4d4d;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  .boxCheckNear .boxCheckNearLabel .backColorRed:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid #fff;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  /************END CHECKBOX PJ************/
  
  /************BEGIN SEARCH PJ SUBMIT************/
  .section-searchPJ
	.section-searchPJ-in
	.searchPJContent
	.searchFormContent
	.searchPJ-Btn {
	background: transparent
	  url("https://media-files.abidjan.net/public/img/ui/search.svg") no-repeat
	  center center;
	background-color: #ffec00;
	height: 60px;
	width: 8%;
	padding: 0 0 10px 0;
  }
  .section-searchPJ
	.section-searchPJ-in
	.searchPJContent
	.searchFormContent
	.searchPJ-Btn:hover {
	background: transparent
	  url("https://media-files.abidjan.net/public/img/ui/search-white.svg")
	  no-repeat center center;
	background-color: #d21d3a;
  }
  
  .section-searchPJ
	.section-searchPJ-in
	.searchPJContent
	.searchFormContent
	.icSrchWhite {
	background: transparent
	  url("https://media-files.abidjan.net/public/img/ui/search-white.svg")
	  no-repeat center center !important;
	background-color: #d21d3a !important;
	height: 60px;
	width: 8%;
	padding: 0 0 10px 0;
  }
  .section-searchPJ
	.section-searchPJ-in
	.searchPJContent
	.searchFormContent
	.icSrchWhite:hover {
	background: transparent
	  url("https://media-files.abidjan.net/public/img/ui/search.svg") no-repeat
	  center center !important;
	background-color: #d21d3a !important;
  }
  
  /************END SEARCH PJ SUBMIT************/
  
  .pj {
	color: #ffb800 !important;
	border-bottom: 0 !important;
  }
  .cat.marginbottom.pj {
	color: #ffb800 !important;
	text-transform: uppercase;
	font-family: "PNCnBlack", serif;
	font-weight: normal;
	font-size: 25px;
	line-height: 30px;
  }
  .cat-color-default {
	color: #d21d3a !important;
	border-bottom: 0 !important;
  }
  .ebloc-mini picture i {
	position: relative;
	color: #ccc;
	font-size: 75px;
  }
  .ebloc-mini:hover picture i {
	position: relative;
	color: #d21d3a;
	font-size: 75px;
  }
  .breadcrumb {
	padding-left: 0 !important;
	padding-right: 10px !important;
  }
  /************BEGIN BOX LINSTING PJ************/
  .list-box-row {
	width: 100%;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 15px;
	margin-bottom: 15px;
	clear: both;
	display: block;
	transition: all 0.5s;
  }
  .list-box-row:hover {
	width: 100%;
	border: 1px solid #efefef;
	padding-bottom: 15px;
	margin-bottom: 15px;
	clear: both;
	display: block;
	/*background-color: #EFEFEF;*/
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
	transition: all 0.5s ease;
  }
  .list-box-row picture {
	width: 25%;
	float: left;
	display: block;
	/*min-height: 198px;*/
	box-shadow: 1px 1px 4px #eee;
  }
  .list-box-row picture img {
	width: 100%;
	border: 0;
  }
  .list-box-row .list-box-content {
	width: 75%;
	float: left;
	display: block;
	padding: 10px 10px 10px 20px;
	position: relative;
  }
  .list-box-row .list-box-content .list-badge-info {
	position: absolute;
	top: 8px;
	right: 0;
  }
  .stars-size {
	text-align: right;
	margin: 0 10px 0 0 !important;
	font-size: 16px !important;
  }
  .list-box-cat {
	font-weight: 800;
	font-size: 14px;
	font-family: "PNCnBlack", serif;
	color: #ffb800;
	text-transform: uppercase;
	margin-bottom: 10px;
	float: left;
  }
  .list-box-scat {
	font-weight: 800;
	font-size: 14px;
	font-family: "PNReg", serif;
	color: #7f7f7f;
	margin-top: 10px;
	float: left;
	display: block;
	clear: both;
  }
  .banner-profil-name .list-box-scat {
	font-size: 16px;
  }
  .list-box-status {
	font-size: 14px;
	font-family: "PNBold", serif;
	font-weight: normal;
	color: #5ac8ad;
	margin: 0 12px 0 0;
	float: right;
  }
  .status-off {
	color: #ff8c60 !important;
  }
  .banner-profil-name .list-box-status {
	font-size: 14px;
	font-family: "PNBold", serif;
	font-weight: normal;
	color: #5ac8ad;
	margin: 10px 0 0 0;
	float: left;
	display: block;
	clear: both;
  }
  .list-box-title {
	font-family: "PNBold", serif;
	font-weight: normal;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 23px;
	color: #101010;
	display: block;
  }
  .list-box-subtitle {
	font-size: 16px;
	font-family: "PNReg", serif;
	font-weight: normal;
	color: #7f7f7f;
	margin: 0 10px 0 0;
	float: left;
	display: block;
  }
  .list-box-txt {
	font-size: 14px;
	font-family: "PNReg", serif;
	font-weight: normal;
	color: #7f7f7f;
	margin: 0 10px 0 0;
	float: left;
	display: block;
	margin-top: 10px;
	clear: both;
  }
  .list-box-row-btn {
	width: 100%;
	margin-top: 30px;
	clear: both;
	display: block;
  }
  .list-box-row-btn .list-box-row-btn {
	width: 100%;
	margin-top: 15px;
	clear: both;
	display: block;
  }
  
  .list-box-btn {
	font-family: "PNBold", serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 14px;
	color: #666;
	display: inline-block;
	padding: 8px 18px;
	border: 1px solid #666;
	border-radius: 50px;
	float: right;
	margin-left: 10px;
	transition: all 0.3s;
  }
  .list-box-btn:hover {
	color: #fff;
	background-color: #d21d3a;
	border: 1px solid #d21d3a;
	transition: all 0.3s ease;
  }
  .list-box-btn.phone {
	color: #101010 !important;
	background-color: #efefef !important;
	border: 1px solid #e2e2e2 !important;
	float: left !important;
	margin: 0 5px 5px 0;
  }
  .list-box-btn.phone:hover {
	color: #fff;
	background-color: #d21d3a;
	border: 1px solid #d21d3a;
	transition: all 0.3s ease;
  }
  /*************END BOX LINSTING PJ*************/
  
  /*************BEGIN BANNER PROFIL************/
  .banner-profil {
	width: 100%;
	min-height: 320px;
	display: block;
	clear: both;
	margin: 0 auto 30px auto;
	max-width: 1200px;
	border-bottom: 1px solid #ebebeb;
  }
  .banner-profil .banner-profil-cover {
	width: 100%;
	display: block;
	clear: both;
	max-height: 200px;
	overflow: hidden;
  }
  .banner-profil .banner-profil-cover img {
	width: 100%;
	vertical-align: middle;
	border-style: none;
	position: relative;
  }
  .banner-profil .banner-profil-title {
	width: 100%;
	min-height: 120px;
	display: block;
	clear: both;
	padding: 12px 24px 16px 16px;
  }
  .banner-profil .banner-profil-title .banner-profil-logo {
	width: 15%;
	float: left;
	height: 0;
  }
  .banner-profil .banner-profil-title .banner-profil-logo img {
	width: 100%;
	transform: translateY(-50%);
	border: 2px solid #fff;
	box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, 0.15),
	  0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
	background-color: #fff;
  }
  .banner-profil .banner-profil-title .banner-profil-name {
	width: 45%;
	float: left;
	margin-left: 17%;
  }
  .banner-profil .banner-profil-title .banner-profil-right {
	width: 37%;
	float: right;
  }
  .section-title-pj {
	font-family: "PNCnBlack", serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	width: auto;
	display: inline-block;
	padding-bottom: 6px;
	margin: 0;
	color: #ffb800;
	border-bottom: 6px solid #ffb800;
  }
  .in-section-title {
	font-family: "PNReg", serif;
	font-weight: normal;
	font-size: 26px;
	line-height: 26px;
	display: block;
	clear: both;
	margin: 0 0 30px 0;
	width: 100%;
  }
  .in-section-title-white {
	font-family: "PNReg", serif;
	font-weight: normal;
	font-size: 26px;
	line-height: 26px;
	color: #fff;
	display: block;
	clear: both;
	margin: 0 0 20px 0;
	width: 100%;
  }
  
  @media only screen and (max-width: 726px){
	.section-searchPJ {
		height: 35rem !important;
	}
  }
</style>
	