<template>
  <div
    class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 resto_item"
    @click="
      $router.push({
        name: 'RestaurantDetails',
        params: { slug: restaurant_data.slug },
      })
      "
      v-if="restaurant_data.owner.checkSubscriptionTime == true"
      >  
      <!-- v-if="restaurant_data.owner.checkSubscriptionTime == true"  -->
      <!-- v-if="restaurant_data.owner.checkSubscriptionTime == true"  -->
    <!-- <pre>
      ok : {{ restaurant_data }}
    </pre> -->
    
    <article id="card" class="card">
      <figure class="card-image">
        <img :src="restaurant_data.imageUrl" alt="" @error="replaceByDefault" />
      </figure>

      <div class="card-content">
        <div class="card-header">
          <h2>{{ restaurant_data.name }}</h2>

          <address>
            <span
              class="icon-pin"
              aria-hidden="true"
              style="color: #d21d3a"
            ></span>
            {{ restaurant_data.city }}
          </address>

          <span> {{ restaurant_data.description | strLimit(50)  }}</span>
        </div>

        <!--
            <ul class="card-stats">
              <li>
                <span class="icon-chat" aria-hidden="true"></span>
                <strong></strong>
                reviews
              </li>
      
              <li>
                <span class="icon-camera" aria-hidden="true"></span>
                <strong>165</strong>
                photos
              </li>
      
              <li>
                <span class="icon-audio" aria-hidden="true"></span>
                <strong>205</strong>
                dishes
              </li>
            </ul> 
        -->

        <button
          class="card-button"
          @click="
            $router.push({
              name: 'RestaurantDetails',
              params: { slug: restaurant.slug },
            })
          "
        >
          Voir
        </button>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  props: ["restaurant_data"],
  methods : {
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    }
  }
};
</script>


<style scoped>
.card {
  position: relative;
  padding-bottom: 1.3125em;
  color: #424242;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 8px 11px 5px -5px rgb(0 0 0 / 8%) !important;
  margin-bottom: 10%;
  height: 21.875rem;
}
.card-image {
  border-radius: 0.3125em 0.3125em 0 0;
  margin: 0;
  overflow: hidden;
  height: 10rem;
}
.card-image img {
  display: block;
  width: 100%;
}
.card-content {
  padding: 1.3125em;
}
.card-header {
  padding-bottom: 1.3125em;
  text-align: center;
}
.card-header h2 {
  margin-top: 0;
}
.card-header address {
  margin-bottom: 1em;
  font-style: normal;
}
.card-header address .icon-pin {
  color: #d77bfc;
}
.card-header span {
  font-size: 0.8em;
}
.card-header + .card-stats {
  border-top: 1px solid #f2f2f2;
}
.card-stats {
  padding-top: 1.3125em;
  padding-left: 0;
  margin: 0;
  text-align: center;
}
.card-stats li {
  display: inline-block;
  margin: 0 1em;
  font-size: 0.75em;
  vertical-align: middle;
}
.card-stats [class^="icon-"] {
  display: block;
  margin: 0 auto;
  color: #aaa;
  font-size: 2em;
}
.card-stats strong {
  display: block;
  font-size: 2.5em;
  margin: 0.3em 0 0.1em;
}
.card-button {
  position: absolute;
  bottom: -1.3125em;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  padding: 0.75em 3em;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  white-space: nowrap;
  background-image: linear-gradient(to right, #d21d3a 0%, #d21d3a 100%);
  border-radius: 1.5em;
  box-shadow: 0 0.5em 1em 0 rgba(187, 187, 187, 0.2);
  cursor: pointer;
}
.card-button:hover,
.card-button:focus {
  background: #f2f2f2;
  color: #d21d3a;
}
.card-button:active {
  background: #d21d3a;
}

body {
  background-image: radial-gradient(bottom center, #eddaf1, #f5e8f7);
  background-color: #f5e8f7;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}
.form label {
  font-size: 1;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}
.form input {
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.icon-pin {
  color: inherit;
  font-size: 1em;
  position: relative;
  display: inline-block;
  margin-left: 0.33333em;
  margin-top: 0.16666em;
  width: 1em;
  height: 1em;
  border: solid 0.08333em currentColor;
  border-radius: 0.58333em 0.58333em 0.58333em 0;
  background-color: currentColor;
  transform: rotate(-45deg);
}

.icon-pin:before {
  content: "";
  position: absolute;
  left: 0.25em;
  top: 0.25em;
  width: 0.33333em;
  height: 0.33333em;
  color: white;
  border: solid 0.08333em currentColor;
  border-radius: 0.25em;
  background-color: currentColor;
}

.icon-chat {
  color: inherit;
  font-size: 1em;
  position: relative;
  display: inline-block;
  margin-left: 0.2em;
  margin-top: 0.4em;
  width: 1.5em;
  height: 1em;
  border: solid 0.1em currentColor;
  border-radius: 0.2em;
}

.icon-chat:before {
  content: "";
  position: absolute;
  left: 0.3em;
  top: 0.8em;
  width: 0.4em;
  height: 0.4em;
  background-color: white;
  border-bottom: solid 0.1em currentColor;
  border-right: solid 0.1em currentColor;
  transform: rotate(45deg);
}

.icon-camera {
  color: inherit;
  font-size: 1em;
  position: relative;
  display: inline-block;
  margin-left: 0.2em;
  margin-top: 0.5em;
  width: 1.6em;
  height: 1em;
  border-radius: 0.1em;
  border: solid 0.1em currentColor;
}

.icon-camera:before {
  content: "";
  position: absolute;
  left: 0.5em;
  top: 0.2em;
  width: 0.4em;
  height: 0.4em;
  border-radius: 0.3em;
  border: solid 0.1em currentColor;
}

.icon-camera:after {
  content: "";
  position: absolute;
  right: 0.2em;
  top: -0.2em;
  width: 0.4em;
  height: 0.1em;
  border-radius: 0.1em 0.1em 0 0;
  background-color: currentColor;
}

.icon-audio {
  color: inherit;
  font-size: 1em;
  position: relative;
  display: inline-block;
  margin-left: 0.5em;
  margin-top: 0.8em;
  width: 0.9em;
  height: 0.7em;
  border-left: solid 0.1em currentColor;
  border-right: solid 0.1em currentColor;
  border-bottom: solid 0.1em currentColor;
  border-radius: 0 0 50% 50%;
}

.icon-audio:before {
  content: "";
  position: absolute;
  left: 0.1em;
  top: -0.6em;
  width: 0.5em;
  height: 1em;
  border: solid 0.1em currentColor;
  border-radius: 0.4em;
}

.icon-audio:after {
  content: "";
  position: absolute;
  left: 0.4em;
  bottom: -0.4em;
  width: 0.1em;
  height: 0.4em;
  background-color: currentColor;
}

.resto_item {
  margin-bottom: 3rem !important;
}

</style>