<template>
  <div class="w-100">
    <div class="pricing-table-wrapper">
      <div class="float-right">
        <a class="cta" @click="cancelSubscription"> Retour </a>
      </div>

      <ul class="pricing-table">
        <li class="pricing-table__item" v-for="item in subscriptionFormulas" :key="item.id">
         <!--  <img
            src="https://css-tricks.ir/wp-content/themes/css-tricks-ir-1396/images/products/packages/1.svg"
            alt=""
            class="pricing-table__img"
          /> -->
          <h3 class="pricing-table__title text-uppercase">{{ item.title }}</h3>
          <p class="pricing-table__description">
            <span class="pricing-table__tagline">
              Profiter de notre PACK {{ item.title }}
            </span>
            <span class="pricing-table__price">{{ item.price | formatAmount }} F</span>
            <!-- <span class="pricing-table__label">{{  parseInt(item.price) +  (parseInt(item.price) * 30) / 100   }} F est le prix réel </span>
            <span class="pricing-table__save">Vous économisez {{  (parseInt(item.price) * 30) / 100 }} F</span> -->
          </p>
          <ul class="pricing-table__products">
           <!--  <li class="pricing-table__product">
              
              <a href="#" v-if="item.duration== 'year'">
                Visible pendant {{ item.unit == null || item.unit== "" ? "1" : item.unit }} ans
              </a>
              
              <a href="#" v-if="item.duration== 'month'">
                Visible pendant {{ item.unit }} mois
              </a>

              <a href="#" v-if="item.duration== 'day'">
                Visible pendant {{ item.unit }} jours
              </a>

            </li> -->
            <li class="pricing-table__product"  v-for="avantage in item.avantages?.split(',')" :key="avantage.id">
              <a href="#"> 
                  {{ avantage }}
              </a>
            </li>
          </ul>
          <a class="pricing-table__button" @click.prevent="subscribe(item.id)">
            Continuer
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      subscriptionFormulas: [],
      currentSubscriptioin: null,
    };
  },
  methods: {
    getSubscriptionFormulas() {
      const subscriptionFormulasReq = async () => {
        await this.$axios
          .get("get-subscription_formulas")
          .then((res) => {
            this.subscriptionFormulas = res.data.data.reverse();
            console.log("Formulas");
            console.log(res.data);
          })
          .catch((error) => {
            console.log("error subscription formula");
            console.log(error.response);
          })
          .finally();
      };

      subscriptionFormulasReq();
    },
    subscribe(id) {
      this.$axios.post(`api/subscribe/${id}`).then( (res) => {
        console.log(res)

        if(res.data.status_code == 200 && res.status == 200){

            console.log({            
                subscription : res.data.data.subscription,
                transaction : res.data.data.transaction,
                subscriber : res.data.data.subscription.subscriber
            })

            let transaction = res.data.data.transaction
            let subscription = res.data.data.subscription
            let subscriber = res.data.data.subscription.subscriber

            let montant = transaction.amount
            let reference = transaction.reference
            let user_firstname = subscriber["0"].firstname
            let user_lastname = subscriber["0"].lastname
            let user_email = subscriber["0"].email
            let phoneNumber = subscriber["0"].phoneNumber
            let raison = `Subscription au Pack ${subscription.title} Abjcuisine`

            console.log(
              {
                montant : montant,
                reference : reference,
                user_firstname : user_firstname,
                user_lastname : user_lastname,
                user_email : user_email,
                phoneNumber : phoneNumber,
                raison : raison
              }
            )

            if(typeof montant != "undefined" && montant != null && reference != null && typeof reference != "undefined"){
              window.location = `https://pay.apaym.com/paiementabidjannet/m=${montant}/i=225/t=${phoneNumber}/n=${user_firstname}/p=${user_lastname}/e=${user_email}/r=${raison}/k=${reference}/l=1`          
            }
            // this.$toast.success("Suscription éffectuée")

            this.EventBus.$emit("changed_subscription")
        }

      })
      .catch((error) =>{

          console.log(
            {
              error: error,
              errorMessage:error?.message, 
              errorDetails : error?.response
            }
          )

      })
    },
    cancelSubscription(){
      this.EventBus.$emit("cancel_subscription")
    }
  },
  created() {
    this.getSubscriptionFormulas();
  },
};
</script>

<style lang="css" scoped>

.float-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4%;
}

body {
  background-color: #eee;
  padding: 3rem 1rem;
}

.pricing-table-wrapper {
  max-width: 71rem;
  margin: 0 auto;
  padding: 1rem 10px;
  border-radius: 20px;
  /*box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.08);*/
}

.pricing-table {
  --pricing-table-color: hsl(219, 83%, 57%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  grid-gap: 2em;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.pricing-table__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2em;
  border-radius: 1.5em;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1),
    transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
}
.pricing-table__item:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
}
.pricing-table__item--popular {
  position: relative;
}
.pricing-table__item--popular::before {
  position: absolute;
  content: attr(data-popular);
  top: 2em;
  right: 2em;
  font-size: 0.9em;
  padding: 0 1em;
  background-color: #9ea0a3;
  border-radius: 1em;
  color: #282824;
}
.pricing-table__img {
  margin: 2.5em auto 4em;
  width: 100%;
  max-width: 9.3em;
}
.pricing-table__title {
  margin: 0;
  font-size: 1.7em;
  text-transform: capitalize;
}
.pricing-table__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}
.pricing-table__tagline {
  margin: 0;
  color: #9ea0a3;
  text-align: center;
}
.pricing-table__price {
  color: #D21D3A;
  font-size: 2.5em;
  margin: 1em auto 0;
  font-weight: bold;
}
.pricing-table__label {
  margin: 0;
  color: #9ea0a3;
  font-size: 0.9em;
}
.pricing-table__save {
  font-weight: bold;
}
.pricing-table__products {
  margin: 1.87em 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing-table__product {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.pricing-table__product a {
  width: 100%;
  font-size: 100%;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}
.pricing-table__product a:hover {
  color: #D21D3A;
  color: gray;
}
.pricing-table__product::before {
  content: " ";
  width: 0.5em;
  height: 0.5em;
  -webkit-margin-end: 1em;
  margin-inline-end: 1em;
  border-radius: 50%;
  background-color: var(--pricing-table-color);
}
.pricing-table__product--excluded::before {
  content: " ";
  width: 0.5em;
  height: 0.5em;
  -webkit-margin-end: 1em;
  margin-inline-end: 1em;
  border-radius: 0;
  color: #d21d3a;
  background: no-repeat
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20' id='entypo-cross' width='32' height='32' fill='hsl(4, 90%, 58%)'%3E%3Cg%3E%3Cpath d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z'/%3E%3C/g%3E%3C/svg%3E")
    center/contain;
  transform: scale(2.5);
}
.pricing-table__button {
  background: #d21d3a;
  color: #fff;
  margin-top: auto;
  padding: 1em 2em;
  text-decoration: none;
  width: 100%;
  border-radius: 1.87em;
  text-align: center;
  transition: background 0.2s ease-in-out;
  text-transform: capitalize;
}
.pricing-table__button:hover {
  color: #d21d3a;
  background-color: #fff;
  border: solid 1px #d21d3a;
}
</style>
