<template>
  <div class="pricing-table-wrapper">
    <!-- <div class="float-right">
      <a class="cta" @click="cancelSubscription"> Retour </a>
    </div> -->

    <ul class="pricing-table">
      <li class="pricing-table__item">
        <!--    <img
          src="https://css-tricks.ir/wp-content/themes/css-tricks-ir-1396/images/products/packages/1.svg"
          alt=""
          class="pricing-table__img"
        /> -->
        <h3 class="pricing-table__title text-uppercase">
          {{
            current_subscription?.title != null &&
            typeof current_subscription?.title
              ? current_subscription?.title
              : "Gratuit"
          }}
        </h3>
        <p class="pricing-table__description mb-3">
          <span class="pricing-table__tagline">
            Profiter de notre PACK
            {{
              current_subscription?.title != null
                ? current_subscription?.title
                : "Gratuit"
            }}
          </span>

          <span
            class="pricing-table__price"
            v-if="current_subscription?.price != null"
          >
            {{ current_subscription?.price | formatAmount }} F
          </span>
          <span class="pricing-table__price" v-else> 0 F </span>
        </p>

        <ul class="pricing-table__products">
          
          <li
            class="pricing-table__product"
            v-for="avantage in currentSubscription?.avantages?.split(',')"
            :key="avantage.id"
          >
            <a href="#">
              {{ avantage }}
            </a>
          </li>
        </ul>
        <a
          v-if="current_subscription?.id != null"
          class="pricing-table__button"
          @click.prevent="changeSubscription"
          >Renouveller</a
        >
        <!-- @click.prevent="subscribe(currentSubscriptioin?.id)" -->

        <a
          v-else
          class="pricing-table__button"
          @click.prevent="changeSubscription"
          >Changer de formule</a
        >
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["current_subscription"],
  data() {
    return {
      currentSubscription: null,
    };
  },
  methods: {
    changeSubscription() {
      this.EventBus.$emit("change_subscription");
    },
    cancelSubscription() {
      this.EventBus.$emit("cancel_subscription");
    },
    getSubscriptionFormulas() {
      const subscriptionFormulasReq = async () => {
        await this.$axios
          .get("get-subscription_formulas")
          .then((res) => {

            let formule = res.data.data.find((el) => {
              if (el.slug == "free") {
                return true;
              }
            });
            
            this.currentSubscription = formule;

          })
          .catch((error) => {
            console.log("error subscription formula");
            console.log(error.response);
          })
          .finally();
      };

      subscriptionFormulasReq();
    }
  },
  created() {
    if (this.$props.current_subscription == null) {
      this.getSubscriptionFormulas();
    } else {
      // eslint-disable-next-line vue/no-mutating-props, no-self-assign
      this.current_subscription = this.current_subscription;
      console.log(this.current_subscription);
    }
  },
  mounted(){
    // if (this.$props.current_subscription == null) {
      // this.getSubscriptionFormulas();
    // } else {
      // this.current_subscription = this.current_subscription;
      // console.log(this.current_subscription);
    // }
  }
};
</script>

<style lang="css" scoped>
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.float-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4%;
}

body {
  background-color: #eee;
  padding: 3rem 1rem;
}

.pricing-table-wrapper {
  max-width: 71rem;
  margin: 0 auto;
  padding: 1rem 10px;
  border-radius: 20px;
  /*box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.08);*/
}

.pricing-table {
  --pricing-table-color: hsl(219, 83%, 57%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  grid-gap: 2em;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.pricing-table__item {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2em;
  border-radius: 1.5em;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1),
    transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
}
.pricing-table__item:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
}
.pricing-table__item--popular {
  position: relative;
}
.pricing-table__item--popular::before {
  position: absolute;
  content: attr(data-popular);
  top: 2em;
  right: 2em;
  font-size: 0.9em;
  padding: 0 1em;
  background-color: #9ea0a3;
  border-radius: 1em;
  color: #282824;
}
.pricing-table__img {
  margin: 2.5em auto 4em;
  width: 100%;
  max-width: 9.3em;
}
.pricing-table__title {
  margin: 0;
  font-size: 1.7em;
  text-transform: capitalize;
}
.pricing-table__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.pricing-table__tagline {
  margin: 0;
  color: #9ea0a3;
  text-align: center;
}
.pricing-table__price {
  color: #d21d3a;
  font-size: 2.5em;
  margin: 1em auto 0;
  font-weight: bold;
}
.pricing-table__label {
  margin: 0;
  color: #9ea0a3;
  font-size: 0.9em;
}
.pricing-table__save {
  font-weight: bold;
}
.pricing-table__products {
  margin: 1.87em 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing-table__product {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.pricing-table__product a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.pricing-table__product::before {
  content: " ";
  width: 0.5em;
  height: 0.5em;
  -webkit-margin-end: 1em;
  margin-inline-end: 1em;
  border-radius: 50%;
  background-color: var(--pricing-table-color);
}
.pricing-table__product--excluded::before {
  content: " ";
  width: 0.5em;
  height: 0.5em;
  -webkit-margin-end: 1em;
  margin-inline-end: 1em;
  border-radius: 0;
  color: D21D3A;
  background: no-repeat
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20' id='entypo-cross' width='32' height='32' fill='hsl(4, 90%, 58%)'%3E%3Cg%3E%3Cpath d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z'/%3E%3C/g%3E%3C/svg%3E")
    center/contain;
  transform: scale(2.5);
}
.pricing-table__button {
  background: #d21d3a;
  color: #fff;
  margin-top: auto;
  padding: 1em 2em;
  text-decoration: none;
  width: 100%;
  border-radius: 1.87em;
  text-align: center;
  transition: background 0.2s ease-in-out;
  text-transform: capitalize;
}
.pricing-table__button:hover {
  color: #d21d3a;
  background-color: #fff;
  border: solid 1px #d21d3a;
}
</style>
