<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}{% endblock %}
    </title>
    <meta charset="utf-8">
    {# <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" /> #}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="_themes/assets/css/theme.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://media-files.abidjan.net/public/css/scd-main.css">
    <link rel="stylesheet" href="https://media-files.abidjan.net/public/css/main-devices.css">
    <link rel="stylesheet" href="https://media-files.abidjan.net/public/css/main-devices.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" />
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" src="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    {# 
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"> 
    #}

    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
      <script src="_themes/vendors/is/is.min.js"></script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features= window.scroll"></script>
      <script src="_themes/vendors/fontawesome/all.min.js"></script>
      <script src="_themes/assets/js/theme.js"></script>
      {# <script src="https://media-files.abidjan.net/public/js/ui.js"></script> #}
      <script>  
            document.addEventListener('DOMContentLoaded', function() {

            //Login Register
            const loginButton  = document.getElementById("seconnecter_btn")
            const registerButton = document.getElementById("creercompte_btn")
  
            loginButton.addEventListener("click", (e)=>{                
              EventBus.$emit("login_event")
            })
          
            registerButton.addEventListener("click", (e)=>{
              EventBus.$emit("register_event")
            })

            const myAccount = document.getElementById("moncompte_btn")
            const deconnexion = document.getElementById("deconnexion_btn")

            myAccount.addEventListener("click", ()=>{
                EventBus.$emit("my_account_event")
            })

            deconnexion.addEventListener("click", ()=>{
                EventBus.$emit("deconnexion")
            })

            var header = document.querySelector('header')
            var menu = document.querySelector('header nav.menu')

            EventBus.$on("check_nav", ()=>{
              checkNav()
            })

            checkNav()
            scroll()
            photos()
            search()
            menuxs()
        
            /*$("a").each(function () {
                if (this.href.indexOf('https://beta-business.abidjan.net') != -1) {
                    this.href = this.href.replace('https://beta-business.abidjan.net', 'https://business.abidjan.net');
                } else if (this.href.indexOf('https://beta-news.abidjan.net') != -1) {
                    this.href = this.href.replace('https://beta-news.abidjan.net', 'https://news.abidjan.net');
                }else if (this.href.indexOf('https://beta.abidjan.net') != -1) {
                    this.href = this.href.replace('https://beta.abidjan.net', 'https://www.abidjan.net');
                }else if (this.href.indexOf('https://beta-necrologie.abidjan.net') != -1) {
                    this.href = this.href.replace('https://beta-necrologie.abidjan.net', 'https://necrologie.abidjan.net');
                }else if (this.href.indexOf('https://beta-sports.abidjan.net') != -1) {
                    this.href = this.href.replace('https://beta-sports.abidjan.net', 'https://sports.abidjan.net');
                }
            });
            $("link").each(function () {
                if (this.href.indexOf('/public') != -1) {
                    this.href = this.href.replace('/public', 'https://beta-news.abidjan.net/public');
                }
            });*/
        
            // Search
            // _____________________________
        
            function search() {
        
              searchBtn = document.getElementById('btnSearch')
              searchBloc = document.getElementById('blocSearch')
        
              searchBtn.addEventListener('click', function(e) {
        
                e.preventDefault()
        
                if (searchBtn.classList.contains('on')) {
        
                  searchBloc.classList.remove('show')
                  searchBtn.classList.remove('on')
        
                } else {
        
                  searchBloc.classList.add('show')
                  searchBtn.classList.add('on')
        
                  searchBloc.querySelector('input').focus()
        
                }
        
              })
        
            }

            function checkNav(){
              const moncompte = document.getElementById("moncompte")
              const deconnexion = document.getElementById("deconnexion")

              const loginLi  = document.getElementById("seconnecter")
              const registerLi = document.getElementById("creercompte")
              
              if(User.loggIn()){

                moncompte.style.display="block";
                deconnexion.style.display="block";

              
                loginLi.style.display="none";
                registerLi.style.display="none";

              }else{

                moncompte.style.display="none";
                deconnexion.style.display="none";

              }
            }

            // Menu Mobile
            // _____________________________
        
            function menuxs() {
        
              menuburger = document.querySelector('.menu-xs')
        
              menuburger.addEventListener('click', function() {
        
                if (menuburger.classList.contains('on')) {
        
                  menu.classList.remove('show')
                  menuburger.classList.remove('on')
        
                } else {
        
                  menu.classList.add('show')
                  menuburger.classList.add('on')
        
                }
        
              })
        
              if(isXS()||isSM()) {
        
                var links = document.querySelectorAll('header nav.menu span > a')
                Array.prototype.forEach.call(links, function(link, i) {
                  // console.log(i)
                  link.addEventListener('click', function(e){
                    e.preventDefault()
                    let parent = link.parentNode
                    if (parent.classList.contains('on')) {
                      parent.classList.remove('on')
                    } else {
                      parent.classList.add('on')
                    }
                  })
                })
        
              }
        
            }

            // On affiche le mini-header au scroll
            // ________________________________________
        
            function scroll() {
              document.body.onscroll = function() {
        
                st = window.pageYOffset | document.body.scrollTop
        
                mini = (st>50) ? header.classList.add('mini') : header.classList.remove('mini')
        
              }
            }
        
            // Affichage de toutes les photos (page Article)
            // ____________________________________________________
        
            function photos() {
        
              if (document.getElementById('allPhotos')) {
        
                btn = document.getElementById('btnPhotos')
                all = document.getElementById('allPhotos')
        
                btn.addEventListener('click', function(e) {
        
                  e.preventDefault()
                  all.classList.add('show')
        
                })
        
                all.addEventListener('click', function(e) {
        
                  all.classList.remove('show')
        
                })
        
              }
        
            }
        
            // Fonctions responsive
            // ____________________________________________________
        
            function isXS() {
        
              element = document.getElementById('chck-xs')
              retour =  element.currentStyle ? element.currentStyle.display : getComputedStyle(element, null).display
              return ( retour == 'block' )
        
            }
        
            function isSM() {
              element = document.getElementById('chck-sm')
              retour =  element.currentStyle ? element.currentStyle.display : getComputedStyle(element, null).display
              return ( retour == 'block' )
            }
          })

      </script>
    {% endblock %}

  </head>
  <body>
    {{ include('FrontOffice/partials/navbar.html.twig') }}
    {% block body %}{% endblock %}
    {{ include('FrontOffice/partials/footer.html.twig') }}
  </body>
</html>
