{% extends 'FrontOffice/base-front.html.twig' %}

{% block title %}
    Accueil - Cuisine 
{% endblock %}

{% block body %}
    {# <div class="content"> #}
    <div id="app"> 
        {% if path is defined  %}
            <AppHome :path_data="{{ path }}" />
        {% else %}
            <AppHome :path_data=""/>
        {% endif %}
    </div>
    {# </div> #}
{% endblock %}
