<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Réinitialisation mot de passe Annonces.bidjan.net</title>
  </head>

  <body>
    <table
      style="
        width: 100%;
        border-collapse: collapse;
        background-color: #f7f9fa;
        background-image: url();
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
        color: #5e656b;
      "
      cellpadding="0"
      cellspacing="0"
    >
      <tbody>
        <tr>
          <td align="center" style="word-break: break-word">
            <table
              style="
                width: 100%;
                max-width: 600px;
                border-collapse: collapse;
                border-spacing: 0;
                margin: 0 auto;
                background-color: #fff;
                margin-top: 20px;
              "
            >
              <tbody>
                <tr>
                  <td width="156" align="center" style="padding: 30px">
                    <div>
                      <a href="#" target="_blank">
                        <img
                          border="0"
                          src="https://media-files.abidjan.net/logos/logo.svg"
                          {# src="{{ asset('images/utils/logo-abj.svg') }}" #}
                          width="230"
                          height=""
                          alt="LastPass"
                          style="
                            font-family: Helvetica, Arial, sans-serif;
                            color: #5e656b;
                            font-size: 16px;
                          "
                        />
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              style="
                width: 600px;
                border-collapse: collapse;
                border-spacing: 0;
                margin: 0 auto;
                background-color: #ffffff;
              "
            >
              <tbody>
                <tr>
                  <td style="text-align: center">
                    <a href="#" target="_blank"
                      ><img
                        src="https://business.abidjan.net/public/img/cover-searchPJ.jpg"
                        alt=""
                        style="width: 60%; height: auto; margin: 10px auto"
                    /></a>
                    <div
                      class="a6S"
                      dir="ltr"
                      style="opacity: 0.01; left: 712px; top: 273px"
                    >
                      <div
                        id=":57"
                        class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                        role="button"
                        tabindex="0"
                        aria-label="Télécharger la pièce jointe "
                      >
                        <div class="aSK J-J5-Ji aYr"></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              style="
                width: 600px;
                border-collapse: collapse;
                border-spacing: 0;
                margin: 0 auto;
                padding: 0;
                background-color: #ffffff;
                background-image: url();
              "
              cellpadding="0"
              cellspacing="0"
            >
              <tbody>
                <tr>
                  <td>
                    <table style="width: 100%; border-collapse: collapse">
                      <tbody>
                        <tr>
                          <td style="padding: 15px" align="center">
                            <table
                              style="
                                border-collapse: collapse;
                                border-spacing: 0;
                                color: #5e656b;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="left"
                                    style="
                                      font-size: 26px;
                                      line-height: 30px;
                                      color: #1f2a34;
                                    "
                                  >
                                    Réinitialisation de mot de passe
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      padding: 30px 0 0 0;
                                      display: block;
                                      font-size: 16px;
                                      line-height: 24px;
                                    "
                                    class="m_665443110472732713text"
                                  >
                                    <p>
                                      Salut
                                      <br />
                                      Veuillez cliquer sur le lien ci-dessous
                                      afin de pouvoir réinitialiser votre mot de
                                      passe. Si vous avez reçu ce message par
                                      erreur, veuillez ne pas effectuer
                                      d'action.
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              style="
                display: table;
                width: 600px;
                border-collapse: collapse;
                border-spacing: 0;
                margin: 0 auto;
                padding: 0;
                background-color: #ffffff;
                background-image: url();
              "
              id="m_665443110472732713button292c00ed-548b-4951-8d25-95240b2e01d9"
              cellpadding="0"
              cellspacing="0"
            >
              <tbody>
                <tr>
                  <td style="padding: 15px 30px 60px 30px">
                    <center>
                      <table
                        class="m_665443110472732713button"
                        style="border-radius: 30px; background-color: #d21d3a"
                      >
                        <tbody>
                          <tr>
                            <td style="text-align: center">
                              <a
                                style="
                                  display: block;
                                  color: #fff;
                                  font-size: 16px;
                                  text-decoration: none;
                                  padding: 15px 30px;
                                  font-weight: bold;
                                "
                                href="{{ absolute_url(path('pwd_reset_page', {'id': user.id, 'token': user.token })) }}"
                                target="_blank"
                                >Réinitialiser</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </center>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              style="
                width: 600px;
                border-collapse: collapse;
                border-spacing: 0;
                margin: 0 auto;
                padding: 0;
                background-color: #ecf5fb;
                background-image: url();
              "
              cellpadding="0"
              cellspacing="0"
            >
              <tbody>
                <tr>
                  <td>
                    <table
                      style="
                        width: 100%;
                        border-collapse: collapse;
                        background-color: #fff;
                      "
                    >
                      <tbody>
                        <tr>
                          <td style="padding: 10px" align="center"></td>
                        </tr>
                        <tr>
                          <td style="padding: 5px" align="center">
                            <table
                              style="
                                border-collapse: collapse;
                                border-spacing: 0;
                                color: #5e656b;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    style="
                                      font-size: 18px;
                                      line-height: 30px;
                                      color: #1f2a34;
                                    "
                                  ></td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      padding: 5px 0 0 0;
                                      display: block;
                                      font-size: 16px;
                                      line-height: 24px;
                                    "
                                    class="m_665443110472732713text"
                                  >
                                    <br />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="height: 8px; background-color: #ffb800">&nbsp;</td>
        </tr>
        <tr>
          <td style="padding: 20px; background-color: #1e1e1e">
            <table
              align="center"
              style="
                width: 600px;
                border-collapse: collapse;
                color: #ffffff;
                font-size: 11px;
                line-height: 18px;
              "
            >
              <tbody>
                <tr>
                  <td
                    align="center"
                    style="
                      font-size: 11px;
                      line-height: 18px;
                      font-family: Arial, Helvetica, sans-serif;
                      color: #ffffff;
                    "
                  >
                    Copyright © 1998-2023 Weblogy Group Ltd. Tous droits
                    réservés
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
