<template>
  <div>
    <section class="section-ads-center">
      <div class="grd-item pub_item">
        <a
          href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
          target="_blank"
          class="pub-label"
          >PUBLICITÉ
          <svg
            class="svg-inline--fa fa-info-circle fa-w-16"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="info-circle"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
            ></path>
          </svg>
        </a>
        <dfp-slot
          path="/2760456/Abidjan_net_news_articles_ATF_top_970x90"
          :size="[
            [1000, 200],
            [970, 90],
            [728, 90],
            [468, 60],
            [320, 50],
          ]"
          id="div-gpt-ad-3238677-1"
        />
      </div>
    </section>

    <Banner :count_item="recipeCount" />
    
    <div class="sub-content">
      <DataResult v-if="searchResult != null" :search_result="searchResult" />

      <!-- Popular Recipe -->
      <PopularRecipe
        :recipes_data="popularRecipe"
        v-if="popularRecipe"
      ></PopularRecipe>
      <!-- Popular Recipe End -->

      <!-- Recipe Of Moment -->
      <recipeOfMoment :recipes_data="recipeOfMoment" />
      <!-- Recipe Of Moment End -->

      <!-- RecipeType -->
      <RecipeTypeList
        :recipe_types_data="recipeTypes"
        :pagination_data="paginationForRecipeList"
        v-if="recipeTypes"
      />
      <!-- RecipeType End -->

      <!-- Nos Recettes         -->
      <div>
        <slot name="section_title">
          <h5 class="section_titre">Nos Recettes</h5>
        </slot>

        <section class="section-ad-right">
          <recipe-list :recipes_data="recipes" v-if="recipes">
            <!-- <template v-slot:pagination> -->
            <div class="col-12 d-flex justify-content-center mt-2">
              <Pagination
                :pagination_data="pagination_accueil_datas"
                :action_name="'get_recipe_list_action'"
              />
            </div>
            <!-- </template> -->
          </recipe-list>

          <div class="grd-item">
            <a
              href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
              target="_blank"
              class="pub-label"
              >PUBLICITÉ <i class="fas fa-info-circle"></i
            ></a>

            <div>
              <dfp-slot
                path="/2760456/Abidjan_net_news_articles_ATF_right_300x600"
                :size="[[300, 600]]"
                id="div-gpt-ad-3238677-2"
              />
            </div>
          </div>

          <div class="col-12 d-flex justify-content-center mt-2">
            <Pagination
              :pagination_data="pagination_accueil_datas"
              :action_name="'get_recipe_list_action'"
            />
          </div>

          <div class="divider"></div>
        </section>
      </div>
      <!-- Nos Recettes End -->

      <!-- restaurant -->
      <restaurants-list
        :restaurants_data="restaurants"
        :pagination_datas="pagination_accueil_restaurant_datas"
        v-if="restaurants"
      >
        <template v-slot:pagination>
          <div class="col-12 d-flex justify-content-center">
            <Pagination
              :pagination_data="pagination_accueil_restaurant_datas"
              :action_name="'get_restaurant_list_action'"
            />
          </div>
        </template>
      </restaurants-list>

      <!-- restaurant End -->

      <!-- Course -->
      <CourseList :courses_data="courses" />
      <!-- Course End-->

      <!-- Event -->
      <CookingEventList :events_data="events" />
      <!-- Event End -->

      <!-- <NewCard :recipes_data="recipes" /> -->
      <!-- <HowToWork /> -->
      <!-- <CookingTricks :cooking_tricks_data="cookingTricks" /> -->
      <!-- <Divers /> -->

      <section class="section-ads-center">
        <div class="grd-item">
          <a
            href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
            target="_blank"
            class="pub-label"
            >PUBLICITÉ
            <svg
              class="svg-inline--fa fa-info-circle fa-w-16"
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="info-circle"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
              ></path>
            </svg>
          </a>
          <div
            id="div-gpt-ad-2877090-12"
            data-google-query-id="CLvemZX7jf4CFQ5s0wod_JYOjA"
          >
            <dfp-slot
              path="/2760456/Abidjan_net_news_articles_BTF_Bottom_970x90"
              :size="[
                [970, 90],
                [728, 90],
                [468, 60],
                [320, 50],
              ]"
              id="div-gpt-ad-3238677-3"
            />
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Banner from "./_partials/Banner.vue";
import PopularRecipe from "./_partials/PopularRecipe.vue";
import RecipeOfMoment from "./_partials/RecipeOfMoment.vue";
import RecipeList from "./_partials/RecipeList.vue";
import RecipeTypeList from "./_partials/RecipeTypeList.vue";
import RestaurantsList from "../restaurant/RestaurantsList.vue";
import CourseList from "../course/CourseList.vue";
import Pagination from "../../partials/Pagination.vue";
import CookingEventList from "../cookingEvent/CookingEventList.vue";
import DataResult from "./DataResult.vue";
import DfpSlot from "../../tools/DfpSlot.vue";
// import CookingTrickItem from "../cookingTricks/_partials/CookingTrickItem.vue";
// import Divers from "./_partials/Divers";
// import NewCard from "./_partials/NewCard.vue";
// import HowToWork from "./_partials/HowToWork";
// import DfpSlotRight from "../../tools/DfpSlotRight.vue";
// import TestComponent from "../../TestComponent.vue";
// import AppStorage from "../../../utils/AppStorage";
// import CookingTricks from "../cookingTricks/CookingTricks.vue"
// import RecipeNewCard from "../../partials/RecipeNewCard.vue"
// import User from "@/utils/User"

export default {
  name: "homePage",
  metaInfo: {
    title: "Accueil",
    titleTemplate: "%s | Cuisine.abidjan.net",
    htmlAttrs: {
      lang: "fr-FR",
    },
    meta: [
      { charset: "utf-8" },
      {
        name: "Accueil",
        content:
          "Cuisine, Recettes, Retaurants, Cours de Cuisine, Evenement,Culinaires, Astuces Culinaire, Plats, Repas, Desserts, Plat Principal",
      },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
      { name: "fb:app_id", content: "975566289205894" },
      { name: "fb:admins", content: "1545380076" },
      { property: "fb:admins", content: "100001634087458" },
      { property: "fb:admins", content: "1131457084" },
      { property: "fb:admins", content: "100001220619613" },
      { property: "fb:admins", content: "554264704" },
      { property: "fb:admins", content: "100001539469147" },
      { property: "fb:admins", content: "100011556188556" },
    ],
  },
  components: {
    Banner,
    PopularRecipe,
    RecipeList,
    RecipeTypeList,
    RecipeOfMoment,
    RestaurantsList,
    Pagination,
    CourseList,
    CookingEventList,
    DataResult,
    DfpSlot,
    // Divers,
    // NewCard,
    // CookingTrickItem,
    // HowToWork,
    // DfpSlotRight,
    // TestComponent
  },
  data() {
    return {
      recipes: null,
      recipeOfMoment: null,
      popularRecipe: null,
      recipeTypes: null,
      restaurants: null,
      pagination_accueil_datas: null,
      pagination_accueil_restaurant_datas: null,
      courses: null,
      cookingTricks: null,
      events: null,
      actionName: "get_recipe_list_action",
      recipeCount: null,
      searchResult: null,
      paginationForRecipeList: null,
    };
  },
  methods: {
    getRecipes() {
      let headers = {
        "Content-Type": "application/json",
      };

      const recipes = async () => {
        console.log(this.$axios);

        this.$loading(true);

        await this.$axios
          .post("get-recipes", {
            headers,
          })
          .then((res) => {
            console.log(">>>>>>>Recipe");
            // console.log(res);
            this.recipes = res.data.data;
            this.pagination_accueil_datas = res.data.pagination;
            this.recipeOfMoment = res.data.data?.slice(0, 4);

            console.log(this.recipeOfMoment);
          })
          .catch((error) => {
            console.log(">>>>>>> Error Recipes >>>>>>");
            console.log(error);
            // this.$toast.error("Une erreur est survenue");
            // User.logout()
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      recipes();
    },
    getRecipeType() {
      this.$loading(true);

      const recipeType = async () => {
        await this.$axios
          .post("get-recipe_types")
          .then((res) => {
            console.log(">>>>>>>RecipeType");
            console.log(res);
            this.recipeTypes = res.data.data;
            this.paginationForRecipeList = res.data.pagination;
          })
          .catch((error) => {
            console.log(">>>>>>> RecipeType Error <<<<<<");
            console.log(error.response);
          })
          .finally(this.$loading(false));
      };

      recipeType();
    },
    getRestaurants() {
      const restaurants = () => {
        this.$loading(true);

        this.$axios
          .post("get-restaurants")
          .then((res) => {
            console.log(">>>>>>>Resto Worked");
            console.log(res);

            if (res.status == 200 && res.data.status_code == 200) {
              this.restaurants = res.data.data;
              this.pagination_accueil_restaurant_datas = res.data.pagination;
            }
          })
          .catch((error) => {
            this.$toast.error("Oups, Une erreur est survenue ");
            console.log(error.response);
          })
          .finally(this.$loading(false));
      };

      restaurants();
    },
    getCourses() {
      const getCours = async () => {
        this.$loading(true);

        await this.$axios
          .get("get-courses")
          .then((res) => {
            console.log("Course >>>>>>>>>>>>>>>>>>>>>>>");
            if (res.status == 200 || res.data.status == 201) {
              this.courses = res.data.data;
              console.log(this.courses["0"]);
            }
          })
          .catch((err) => {
            console.log("Error Code");
            console.log(err.response);
          })
          .finally(this.$loading(false));
      };

      getCours();
    },
    getCookingTricks() {
      const cookingTrick = async () => {
        this.$axios
          .get("get-cooking_tricks")
          .then((res) => {
            console.log("Cooking Trick SUCCESS >>>");
            console.log(res);

            if (res.status == 200 && res.data.status_code == 200) {
              this.cookingTricks = res.data.data;
            }
          })
          .catch((error) => {
            console.log("Get Cooking Trick ERROR >>>");
            console.log(error.response);
          });
      };

      cookingTrick();
    },
    getEvents() {
      const CookingEvents = async () => {
        await this.$axios
          .get("get-cooking_events")
          .then((res) => {
            console.log("CookingEvent >>>>");
            console.log(res.data.data);
            this.events = res.data.data;
          })
          .catch((err) => {
            console.log("Error CookingEvent");
            console.log(err.response);
          });
      };
      CookingEvents();
    },
    getRecipeCount() {
      const getCountRecipe = async () => {
        await this.$axios
          .get("get-recipes-count")
          .then((res) => {
            console.log("Recipe Count >>>>");
            console.log(res);

            if (res.status == 200) {
              this.recipeCount = res.data.count;
            } else {
              this.$toast.error("Oups une erreur est survenue");
            }
          })
          .catch((error) => {
            console.log("Error recipe Count");
            console.log(error.response);
          });
      };

      getCountRecipe();
    },
    getRecipeIsSpotLigth() {
      const recipeIsSpotLight = async () => {
        await this.$axios
          .get("get-recipe-is-spotlight")
          .then((res) => {
            console.log("recipeIsSpotLight");
            console.log(res);

            this.popularRecipe = res.data.data;
          })
          .catch((error) => {
            console.log("IsSpotLigth Error");
            console.log(error);
          });
      };

      recipeIsSpotLight();
    },
    checkLoginStatus() {
      let user = this.AppStorage.getCookie("__ga__");
      let token = this.AppStorage.getCookie("__ga__");

      console.log("Check Cookies >>>>>>>>>>>>>>>>>>>>>>");
      console.log({
        user: user,
        token: token,
      });

      if (
        this.User.loggIn() == false &&
        token != null &&
        typeof token != "undefined"
      ) {
        this.$axios
          .get(`get-user-by-token/${token}`)
          .then((res) => {
            let tokenjwt = res.data?.token;
            let username = res.data?.username;

            if (tokenjwt != null && tokenjwt != undefined) {
              this.AppStorage.storeData(username, tokenjwt);
              this.EventBus.$emit("check_nav");
              this.EventBus.$emit("login");

              window.axios = require("axios");
              const JWTToken = `Bearer ${tokenjwt}`;

              window.axios.defaults.headers.common["X-Requested-With"] =
                "XMLHttpRequest";
              window.axios.defaults.headers.common["Authorization"] = JWTToken;

              // window.location.reload()
              // AppStorage.deleteCookie("token_abj")
            } else {
              return false;
            }
          })
          .catch((error) => {
            console.log("ERROR GET USER BY SESSION ID");
            console.log(error);
          });
      }
    },
  },
  created() {
    this.EventBus.$on("get_recipes_list", (data) => {
      console.log(data);
      this.recipes = data.data;
      this.pagination_accueil_datas = data.pagination;
    });

    this.EventBus.$on("get_restaurants_list", (data) => {
      console.log(data);
      this.restaurants = data.data;
      this.pagination_accueil_restaurant_datas = data.pagination;
    });

    this.EventBus.$on("send_result", (data) => {
      console.log("Bien recu resultat recherche >>>>");
      console.log(data);
      this.searchResult = data;
    });
  },
  beforeMount() {
    this.getRecipes();
    this.getRecipeType();
    this.getRestaurants();
    this.getCourses();
    this.getEvents();
    this.getRecipeCount();
    this.getRecipeIsSpotLigth();
    this.checkLoginStatus();
  },
};
</script>

<style scoped>
.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background: #ccc;
}
.h_iframe {
  position: relative;
}
.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}
.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pub_item {
  position: relative;
}
</style>
