<template>
  <div>

      <recipe-list :recipes_data="search_result" v-if="search_result">
        <template #section_title>
          <!-- <template v-slot:section_title> -->
          <h5 class="section_titre">
            Resultat de la recherche ({{ search_result.length }})
          </h5>
        </template>
  
      </recipe-list>
    
  </div>
</template>

<script>
import RecipeList from "./_partials/RecipeList.vue";

export default {
  components: { RecipeList },
  props: ["search_result"],
};
</script>


<style scoped>
</style>