<template>
    <div>
        <form @submit.prevent="submitRecipeForm" enctype="multipart/form-data">
            <div class="mt-4 input--connexion">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" v-model="form.name" id="name" placeholder="Titre de la Recette">
                        <input type="text" v-model="form.description" id="firstname"
                            placeholder="Une Description de cette Recette">

                        <div class="w-100 image__recipe">
                            <img :src="previewImage" class="uploading-image" />
                        </div>

                        <input type="file" accept="image/jpeg" @change=uploadImage>

                        <textarea v-if="codeIntegration" placeholder="Code d'integration youtube ou Vimeo"
                            name="code_integration" v-model="form.code_integration" id="code_integration">
                        </textarea>
                    </div>

                    <div class="col-md-4">
                        <textarea type="text" v-model="form.preparation_instructions" placeholder="Instructions">
                                      </textarea>

                        <textarea type="text" v-model="form.ingredients" v-if="!ingredients_tags"
                            placeholder="Liste des ingredients">
                                      </textarea>

                        <multiselect v-if="ingredients_tags" class="multi_sel sel_tags" v-model="form.ingredients"
                            tag-placeholder="Dedicacer des personnes" placeholder="Ajouter ingredients des tags,
                                                    (ex : 1kg riz, Un sac de tomate)" label="name" track-by="code"
                            :options="ingredients" @tag="addTagIngredients" :multiple="true" :taggable="true"
                            :showNoOptions="false" :close-on-select="false" selectLabel="Entrez pour choisir"
                            deselectLabel="Entrez pour retirer">
                        </multiselect>


                        <p class="p_temps my-3">Temps </p>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" v-model="form.cooking" id="name" placeholder="Préparation">
                            </div>
                            <div class="col-md-4">
                                <input type="text" v-model="form.marinade" id="name" placeholder="Marinade">
                            </div>
                            <div class="col-md-4">
                                <input type="text" v-model="form.cuisson" id="name" placeholder="Cuisson">
                            </div>
                        </div>

                        <input type="number" v-model="form.number_of_persons" id="name" placeholder="Nombre de Personne"
                            min="2">
                    </div>


                    <div class="col-md-4">
                        <multiselect class="multi_sel" v-model="form.recipe_type_id"
                            :options="recipe_types.map(rt => rt.id)" placeholder="Type De Recette" :show-labels="true"
                            selectLabel="Entrez pour choisir" deselectLabel="Entrez pour retirer" trackBy="id"
                            label="name" :value="form.recipe_type_id" :searchable="true"
                            :custom-label="opt => recipe_types.find(rt => rt.id == opt).name">
                        </multiselect>

                        <multiselect class="multi_sel" v-model="form.budget_id" :options="budgets.map(bg => bg.id)"
                            placeholder="Cout de la Recette" :show-labels="true" selectLabel="Entrez pour choisir"
                            deselectLabel="Entrez pour retirer" trackBy="id" label="name" :value="form.budget_id"
                            :searchable="true" :custom-label="opt => budgets.find(bg => bg.id == opt).name">
                        </multiselect>

                        <multiselect class="multi_sel" v-model="form.level_id" :options="levels.map(lv => lv.id)"
                            placeholder="Niveau de difficulte" :show-labels="true" selectLabel="Entrez pour choisir"
                            deselectLabel="Entrez pour retirer" trackBy="id" label="name" :value="form.level_id"
                            :searchable="true" :custom-label="opt => levels.find(lv => lv.id == opt).name">
                        </multiselect>

                        <multiselect class="multi_sel sel_tags" v-model="form.dedicace"
                            tag-placeholder="Dedicacer des personnes" placeholder="Ajouter des tags,
                                                  (ex : Dedicace a Abidjan.net ma carte prepayé)" label="name"
                            track-by="code" :options="dedicaces" @tag="addTag" :multiple="true" :taggable="true"
                            :showNoOptions="false" :close-on-select="false" selectLabel="Entrez pour choisir"
                            deselectLabel="Entrez pour retirer">
                        </multiselect>

                        <textarea type="text" v-if="!ustentils_tags" v-model="form.ustentil_text"
                            placeholder="Liste des Ustensils">
                                      </textarea>

                        <multiselect v-if="ustentils_tags" class="multi_sel sel_tags" v-model="form.ustentils"
                            tag-placeholder="Dedicacer des personnes" placeholder="Ajouter les Ustentils que vous avez utilisé des tags,
                                                    (ex : Un couteau, une casserole)" label="name" track-by="code"
                            :options="ustentils" @tag="addUstentils" :multiple="true" :taggable="true"
                            :showNoOptions="false" :close-on-select="false" selectLabel="Entrez pour choisir"
                            deselectLabel="Entrez pour retirer">
                        </multiselect>

                        <multiselect v-if="countries_tags" class="multi_sel sel_tags" v-model="form.country"
                            placeholder="Choisir votre pays" label="name" track-by="code" :options="countries_tags_json"
                            :showNoOptions="false" selectLabel="Entrez pour choisir"
                            deselectLabel="Entrez pour retirer">
                            <template slot="singleLabel" slot-scope="props">
                                <img class="option__image" :src="props.option.flag" :alt="props.option.flag">
                                <span class="option__desc">
                                    <span class="option__title">{{ props.option.name }}</span>
                                </span>
                            </template>


                            <template slot="option" slot-scope="props">
                                <div style="display:flex; justify-content:start;">
                                    <img class="option__image" :src="props.option.flag" :alt="props.option.flag"
                                        style="margin-right:10px;">
                                    <div class="option__desc">
                                        <span class="option__title">
                                            {{ props.option.name }}
                                        </span>
                                    </div>
                                </div>
                            </template>
                        </multiselect>
                    </div>

                </div>

                <div class="row my-5">
                    <div class="d-flex justify-content-md-around">
                        <a class="btn_primary" @click.prevent="codeIntegration = !codeIntegration">
                            Code Integration Youtube | Viméo
                        </a>

                        <a class="btn_primary" @click.prevent="ingredients_tags = !ingredients_tags">
                            Ajouter les ingredients avec des tags
                        </a>

                        <a class="btn_primary" @click.prevent="ustentils_tags = !ustentils_tags">
                            Ajouter les Ustensils avec des tags
                        </a>
                    </div>
                </div>

                <button type="submit" class="btn--header w-100 mt-3 mb-3">Partager</button>


            </div>
        </form>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>