<template>
  <div>
    <section class="section-ads-center">
      <div class="grd-item pub_item">
        <a
          href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
          target="_blank"
          class="pub-label"
          >PUBLICITÉ
          <svg
            class="svg-inline--fa fa-info-circle fa-w-16"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="info-circle"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
            ></path>
          </svg>
        </a>
        <dfp-slot
          path="/2760456/Abidjan_net_news_articles_ATF_top_970x90"
          :size="[
            [1000, 200],
            [970, 90],
            [728, 90],
            [468, 60],
            [320, 50],
          ]"
          id="div-gpt-ad-3238677-1"
        />
      </div>
    </section>

    <banner>
      <template #title>
        <h2>
          {{ category.name }}
        </h2>
      </template>

      <template #image> </template>

      <template #description>
        <h1 class="text-800 mb-5 fs-4 text-color text-center">
          {{
            category.description == null || category.description != ""
              ? category.description
              : ""
          }}
        </h1>
      </template>
    </banner>

    <div class="content">
      <div class="sub-content">
        <section class="breadcrumb line-top">
          <a href="http://www.abidjan.net"> Accueil </a>
          <!-- <span @click="$router.push({ name: 'Accueil' })">Cuisine</span> -->
          <router-link to="/accueil"> Cuisine </router-link>
          <span>Catégories</span>
        </section>

        <!-- <h5 class="section_titre">Recettes - {{ category.name }}</h5> -->

        <section class="section-ad-right">
          <recipe-list :recipes_data="recipes" v-if="recipes">
            <template v-slot:section_title>
              <h5 class="section_titre">Recettes - {{ category.name }}</h5>
            </template>

            <!-- <template v-slot:pagination> -->
            <div class="col-12 d-flex justify-content-center mt-2">
              <Pagination
                :pagination_data="pagination_datas"
                :action_name="'get_recipe_list_action'"
              />
            </div>
            <!-- </template> -->
          </recipe-list>

          <div class="grd-item">
            <a
              href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
              target="_blank"
              class="pub-label"
              >PUBLICITÉ <i class="fas fa-info-circle"></i
            ></a>

            <div>
              <dfp-slot-right
                path="/2760456/Abidjan_net_news_articles_ATF_right_300x600"
                :size="[
                  [300, 600],
                  [300, 250],
                  [200, 200],
                ]"
                id="div-gpt-ad-3238677-2"
              />
            </div>
          </div>

          <div class="col-12 d-flex justify-content-center mt-5">
            <Pagination
              :pagination_data="pagination_datas"
              :action_name="actionName"
            />
          </div>

          <div class="divider"></div>
        </section>
      </div>
    </div>

    <div class="sub-content">
      <section class="section-ads-center">
        <div class="grd-item">
          <a
            href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
            target="_blank"
            class="pub-label"
            >PUBLICITÉ
            <svg
              class="svg-inline--fa fa-info-circle fa-w-16"
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="info-circle"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
              ></path>
            </svg>
          </a>
          <div
            id="div-gpt-ad-2877090-12"
            data-google-query-id="CLvemZX7jf4CFQ5s0wod_JYOjA"
          >
            <dfp-slot
              path="/2760456/Abidjan_net_news_articles_BTF_Bottom_970x90"
              :size="[[970, 90]]"
              id="div-gpt-ad-3238677-3"
            />
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Banner from "../accueil/_partials/Banner.vue";
import RecipeList from "../accueil/_partials/RecipeList.vue";
import Pagination from "../../partials/Pagination.vue";
import DfpSlot from "../../tools/DfpSlot.vue";
import DfpSlotRight from "@/components/tools/DfpSlotRight.vue";

export default {
  name: "CategoryComponent",
  components: {
    Banner,
    RecipeList,
    Pagination,
    DfpSlot,
    DfpSlotRight,
  },
  data() {
    return {
      actionName: "get_recipe_category_action",
      form: {
        per_page: 12,
        page: 1,
      },
      id: null,
      category: null,
      recipes: null,
      pagination_datas: null,
    };
  },
  methods: {
    getRecipeType() {
      const RecipeTypeDetails = async () => {
        this.$loading(true);

        await this.$axios
          .get(`/show-recipe_type/${this.slug}`)
          .then((res) => {
            console.log(">>>>>>RecipeType Détails Worked");
            console.log(this.id);
            console.log(res.data.data);

            this.category = res.data.data;
          })
          .catch((error) => {
            console.log(">>>>>>Error RecipeType Détails");
            console.log(error.response);

            if (error.response.status == 401) {
              this.$toast.info("Votre session a expiree");
              this.User.logout();
            }
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      RecipeTypeDetails();
    },
    getRecipesByType() {
      const recipeByType = async () => {
        await this.$axios
          .post(`/get-recipes-by-type/${this.slug}`, this.form)
          .then((res) => {
            this.pagination_datas = res.data.pagination;
            this.recipes = res.data.data;

            console.log("RecipesList Category >>>>>>>>>");
            console.log(this.recipes);

            console.log("Pagination Datas Category >>>>>>>>>");
            console.log(this.pagination_datas);
          })
          .catch((error) => {
            console.log(">>>>>RecipeByType Category Error");
            console.log(error.response);
          });
      };

      recipeByType();
    },
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
  created() {
    (this.slug = this.$route.params.slug), this.getRecipesByType();

    this.getRecipeType();

    this.EventBus.$on("get_recipes_list", (data) => {
      console.log("Bien recu page Accueil.......");
      console.log(data);
      this.recipes = data.data;
      this.pagination_datas = data.pagination;
    });
  },
};
</script>

<style scoped>
.content {
  padding: 0px 60px 0px 60px !important;
}
</style>
