<template>
  <div id="app">
    <Header/>
    <NavBar />
    <vue-page-transition name="fade">
      <router-view> </router-view>
    </vue-page-transition> 
    <Footer/>
  </div>
</template>

<script>
import NavBar from "./components/partials/NavBar.vue";
import Header from "@/components/layouts/header.vue";
import Footer from "@/components/layouts/footer.vue";
// import FloatingButton from "./components/FoatingButton.vue";

export default {
  name: "App",
  components: {
    NavBar,
    Header,
    Footer
    /* FloatingButton */
  },
  data() {
    return {
      user: null,
    };
  },
  methods: {
    
  },
  created() {
    // var channel = this.$pusher.subscribe("dashboard");
    // console.log('out channel')

    // channel.bind("user.log", ({ log }) => {
    //   console.log("channel >>>>>")
    //   console.log(`User ${log.user.name} has ${log.action} at ${log.time}`);
    // });
  }
};
</script>

<style>
</style>
