<template>
  <div class="content">
    <div class="sub-content">
      <section class="breadcrumb line-top">
        <a @click="$router.push({ name: 'Accueil' })">Accueil</a>
        <span>Mot de passe oublié</span>
      </section>

      <h4 class="my_section_titre">Mot de passe oublié</h4>
      <section class="section-ad-right">
        <div class="grd-item">
          <div class="grid">
            <div class="content-form-member">
              <form @submit.prevent="resetPassword">
                <div class="form-member-item">
                  <div class="legend-gray-right">* Champs obligatoires</div>

                  <input
                    type="email"
                    id="reset_password_request_form_email"
                    v-model="form.email"
                    name="reset_password_request_form[email]"
                    required="required"
                  />
                </div>

                <div class="form-member-item f-mt">
                  <div class="form-member-2item1">
                    <input
                      type="submit"
                      name="member-sub"
                      value="Soumettre"
                      class="btnSub"
                    />
                  </div>
                  <div class="form-member-2item2">
                    <a @click="$router.push('/se-connecter')" class="btnSub"
                      >Annuler</a
                    >
                  </div>
                  <div class="clearBoth"></div>
                </div>

                <!-- <input
                  type="hidden"
                  id="reset_password_request_form__token"
                  name="reset_password_request_form[_token]"
                  value="6cd45b95c2.aQYHv0mvQwtztz0MMpyhWPT6XNv0gDKq8XcYLrx_t1U.Gk9G1xmfC0AYz1tbV6_paYCUJqzE1GHjxiVNGZEzhjY_dVPLE8ombzT2BQ"
                /> -->
              </form>
            </div>
            <div class="RowLinkMember margTop50">
              <span>Pas de compte membre ?</span>
              <a @click="$router.push('/s-inscrire')">Créer un compte</a>
            </div>
          </div>
        </div>
        <aside>
          <div class="in">
            <!-- SECTION BANNER HORIZON -->
            <section class="section-ads-center">
              <div class="grd-item">
                <a
                  href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
                  target="_blank"
                  class="pub-label"
                  >PUBLICITÉ
                  <svg
                    class="svg-inline--fa fa-info-circle fa-w-16"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="info-circle"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
                    ></path></svg
                  ><!-- <i class="fas fa-info-circle"></i> --></a
                >
                <!-- /2760456/Abidjan_net_news_articles_ATF_right_300x600 -->
                <div id="div-gpt-ad-1469168400553-2" style="">
                  <dfp-slot-right
                    path="/2760456/Abidjan_net_news_articles_ATF_right_300x600"
                    :size="[[300, 600]]"
                    id="div-gpt-ad-3238677-2"
                  />
                </div>
                <!-- End AdSlot 2 -->
              </div>
            </section>
          </div>
        </aside>
      </section>
    </div>
  </div>
</template>

<script>
// import AppStorage from "../utils/AppStorage";
// import Token from "../utils/Token";
import DfpSlotRight from "@/components/tools/DfpSlotRight.vue";
// import { v4 as uuidv4 } from "uuid";
// import User from '../utils/User';

export default {
  metaInfo: {
    title: "Connexion",
    titleTemplate: "%s | Cuisine.abidjan.net",
    htmlAttrs: {
      lang: "fr-FR",
    },
    meta: [
      { charset: "utf-8" },
      { name: "Login", content: "Cuisine, Recettes, Retaurants, Restaurants" },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
    ],
  },
  components: {
    DfpSlotRight,
  },
  data() {
    return {
      form: {
        email: null
      },
    };
  },
  methods: {
    resetPassword() {

        this.$axios
        .post("/reset-password-send-mail", this.form)
        .then((res) => {
          if (res.status == 200) {
            this.$toast.success("Email envoyé avec succès")
            this.form.email = ""
          }
        })
        .catch((error) => {
            this.$toast.error("Oups une erreur est survenue")
            console.log(error)
        });

    },
  },
  created() {
    if (this.$User.loggIn()) {
      this.$router.push({ name: "Accueil" });
    }
  },
};
</script>

<style scoped>
.content {
  padding: 0px 60px 0px 60px !important;
}

.my_section_titre {
  color: #101010;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 11;
}
</style>
