<template>
  <div class="content">
    <div class="sub-content">
      <!-- breadcrumb -->
      <section class="breadcrumb line-top">
        <a href="https://www.abidjan.net">Accueil</a>
        <router-link to="/accueil"> Cuisine </router-link>
        <span> Page Introuvable </span>
      </section>
      <!--End breadcrumb -->
      <section class="section-article">
        <article>
          <div class="error_404">
            <strong>4<span id="animate-arrow">0</span>4 </strong> <br />
            <b>Oups ... Page introuvable!</b>
            <em>Désolé, la page n'a pas pu être trouvée ici.</em>
            <br />
            <a href="https://www.abidjan.net" class="btn btn-danger"
              ><svg
                class="svg-inline--fa fa-arrow-circle-left fa-w-16 fa-lg"
                aria-hidden="true"
                focusable="false"
                data-prefix="fa"
                data-icon="arrow-circle-left"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                data-fa-i2svg=""
              >
                <path
                  fill="currentColor"
                  d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zm28.9-143.6L209.4 288H392c13.3 0 24-10.7 24-24v-16c0-13.3-10.7-24-24-24H209.4l75.5-72.4c9.7-9.3 9.9-24.8.4-34.3l-11-10.9c-9.4-9.4-24.6-9.4-33.9 0L107.7 239c-9.4 9.4-9.4 24.6 0 33.9l132.7 132.7c9.4 9.4 24.6 9.4 33.9 0l11-10.9c9.5-9.5 9.3-25-.4-34.3z"
                ></path></svg
              ><!-- <i class="fa fa-arrow-circle-left fa-lg"></i> -->&nbsp;
              Retour à la page d'accueil</a
            >
          </div>
        </article>
        <aside>
          <div class="in">
            <!-- SECTION BANNER HORIZ -->
            <section class="section-ads-center">
              <div class="grd-item">
                <a
                  href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
                  target="_blank"
                  class="pub-label"
                  >PUBLICITÉ
                  <svg
                    class="svg-inline--fa fa-info-circle fa-w-16"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="info-circle"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
                    ></path>
                  </svg>
                </a>
                <div
                  id="div-gpt-ad-2877090-12"
                  data-google-query-id="CLvemZX7jf4CFQ5s0wod_JYOjA"
                >
                  <dfp-slot
                    path="/2760456/Abidjan_net_news_articles_BTF_Bottom_970x90"
                    :size="[
                      [970, 90],
                      [728, 90],
                      [468, 60],
                      [320, 50],
                    ]"
                    id="div-gpt-ad-3238677-3"
                  />
                </div>
              </div>
            </section>
          </div>
        </aside>
      </section>
    </div>
  </div>
</template>

<script>
import DfpSlot from "@/components/tools/DfpSlot.vue";

export default {
  metaInfo() {
    return {
      title: "Page Introuvable",
      titleTemplate: "%s | Cuisine.abidjan.net",
      meta: [
        { charset: "utf-8" },
        {
          vmid: "description",
          name: "Détails Recette",
          content: "Cuisine, Recettes, Retaurants, Détails Recette",
        },
        {
          vmid: "description",
          name: "keywords",
          content:
            "recette, cuisine, cours de cuisines, restaurants, plats, commander, souscrire abonnements, ingrédients, coûts, abidjan.net,cuisine",
        },
        {
          vmid: "description",
          property: "fb:app_id",
          content: "975566289205894",
        },
        { vmid: "description", property: "fb:admins", content: "1545380076" },
        {
          vmid: "title",

          name: "twitter:title",
          content: `Page Introuvable`,
        },
        { vmid: "card", name: "twitter:card", content: "summary_large_image" },
        { vmid: "site", name: "twitter:site", content: "@weblogy" },
        { vmid: "creator", name: "twitter:creator", content: "@weblogy" },
        {
          vmid: "url",
          name: "twitter:url",
          content: "https://www.abidjan.net",
        },
        {
          vmid: "description-recette",
          name: "twitter:description",
          content: `Page Introuvable`,
        },
        {
          vmid: "image recette",
          name: "twitter:image",
          content: `Page Introuvable`,
        },
        {
          vmid: "titre recette",
          property: "og:title",
          content: `Page Introuvable`,
        },
        { vmid: "description", property: "og:type", content: "article" },
        {
          vmid: "description",
          property: "og:email",
          content: "info@weblogy.com",
        },
        {
          vmid: "description",
          property: "og:url",
          content: "https://www.abidjan.net",
        },
        {
          vmid: "description",
          property: "og:image",
          content: `Page Introuvable`,
        },
      ],
    };
  },
  components: {
    DfpSlot,
  },
};
</script>

<style lang="css" scoped></style>
