<template>
  <div>
    <div class="dash">
     <!--  <button class="btn btn-secondary h-100" @click="showParticipant" v-if="btnState">Voir les demandes</button> -->
      
      <button class="btn btn-secondary h-100" @click="hideParticipant" v-if="!btnState"> Liste des cours</button>

      <button class="btn btn-secondary h-100" @click="showModal" v-if="cooking_course_data.lenght >= 1">
        Ajouter Leçon
      </button>

      <VueModal v-show="isModalVisible" @close="closeModal">
        <template #header>
          <h2 class="text-uppercase">Ajouter Leçon de Cuisine</h2>
        </template>

        <template #body>
          <form @submit.prevent="addLesson">
            <div class="details__inputs">
              <div class="input_row">
                <div class="input--group">
                  <label for="title"> Cours <span>*</span></label>
                  <multiselect
                    class="multi_sel"
                    v-model="form.course_id"
                    :options="courses.map((c) => c.id)"
                    placeholder="Cours de cuisine"
                    :show-labels="true"
                    selectLabel="Entrez pour choisir"
                    deselectLabel="Entrez pour retirer"
                    trackBy="id"
                    label="name"
                    :value="form.course_id"
                    :searchable="true"
                    :custom-label="
                      (opt) => courses.find((c) => c.id == opt).name
                    "
                  >
                  </multiselect>
                </div>

                <div class="input--group">
                  <label for="title"> Titre <span>*</span></label>
                  <input v-model="form.title" type="text" name="title" />
                </div>

                <div class="input--group">
                  <label for="language"> Langue <span>*</span></label>
                  <input v-model="form.lang" type="text" name="language" />
                </div>

                <div class="input--group">
                  <label for="language"> Aperçu </label>
                  <input v-model="form.overview" type="text" name="language" />
                </div>

                <div class="input--group">
                  <label for="language"> Video Youtube </label>
                  <input v-model="form.video_url" type="text" name="language" />
                </div>

                <!-- <div class="input--group">
                      <label for="language"> Fichier PDF </label>
                      <input v-model="form.pdf" type="file" name="language" />
                  </div> -->
              </div>

              <div class="mb-2">
                <label for="language"> Contenue </label>
              </div>
              <Editor
                name="content"
                label="Description"
                id="content"
                @change="getHTML"
                ref="toastuiEditor"
              />

              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="btn btn-secondary h-100 mt-2"
                  style="font-size: 18px"
                >
                  Ajouter Leçon
                </button>
              </div>
            </div>
          </form>
        </template>

        <template #footer> </template>
      </VueModal>
    </div>
  </div>
</template>

<script>
import VueModal from "../../tools/VueModal.vue";
import "@toast-ui/editor/dist/toastui-editor.css";
import { Editor } from "@toast-ui/vue-editor";
import { Multiselect } from "vue-multiselect";

export default {
  props: ["cooking_course_data"],
  components: {
    VueModal,
    Editor,
    Multiselect,
  },
  data() {
    return {
      isModalVisible: false,
      form: {
        body: "",
        title: "",
        lang: "",
        overview: "",
        video_url: "",
        course_id: "",
      },
      courses: [],
      btnState:true
    };
  },
  methods: {
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    getHTML() {
      let html = this.$refs.toastuiEditor.invoke("getHTML");
      this.form.body = html;
    },
    addLesson() {

      console.log("posted data");
      console.log(this.form);

      this.converterVideoUrl();

      const PostLesson = async () => {
        await this.$axios
          .post("/api/add-lesson", this.form, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((res) => {
            console.log("response lesson");
            console.log(res);

            if(res.status == 200){
              this.$toast.success('Leçon ajoutée avec succès')
              this.form = {}
              this.isModalVisible = false
            }
            
          })
          .catch((error) => {
            console.log("error");
            console.log(error);
          });
      };

      PostLesson();
    },
    converterVideoUrl() {

      let videoUrl = this.form.video_url;

      if (videoUrl != "" && videoUrl != null) {
        if (videoUrl.includes("youtube")) {
          console.log(">>> videoUrl >>>");
          videoUrl = videoUrl.replace("/watch?v=", "/embed/");
          console.log(videoUrl);

          this.form.video_url = videoUrl;
          console.log(this.form.video_url);
        } else if (videoUrl.includes("vimeo")) {
          console.log(">>> Vimeo  Link >>>");
          // videoUrl.replace('/watch?v=', '/embed/')
          // console.log(videoUrl)
        }
      }
    },
    hideParticipant(){
      this.EventBus.$emit('hide_particpation_request')
      this.btnState = true
    }
  },
  created() {

    this.courses = this.cooking_course_data;

    this.EventBus.$on('show_particpation_request', () =>{
      this.btnState = !(this.btnState)
    })

  },
};
</script>

<style lang="css" scoped>
.dash {
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

button {
  background-color: gray !important;
  border: gray;
}

button:hover {
  background-color: rgb(199, 197, 197) !important;
  border: gray;
}
</style>
