<template>
  <div>
    <section class="section-ads-center">
      <div class="grd-item pub_item">
        <a
          href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
          target="_blank"
          class="pub-label"
          >PUBLICITÉ
          <svg
            class="svg-inline--fa fa-info-circle fa-w-16"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="info-circle"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
            ></path>
          </svg>
        </a>
        <dfp-slot
          path="/2760456/Abidjan_net_news_articles_ATF_top_970x90"
          :size="[
            [1000, 200],
            [970, 90],
            [728, 90],
            [468, 60],
            [320, 50],
          ]"
          id="div-gpt-ad-3238677-1"
        />
      </div>
    </section>

    <banner>
      <template #title>
        <h2>Apprendre à Cuisiner avec nos Illustres Chefs</h2>
      </template>

      <template #description> </template>

      <template #image>
        <a class="img-landing-banner" href="#!">
          <!-- <img class="img-fluid" src="_themes/assets/img/gallery/crispy-sandwiches.png" alt="hero-header" /> -->
        </a>
      </template>

      <template #search_bar>
        <CourseSearchBar />
      </template>
    </banner>

    <div class="content">
      <section class="breadcrumb line-top">
        <a href="https://www.abidjan.net/">Accueil</a>
        <router-link to="/accueil"> Cuisine </router-link>
        <span>Cours de Cuisine</span>
      </section>
    </div>

    <CourseList :courses_data="courses" v-if="courses != null" />

    <div v-else class="no_resto">
      <p class="fs-1 text-center mt-3">Pas de cours disponibles</p>
    </div>

    <FloatingButtonCourse />

    <div class="sub-content">
      <section class="section-ads-center">
        <div class="grd-item">
          <a
            href="http://www.weblogymedia.com/sites-en-regie/abidjan-net/"
            target="_blank"
            class="pub-label"
            >PUBLICITÉ
            <svg
              class="svg-inline--fa fa-info-circle fa-w-16"
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="info-circle"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
              ></path>
            </svg>
          </a>
          <div
            id="div-gpt-ad-2877090-12"
            data-google-query-id="CLvemZX7jf4CFQ5s0wod_JYOjA"
          >
            <dfp-slot
              path="/2760456/Abidjan_net_news_articles_BTF_Bottom_970x90"
              :size="[[970, 90]]"
              id="div-gpt-ad-3238677-3"
            />
          </div>
        </div>
      </section>
    </div>
    
  </div>
</template>

<script>
import CourseList from "./CourseList.vue";
import Banner from "../accueil/_partials/Banner.vue";
import FloatingButtonCourse from "./_partials/FloatingButtonCourse.vue";
import CourseSearchBar from "./_partials/CourseSearchBar.vue";
import DfpSlot from "../../tools/DfpSlot.vue";

export default {
  name: "CourseComponent",
  metaInfo: {
    title: "Cours de Cuisine",
    titleTemplate: "%s | Cuisine.abidjan.net",
    htmlAttrs: {
      lang: "fr-FR",
    },
    meta: [
      { charset: "utf-8" },
      {
        name: "Astuce Culinaire",
        content: "Cuisine, Recettes, Retaurants, Restaurants",
      },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
    ],
  },
  components: {
    CourseList,
    Banner,
    FloatingButtonCourse,
    CourseSearchBar,
    DfpSlot,
  },
  data() {
    return {
      courses: null,
      // course_search_course : null
    };
  },
  methods: {
    getCourses() {
      const getCours = async () => {
        await this.$axios
          .get("get-courses")
          .then((res) => {
            console.log("Course");
            if (res.status == 200 || res.data.status == 201) {
              this.courses = res.data.data;
            }
          })
          .catch((err) => {
            console.log("Error Code");
            console.log(err.response);
          });
      };

      getCours();
    },
  },
  created() {
    this.getCourses();
    /*  EventBus.$on("search_cooking_course_auto", (data) => {
      this.course_search_course = data;
    }); */
  },
};
</script>

<style scoped></style>
