<template>
  <section>
    <div class="content">
      <!-- <section class="breadcrumb line-top">
        <a @click="$router.push({ name: 'Accueil' })">Accueil</a>
        <span @click="$router.push({ name: 'CookingCourse' })">Cours </span>
        <span> Cours de Cuisine </span>
      </section> -->

      <section class="breadcrumb line-top">
        <a href="https://abidjan.net">Accueil</a>
        <router-link to="/accueil">Cuisine</router-link>
        <router-link to="/cours-de-cuisines">Cours de Cuisine</router-link>
        <span> Editer </span>
      </section>
    </div>

    <div class="sub-content">
      <div class="besoin--title w-100">
        <h1 class="text-center text-uppercase section-title noline">
          Editer Cours de Cuisine
        </h1>
        <!-- <img src="../../../../svg/044-breakfast-monochome.png" alt="besoin--img">  -->
      </div>

      <form @submit.prevent="updateCookingCourse">
        <div class="details__inputs">
          <div class="input_row">
            <div class="input--group">
              <label for="title"> Titre <span>*</span></label>
              <input type="text" v-model="form.name" name="title" />
            </div>

            <div class="input--group">
              <label for="language"> Langue <span>*</span></label>
              <input type="text" v-model="form.language" name="language" />
            </div>

            <div class="input--group">
              <label for="instructor"> Instructeur <span>*</span></label>
              <input type="text" v-model="form.instructor" name="instructor" />
            </div>
            <small
              class="text-error"
              v-if="
                this.errors &&
                typeof this.errors != 'undefined' &&
                this.errors.name
              "
            >
              {{ this.errors.name }}
            </small>

            <small
              class="text-error"
              v-if="
                this.errors &&
                typeof this.errors != 'undefined' &&
                this.errors.description
              "
            >
              {{ this.errors.description }}
            </small>

            <div class="input--group">
              <label for="description"> Type de course </label>
              <multiselect
                class="multi_sel"
                v-model="form.course_type_id"
                :options="course_types.map((rt) => rt.id)"
                placeholder="Type De Cours"
                :show-labels="true"
                selectLabel="Entrez pour choisir"
                deselectLabel="Entrez pour retirer"
                trackBy="id"
                label="name"
                :value="form.course_type_id"
                :searchable="true"
                :custom-label="
                  (opt) => course_types.find((rt) => rt.id == opt).title
                "
              >
              </multiselect>
            </div>

            <div class="input--group">
              <label for="description"> Prix </label>
              <input type="" v-model="form.price" name="price" />
            </div>

            <div class="input--group">
              <label for="description"> Lieu </label>
              <input type="" v-model="form.place" name="place" />
            </div>

            <small
              class="text-error"
              v-if="
                this.errors &&
                typeof this.errors != 'undefined' &&
                this.errors.slogan
              "
            >
              {{ this.errors.slogan }}
            </small>

            <div class="input--group">
              <label for="description">Aperçu du cours</label>
              <small>(Youtube)</small>
              <input
                type="text"
                v-model="form.video_url"
                name="video"
                placeholder="https://www.youtube.com/watch?v=Spf0BAD_vyI"
              />
            </div>

            <!-- 
              <small class="text-error"
                v-if="this.errors && typeof (this.errors) != 'undefined' && this.errors.title">
                {{ this.errors.title }}
              </small>
            -->

            <div class="input--group">
              <label for="file">Ajouter Image </label>

              <div
                class="resto_img"
                v-if="
                  cookingCourse != null &&
                  typeof cookingCourse.imageUrl != 'undefined'
                    ? true
                    : false
                "
              >
                <img
                  v-if="previewImage != null"
                  :src="previewImage"
                  alt="previewImage"
                />
                <img
                  v-else
                  :src="`${cookingCourse.imageUrl}`"
                  alt=""
                  srcset=""
                />
              </div>

              <input type="file" accept="image/jpeg" @change="uploadImage" />
            </div>
          </div>

          <div class="input--group">
            <label for="description"> Description <span>*</span></label>
            <textarea type="text" v-model="form.description" name="description">
            </textarea>
          </div>

          <!-- <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="w-60 d-flex justify-content-center cta"
              style="font-size: 18px"
            >
              Mettre à jour
            </button>
          </div> -->

          <div class="d-flex justify-content-center">
            <LoadingVue :isDisplay="isDisplay"></LoadingVue>
            <button
              type="submit"
              class="cta"
              style="font-size: 18px"
              v-show="!isDisplay"
            >
            Mettre à jour
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
import AppStorage from "../../../utils/AppStorage";
import { Multiselect } from "vue-multiselect";
import LoadingVue from "../../tools/Loading.vue";

export default {
  components: {
    Multiselect,
    LoadingVue,
  },
  data() {
    return {
      form: {
        name: null,
        slogan: null,
        description: null,
        has_multiple_step: null,
        video_url: null,
        imageUrl: null,
        place: null,
        price: null,
        instructor: AppStorage.getFullName() ?? "",
        language: "Français",
        course_type_id: null,
      },
      course_types: null,
      errors: null,
      cookingCourse: null,
      id: null,
      previewImage: null,
      slug: null,
      isDisplay: false,
    };
  },
  methods: {
    updateCookingCourse() {
      console.log(">>>>>>>>>> Front Update Course");
      console.log(this.form);

      this.isDisplay = true;

      this.$axios
        .post(`api/update-course/${this.id}`, this.form, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((res) => {
          console.log(res);
          if (res.data.status_code == 200 && res.status == 200) {
            this.$toast.success("Super ! Bien éffectué");
            this.$router.push({ name: "CookingCourse" });
          }
        })
        .catch((err) => {
          console.log(err.response);
          if (err.response.status == 401) {
            this.$toast.info("Veuillez vous connectez s'il vous plaît");

            AppStorage.clearSoft();
            this.User.logout();
          } else {
            this.$toast.error("Oups une erreur est survenue");
          }
        })
        .finally(() => {
          this.isDisplay = false;
        });
    },
    uploadImage(e) {
      const image = e.target.files[0];

      this.form.imageUrl = image;
      console.log(this.form.imageUrl);
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = (e) => {
        this.previewImage = e.target.result;
        console.log(this.previewImage);
      };
    },
    getCourseType() {
      this.$loading(true);

      const courseType = async () => {
        this.$axios
          .get("get-course-types")
          .then((res) => {
            console.log(res);
            this.course_types = res.data.data;
          })
          .catch((error) => {
            console.log("Error COURS TYPE>>>>>>>>>");
            console.log(error.response);
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      courseType();
    },
    getCookingCourse() {
      this.$loading(true);

      let cookingCourse = async () => {
        await this.$axios
          .get(`show-course/${this.slug}`)
          .then((res) => {
            console.log(res);
            console.log("get CookingCourse >>>>");
            this.cookingCourse = res.data.data;
            this.form = this.cookingCourse;

            console.log(this.cookingCourse);
          })
          .catch((error) => {
            console.log("Error Show CookingCourse >>>>");
            console.log(error.response);
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      cookingCourse();
    },
  },
  created() {
    this.slug = this.$route.params.slug;
    console.log({ slug: this.slug });
    this.getCourseType();
    this.getCookingCourse();
  },
};
</script>

<style scoped>
small {
  font-size: 14px;
  color: #7f7f7f;
}
.besoin--img {
  height: 7rem !important;
}

.select_actions {
  margin-bottom: 20px !important;
}

.dropzone_container {
  margin: 1rem auto;
}
.text-error {
  color: red;
  margin-top: 5px;
  margin-bottom: 25px !important;
  margin-left: 5px;
  font-size: 12px;
}

.form_wrapper {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.btn--primary {
  background-color: #d21d3a;
  padding: 1rem;
  border-radius: 12px;
}

.btn--primary:hover {
  background-color: #fff;
  border: 1px solid #ffb800;
}

.besoin {
  width: 60%;
  margin: 0 auto;
}

.besoin--body {
  padding: 2rem;
  background-color: #eff4f8;
  border-radius: 3%;
}

.besoin--body .group--form {
  margin-top: 2rem;
}

.besoin--body .group--form label {
  font-weight: bold;
}

.besoin--body .group--form input:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
}

/*
  textarea {
    min-height: 70px !important;
  }
  border: 1px solid #FFB800 !important; 
  */

.dedicace {
}

.besoin--body .group--form textarea:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
  outline: none !important;
  border: 1px solid #ffb800;
}

@media only screen and (max-width: 62em) {
  .besoin {
    width: 75%;
  }
}

@media only screen and (max-width: 48em) {
  .besoin {
    width: 85%;
  }
}

@media only screen and (max-width: 36em) {
  .besoin {
    width: 95%;
  }
}

@media only screen and (max-width: 48em) {
  .besoin--title h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 48em) {
  .besoin--title img {
    height: 7rem;
  }
}

.besoin--body {
  background-color: #fff;
  padding: 4rem;
}

.besoin--body .group--form {
  margin-top: 2rem;
}

.besoin--body .group--form label {
  font-weight: bold;
}

.besoin--body .group--form input {
  padding: 1.5rem;
  width: 100%;
  background-color: #eff4f8;
  border: none;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #eff4f8;
  border-radius: 10px;
}

.besoin--body .group--form input:focus {
  background-color: #fff;
  border: 1px solid #eff4f8;
}

.input--connexions input,
select,
textarea {
  /* height: 40px !important; */
}

.input--connexions select option {
  height: 40px !important;
}

/* ******************************** */
.input--group label {
  margin-bottom: 0.5rem !important;
}

.input--group label span {
  color: red;
}

.input--group input,
select {
  padding: 7px;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.input--group input:focus,
select:focus {
  border: 1px solid #ffb800;
}

.details__inputs {
  margin-bottom: 40px;
  padding: 0 4rem;
}

.details__inputs h2 {
  margin-bottom: 13px;
}

.vue-country-select .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.1em !important;
  position: relative;
  cursor: pointer;
}

.numero {
  display: flex;
  justify-content: start;
}

.p_temps {
  font-size: 1.5rem;
}

.multi_sel >>> .multiselect__tags {
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  /*box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);*/
  padding: 0.7rem 0.5rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 7px;
  background: #fff;
}

.multi_sel >>> .sel_tags {
  padding: 1rem;
  border: 2px solid #dbd8dc;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  color: #0045a3;
  padding: 1rem 0.5rem;
  font-weight: bold;
  width: 100%;
}

.image__recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.uploading-image {
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 200px !important;
  max-height: 200px !important;
}

.btn_primary {
  padding: 1rem 2rem;
  background-color: #d21d3a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  padding: 0px 60px 0px 60px !important;
}

.besoin--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eff4f8;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.besoin--title h1 {
  color: #7f7f7f;
}

textarea {
  border-radius: 10px;
  resize: vertical !important;
  width: 100%;
  height: 150px;
  min-height: 10px !important;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  padding: 20px 10px;
}

.input_row {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

textarea {
  height: 120px !important;
}
</style>
