<template>
    <a  class="float" @click="$router.push({name : 'PostCookingTrick'})">
        <i class="fa fa-plus my-float"></i>
        <!-- Ajouter -->
    </a>
</template>
<script>
export default {
    
}
</script>

<style scoped>
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:80px;
        right: 24%;
        background-color:#D21D3A;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
    }

    .my-float{
        margin-top:22px;
    }
</style>