<template>
  <div class="content">
    <div class="sub-content">
      <section class="breadcrumb line-top">
        <a href="https://www.abidjan.net/">Accueil</a>
        <span @click="$router.push({ name: 'Login' })"> Cuisine </span>
        <span>Tableau de Bord</span>
      </section>

      <div class="w-100">
        <div class="besoin--title">
          <h1 class="text-center text-uppercase section-title noline">
            Profil
          </h1>
        </div>
      </div>

      <div class="row main_content">
        <div class="col-md-12 col-lg-3 account--left">
          <ul class="mb-0 side-account">
            <a href="#">
              <li
                :class="selectedItem == 'account_state' ? 'menu--active' : ''"
                @click.prevent="selectItem('account_state')"
              >
                <i class="fas fa-user"> </i> &nbsp; Détails profil
              </li>
            </a>

            <a href="#">
              <li
                :class="selectedItem == 'manage_state' ? 'menu--active' : ''"
                @click.prevent="selectItem('manage_state')"
              >
                <i class="fas fa-bars"></i>
                &nbsp; Tableau de Bord
              </li>
            </a>

            <a href="#">
              <!-- v-if="user.isHasRestaurant == true" -->
              <li
                @click.prevent="selectItem('resto_state')"
                :class="selectedItem == 'resto_state' ? 'menu--active' : ''"
              >
                <i class="fas fa-utensils"></i>
                &nbsp; Mon Resto
              </li>
            </a>

            <a href="#">
              <li
                :class="selectedItem == 'order_state' ? 'menu--active' : ''"
                @click.prevent="selectItem('order_state')"
              >
                <i class="fa-solid fa-basket-shopping"></i>
                &nbsp; Commande(s)
              </li>
            </a>

            <a href="#">
              <li
                @click.prevent="selectItem('recipe_fav')"
                :class="selectedItem == 'recipe_fav' ? 'menu--active' : ''"
              >
                <i class="fa fa-bookmark"></i>
                &nbsp; Enregistrée(s)
              </li>
            </a>

            <a href="#">
              <li
                @click.prevent="selectItem('subscription')"
                :class="selectedItem == 'subscription' ? 'menu--active' : ''"
              >
                <i class="fa fa-key"></i>
                &nbsp; Mon Abonnement
              </li>
              <li
                @click.prevent="selectItem('subscription_cooker')"
                :class="
                  selectedItem == 'subscription_cooker' ? 'menu--active' : ''
                "
              >
                <i class="fa fa-check-circle"></i>
                &nbsp; Compte Cuisinier
              </li>
            </a>
          </ul>
        </div>

        <div class="col-md-12 col-lg-9 account--right">
          
          <UserInformations
            v-show="selectedItem == 'account_state'"
            :user_data="user"
          />

          <ManageRecipe v-show="selectedItem == 'manage_state'" />

          <OrderManager
            v-show="selectedItem == 'order_state'"
            :user_orders_data="orders"
          />

          <RestoManager
            v-show="selectedItem == 'resto_state'"
            :restaurant_is_visible_data="restaurantIsVisible"
            :resto_orders_data="restoOrders"
          />

          <RecipeFav v-show="selectedItem == 'recipe_fav'" />
          <!-- <CookingCourseManager v-show="selectedItem == 'cooking_course'" :courses="courses"/> -->
          
          <SubscriptionManager
            v-show="selectedItem == 'subscription'"
            :current_subscription_data="currentSubscription"
          />
          
          <SubscriptionCookerManager
            v-show="selectedItem == 'subscription_cooker'"
            :current_subscription_data="currentSubscription"
            :user_data="user"
          />
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Subscription from "./Subscription.vue";
import UserInformations from "./UserInformations.vue";
import ManageRecipe from "./ManageRecipe.vue";
import OrderManager from "./OrderManager.vue";
import RestoManager from "./RestoManager.vue";
import RecipeFav from "./RecipeFav.vue";
import CookingCourseManager from "./CookingCourseManager.vue";
import AppStorage from "../../../utils/AppStorage";
import SubscriptionManager from "./SubscriptionManager.vue";
import SubscriptionCookerManager from "./SubscriptionCookerManager.vue";

export default {
  props: ["user_orders_data"],
  metaInfo: {
    title: "Tableau de Bord",
    titleTemplate: "%s | Cuisine.abidjan.net",
    htmlAttrs: {
      lang: "fr-FR",
    },
    meta: [
      { charset: "utf-8" },
      {
        name: "description",
        content:
          "Cuisine, Recettes, Retaurants, Restaurants, Profil, Gestion, Cours de cuisine, Modification Information Utilisateur",
      },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
    ],
  },
  components: {
    Subscription,
    UserInformations,
    ManageRecipe,
    RestoManager,
    RecipeFav,
    CookingCourseManager,
    SubscriptionManager,
    OrderManager,
    SubscriptionCookerManager,
  },
  data() {
    return {
      selectedItem: "account_state",
      user: null,
      restaurantIsVisible: null,
      currentSubscription: null,
      orders: null,
      restaurantId: null,
      restoOrders: null,
      courses: null,
    };
  },
  methods: {
    selectItem($item) {
      AppStorage.setCurrentDash($item);
      this.selectedItem = $item;
    },
    getUser() {
      const userInfo = async () => {
        this.$loading(true);
        await axios
          .get("/api/get-user_datas")
          .then((res) => {
            this.user = res.data.data;

            this.courses = this.user.courses;

            let restaurant = this.user.restaurants["0"];

            if (restaurant != null) {
              let resto = this.getRestaurantOrders(restaurant.id);
            }

            this.orders = this.user.orders?.reverse();
            this.form = this.user;

            this.restaurantIsVisible = this.user.checkSubscriptionTime;
            this.currentSubscription = this.user.currentSubscription;

            AppStorage.storeUserData(this.user);
          })
          .catch((error) => {
            console.log(">>>>>>>> Error User Info <<<<<<<<<<<<");
            this.$toast.info("Votre session a expirée");
            User.logout();
          })
          .finally(() => {
            this.$loading(false);
          });
      };

      userInfo();
    },
    getRestaurantOrders(restoId) {
      let id = restoId;

      const getRestoOrders = async () => {
        await axios
          .get(`api/get-resto-orders/${id}`)
          .then((res) => {
            console.log(res);
            this.restoOrders = res.data.data?.reverse();
          })
          .catch((error) => {
            console.log(error);
          });
      };

      getRestoOrders();
    },
    checkUser() {
      if (!User.loggIn()) {
        this.$toast.info("Veuillez vous connectez s'il vous plait");
        let routePath = this.$route.fullPath;
        AppStorage.setPreviewRoutePath(routePath);
        this.$router.push({ name: "Login" });
        AppStorage.clearSoft();
      }
    },
  },
  created() {
    this.checkUser();
    this.getUser();

    this.selectedItem = AppStorage?.getCurrentDash() ?? "account_state";

    EventBus.$on("changed_subscription", () => {
      this.selectedItem = "subscription";
      this.getUser();
    });

    EventBus.$on("update_orders_list", () => {
      this.getUser();
    });

    EventBus.$on("must_subscribe", () => {
      this.selectedItem = "subscription";
    });
  },
};
</script>

<style>
.besoin--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eff4f8;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  color: #7f7f7f;
}

.besoin--title h1 {
  color: #7f7f7f;
}

.account--right {
  padding: 0 2rem 2rem 2rem;
  /*max-height: 80vh;*/
  overflow: auto;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 36em) {
  .account--right {
    padding: 2rem !important;
  }
}

.account--right h1 {
  margin-bottom: 2rem;
}

.side-account {
  background-color: #fff;
  padding-left: 0 !important;
}

.side-account a li {
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  /* background-color: #FFB800; */
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.side-account a li i {
}

.side-account a li:hover {
  color: #ffb800;
  /* background-color: #FD8E25; */
}

.side-account .menu--active {
  color: #ffb800;
  background-color: #eff4f8;
}

div.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.input--connexions input,
select,
textarea {
  height: 40px !important;
}

.input--connexions select option {
  height: 40px !important;
}

/* ******************************** */
.input--group label {
  margin-bottom: 0.2rem !important;
}

.input--group label span {
  color: red;
}

.input--group input,
select {
  padding: 7px;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.input--group input:focus,
select:focus {
  border: 1px solid #ffb800;
}

.details__inputs {
  margin-bottom: 40px;
}

.details__inputs h2 {
  margin-bottom: 13px;
}

.input--group input,
select {
}

.fac--border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #06447e;
}

.fac--border p {
}

.fac--border label {
  margin-left: 1rem;
}

@media only screen and (max-width: 48em) {
  .fac--border {
    display: block;
  }
}

.content {
  padding: 0px 60px 0px 60px !important;
}
</style>
