<template>
  <div class="contenu">
    <div class="dash--title">
      <h2 class="text-uppercase">Espace Restaurant</h2>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
      v-if="!mustChangeSubscription"
    >
      <section class="dash--compte mb-4" v-if="hasResto == true">
        <h2 class="text-uppercase">Gestion - {{ restaurant.name }}</h2>


        <div class="dash_item_container_subscription w-100" v-if="hasResto == true && checkSubscriptionTime != true ">
          Souscrire à un abonnements pour rendre votre restaurant

          <button
            class="btn btn-primary h-100"
            @click.stop="gotoSubscription()"
          >
            Souscrire
          </button>
        </div>

        <!-- Dash Dish-->
        <div class="dash_item_container">
          <!-- *** -->
          <div class="item_dash">
            <div
              class="carousel--dash__card card--blue"
              @click="choiceTab((tabname = 'dishes-list'))"
              :class="tabname == 'dishes-list' ? 'active-menu' : ''"
            >
              <div class="carousel--dash__card--body">
                <h2>
                  Plat
                  {{
                    restaurant != null && typeof restaurant.dishes
                      ? restaurant.dishes.length
                      : "0"
                  }}
                </h2>

                <button
                  class="btn btn-primary h-100"
                  v-if="showRestoInfo == true"
                  @click="
                    $router.push({
                      name: 'PostRestoDish',
                      params: { id: restaurant.id },
                    })
                  "
                >
                  Ajouter
                </button>
              </div>
            </div>
          </div>
          <!-- *** -->

          <!-- *** -->
          <div class="item_dash">
            <div
              class="carousel--dash__card card--blue"
              @click="choiceTab((tabname = 'restaurant-orders'))"
              :class="tabname == 'restaurant-orders' ? 'active-menu' : ''"
            >
              <div class="carousel--dash__card--body">
                <h2>
                  Commandes
                  <!--   {{
                    restaurant != null && typeof restaurant.orders
                      ? restaurant.orders.length
                      : "0"
                  }} -->
                </h2>

                <!--  <button
                  class="btn btn-primary h-100"
                  v-if="showRestoInfo == true"
                  @click="
                    $router.push({
                      name: 'PostRestoDish',
                      params: { id: restaurant.id },
                    })
                  "
                >
                  Ajouter
                </button> -->
              </div>
            </div>
          </div>
          <!-- *** -->
        </div>

        <div class="back-to-info m-2">
          <button
            class="btn btn-primary h-100"
            v-if="tabname == 'dishes-list'"
            @click="choiceTab((tabname = 'resto-info'))"
          >
            Information Restaurant
          </button>
        </div>
        <!-- End Dash -->
      </section>

      <!-- Informations du Restaurant -->
      <section class="my-3">
        <div id="resto-info" v-if="currentDash == 'resto-info'">
          <div class="d-flex justify-content-between">
            <h2 class="text-uppercase">Informations du restaurant</h2>
          </div>

          <form v-show="showRestoInfo" @submit.prevent="restoSubmit">
            <div
              class="resto_img"
              v-if="
                restaurant != null && typeof restaurant.imageUrl != 'undefined'
                  ? true
                  : false
              "
            >
              <!-- <p>
                  <pre>
                    {{  restaurant?.imageUrl?.trim() }}
                  </pre>
                </p> -->

              <img
                v-if="previewImage != '' && previewImage != null"
                :src="previewImage"
                alt="previewImage"
              />
              <img v-else :src="restaurant?.imageUrl" alt="resto-image" />
            </div>

            <div class="input--group">
              <label for="nom">Nom <span>*</span></label>
              <input
                v-model="form.name"
                name="name"
                id="nom"
                placeholder="Nom du restaurant.."
                required
              />
            </div>

            <div class="input--group">
              <label for="image">Image de couverture <span>*</span></label>
              <input
                type="file"
                id="image"
                accept="image/jpeg"
                @change="uploadImage"
              />
              <!-- <small class="text-error"
                    v-if="this.errors && typeof (this.errors) != 'undefined' && this.errors.url">
                    {{ this.errors.url }}
                </small> -->
            </div>

            <div class="dropzone_container">
              <div class="mb-2">
                <label for="images"
                  >Ajouter des images de votre restaurant <span>*</span></label
                >
              </div>

              <vue-dropzone
                ref="myVueDropzone"
                id="dropzone"
                :options="dropzoneOptions"
                v-on:vdropzone-file-added="getRecipeImages"
              ></vue-dropzone>
            </div>

            <div class="input--group">
              <label for="slogan">Slogan </label>
              <input
                v-model="form.slogan"
                name="name"
                id="slogan"
                placeholder="Petit Slogan.."
              />
            </div>

            <div class="input_row">
              <div class="input--group">
                <label for="start">Heure de début <span>*</span></label>
                <input
                  v-model="form.scheduleStart"
                  name="start"
                  id="start"
                  placeholder=""
                  required
                  type="time"
                />
              </div>

              <div class="input--group">
                <label for="end">Heure de Fin <span>*</span></label>
                <input
                  v-model="form.scheduleEnd"
                  name="end"
                  id="end"
                  placeholder=""
                  required
                  type="time"
                />
              </div>
            </div>

            <label for="description">Description <span>*</span></label>
            <div class="input--group">
              <textarea
                v-model="form.description"
                name="name"
                id="description"
                placeholder=" Description.."
                required
              >
              </textarea>
            </div>

            <div class="input--group">
              <label for="phone">Numéro de téléphone <span>*</span></label>
              <div class="numero">
                <!-- <vue-country-code
                  class="dial_code"
                  @onSelect="onSelect"
                  :preferredCountries="['ci', 'bf', 'fr']"
                /> -->

                <input
                  type="tel"
                  id="phone"
                  v-model="form.phone"
                  placeholder="Numero de telephone..."
                  required
                />
              </div>
            </div>
            <div class="input--group">
              <label for="email_restaurant">Email <span>*</span></label>
              <input
                v-model="form.email"
                name="email"
                id="email_restaurant"
                placeholder="votre email.."
                required
              />
            </div>

            <div class="input--group">
              <label for="image-chef">Image du Chef </label>
              <div
                class="resto_img"
                v-if="
                  restaurant != null &&
                  typeof restaurant.chefImageUrl != 'undefined'
                    ? true
                    : false
                "
              >
                <img
                  v-if="previewImageChef != '' && previewImageChef != null"
                  :src="previewImageChef"
                  alt="previewImageChef"
                />

                <img
                  v-else-if="
                    restaurant.chefImageUrl != '' &&
                    restaurant.chefImageUrl != null
                  "
                  :src="restaurant.chefImageUrl"
                  alt="previewImage"
                />
              </div>

              <input
                id="image-chef"
                type="file"
                accept="image/jpeg"
                @change="uploadChiefImage"
              />
            </div>

            <div class="input--group">
              <label for="nom-chef">Nom du Chef</label>
              <input
                type="text"
                name="chef_name"
                id="nom-chef"
                v-model="form.chefName"
              />
            </div>

            <div class="input--group">
              <label for="description-chef">
                Présentation du Chef Cuisinier</label
              >
              <br />
              <textarea
                name=""
                id="description-chef"
                cols="30"
                rows="10"
                v-model="form.aboutOurChief"
              >
              </textarea>
            </div>

            <!-- 
              <div class="input--group">
                <label for="">A propos <span>*</span></label>
                <input
                  v-model="form.aboutUs"
                  name="apropos"
                  id="apropos"
                  placeholder="A Propos.."
                />
              </div>

              <div class="input--group">
                <label for="contact_sup">Contact Complementaire </label>
                <input
                  v-model="form.contact_sup"
                  name="name"
                  id="contact_sup"
                  placeholder="Contact Complementaire.."
                />
                </div> 
            -->

            <div class="input--group">
              <label for="town">Adresse</label>
              <input
                v-model="form.address"
                name="town"
                id="town"
                placeholder="Adresse ..."
              />
            </div>

            <div class="input--group">
              <label for="countryName">Pays <span>*</span></label>
              <input
                v-model="form.country_name"
                name="countryName"
                id="countryName"
                placeholder="Pays.."
              />
            </div>
            <div class="input--group">
              <label for="city">Ville <span>*</span></label>
              <input
                v-model="form.city"
                name="city"
                id="city"
                placeholder="Ville.."
              />
            </div>
            <div class="input--group">
              <label for="town">Quartier </label>
              <input
                v-model="form.town"
                name="town"
                id="town"
                placeholder="Commune.."
              />
            </div>

            <div
              v-if="
                restaurants != null &&
                typeof restaurant != 'undefined' &&
                restaurants.length >= 1
              "
            >
              <button class="cta" style="font-size: 18px">Mettre à jour</button>
            </div>

            <div v-else>
              <button class="cta" style="font-size: 18px">Soumettre</button>
            </div>
          </form>
        </div>

        <div id="dishes-list" v-if="currentDash == 'dishes-list'">
          <div class="d-flex justify-content-between">
            <h2 class="text-uppercase">Liste des Plats</h2>
          </div>

          <DishItemTable :dishes_data="restaurant.dishes" :resto="restaurant" />
        </div>

        <div id="dishes-list" v-if="currentDash == 'restaurant-orders'">
          <div class="d-flex justify-content-between">
            <h2 class="text-uppercase">Gestion des Commandes</h2>
          </div>

          <RestaurantOrders
            :resto_orders="resto_orders_data"
          ></RestaurantOrders>
          <!-- <DishItemTable :dishes_data="restaurant.dishes" :resto="restaurant" /> -->
        </div>
      </section>
    </div>

    <div class="w-100">
      <div
        class="row"
        v-if="
          mustChangeSubscription && this.restaurant_is_visible_data == false
        "
      >
        <SubscriptionFormulas></SubscriptionFormulas>
      </div>
    </div>
  </div>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import DishItemTable from "../../pages/restaurant/dish/_partials/DishItemTable.vue";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import FloatingButtonResto from "./_partials/FloatingButtonResto.vue";
import SubscriptionFormulas from "../../various/SubscriptionFormulas.vue";
import RestaurantOrders from "../../pages/restaurant/dish/_partials/RestaurantOrders.vue";

export default {
  props: ["restaurant_is_visible_data", "resto_orders_data"],
  data() {
    return {
      form: {
        name: "",
        slogan: "",
        description: "",
        dial_code: "",
        phone: "",
        email: "",
        contact1: "",
        lat: "",
        lon: "",
        country_code: "",
        country_name: "",
        town: "",
        city: "",
        imageUrl: "",
        chiefImage: "",
        chefName: "",
        aboutOurChief: "",
        aboutUs: "",
        restaurantImages: [],
        scheduleStart: "",
        scheduleEnd: "",
        address: "",
      },
      hasResto: false,
      restaurants: null,
      restaurant: null,
      showRestoInfo: true,
      previewImage: "",
      previewImageChef: "",
      mustChangeSubscription: false,
      currentDash: "resto-info",
      // showRestoInfo: false,
      dropzoneOptions: {
        url: "https://httpbin.org/post",
        dictDefaultMessage: "Ajouter vos images (Glissez déposer possible)",
        thumbnailWidth: 150,
        maxFilesize: 0.5,
        headers: { "My-Awesome-Header": "header value" },
      },
      tabname: null,
      checkSubscriptionTime : null
    };
  },
  components: {
    vueDropzone: vue2Dropzone,
    FloatingButtonResto,
    DishItemTable,
    SubscriptionFormulas,
    RestaurantOrders,
  },
  methods: {
    getRecipeImages(file, xhr, formData) {
      this.form.restaurantImages.push(file);
      console.log(this.form.restaurantImages);
    },
    restoSubmit() {
      if (this.hasResto == true) {
        this.updateRestaurantInfo();
      } else {
        this.submitRestaurantInfo();
      }
    },
    submitRestaurantInfo() {
      /*  if (this.restaurant_is_visible_data == false) {
        this.mustChangeSubscription = true;
        return false;
      } */

      axios
        .post("api/add-restaurant", this.form, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((res) => {
          console.log(">>>>>>> addResto >>>>>>>>>>>");
          console.log(res);
          if ((res.status = 200 && res.data.status_code == 201)) {
            this.$toast.success("Bien effectuee");
            this.form = {};
            this.hasResto = true;
            this.getUser();
          } else if (res.status == 401) {
            this.$toast.error("Une erreur est survenue");
          }
        })
        .catch((error) => {
          console.log(error.response);
          if (error.response.status == 401) {
            this.$toast.info("Une erreur est survenue");
          }
        });
    },
    updateRestaurantInfo() {
      // if (this.restaurant_is_visible_data == false) {
      //   this.mustChangeSubscription = true;
      //   // alert(this.mustChangeSubscription);
      //   return false;
      // }

      axios
        .post(`/api/update-restaurant/${this.restaurant.id}`, this.form, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((res) => {
          console.log(">>>>>>>UPDATE");
          console.log(res);
          if (res.status == 200 && res.data.status_code == 200) {
            this.$toast.info("Information du restaurant mise à jour !");
          } else if (res.status == 401) {
            // this.$toast.info("Votre session a expirée");
            User.logout();
          } else {
            this.$toast.error("OOps Une erreur est survenue ");
          }
        })
        .catch((error) => {
          console.log(error.response);
        })
        .finally();
    },
    onSelect({ name, iso2, dialCode }) {
      console.log(name, iso2, dialCode);
      this.form.dial_code = dialCode;
      this.form.country_code = iso2;
    },
    uploadImage(e) {
      const image = e.target.files[0];
      this.form.imageUrl = image;
      console.log(this.form.imageUrl);
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = (e) => {
        this.previewImage = e.target.result;
      };
    },
    uploadChiefImage(e) {
      const image = e.target.files[0];
      this.form.chiefImage = image;
      console.log(this.form.chiefImage);
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = (e) => {
        this.previewImageChef = e.target.result;
        console.log(this.previewImageChef);
      };
    },
    getUser() {
      const userInfo = async () => {
        this.$loading(true);
        await axios
          .get("/api/get-user_datas")
          .then((res) => {
            console.log(">>>>>>>>>> Get User Restaurant >>>>>>>>>>");
            console.log(res.data.data.restaurants);
            this.restaurants = res.data.data.restaurants;
            this.restaurant = res.data.data.restaurants["0"];
            this.checkSubscriptionTime = res.data.data.checkSubscriptionTime
            if (this.restaurant != null) {
              this.form = this.restaurant;
            }
            if (this.restaurants.length >= 1) {
              this.hasResto = true;
            }

            console.log({ restaurant: this.restaurant });
          })
          .catch((error) => {
            console.log("Resto Error >>>>>");
            console.log(error);
          })
          .finally(() => {
            this.$loading(false);
          });
      };
      userInfo();
    },
    gotoSubscription() {
      EventBus.$emit("must_subscribe")
    },
    showResto() {
      this.showRestoInfo = !this.showRestoInfo;
    },
    showAlert() {
      this.$swal("Bientôt Disponible");
    },
    getRestaurantOrders() {
      const getRestoOrders = async () => {
        await axios
          .get(`/api/get-resto-orders/${this.restaurantId}`)
          .then((res) => {
            console.log("res >->");
            console.log(res);
          })
          .catch((error) => {
            console.log(error);
          });
      };

      getRestoOrders();
    },
  },
  created() {
      this.getUser()
      // this.getRestaurantOrders(),
      this.dish_id = this.$route.params.dish_id

      EventBus.$on("cancel_must_change_subscription", () => {
        mustChangeSubscription = false;
      });
  },
};
</script>

<style>
.subscription_container {
  padding: 1rem 2rem;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
}

textarea {
  border: 1px solid #efefef !important;
}
.carousel--dash__card--body {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
}
.carousel--dash__card--body h2 {
  color: gray !important;
  font-size: 18px;
}
.carousel--dash__card--body button {
  font-size: 12px !important;
}
.dash--name_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg_plus {
  /* background-color: #9b3232; */
  border-radius: 5rem;
  margin-bottom: 20px;
  margin-left: 8px;
  padding: 0.1rem;
}
.contenu {
  width: 100%;
}
.transaction {
  margin-top: 4rem;
}
.dash--title {
  padding: 1rem 0;
}
.dash--title h1 {
  /* text-transform: uppercase; */
}
.dash--title--skip h1 {
  text-transform: uppercase;
  color: #ffffff;
}
.dash__subtitle_color {
  color: #ffffff;
}
.sc--compte {
  font-weight: bold;
  margin: 3rem 0 2rem;
}
.dash_item_container {
  display: flex;
  justify-content: start;
  align-content: center;
}
.item_dash {
  display: flex;
}
div.item_dash {
  width: 15rem;
  height: 8rem;
}
div.carousel--dash__card.card--blue {
  box-shadow: 0 0 0 2px rgba(218, 223, 240, 0.02);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  border-radius: 10px;
  background-color: #f8f8f8;
  margin-left: 10px;
  padding: 2rem;
}
.selected_item_container {
  width: 100%;
}
.dropzone_container {
  margin: 2rem auto;
}
.numero {
  display: flex;
  justify-content: start;
}
.dial_code {
  height: 100%;
  padding: 0.4rem;
}
.resto_img {
  display: flex;
  justify-content: center;
}
.resto_img img {
  margin-bottom: 1rem;
  width: 60%;
  height: 17rem;
  object-fit: cover;
  border-radius: 2rem;
  background-color: red;
}
.show_hide_eye {
  background-color: red;
  padding: 0.5rem;
  border-radius: 1rem;
}

.active-menu {
  background-color: #eff4f8 !important;
  color: #ffb800 !important;
}

.dash_item_container_subscription {
  box-shadow: 0 0 0 2px rgba(218, 223, 240, 0.02);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  border-radius: 10px;
  background-color: #f8f8f8;
  margin-left: 10px;
  padding: 2rem;
  margin-bottom: 20px;
}
</style>
