<template>
  <div class="col-md-9 col-lg-9 account--right wow fadeInRight">
    <h1 class="mt-3">Forfaits</h1>
    <p>Abonnements</p>

    <div>
      <div class="userinfos--box">
        <h1 class="mt-3 border-bottom">Abonnement - PREMUIM</h1>
        <!-- ******* -->
        <div class="debut--abonnement">
          <h4>Debut de l'abonnement le</h4>
          <p>Date 28/09/1997</p>
        </div>

        <!-- ******* -->
        <div class="fin--abonnement mt-5">
          <h4>Fin de l'abonnement le</h4>
          <p>8 mars 2021 à 17:33:00 UTC</p>
        </div>
      </div>
    </div>

    <!-- **************buttons abonnements -->

    <!--*********  -->
  </div>
</template>

<script>
export default {};
</script>

<style></style>
