<template>
  <div>
    <div class="contenu">
      <div class="dash--title">
        <h2 class="text-uppercase">Commandes</h2>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <section class="dash--compte">
        <div class="dash_item_container">
          <div class="item_dash">
            <div
              class="carousel--dash__card card--blue"
              @click="choiceTab((tabname = 'order'))"
              :class="tabname == 'order' ? 'active-menu' : ''"
            >
              <div class="carousel--dash__card--body">
                <h2>
                  {{
                    user_orders_data != null && typeof user_orders_data
                      ? user_orders_data.length <= 1
                        ? `Commande ${user_orders_data.length}`
                        : `Commandes ${user_orders_data.length}`
                      : "Commande 0"
                  }}
                </h2>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="selected_item_container" v-if="tabname == 'order'">
        <h3 class="sc--compte">
          Mes Commandes
        </h3>
        <OrderTable :orders_list="user_orders_data"></OrderTable>
      </section>

    </div>
  </div>
</template>

<script>

import OrderTable from "./_partials/OrderTable.vue"

export default {
  components : {
    OrderTable
  },  
  props: ['user_orders_data'],
  data() {
    return {
      orders_list: null,
      tabname: "order"
    };
  },
  methods: {
    choiceTab(tabname) {
      console.log("ChoiceTab >>>>");
      this.tabname = tabname;
    },
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    }
  },
  mounted(){
  
  }

};
</script>

<style lang="css" scoped>

</style>
