<template>
    <div>
        <h2 class="text-uppercase">
            Recettes 
            

        </h2>

        <section v-if="recipeBookMaker != null">
            <div class="grd-item">
                <div class="videos">
                    <NewCardItem v-for="item in recipeBookMaker" :recipe_data="item" :key="item.id" />
                </div>
            </div>
        </section>

        <div  class="no_resto" v-else>
            <p class="text-center">
                Aucune recette enregistrée
            </p>
        </div>

    </div>
</template>

<script>
import NewCardItem from '../../pages/accueil/_partials/NewCardItem.vue';

export default {
    components: { NewCardItem  },
    data() {
        return {
            recipeBookMaker: null
        }
    },
    methods: {
        getRecipe() {

            const bookmaked = async() => {

                await this.$axios.get('/api/get-recipe-bookmaker').then(res => {

                    console.log("Recipe BookMark");
                    console.log(res)
                    this.recipeBookMaker = res.data.data
    
                }).catch(error => {

                    console.log("Error Get Bookmarked >>>")
                    console.log(error.response)

                })
                
            }

            bookmaked()
        }
    },
    created() {
        this.getRecipe()
    }
}
</script>

<style scoped>

@-webkit-keyframes bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.user-img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.user-name {
    color: #fff;
    font-size: 14px;
    margin: 0 6px 0 12px;
}

@media screen and (max-width: 575px) {
    .user-name {
        display: none;
    }
}

/* .main-container {
      display: flex;
      flex-direction: column;
      padding: 0 30px 30px;
      flex-grow: 1;
      overflow: auto;
    } */

.anim {
    -webkit-animation: bottom 0.8s var(--delay) both;
    animation: bottom 0.8s var(--delay) both;
}
.videos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

@media screen and (max-width: 980px) {
    .videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

.video {
    position: relative;
    /* background-color: var(--video-bg); */
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
    border: 1px solid #f1f1f1 !important;
}

.video-wrapper {
    position: relative;
}

.video-name {
    color: #fff;
    font-size: 16px;
    line-height: 1.4em;
    padding: 12px 20px 0;
    overflow: hidden;
    /* background-color: var(--video-bg); */
    z-index: 9;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #6F8595;
    font-weight: 800;
}

.video-view {
    font-size: 12px;
    padding: 12px 20px 20px;
    /* background-color: var(--video-bg); */
    position: relative;
}

.video-by {
    transition: 0.3s;
    padding: 20px 20px 0px;
    display: inline-flex;
    position: relative;
}

.video-by:before {
    content: "";
    background-color: #22b07d;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 26px;
    right: 5px;
}

.video-by.offline:before {
    background-color: #ff7551;
}

.video-time {
    position: absolute;
    background: rgba(21, 13, 13, 0.44);
    color: rgba(255, 255, 255, 0.85);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 6px;
    top: 10px;
    z-index: 1;
    right: 8px;
}

.video:hover video {
    transform: scale(1.6);
    transform-origin: center;
}

.video:hover .video-time {
    display: none;
}

.video:hover .video-author {
    bottom: -65px;
    transform: scale(0.6);
    right: -3px;
    z-index: 10;
}

.video:hover .video-by {
    opacity: 0;
}

.video-author {
    position: absolute;
    right: 10px;
    transition: 0.4s;
    bottom: -25px;
}

.video-author svg {
    background-color: #0aa0f7;
    color: #fff;
    border-color: var(--video-bg);
}

video {
    max-width: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: block;
    cursor: pointer;
    transition: 0.4s;
}

.show .stream-area {
    display: flex;
}

.show .main-header,
.show .main-blogs,
.show .small-header,
.show .videos {
    display: none;
}

.video-stream {
    width: 65%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: 0.3s;
}

.video-stream:hover .video-js .vjs-big-play-button {
    opacity: 1;
}

.video-p {
    margin-right: 12px;
    -o-object-fit: cover;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
}

.video-p .author-img {
    border: 0;
}

.video-p-wrapper {
    display: flex;
    align-items: center;
}

.video-p-wrapper .author-img {
    border: 0;
}

.video-p-wrapper svg {
    width: 20px;
    padding: 4px;
}

@media screen and (max-width: 650px) {
    .video-p-wrapper {
        flex-direction: column;
    }

    .video-p-wrapper .button-wrapper {
        margin: 20px auto 0;
    }

    .video-p-wrapper .video-p-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-p-wrapper .video-p {
        margin-right: 0;
    }
}

@media screen and (max-width: 735px) {
   
    .videos {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 475px) {
    
    .author-detail {
        margin-left: 0;
    }

    .header {
        padding: 20px;
    }

    .sidebar.collapse {
        width: 40px;
    }

    .sidebar {
        align-items: center;
    }

    body {
        padding: 0;
    }

    .container {
        height: 100vh;
        border-radius: 0;
        max-height: 100%;
    }
}

.stars{
    margin-left: 8px;
    padding: 12px 20px 0 0;
    color: gray;
    height: 90%;
    padding: 9px 10px 0 0;
}

</style>