<template>
  <div>
    <div class="contenu">
      <div class="dash--title">
        <h2 class="text-uppercase">Mon Abonnement</h2>
      </div>

      <div class="w-100">
        <section class="dash--compte mb-4">
          <!-- 
            <h2 class="text-uppercase">
            </h2> 
            -->

          <!-- Dash -->
          <div class="dash_item_container">
            <!-- *** -->
            <div class="item_dash">
              <div
                class="carousel--dash__card card--blue"
                @click="choiceTab((tabname = 'current-subscription'))"
                :class="tabname == 'current-subscription' ? 'active-menu' : ''"
              >
                <div class="carousel--dash__card--body">
                  <h2>Abonnement Courant </h2>
                  <h2 class="text-uppercase"> {{ current_subscription_data?.title != null ? current_subscription_data?.title : "Free" }} </h2>

                  <button
                    class="btn btn-primary h-100"
                    @click.stop="choiceTab((tabname = 'subscription-formulas'))"
                  >
                    Changer
                  </button>
                </div>
              </div>
            </div>
            <!-- *** -->
          </div>

          <div class="back-to-info m-2">
            <button
              class="btn btn-primary h-100"
              v-if="tabname == 'subscription-formulas'"
              @click="choiceTab((tabname = 'current-subscription'))"
            >
              Abonnement Courant
            </button>
          </div>

          <!-- End Dash -->
        </section>
      </div>

      <div class="w-100" v-if="currentDash == 'subscription-formulas'">
            <SubscriptionFormulas />
      </div>

      
        <div class="w-100" v-if="currentDash == 'current-subscription'">
            <h2>
                Détails de l'abonnement 
            </h2>
            
            <SubscriptionFormulaUnique :current_subscription="current_subscription_data"/>
        </div> 
   
    </div>
  </div>
</template>

<script>
import SubscriptionFormulas from "../../various/SubscriptionFormulas.vue";
import SubscriptionFormulaUnique from "../../various/SubscriptionFormulaUnique.vue";

export default {
    props : ['current_subscription_data'],
  data() {
    return {
      tabname: "",
      currentDash : 'current-subscription'
    };
  },
  methods: {
    choiceTab(tabname) {
      console.log("ChoiceTab >>>>");
      this.currentDash = tabname;
    }
  },
  components: {
    SubscriptionFormulas,
    SubscriptionFormulaUnique
  },
  created(){
    this.EventBus.$on("cancel_subscription", ()=> {
        this.currentDash = "current-subscription";
        this.tabname = "current-subscription";
        this.choiceTab("current-subscription");
    }),
    this.EventBus.$on("change_subscription", () => {
      this.currentDash = "subscription-formulas";
        this.tabname = "subscription-formulas";
        this.choiceTab("subscription-formulas");
    })
  }
};
</script>

<style lang="css" scoped>
.carousel--dash__card--body {
  width: 100%;
}
</style>
