<template>
  <div>
    <div class="contenu">
      <div class="dash--title">
        <h2 class="text-uppercase">Mon Abonnement Cooker</h2>
      </div>

      <div class="w-100">
        <section class="dash--compte mb-4">
          <!-- 
              <h2 class="text-uppercase">
              </h2> 
              -->

          <!-- Dash -->
          <div class="dash_item_container">
            <div class="item_dash">
              <div class="carousel--dash__card card--blue">
                <div class="carousel--dash__card--body">
                  <h2 v-if="user_data?.is_cooker == true">Compte Cuisinier</h2>
                  <h2 v-else>Devenir Cuisinier</h2>
                  <!-- <h2 class="text-uppercase"> {{ current_subscription_data?.title != null ? current_subscription_data?.title : "Free" }} </h2> -->

                  <button
                    class="btn btn-primary h-100"
                    v-if="user_data?.is_cooker == true"
                    @click.stop="unsubscribeAsCooker"
                  >
                    Se désabonner
                  </button>

                  <button
                    v-else
                    class="btn btn-primary h-100"
                    @click="subscribeAsCooker"
                  >
                    Souscrire
                  </button>
                </div>
              </div>
            </div>
            <!-- *** -->
          </div>

          <div class="back-to-info m-2">
            <button
              class="btn btn-primary h-100"
              v-if="tabname == 'subscription-formulas'"
              @click="choiceTab((tabname = 'current-subscription'))"
            >
              Abonnement Courant
            </button>
          </div>

          <!-- End Dash -->
        </section>
      </div>

      <div class="w-100" v-if="currentDash == 'subscription-formulas'">
        <SubscriptionFormulas />
      </div>

      <div class="w-100" v-if="currentDash == 'current-subscription'">
        <h2>Détails de l'abonnement</h2>

        <SubscriptionFormulaUniqueCooker
          :current_subscription="current_subscription_data"
        />
      </div>
    </div>
  </div>
</template>

<script>
//   import SubscriptionFormulasCooker from "../../various/SubscriptionFormulasCooker.vue";
import SubscriptionFormulaUniqueCooker from "../../various/SubscriptionFormulaUniqueCooker.vue";

export default {
  props: ["current_subscription_data", "user_data"],
  data() {
    return {
      tabname: "",
      currentDash: "current-subscription",
      subscription_formula_id: 5,
      user: null,
    };
  },
  methods: {
    subscribeAsCooker() {
      this.$axios
        .get(`/api/subscribe-as-cooker/${this.subscription_formula_id}`)
        .then((res) => {
          console.log("Success subscribe as cooker");
          console.log(res);

          if (res.data.status_code == 200 && res.status == 200) {
            console.log({
              subscription: res.data.data.subscription,
              transaction: res.data.data.transaction,
              subscriber: res.data.data.subscription.subscriber,
            });

            let transaction = res.data.data.transaction;
            let subscription = res.data.data.subscription;
            let subscriber = res.data.data.subscription.subscriber;

            let montant = transaction.amount;
            let reference = transaction.reference;
            let user_firstname = subscriber["0"].firstname;
            let user_lastname = subscriber["0"].lastname;
            let user_email = subscriber["0"].email;
            let phoneNumber = subscriber["0"].phoneNumber;
            let raison = `Subscription au Pack ${subscription.title} Abjcuisine`;

            console.log({
              montant: montant,
              reference: reference,
              user_firstname: user_firstname,
              user_lastname: user_lastname,
              user_email: user_email,
              phoneNumber: phoneNumber,
              raison: raison,
            });

            if (
              typeof montant != "undefined" &&
              montant != null &&
              reference != null &&
              typeof reference != "undefined"
            ) {
              window.location = `https://pay.apaym.com/paiementabidjannet/m=${montant}/i=225/t=${phoneNumber}/n=${user_firstname}/p=${user_lastname}/e=${user_email}/r=${raison}/k=${reference}/l=1`;
            }

            this.EventBus.$emit("changed_subscription_cooker");
          }
        })
        .catch((error) => {
          console.log("Error subscribe as cooker");
          console.log(error);
        });
    },
    unsubscribeAsCooker() {
      this.$swal("Bientôt disponible");
    },
    
  },
  components: {
    SubscriptionFormulaUniqueCooker,
    // SubscriptionFormulasCooker
  },
  created() {
    // this.user = this.user_data
  },
};
</script>

<style lang="css" scoped>
.carousel--dash__card--body {
  width: 100%;
}
</style>
