<template>
  <div class="space-elts">
    <form @submit.prevent="showAlert">
    </form>

    <form @submit.prevent="updateProfil" enctype="multipart/form-data">
      <div class="details__inputs">
        <h2 class="text-uppercase">Information du compte utilisateur</h2>

        <div class="avatar_img">
          <img
            src=""
            alt="previewImage"
            @error="replaceByDefault"
            style="border-radius: 50%; height: 10rem"
            id="avatar"
            @click="$refs.avatar.click()"
            v-if="previewImage == null"
          />

          <img
            v-else  
            :src="previewImage"
            alt="previewImage"
            @error="replaceByDefault"
            style="border-radius: 50%; height: 10rem"
            id="avatar"
            @click="$refs.avatar.click()"
          />

          <!--
            <img
            v-else
              :src="previewImage"
              alt="previewImage"
              style="border-radius: 50%; height: 10rem"
              id="avatar"
              @click="$refs.avatar.click()"
            />
          -->
          
        </div>

        <input
          type="file"
          name="file"
          id="avatar"
          ref="avatar"
          v-show="false"
          @change="uploadImage"
        />

        <div class="input--group">
          <label for="email">Email <span>*</span></label>
          <input
            name="email"
            id="email"
            v-model="form.email"
            placeholder="votre email.."
            readonly
          />
        </div>

        <!-- 
          <div class="input--group">
          <label for="ancien-password">Mot de passe actuel<span>*</span></label>
          <input
            id="ancien-password"
            v-model="form.oldPassword"
            type="password"
            name="ancien-password"
            placeholder="*************"
          />
        </div>

        <div class="input--group">
          <label for="nouveau-password">Mot de passe <span>*</span></label>
          <input
            v-model="form.newPassword"
            id="nouveau-password"
            type="password"
            name="nouveau-password"
            placeholder="*************"
          />
        </div>

        <div class="input--group">
          <label for="confirmation-nouveau-password"
            >Confirmer mot de passe<span>*</span></label
          >
          <input
            v-model="form.newPasswordConfirmation"
            id="confirmation-nouveau-password"
            type="password"
            name="confirmation-nouveau-password"
            placeholder="*************"
          />
        </div> 
      -->
    
      </div>

      <div class="details__inputs">
        <h2 class="text-uppercase">Informations de personnelles</h2>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="input--group">
              <label for="first_name">Prenoms <span>*</span></label>
              <input
                name="first_name"
                id="first_name"
                v-model="form.prenoms"
                placeholder="votre prenom.."
              />
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="input--group">
              <label for="lastname">Nom <span>*</span></label>
              <input
                name="last_name"
                id="lastname"
                v-model="form.nom"
                placeholder="votre nom.."
              />
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="input--group">
              <label for="fiscal_identity__">Téléphone portable</label>
              <input
                name="fiscal_identity"
                id="fiscal_identity__"
                v-model="form.numero"
                placeholder="votre téléphone.."
              />
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <LoadingVue :isDisplay="isDisplay"></LoadingVue>
        <button type="submit" class="cta" style="font-size: 18px" v-show="!isDisplay">
          Modifier Profil
        </button>
      </div>

      
    </form>
  </div>
</template>

<script>
// import AppStorage from "../../../utils/AppStorage";
import LoadingVue from "../../tools/Loading.vue";

export default {
  props: ["user_data"],
  data() {
    return {
      form: {
        email: null,
        firstname: null,
        lastname: null,
        phoneNumber: null,
        oldPassword: null,
        newPassword: null,
        newPasswordConfirmation: null,
        avatar: null,
      },
      isDisplay : false,
      user: null,
      previewImage: null,
    };
  },
  methods: {
    uploadImage(e) {
      const image = e.target.files[0];
      this.form.avatar = image;

      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = (e) => {
        this.previewImage = e.target.result;
        console.log(this.previewImage);
      };
    },
    getRecipeImages(file,/*  xhr, formData */) {
      this.form.avatar.push(file);
      console.log(this.form.avatar);
    },
    updateProfil() {
      
      const userProfil = async () => {

        this.isDisplay = true;

        await this.$axios
          .post("api/update-user-profil", this.form,
            {
              headers: { "Content-Type": "multipart/form-data" },
            }
          )
          .then((res) => {

            console.log("User Profil Worked >>>>>|<<<<<");
            console.log(res);

              // AppStorage.storeUserData(res.data.data);
              // this.EventBus.$emit("upateUserProfil", AppStorage.getFullName());
              this.$toast.info("Profil mis à jour");

          })
          .catch((error) => {

            console.log("Error User Profil >>>>>|<<<<<");
            console.log(error.response);

            if (error.response.status == 401 || error.response.code == 401) {
              this.$toast.info("Votre session a expirée");
              this.User.logout();
            }
            
          }).finally(()=>{
              this.isDisplay = false;
          });
      };
      userProfil();
    },
    getUser() {
      const userInfo = async () => {
        this.$loading(true);
        await this.$axios
          .get("/api/get-user_datas")
          .then((res) => {
            this.user = res.data.data;
            this.form = this.user;
            this.form.phoneNumber = this.user.phoneNumber;
          })
          .catch((error) => {
            console.log(">>>>>>>> Error User Info <<<<<<<<<<<<");
            console.log(error.response);
            if (error.response.status == 401) {
              this.$toast.info("Votre session a expirée");
              // this.User.logout();
            }
          })
          .finally(() => {
            this.$loading(false);
          });
      };
      userInfo();
    },
    showAlert() {
      this.$swal("Bientôt Disponible");
    },
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
  components : {
    LoadingVue
  },
  created() {
    this.getUser();
  },
};
</script>

<style scoped>

.space-elts{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar_img {
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.avatar_img img{
  object-fit: contain;
  border-radius: 50%;
}

.input--connexions input,
select,
textarea {
  height: 40px !important;
  font-size: 18px;
}

.input--connexions select option {
  height: 40px !important;
  font-size: 18px;
}

/* ******************************** */
.input--group label {
  margin-bottom: 0.2rem !important;
}

.input--group label span {
  color: red;
}

.input--group input,
select {
  padding: 7px;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.input--group input:focus,
select:focus {
  border: 1px solid #ffb800;
}

.details__inputs {
  margin-bottom: 40px;
}

.details__inputs h2 {
  margin-bottom: 13px;
}

.input--group input,
select {
  font-size: 1.4rem !important;
}

.fac--border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #06447e;
}

.fac--border p {
  font-size: 1.4rem;
}

.fac--border label {
  font-size: 1.4rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 48em) {
  .fac--border {
    display: block;
  }
}
</style>
