<template>
    <a class="float" @click="$router.push({ name: 'PostRestoDish', params: { id: restaurant_data.id } })">
        <i class="fa fa-plus my-float"></i>
        <!-- Ajouter -->
        <!-- {{ restaurant_data.id }} -->
    </a>
</template>
<script>
export default {
 props:['restaurant_data'],
 data(){
    return {
        id: null,
        resto : null
    }
 },
 created(){
    this.id = this.restaurant_data.id
    this.resto = this.restaurant_data.resto

 }
}
</script>

<style scoped>
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:px;
        right:80px;
        background-color:#D21D3A;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
    }

    .my-float{
        margin-top:22px;
    }
</style>