<template>
  <div>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Image</div>
        <div class="col col-2">Type de Commande</div>
        <div class="col col-2">Montant</div>
        <div class="col col-2">Date de Création</div>
        <div class="col col-3">Action</div>
      </li>

      <li class="table-row" v-for="order in orders_list">
        
        <div class="col col-1 d-flex align-items-center" data-label="Image">
          <img
            :src="
              typeof order.resto != undefined && order.resto != null
                ? order?.resto?.imageUrl
                : 'https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg'
            "
            height="80"
            width="70"
            alt="https://i.imgur.com/f0W33fk.png"
            style="border-radius: 12px"
            @error="replaceByDefault"
          />
        </div>
        <div class="col col-2 d-flex align-items-center" data-label="Titre">
          {{
            order?.resto?.name != null 
            ? 
            "Resto : "+order?.resto?.name : (order?.commandeType ? order?.commandeType : "Autre" )
           }}
        </div>
        <div class="col col-2 d-flex align-items-center" data-label="Titre">
          {{ order.amount }} {{ order.currency_name }}
        </div>
        <div
          class="col col-2 d-flex align-items-center description"
          data-label="Date de Création"
        >
          <span v-if="order.createdAt != null">
            {{ order.createdAt | moment("L") }}
          </span>
        </div>
        <div
          class="col col-1 d-flex align-items-center justify-content-between"
          data-label="Action"
        >
          <a @click="showModal(order.reference)">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>

          <a @click="cancelOrder(order.id)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        </div>
      </li>
    </ul>

    <VueModal v-show="isModalVisible" @close="closeModal">
      <template #header>
        <h2 class="titre text-uppercase" style="padding-left: 3.5%">
          Détails de la Commande
        </h2>
      </template>

      <template #body>
        <div class="card_oder_details">
          <div v-if="orderItems?.length >= 1" class="title_part">
            <div class="text-center title_part">
              <div class="d-flex justify-content-start">
                <h2 class="titre mb-2">Article Commandé</h2>
              </div>
              <div class="d-flex justify-content-start">
                <p v-if="orderData?.reference">
                  <strong> Reference </strong> : # {{ orderData.reference }}
                </p>
              </div>
            </div>

            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nom de l'article</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-if="orderItems != null" v-for="orderItem in orderItems">
                    <td>{{ JSON.parse(orderItem.meta_data)?.name }}</td>
                    <th scope="row">{{ orderItem.quantity }}</th>
                    <td>{{ orderItem.unit_price | formatAmount }}</td>
                    <td>
                      {{ orderItem.unit_price }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="d-flex justify-content-start">
            <div class="card_item">
              <div class="d-flex align-center">
                <p>Montant Total :</p>
                <span class="mx-2 pricing-table__price">
                  {{ orderData?.amount | formatAmount }}
                </span>
                {{ orderData?.currency_name }}
              </div>

              <div class="d-flex">
                Date: {{ orderData?.createdAt | moment("L") }}
              </div>
              <div class="d-flex">
                Heure:
                <span class="mx-2 pricing-table__price">
                  {{ orderData?.createdAt | moment("LT") }}
                </span>
              </div>

              <div class="d-flex">
                Statut :
                <span class="mx-2 pricing-table__price">
                  {{ order_status_str }}
                </span>
              </div>

              <div class="d-flex">
                Payé ? :
                <span class="mx-2 pricing-table__price">
                  {{ orderData?.is_paid == true ? "OUI" : "NON" }}
                </span>
              </div>
            </div>
          </div>
            <!-- 
              <div class="details">
                <div class="title text-center">
                  <h2 class="titre">Status de la Commande</h2>
                </div>
                <div class="card_item">
                  <div>
                    {{ order_status_str }}
                  </div>
                </div>
                
                <div class="title text-center">
                  <h2 class="titre">Payé ?</h2>
                </div>
      
                <div class="card_item">
                  <div>
                    {{ orderData?.is_paid == true ? "OUI" : "NON"}}
                  </div>
                </div>
      
                <div
                  v-if="
                    typeof orderData?.orderDelivery?.address_name != 'undefined' &&
                    orderData?.orderDelivery?.address_name != null
                  "
                >
                  <div class="title text-center">
                    <h2 class="titre">Adresse de Livraison</h2>
                  </div>

                  <div class="card_item">
                    <div>
                      <i class="fa fa-map-marked"></i>
                      {{ orderData?.orderDelivery?.address_name }}
                    </div>
                  </div>
                </div>
                </div> 
            -->
        </div>
      </template>

      <template #footer> </template>
    </VueModal>
  </div>
</template>

<script>
import VueModal from "../../../tools/VueModal.vue";

export default {
  props: ["orders_list"],
  components: { VueModal },
  data() {
    return {
      isModalVisible: false,
      orderItems: null,
      orderData: null,
      order_status_str: "",
    };
  },
  methods: {
    showModal(reference) {
      let order = this.orders_list.find((el) => el.reference == reference);

      this.orderData = order;
      this.orderItems = order.OrderItems;

      console.log(this.orderData.OrderStatusStr);

      switch (this.orderData.OrderStatusStr) {
        case "cancel":
          this.order_status_str = "Annulée";
          break;
        case "waiting":
          this.order_status_str = "En attente";
          break;
        case "confirmed":
          this.order_status_str = "Confirmée";
          break;
        case "being_processed":
          this.order_status_str = "En cours de traitement";
          break;

        default:
          this.order_status_str = "En attente";
          break;
      }

      EventBus.$emit("update_orders_list");

      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    cancelOrder(id) {
      axios
        .get(`/api/cancel-orders/${id}`)
        .then((res) => {
          if (res.status == 200 && res.data.status_code == 200) {
            switch (res.data.data.OrderStatusStr) {
              case "cancel":
                this.order_status_str = "Annulée";
                break;
              case "waiting":
                this.order_status_str = "En attente";
                break;
              case "confirmed":
                this.order_status_str = "Confirmée";
                break;
              case "treated":
                this.order_status_str = "Terminé";
                break;
              case "being_processed":
                this.order_status_str = "En cours";
                break;

              default:
                this.order_status_str = "En attente";
                break;
            }

            this.$toast.info("Commande annulé");
          } else {
            this.$toast.error("OOps Une erreur est survenue");
          }
        })
        .catch((error) => {
          console.log({
            error: error,
            errorMessage: error?.message,
            errorDetails: error?.response,
          });
        });
    },
    replaceByDefault(e) {
      e.target.src =
        "https://abidjan.net/public/assets/imgs/defaut-cover-photo.svg";
    },
  },
  created() {},
};
</script>

<style lang="css" scoped>
.description {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  margin: 0;
  background: white;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #f8f8f8;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}

.card_oder_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px !important;
  padding: 4%;
}

.card_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  font-size: 15px;
}

.titre {
  font-size: 25px;
  color: #7f7f7f;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
  /*.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 30;
  }*/

  .responsive-table .col-2 {
    display: flex;
    align-items: center;
  }

  .description {
    display: flex;
    align-items: center;
  }
}
.title_part {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pricing-table__price {
  color: #d21d3a !important;
  font-size: 1em;
  font-weight: bold !important;
}
</style>
